-var navLinks = [{link: '#', name: 'Меню', type: '--title'}, {link: '', name: 'Главная', type: '--main'}, {link: 'about.html', name: 'О компании', type: ''}, {link: 'meals.html', name: 'Готовые рационы', type: ''}, {link: 'constructor.html', name: 'Конструктор рациона', type: ''},{link: 'shop.html', name: 'Интернет-магазин', type: '--last'}, {link: 'selection.html', name: 'Подбор питания', type: ''}, {link: 'personal.html', name: 'Индивидуальный рацион', type: ''}, {link: 'serts.html', name: 'Сертификаты', type: ''}, {link: 'sales.html', name: 'Акции', type: '--last'}, {link: 'checkout.html', name: 'Оплата и доставка', type: ''}, {link: 'pricelist.html', name: 'Прайс-лист', type: ''}, {link: 'contacts.html', name: 'Контакты', type: '--last'}, {link: 'cabinet.html', name: 'Личный кабинет', type: 'user'}, {link: 'login.html', name: 'Вход', type: 'guest'}]

-var menuLinks = [{link: 'meals.html', name: 'Готовые рационы'}, {link: 'shop.html', name: 'Интернет-магазин'}, {link: 'checkout.html', name: 'Оплата и доставка'}]

header.header
