.change-meal.js-popup-wrap#js-popup-change
    .change-meal__wrapper.js-popup-inner
        .change-meal__head
            h3.change-meal__title Выберите блюдо
            button(type="button").change-meal__closer.js-popup-closer
        form(method="get" action="" id="search-form").change-meal__form
            input(type="search" name="change-meal-search" id="change-meal-search" placeholder="Поиск по названию").change-meal__input
            button(type="submit").change-meal__submit
        .change-meal__filter
            ul.change-meal__filter-list#myBtnContainer
                .swiper-wrapper
                    li.swiper-slide.change-meal__filter-item.filter.is-collapsed
                        button(type='button').change-meal__filter-btn.change-meal__filter-btn--filters.filter-head Фильтры

                        .filter-dropdown.swiper-no-swiping
                            .filter-dropdown__block#contains
                                b.filter-dropdown__name Состав
                                ul.filter-dropdown__list
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="vegan" id="change-filter-1").filter-dropdown__checkbox
                                        label(for="change-filter-1").filter-dropdown__label Веганское
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="chicken" id="change-filter-2").filter-dropdown__checkbox
                                        label(for="change-filter-2").filter-dropdown__label Курица
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="beef" id="change-filter-3").filter-dropdown__checkbox
                                        label(for="change-filter-3").filter-dropdown__label Говядина
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="fish" id="change-filter-4").filter-dropdown__checkbox
                                        label(for="change-filter-4").filter-dropdown__label Рыба
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="oats" id="change-filter-5").filter-dropdown__checkbox
                                        label(for="change-filter-5").filter-dropdown__label Крупа
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="noodles" id="filter-6").filter-dropdown__checkbox
                                        label(for="filter-6").filter-dropdown__label Макароны
                                        span.filter-dropdown__counter 24
                            .filter-dropdown__block.subfilter-item.is-collapsed#fats-filter
                                b.filter-dropdown__name Жиры
                                .filter-dropdown__range
                                    .filter-dropdown__controls
                                        input(type="text" class="js-input-from" value="0")
                                        input(type="text" class="js-input-to" value="0")
                                    label.filter-dropdown__input
                                        input(type="text" class="filter-dropdown__slider" name="fats-range" value="" data-type="double" data-min="90" data-max="560" data-from="90" data-to="560")
                            .filter-dropdown__block.subfilter-item.is-collapsed#protein-filter
                                b.filter-dropdown__name Белки
                                .filter-dropdown__range
                                    .filter-dropdown__controls
                                        input(type="text" class="js-input-from" value="0")
                                        input(type="text" class="js-input-to" value="0")
                                    label.filter-dropdown__input
                                        input(type="text" class="filter-dropdown__slider" name="protein-range" value="" data-type="double" data-min="90" data-max="560")
                            .filter-dropdown__block.subfilter-item.is-collapsed#carbon-filter
                                b.filter-dropdown__name Углеводы
                                .filter-dropdown__range
                                    .filter-dropdown__controls
                                        input(type="text" class="js-input-from" value="0")
                                        input(type="text" class="js-input-to" value="0")
                                    label.filter-dropdown__input
                                        input(type="text" class="filter-dropdown__slider" name="carbon-range" value="" data-type="double" data-min="90" data-max="560")
                            .filter-dropdown__block.subfilter-item.is-collapsed#price-filter
                                b.filter-dropdown__name Цена
                                .filter-dropdown__range
                                    .filter-dropdown__controls
                                        input(type="text" class="js-input-from" value="0")
                                        input(type="text" class="js-input-to" value="0")
                                    label.filter-dropdown__input
                                        input(type="text" class="filter-dropdown__slider" name="price-range" value="" data-type="double" data-min="90" data-max="560")
                            button(type="submit").filter-dropdown__submit Применить
                    li.swiper-slide.change-meal__filter-item.filter.is-collapsed
                        button(type='button').change-meal__filter-btn.change-meal__filter-btn--direction.filter-head Сортировать
                        
                        .filter-dropdown
                            .filter-dropdown__block#sorting
                                ul.filter-dropdown__list
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="highRated" id="change-sort-1").filter-dropdown__checkbox
                                        label(for="change-sort-1").filter-dropdown__label C высоким рейтингом
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="popularFirst" id="change-sort-2").filter-dropdown__checkbox
                                        label(for="change-sort-2").filter-dropdown__label Самые популярные
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="cheapFirst" id="change-sort-3").filter-dropdown__checkbox
                                        label(for="change-sort-3").filter-dropdown__label Сначала дешевые
                            button(type="submit").filter-dropdown__submit Применить
                    li.swiper-slide.change-meal__filter-item.filter.is-collapsed
                        button(type='button').change-meal__filter-btn.change-meal__filter-btn--spec.filter-head Специальное
                        
                        .filter-dropdown
                            .filter-dropdown__block#special
                                ul.filter-dropdown__list
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="latest" id="change-spec-1").filter-dropdown__checkbox
                                        label(for="change-spec-1").filter-dropdown__label Новинки
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="sales" id="change-spec-2").filter-dropdown__checkbox
                                        label(for="change-spec-2").filter-dropdown__label Акции
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="special" id="change-spec-3").filter-dropdown__checkbox
                                        label(for="change-spec-3").filter-dropdown__label Спецпредложения
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="dayOffer" id="change-spec-4").filter-dropdown__checkbox
                                        label(for="change-spec-4").filter-dropdown__label Предложение дня
                                        span.filter-dropdown__counter 24
                                    li.filter-dropdown__item
                                        input(type="checkbox" name="weekOffer" id="change-spec-5").filter-dropdown__checkbox
                                        label(for="change-spec-5").filter-dropdown__label Предложения недели
                                        span.filter-dropdown__counter 24
                            button(type="submit").filter-dropdown__submit Применить
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('all')").change-meal__filter-btn.checked Все
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('breakfast')").change-meal__filter-btn Завтраки
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('salads')").change-meal__filter-btn Салаты и закуски
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('soups')").change-meal__filter-btn Супы
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('second')").change-meal__filter-btn Гарниры
                    li.swiper-slide.change-meal__filter-item.filter
                        button(type='button' onclick="filterSelection('dessert')").change-meal__filter-btn Десерты
        .change-meal__content
            ul.change-meal__list
                +gridItem('change-meal__item breakfast dessert', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item salads', '', 'dinner-1', 'Обед', 'Курица в соусе Терияки с овощами и розовой чечевицей', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item soup dessert', '', 'lunch-1', 'Полдник', 'Смузи боул из облепихи с клубникой', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item second', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item second', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item second', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item second', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item soups', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item dessert', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
                +gridItem('change-meal__item soup', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
