.fast-order.js-popup-wrap#js-popup-order
    .fast-order__wrapper.js-popup-inner
        .fast-order__head
            h3.fast-order__title Быстрый заказ
            button(type="button").fast-order__closer.js-popup-closer
        // Название заказанного товара, содержимое будет зависеть от добавленного класса
        .fast-order__product.fast-order__product--fit
            span.fast-order__product-icon
            .fast-order__product-info
                b.fast-order__product-name FIT
                span.fast-order__product-output ~1300 Ккал
                p.fast-order__product-days 
                    | Рацион на 
                    span.fast-order__product-nr 6 
                    | дней
        // Форма сбора данных
        form(name="fast-order" id="fast-order" method="post" action="").fast-order__form.fast-form
            .fast-form__wrap.fast-form__wrap--personal
                p.fast-form__legend Персональные данные
                input(type="text" name="order-name" id="order-name" placeholder="Имя").fast-form__input
                input(type="tel" name="order-tel" id="order-tel" placeholder="Телефон" required).fast-form__input.js-phone-input
                input(type="email" name="order-mail" id="order-email" placeholder="E-mail" required).fast-form__input
            .fast-form__wrap.fast-form__wrap--type
                p.fast-form__legend Выберите способ оплаты
                ul.fast-form__method
                    li.fast-form__method-item.fast-form__method-item--cardOnline
                        input(type="radio" name="pay-type" value="cardOnline" id="cardOnline").fast-form__method-radio
                        label(for="cardOnline").fast-form__method-label Картой на сайте
                    li.fast-form__method-item.fast-form__method-item--cardCourier
                        input(type="radio" name="pay-type" value="cardCourier" id="cardCourier").fast-form__method-radio
                        label(for="cardCourier").fast-form__method-label Оплата картой курьеру
                    li.fast-form__method-item.fast-form__method-item--cashCourier
                        input(type="radio" name="pay-type" value="cashCourier" id="cashCourier").fast-form__method-radio
                        label(for="cashCourier").fast-form__method-label Оплата наличными курьеру
            .fast-form__wrap.fast-form__wrap--payment
                p.fast-form__legend К оплате
                b.fast-form__summary 5700 ₽
            .fast-form__wrap.fast-form__wrap--checkout
                p.fast-form__legend Промокод
                input(type="number" name="order-promocode" id="order-promo" placeholder="Введите промокод").fast-form__input
            .fast-form__wrap.fast-form__wrap--bonus
                p.fast-form__legend Бонусный счёт
                b.fast-form__nr 345 ₽

                .fast-form__bonus
                    label(for="payBonus").fast-form__label Списать бонусы
                    input(type="number" id="payBonus" name="pay-bonus").fast-form__quantity

            button(type="submit").fast-form__submit Оплатить онлайн 5700 ₽
            button(type="button").fast-form__cart Поместить заказ в корзину
        .fast-order__information
            p.fast-order__information-title Информация для клиентов
            .fast-order__information-wrap
                span.fast-order__agreement Обращаем Ваше внимание, что без подтверждения заказа с оператором за 24 часа до даты доставки, доставка осуществляться не будет. Спасибо за понимание. 
                span.fast-order__agreement Нажимая кнопку, Вы соглашаетесь с условиями оферты и даёте своё согласие на обработку 
                    a(href="#" target="_self") персональных данных.
                button(type="button").fast-order__information-close Свернуть
