.form-reaction
    .form-reaction__bg
    .form-reaction__wrapper
        h3.form-reaction__subtitle Ваша заявка успешно отправлена
        img(src="static/images/content/smile.svg" alt="Ваша заявка успешно отправлена").form-reaction__icon
        p.form-reaction__about Мы свяжемся с Вами в ближайшее время
        button(type="button").form-reaction__btn Закрыть
