.popup-cart.js-popup-wrap#js-popup-cart
    .popup-cart__wrapper.js-popup-inner
        h3.popup-cart__title Товар добавлен в корзину
        
        .popup-cart__controls
            button(type="button").popup-cart__closer.js-popup-closer Продолжить покупки
            a(href="cart.html" target="_self").popup-cart__checkout Перейти в корзину
