.popup-callback.js-popup-wrap#js-popup-callback
    .popup-callback__wrapper.js-popup-inner
        .popup-callback__head
            h3.popup-callback__title Обратный звонок
            button(type="button").popup-callback__closer.js-popup-closer
        form(method="" action="" id="callbackForm").popup-callback__form.form-callback
            ul.form-callback__list
                li.form-callback__item
                    label(for="name-callback").form-callback__label Имя
                    input(type="text" name="name" id="name-callback" placeholder="Ваше имя" required).form-callback__input
                li.form-callback__item
                    label(for="tel-callback").form-callback__label Телефон
                    input(type="tel" name="tel" id="tel-callback" placeholder="Номер телефона" required).form-callback__input.js-phone-input
            button(type="submit").form-callback__submit Отправить
            
            span.form-callback__agreement Нажимая кнопку, Вы соглашаетесь с условиями 
                a(href="#" target="_blank") оферты 
                | и даёте своё согласие на 
                a(href="#" target="_blank") обработку персональных данных.
