section.about#about
    h2.about__title.about__title--desktop
        span.about__title-span.about__title-span--first
            span.about__title--overline Rowi.tech 
                svg(class="about__overline about__overline--lg" width="304" height="119" viewBox="0 0 304 119" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(class="about-overline" d="M279.34 7.38609C247.652 2.51095 206.527 -0.739107 165.527 4.44849C150.15 6.39414 93.7149 13.8863 63.9649 26.0112C48.0397 32.5017 -2.35664 56.0224 1.46487 80.3862C4.46468 99.5113 43.0898 110.636 76.8397 115.011C93.3859 117.156 125.701 119.013 170.09 114.136C225.84 108.011 259.34 93.8862 268.465 89.5112C286.865 80.6891 303.337 70.3238 302.84 56.8237C302.402 44.9487 289.599 34.6882 280.402 29.8237C268.692 23.6302 255.986 20.7404 247.902 19.3237" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(class="about__overline about__overline--tb" width="251" height="99" viewBox="0 0 251 99" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(class="about-overline" d="M229.951 5.99983C203.959 1.9305 170.226 -0.782355 136.595 3.54778C123.982 5.17184 77.6903 11.4256 53.2875 21.5464C40.2246 26.9641 -1.11355 46.5971 2.02109 66.9338C4.48172 82.8978 36.1645 92.1838 63.8482 95.8357C77.4204 97.626 103.927 99.176 140.338 95.1053C186.067 89.9927 213.546 78.2024 221.031 74.5506C236.124 67.1867 249.635 58.5346 249.227 47.266C248.869 37.3538 238.367 28.7892 230.823 24.7288C221.217 19.5589 210.795 17.1468 204.164 15.9643" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            | — компания разработчик 
        span.about__title-span.about__title-span--second IT решений для финансового сектора
        
    h2.about__title.about__title--mobile
        span.about__title-span.about__title-span--first
            span.about__title--overline Rowi.tech 
                svg(class="about__overline about__overline--tb" width="251" height="99" viewBox="0 0 251 99" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(class="about-overline" d="M229.951 5.99983C203.959 1.9305 170.226 -0.782355 136.595 3.54778C123.982 5.17184 77.6903 11.4256 53.2875 21.5464C40.2246 26.9641 -1.11355 46.5971 2.02109 66.9338C4.48172 82.8978 36.1645 92.1838 63.8482 95.8357C77.4204 97.626 103.927 99.176 140.338 95.1053C186.067 89.9927 213.546 78.2024 221.031 74.5506C236.124 67.1867 249.635 58.5346 249.227 47.266C248.869 37.3538 238.367 28.7892 230.823 24.7288C221.217 19.5589 210.795 17.1468 204.164 15.9643" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(class="about__overline about__overline--mb" width="150" height="61" viewBox="0 0 150 61" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(class="about-overline" d="M137.423 3.71141C108.46 -0.505139 88.6212 -0.706395 49.616 7.81997C34.5133 11.1235 19.2256 17.5882 7.9705 27.7639C-4.14251 38.7151 0.77872 47.3986 14.3044 52.7981C26.063 57.4614 39.0852 59.4297 51.8558 59.7783C66.0184 60.166 85.0253 58.6934 97.8677 56.2391C121.626 51.6986 135.743 44.8804 143.587 38.5679C153.347 30.714 147.851 22.4969 142.046 17.9515C136.241 13.406 129.352 11.2806 122.012 9.83743" stroke="#14004B" stroke-linecap="round" stroke-linejoin="round")
            | — компания разработчик IT решений 
        span.about__title-span.about__title-span--second для финансового сектора
    p.about__subtitle Сделать быстрее и проще для клиента — наш подход к&nbsp;созданию продукта
        
    .about__player
        .about__player-frame#aboutVideo
        img(src="static/images/content/about-poster.jpg" alt="").about__player-poster
        button(type="button").about__play
        
    a(href="https://www.rowi.com" target="_blank").about__show Посмотреть 
        span Rowi.com
        
        svg(class="about__show-arrow about__show-arrow--tb" width="103" height="15" viewBox="0 0 103 15" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="show-arrow-body" d="M1.375 5.5C37 11.125 77.5 12.75 100.875 6.25" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(class="show-arrow-top" d="M95.4688 1.03125C96.9688 3 99.875 4.875 101.844 5.53125C101.188 6.4375 98.1562 11.7188 97.8125 13.5938" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        svg(class="about__show-arrow about__show-arrow--mb" width="89" height="15" viewBox="0 0 89 15" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="show-arrow-static" d="M1.76667 9.60584C1.22035 9.5249 0.711853 9.90217 0.630914 10.4485C0.549976 10.9948 0.927243 11.5033 1.47357 11.5842L1.76667 9.60584ZM86.6089 7.9463C87.1466 7.81996 87.48 7.28169 87.3537 6.74405C87.2273 6.20641 86.6891 5.87299 86.1514 5.99934L86.6089 7.9463ZM82.2736 1.25104C81.9064 0.838557 81.2743 0.801895 80.8618 1.16915C80.4493 1.53641 80.4127 2.16851 80.7799 2.58099L82.2736 1.25104ZM87.8522 6.11254L88.6806 6.6727C88.8553 6.41444 88.8995 6.08952 88.8001 5.794C88.7008 5.49848 88.4694 5.26618 88.1742 5.1658L87.8522 6.11254ZM84.2585 12.5154L85.1431 12.9819C85.1519 12.9651 85.1603 12.9481 85.1682 12.9308L84.2585 12.5154ZM82.8934 13.5448C82.8181 14.0919 83.2007 14.5965 83.7478 14.6717C84.2949 14.747 84.7995 14.3644 84.8747 13.8173L82.8934 13.5448ZM1.47357 11.5842C29.8414 15.787 58.4476 14.5642 86.6089 7.9463L86.1514 5.99934C58.2338 12.5599 29.8823 13.7712 1.76667 9.60584L1.47357 11.5842ZM80.7799 2.58099C82.6066 4.63257 84.9323 6.17568 87.5302 7.05927L88.1742 5.1658C85.904 4.39363 83.8708 3.04487 82.2736 1.25104L80.7799 2.58099ZM87.0239 5.55238C85.6197 7.62883 84.3905 9.81892 83.3489 12.1001L85.1682 12.9308C86.1638 10.7505 87.3386 8.65726 88.6806 6.6727L87.0239 5.55238ZM83.374 12.049C83.1279 12.5157 82.9653 13.022 82.8934 13.5448L84.8747 13.8173C84.9149 13.525 85.0058 13.2423 85.1431 12.9819L83.374 12.049Z" fill="#4164EE")
    ul.about__list
        li.about__item
            b.about__link
                span Факторинг
            p.about__description Есть контракты, по которым поставщик вынужден ждать оплату. С факторингом он получает деньги сразу и может продолжать работу
        li.about__item
            b.about__link
                span Банковские гарантии
            p.about__description Необходимы для участия в госзакупках. Гарантируют заказчику исполнение обязательств по контракту
        li.about__item
            b.about__link
                span Кредит на исполнение контракта
            p.about__description Выдаем деньги до завершения работ, чтобы обеспечить исполнение госконтракта
        li.about__item
            b.about__link
                span Финансирование продавцов маркетплейсов
            p.about__description Выдаем деньги за товар до того, как со склада будет продана вся партия. Продавец наращивает обороты
