section.about
    .about__wrapper
        h2.about__title
            span
                span.about__title--overline ROWI Tech 
                | — компания разработчик 
            span  IT решений для финансового сектора
        p.about__subtitle Сделать быстрее и проще для клиента — наш подход к созданию продукта
        
        .about__player
            video(poster="static/images/content/about-poster.jpg").about__video
                source(src="static/videos/about-video.mp4" type="video/mp4")
                source(src="static/videos/about-video.ogv" type="video/ogg")
                source(src="static/videos/about-video.webm" type="video/webm")
            button(type="button").about__play
            p.about__show Посмотреть 
                a(href="https://www.rowi.com" target="_blank") Rowi.com
        ul.about__list
            li.about__item
                a(href="https://factoringplus.ru/" target="_blank").about__link
                    span Факторинг
                p.about__description Есть контракты, по которым поставщик вынужден ждать оплату. С факторингом он получает деньги сразу и может продолжать работу
            li.about__item
                a(href="https://rowi.com/garant/" target="_blank").about__link
                    span Банковские гарантии
                p.about__description Необходимы для участия в госзакупках. Гарантируют заказчику исполнение обязательств по контракту
            li.about__item
                a(href="https://rowi.com/contract/" target="_blank").about__link
                    span Кредит на исполнение контракта
                p.about__description Выдаем деньги до завершения работ, чтобы обеспечить исполнение госконтракта
            li.about__item
                a(href="https://sellplus.ru/?utm_source=rowitech&utm_medium=direct&utm_campaign=quick_request&utm_content=header&utm_term=pc" target="_blank").about__link
                    span Финансирование продавцов маркетплейсов
                p.about__description Выдаем деньги за товар до того, как со склада будет продана вся партия. Продавец наращивает обороты
