.cabinet__bio
    h2.cabinet__bio-name Иван Петров
    time(datetime="1991-08-22").cabinet__bio-bd
    
    .cabinet__bio-info
        b.cabinet__bio-subtitle На счету
        span.cabinet__bio-nr 350 баллов
    
    .cabinet__bio-contacts
        a(href="tel:+79123456789" target="_self").cabinet__bio-link +7 912 345-67-89
        a(href="mailto:i.petrov@domain.com" target="_self").cabinet__bio-link i.petrov@domain.com
    
    .cabinet__bio-controls
        a(href="cabinet-edit.html" target="_self").cabinet__bio-edit Редактировать
        button(type="button").cabinet__bio-logout Выход
