section.choose
    .choose__wrapper
        picture.choose__frame
            source(srcset="static/images/content/choose-bg.webp" type="image/webp")
            img(src="static/images/content/choose-bg.png" alt="Выберите то, что подходит именно вам").choose__frame-image
        .choose__info
            h2.choose__title Выберите то, что подходит именно вам
            p.choose__description Для удобства заказа готовой еды на неделю выберите наиболее подходящую схему питания. Вы можете заказать как готовый рацион, так и собрать индивидуальный набор еды в рамках выбранной калорийности. Для тех, кто хочет купить правильную еду на день или не хочет растягивать доставку на неделю, работает интернет магазин, в котором вы можете заказать сбалансированные блюда с доставкой уже сегодня*
            
            ul.choose__list
                li.choose__item
                    span.choose__icon.choose__icon--1
                    b.choose__name Интернет-магазин
                    p.choose__about Блюда ресторанного качества с быстрой доставкой. Низкая стоимость.
                    
                    a(href="shop.html" target="_self").choose__link Купить
                li.choose__item
                    span.choose__icon.choose__icon--2
                    b.choose__name Конструктор питания
                    p.choose__about Индивидуальный рацион с просчетом КБЖУ. Большой выбор блюд.
                    
                    a(href="constructor.html" target="_self").choose__link Собрать
                li.choose__item
                    span.choose__icon.choose__icon--3
                    b.choose__name Рационы на неделю
                    p.choose__about Готовая еда - сбалансированное меню. ПП рационы на неделю.
                        
                    a(href="meals.html" target="_self").choose__link Заказать
