section.consult
    .consult__wrapper
        h2.consult__title Не знаешь какой рацион выбрать?
        p.consult__description Заполни форму и получи консультацию нашего диетолога в течение 15 минут!

        form(method="" action="").consult__form
            ul.consult__list
                li.consult__item
                    label(for="cons-name").consult__label
                    input(type="text" name="cons-name" id="cons-name" placeholder="Имя").consult__input
                li.consult__item
                    label(for="cons-tel").consult__label
                    input(type="tel" name="cons-tel" id="cons-tel" placeholder="Телефон" required).consult__input.js-phone-input
            button(type="submit").consult__callback Перезвоните мне
            span.consult__note Нажимая кнопку, Вы соглашаетесь с условиями оферты и даёте своё согласие на обработку персональных данных.
        // Успещная реакция на отправку данных
        .consult__reaction
            ul.consult__reaction-social
                li.consult__reaction-item
                    a(href="#" target="_blank")
                        i.fab.fa-vk
                li.consult__reaction-item
                    a(href="#" target="_blank")
                        i.fab.fa-facebook-f
                li.consult__reaction-item
                    a(href="#" target="_blank")
                        i.fab.fa-instagram
            a(href="blog.html" target="_blank").consult__reaction-link Блог General Food
