section.cta
    svg(class="cta-bg-round-mb" width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg")
        ellipse(cx="100.636" cy="100.636" rx="100" ry="100" transform="rotate(-38.9585 100.636 100.636)" fill="url(#cta-mb-radial)" fill-opacity="0.8")
        defs
            radialGradient(id="cta-mb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.21108 200.636) rotate(-45.9213) scale(370.183 1330.44)")
                stop(stop-color="#F6B4C6")
                stop(offset="0.157029" stop-color="#CDA4CF")
                stop(offset="0.335323" stop-color="#6079EA")
                stop(offset="0.490552" stop-color="#4688DB")
                stop(offset="0.66534" stop-color="#1FB4B4")
                stop(offset="0.904167" stop-color="#A4D5D5")
                stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
    .cta__wrapper
        h2.cta__title
        
        .cta__block
            p.cta__description
        
            a(href="email:" target="_self").cta__button
                span.cta__link
                // тут 3 векторных блока для подчеркивания
                .cta__underline.cta__underline--desktop
                .cta__underline.cta__underline--laptop
                .cta__underline.cta__underline--tablet
                .cta__underline.cta__underline--mobile
                    svg(class="cta-first" width="144" height="12" viewBox="0 0 144 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0.901032 6.53595C0.350637 6.49029 -0.132559 6.89946 -0.178217 7.44985C-0.223876 8.00025 0.185293 8.48345 0.735687 8.5291L0.901032 6.53595ZM143.035 11.7525C143.581 11.8336 144.09 11.4564 144.171 10.9101C144.252 10.3638 143.875 9.85523 143.329 9.77414L143.035 11.7525ZM13.9709 0.23756C13.4187 0.225083 12.961 0.662569 12.9485 1.21471C12.936 1.76686 13.3735 2.22457 13.9257 2.23705L13.9709 0.23756ZM131.161 4.88628C131.713 4.89876 132.171 4.46127 132.184 3.90913C132.196 3.35698 131.759 2.89927 131.206 2.88679L131.161 4.88628ZM0.735687 8.5291C17.4829 9.91839 45.3646 9.57084 72.8635 9.4556C100.426 9.34008 127.582 9.45854 143.035 11.7525L143.329 9.77414C127.691 7.45267 100.356 7.34036 72.8551 7.45561C45.2903 7.57114 17.5357 7.9159 0.901032 6.53595L0.735687 8.5291ZM13.9257 2.23705L131.161 4.88628L131.206 2.88679L13.9709 0.23756L13.9257 2.23705Z" fill="#4164EE")
                    svg(class="cta-second" width="89" height="12" viewBox="0 0 89 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M89.0196 1.20058C89.0365 1.75218 88.7738 2.22149 88.4329 2.2488C75.3136 3.29967 59.9079 3.64988 44.5169 3.99975L44.5091 3.99992C34.1256 4.23596 23.749 4.4719 14.0764 4.9221C20.7428 5.32157 27.7816 5.54499 34.8815 5.77036C37.222 5.84466 39.5692 5.91916 41.9118 6.00025C56.3522 6.50011 70.6215 7.25032 82.0259 9.75914C82.3641 9.83355 82.601 10.3375 82.555 10.8847C82.509 11.432 82.1976 11.8153 81.8594 11.7409C70.5352 9.24973 56.3341 8.49994 41.8854 7.99979C39.5487 7.91891 37.2056 7.84456 34.8675 7.77036C22.7647 7.38632 10.796 7.00653 0.5517 5.74715C0.226321 5.70715 -0.0237786 5.26477 -0.0194766 4.73684C-0.0151746 4.20891 0.242047 3.77735 0.567965 3.75125C13.6873 2.70037 29.0929 2.35017 44.4839 2.0003L44.4917 2.00012C59.8916 1.65005 75.2765 1.30019 88.3717 0.251246C88.7127 0.223937 89.0027 0.648967 89.0196 1.20058Z" fill="#4164EE")
                    svg(class="cta-third" width="89" height="12" viewBox="0 0 89 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0.557617 0.964844L88.4424 2.92638L1.67012 6.16177C14.2468 8.26177 17.5761 8.931 30.161 11.0356" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    svg(class="cta-fourth" width="92" height="12" viewBox="0 0 92 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0.652201 6.54085C0.104514 6.46974 -0.397124 6.85608 -0.468238 7.40376C-0.539352 7.95145 -0.153013 8.45309 0.394674 8.5242L0.652201 6.54085ZM91.2516 11.7373C91.7896 11.8623 92.327 11.5276 92.452 10.9896C92.577 10.4517 92.2423 9.91424 91.7043 9.78924L91.2516 11.7373ZM8.94733 0.23793C8.39539 0.218408 7.93213 0.650017 7.91261 1.20196C7.89309 1.7539 8.3247 2.21716 8.87664 2.23668L8.94733 0.23793ZM83.7772 4.88591C84.3291 4.90543 84.7924 4.47382 84.8119 3.92188C84.8314 3.36994 84.3998 2.90668 83.8479 2.88716L83.7772 4.88591ZM0.394674 8.5242C11.1458 9.92017 29.0177 9.57063 46.5561 9.45558C64.1936 9.33988 81.4615 9.46258 91.2516 11.7373L91.7043 9.78924C81.6308 7.44863 64.085 7.34055 46.543 7.45563C28.9019 7.57135 11.2284 7.91411 0.652201 6.54085L0.394674 8.5242ZM8.87664 2.23668L83.7772 4.88591L83.8479 2.88716L8.94733 0.23793L8.87664 2.23668Z" fill="#4164EE")
