section.faq
    .faq__wrapper
        h2.faq__title Часто задаваемые вопросы
        // Фильтр FAQ`а
        .faq__content.tabs-container
            ul.faq__filter
                li.faq__filter-item.tab-title.active
                    button(type="button").faq__filter-btn Похудение
                li.faq__filter-item.tab-title
                    button(type="button").faq__filter-btn Тарифы
                li.faq__filter-item.tab-title
                    button(type="button").faq__filter-btn Оплата
                li.faq__filter-item.tab-title
                    button(type="button").faq__filter-btn Доставка
                li.faq__filter-item.tab-title
                    button(type="button").faq__filter-btn Хранение и разогрев
                li.faq__filter-item.tab-title
                    button(type="button").faq__filter-btn Питание
            <!--Контент-->
            .faq__body
                ul.faq__body-list.tab-content.active
                    +faqItem('active', 'Нужно ли мне считать КБЖУ и соблюдать диету с General-food?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата. От Вас требуется полностью соблюдать диету рациона, по возможности сократить потребления сахара и немного заниматься спортом. Результат не заставит себя ждать!')
                    +faqItem('', 'Нужны ли разгрузочные дни и cheat meal?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата.')
                    +faqItem('', 'Как быстро можно похудеть на рационах General-food?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата222.')
                    +faqItem('', 'Как рассчитать количество калорий необходимых для похудения?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата333.')
                    +faqItem('', 'Используете ли вы сахар или сахарозаменитель. Если да, то какой?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата444.')
                ul.faq__body-list.tab-content
                    +faqItem('active', '1', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата1.')
                    +faqItem('', '2', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата2.')
                    +faqItem('', '3', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата3.')
                    +faqItem('', '4', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата4.')
                    +faqItem('', '5', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата5.')
                ul.faq__body-list.tab-content
                    +faqItem('active', '1', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата1.')
                    +faqItem('', '2', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата2.')
                    +faqItem('', '3', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата3.')
                    +faqItem('', '4', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата4.')
                    +faqItem('', '5', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата5.')
                ul.faq__body-list.tab-content
                    +faqItem('active', '1', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата1.')
                    +faqItem('', '2', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата2.')
                    +faqItem('', '3', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата3.')
                    +faqItem('', '4', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата4.')
                    +faqItem('', '5', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата5.')
                ul.faq__body-list.tab-content
                    +faqItem('active', '6', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата1.')
                    +faqItem('', '7', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата2.')
                    +faqItem('', '8', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата3.')
                    +faqItem('', '9', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата4.')
                    +faqItem('', '10', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата5.')
                ul.faq__body-list.tab-content
                    +faqItem('active', '11', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата1.')
                    +faqItem('', '12', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата2.')
                    +faqItem('', '13', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата3.')
                    +faqItem('', '14', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата4.')
                    +faqItem('', '15', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата5.')
                // Если не помогло, то контакты
                .faq__contacts
                    h3.faq__subtitle Остались вопросы?
                    p.faq__description Вы можете задать их нашему специалисту, воспользовавшись любым удобным для Вас способом
                    
                    ul.faq__contacts-list
                        li.faq__contacts-item
                            a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--wa
                        li.faq__contacts-item
                            a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--tg
                        li.faq__contacts-item
                            a(href="tel:+78007874244" target="_self").faq__contacts-link 8 800 787 42 44
                    button(type="button" data-modal="#js-popup-callback").faq__callback.js-popup-opener Перезвоните мне
