section.freedom
    <!--SVG rounds-->
    svg(class="freedom-round-tb" width="461" height="461" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg")
        ellipse(cx="230.236" cy="230.765" rx="230" ry="230" transform="rotate(-38.9585 230.236 230.765)" fill="url(#freedom-tb-radial)" fill-opacity="0.8")
        defs
            radialGradient(id="freedom-tb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7589 460.765) rotate(-45.9213) scale(851.421 3060.01)")
                stop(stop-color="#F6B4C6")
                stop(offset="0.157029" stop-color="#CDA4CF")
                stop(offset="0.335323" stop-color="#6079EA")
                stop(offset="0.490552" stop-color="#4688DB")
                stop(offset="0.66534" stop-color="#1FB4B4")
                stop(offset="0.904167" stop-color="#A4D5D5")
                stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
    svg(class="freedom-round-mb" width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg")
        ellipse(cx="100.636" cy="100.636" rx="100" ry="100" transform="rotate(-38.9585 100.636 100.636)" fill="url(#freedom-mb-radial)" fill-opacity="0.8")
        defs
            radialGradient(id="freedom-mb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.21108 200.636) rotate(-45.9213) scale(370.183 1330.44)")
                stop(stop-color="#F6B4C6")
                stop(offset="0.157029" stop-color="#CDA4CF")
                stop(offset="0.335323" stop-color="#6079EA")
                stop(offset="0.490552" stop-color="#4688DB")
                stop(offset="0.66534" stop-color="#1FB4B4")
                stop(offset="0.904167" stop-color="#A4D5D5")
                stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
    <!-- end of SVG rounds-->
    
    h2.freedom__title.freedom__title--first Смысл
        .freedom__arrow.freedom__arrow--desktop
            <svg width="126" height="165" viewBox="0 0 126 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.2963 1.28125C14.6089 10.3438 -2.9224 26 2.70255 49.375C6.69289 65.9572 31.6401 81.0625 54.0151 79C74.1861 77.4858 93.9247 61.0663 89.0774 45.5C84.2301 29.9337 67.2098 27.6288 47.3901 36.75C29.3276 45.0625 13.7026 64.875 16.4523 79.125C20.7308 101.297 52.5736 118.397 67.4526 121.125C87.9833 124.889 102.115 116.535 98.5774 105.75C96.63 99.8138 84.8501 92.6786 71.2026 97.375C59.2302 101.495 50.6793 116.383 57.3274 132.875C64.9033 151.669 103.828 163.5 124.327 163.5" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.54688 1.70312C3.92188 5.34375 8.32812 8.375 12.4688 9.45312C10.0312 10.5469 5.14062 13.1406 1.5625 18.7031" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .freedom__arrow.freedom__arrow--tablet
            <svg width="81" height="106" viewBox="0 0 81 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.4863 1.45215C9.35841 7.2192 -1.87259 17.1823 1.73089 32.0573C4.2872 42.6096 20.269 52.2221 34.603 50.9096C47.5251 49.946 60.1701 39.4972 57.0648 29.5914C53.9595 19.6855 43.0559 18.2188 30.3589 24.0232C18.7876 29.313 8.77781 41.9209 10.5394 50.9891C13.2802 65.0987 33.6795 75.9803 43.2114 77.7164C56.3639 80.112 65.4172 74.7953 63.1507 67.9323C61.9032 64.1547 54.3567 59.6141 45.6137 62.6027C37.9439 65.2246 32.466 74.6986 36.7249 85.1937C41.5782 97.1536 66.5141 104.682 79.6468 104.682" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.02148 1.7207C2.54297 4.03746 5.36572 5.96644 8.01831 6.65252C6.45679 7.34854 3.32373 8.99911 1.03149 12.5389" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .freedom__arrow.freedom__arrow--mobile
            <svg width="34" height="51" viewBox="0 0 34 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.37466 2.59382C11.4997 -1.00022 18.5309 2.09372 20.2809 6.71837C22.6578 12.9997 20.2809 21.125 13.8121 24.1875C8.7596 26.5795 3.53152 26.3474 1.99939 22.25C0.46727 18.1526 4.99208 14.2547 8.43742 12.5938C14.13 9.84943 23.8017 10.5187 27.7187 18.0312C31.4791 25.2433 28.0153 32.2129 25.3438 34.5C21 38.2188 17.4457 36.8383 16.4375 35.3125C15.4293 33.7867 16.4375 29.1562 20.25 27.5C22.7988 26.3928 28.9149 25.9024 31.25 31.1562C34.1521 37.6859 30.2812 44.8125 28.375 49.2812" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.74971 1.125C2.43711 2.9375 1.96875 4.09375 1.5625 5.125C2.62458 4.53125 3.56242 3.78125 6.09367 3.78125" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    h2.freedom__title.freedom__title--second Творчество
    h2.freedom__title.freedom__title--third Свобода
        .freedom__lines.freedom__lines--desktop
            <svg width="80" height="82" viewBox="0 0 80 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.3125 80.3751C19 72 4.4375 18.375 1 1.03125C13.4375 19.9376 32.625 57 39 61.5625C38.3125 50.25 37.625 32 37.0625 19.5C43.875 38.75 50.375 50.375 55.2188 60.1562C59.25 48.8125 57.625 38.125 61 28C64.4375 39.875 64.8127 51.0624 66.6875 65.0625C72.5627 56.8124 74.0625 52.6875 78.125 47.5C78.4375 55.5625 77.0625 66.0625 76.6875 75.0625" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .freedom__lines.freedom__lines--tablet
            <svg width="70" height="72" viewBox="0 0 70 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5234 70.5731C16.625 63.2193 3.88281 16.1339 0.875 0.905273C11.7578 17.506 28.5469 50.0486 34.125 54.0547C33.5234 44.1217 32.9219 28.0973 32.4297 17.1217C38.3906 34.0242 44.0781 44.2315 48.3164 52.8199C51.8437 42.8595 50.4219 33.4754 53.375 24.5852C56.3828 35.012 56.7111 44.835 58.3516 57.1278C63.4923 49.8838 64.8047 46.262 68.3594 41.7071C68.6328 48.7864 67.4297 58.0059 67.1016 65.9083" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .freedom__lines.freedom__lines--mobile
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.92539 32.3461C7.60039 28.9756 1.77539 7.39484 0.400391 0.415039C5.37539 8.0237 13.0504 22.939 15.6004 24.7752C15.3254 20.2226 15.0504 12.8781 14.8254 7.84758C17.5504 15.5945 20.1504 20.2729 22.0879 24.2092C23.7004 19.6441 23.0504 15.343 24.4004 11.2683C25.7754 16.0473 25.9255 20.5495 26.6754 26.1837C29.0255 22.8635 29.6254 21.2035 31.2504 19.1159C31.3754 22.3605 30.8254 26.5862 30.6754 30.2081" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
