section.how#how
    h2.how__title Как мы работаем
        
    ul.how__list
        li.how__item.how__item--first
            picture.how__frame
                source(media="(min-width: 1440px)" srcset="static/images/content/how-1-lg.webp" type="image/webp")
                source(media="(min-width: 1440px)" srcset="static/images/content/how-1-lg.jpg")
                source(media="(min-width: 1024px)" srcset="static/images/content/how-1-mb.webp" type="image/webp")
                source(media="(min-width: 1024px)" srcset="static/images/content/how-1-mb.jpg")
                source(media="(min-width: 768px)" srcset="static/images/content/how-1-tb.webp" type="image/webp")
                source(media="(min-width: 768px)" srcset="static/images/content/how-1-tb.jpg")
                source(srcset="static/images/content/how-1-mb.webp" type="image/webp")
                img(src="static/images/content/how-1-mb.jpg" alt="Продуктовые команды").how__frame-image
            .how__info
                h3.how__name Продуктовые команды
                p.how__description Ты точно знаешь, что и зачем делаешь, можешь предлагать решения и видишь результат
                p.how__description Общение с заказчиком и обратная свзь от бизнеса в моменте
                    
        li.how__item.how__item--second
            picture.how__frame
                source(srcset="static/images/content/how-2-mb.webp" type="image/webp")
                img(src="static/images/content/how-2-mb.jpg" alt="Scrum").how__frame-image
            .how__info
                h3.how__name Scrum
                p.how__description Работаем по спринтам, планируем и оцениваем задачи всей командой
                p.how__description Интересные  задачи, есть сложные, творческие – можно переключаться
                    
        li.how__item.how__item--third
            picture.how__frame
                source(media="(min-width: 1440px)" srcset="static/images/content/how-3-lg.webp" type="image/webp")
                source(media="(min-width: 1440px)" srcset="static/images/content/how-3-lg.jpg")
                source(srcset="static/images/content/how-3-mb.webp" type="image/webp")
                img(src="static/images/content/how-3-mb.jpg" alt="Библиотека компонентов").how__frame-image
            .how__info
                h3.how__name Библиотека компонентов
                p.how__description Своя дизайн система, которая ускоряет разработку
