section.how
    .how__wrapper
        h2.how__title Как работает General&nbsp;Food
        
        ul.how__list
            li.how__item
                img(src="static/images/content/how-1.png" alt="Разрабатываем рецептуру с учетом КБЖУ и целей").how__icon
                p.how__description Разрабатываем рецептуру с учетом КБЖУ и целей
            li.how__item
                img(src="static/images/content/how-2.png" alt="Готовим вкусную еду по уникальным рецептам").how__icon
                p.how__description Готовим вкусную еду по уникальным рецептам
            li.how__item
                img(src="static/images/content/how-3.png" alt="Бесплатно доставляем свежую еду раз в два дня").how__icon
                p.how__description Бесплатно доставляем свежую еду раз в два дня
            li.how__item
                img(src="static/images/content/how-4.png" alt="Вы питаетесь и достигаете необходимых результатов").how__icon
                p.how__description Вы питаетесь и достигаете необходимых результатов
