section.individual
    .individual__wrapper
        picture.individual__frame.individual__frame--first
            source(media="(min-width: 768px)" srcset="static/images/content/individual-1.webp" type="image/webp")
            source(media="(min-width: 768px)" srcset="static/images/content/individual-1.png")
            source(srcset="static/images/content/individual-1-mb.webp" type="image/webp")
            img(src="static/images/content/individual-1-mb.png" alt="Индвидуальный рацион").individual__frame-image
        .individual__info
            h2.individual__title Индивидуальный рацион
            p.individual__description Наш диетолог составит для Вас индивидуальный рацион с учетом Ваших особенностей
            a(href="personal.html" target="_self").individual__link Узнать подробнее
            span.individual__pricing От 700 ₽ в день
        picture.individual__frame.individual__frame--second
            source(media="(min-width: 768px)" srcset="static/images/content/individual-2.webp" type="image/webp")
            source(media="(min-width: 768px)" srcset="static/images/content/individual-2.png")
            source(srcset="static/images/content/individual-2-mb.webp" type="image/webp")
            img(src="static/images/content/individual-2-mb.png" alt="Индвидуальный рацион").individual__frame-image
