section.intro#intro
    h1.intro__title
        span Создаем удобные&nbsp;продукты 
        span для финансирования бизнеса
        
        <!--SVG block start-->
        .intro__arrow.intro__arrow--desktop
            svg(width="69" height="109" viewBox="0 0 69 109" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-body" d="M3.18681 1.5C-0.93797 9.5 2.13274 19.3617 8.81212 25.625C12.7796 29.3456 18.5088 32.3093 26.062 32.5625C37.2495 32.9375 47.81 29.7396 54.187 26.375C61.3625 22.5891 65.079 16.9355 59.3745 9.6875C56.4827 6.01322 49.5174 2.10072 39.3745 7.375C24.3674 15.1787 15.062 35.125 14.7495 46C14.5643 52.4448 14.7495 61.25 26.2495 66.625C33.5205 70.0234 45.2495 67.375 55.9995 62.8125C64.9359 59.0197 70.0888 53.8931 67.1245 48.375C63.5153 41.6563 53.6337 42.3666 45.9995 50.75C36.1175 61.6019 34.437 79.8125 41.9992 91.5C49.5614 103.188 62.5624 107.312 67.062 107.625" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            svg(width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-top" d="M4.09375 1.1875C4.45312 2.79688 6.25 5.60938 7.6875 6.8125C6.26562 7.70312 2.875 9.98438 1.79688 11.4844" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .intro__arrow.intro__arrow--tablet
            svg(width="69" height="109" viewBox="0 0 69 109" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-body" d="M3.18681 1.5C-0.93797 9.5 2.13274 19.3617 8.81212 25.625C12.7796 29.3456 18.5088 32.3093 26.062 32.5625C37.2495 32.9375 47.81 29.7396 54.187 26.375C61.3625 22.5891 65.079 16.9355 59.3745 9.6875C56.4827 6.01322 49.5174 2.10072 39.3745 7.375C24.3674 15.1787 15.062 35.125 14.7495 46C14.5643 52.4448 14.7495 61.25 26.2495 66.625C33.5205 70.0234 45.2495 67.375 55.9995 62.8125C64.9359 59.0197 70.0888 53.8931 67.1245 48.375C63.5153 41.6563 53.6337 42.3666 45.9995 50.75C36.1175 61.6019 34.437 79.8125 41.9992 91.5C49.5614 103.188 62.5624 107.312 67.062 107.625" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            svg(width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-top" d="M4.09375 1.1875C4.45312 2.79688 6.25 5.60938 7.6875 6.8125C6.26562 7.70312 2.875 9.98438 1.79688 11.4844" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .intro__arrow.intro__arrow--mobile
            svg(width="52" height="80" viewBox="0 0 52 80" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-body" d="M2.36748 1.81055C-0.696638 7.60365 1.58446 14.7449 6.54629 19.2804C9.49359 21.9746 13.7495 24.1207 19.3605 24.3041C27.6712 24.5756 35.5161 22.2599 40.2533 19.8235C45.5837 17.082 48.3445 12.988 44.1069 7.73943C41.9587 5.07874 36.7845 2.24555 29.2498 6.06486C18.1017 11.7158 11.1891 26.1597 10.9569 34.0347C10.8193 38.7016 10.9569 45.0778 19.4998 48.97C24.9011 51.4309 33.6141 49.5131 41.5998 46.2093C48.2383 43.4628 52.0661 39.7504 49.8641 35.7545C47.1829 30.8893 39.8423 31.4036 34.1712 37.4743C26.8303 45.3326 25.5819 58.5196 31.1995 66.983C36.8172 75.4463 46.475 78.4334 49.8176 78.6597" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            svg(width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-arrow-top" d="M3.35566 1.72266C3.62263 2.88806 4.95745 4.9247 6.02531 5.79593C4.96906 6.44086 2.45031 8.0928 1.64941 9.17901" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        <!--vector block end-->
    
    picture.intro__frame.intro__frame--first
        source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-1-lg.webp" type="image/webp")
        source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-1-lg.jpg")
        source(media="(min-width: 1024px)" srcset="static/images/content/intro-photo-1-md.webp" type="image/webp")
        source(media="(min-width: 1024px)" srcset="static/images/content/intro-photo-1-md.jpg")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-1-lg.webp" type="image/webp")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-1-lg.jpg")
        source(srcset="static/images/content/intro-photo-1-mb.webp" type="image/webp")
        img(src="static/images/content/intro-photo-1-mb.jpg" alt="Специалисты ROWI").intro__frame-image
    
    picture.intro__frame.intro__frame--second
        source(srcset="static/images/content/intro-photo-1.webp" type="image/webp")
        img(src="static/images/content/intro-photo-1.jpg" alt="Специалисты ROWI").intro__frame-image
            
    h2.intro__subtitle
        <!--lines start-->
        .intro__lines.intro__lines--desktop
            svg(width="40" height="43" viewBox="0 0 40 43" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-line-1" d="M1.14062 39.4561C3.74062 39.6561 9.82812 40.6748 13.4531 41.6748" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-2" d="M4.57812 8.0498C6.64062 10.2373 18.3802 21.0498 24.2969 26.5498" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-3" d="M37.9531 1.1123C37.9531 3.6123 38.4427 9.56022 38.6094 12.3936" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .intro__lines.intro__lines--tablet
            svg(width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-line-1" d="M1.91211 32.1982C3.99211 32.3564 8.86211 33.1619 11.7621 33.9526" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-2" d="M4.66211 7.36523C6.31211 9.09489 15.7038 17.6443 20.4371 21.9931" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-3" d="M31.3623 1.87988C31.3623 3.85663 31.754 8.55963 31.8873 10.7999" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

        .intro__lines.intro__lines--mobile
            svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(class="intro-line-1" d="M1.45605 15.6816C2.49605 15.7561 4.93105 16.1351 6.38105 16.5072" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-2" d="M2.83105 3.99512C3.65605 4.80907 8.35189 8.83233 10.7186 10.8788" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(class="intro-line-3" d="M16.1807 1.41406C16.1807 2.3443 16.3765 4.55747 16.4432 5.61174" stroke="#14004B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        <!--lines end-->
        .intro__subtitle-wrap.intro__subtitle-wrap--desktop
            span Разработчики влияют
            span на продукт и сами выбирают 
            span способы решения&nbsp;задач
        .intro__subtitle-wrap.intro__subtitle-wrap--laptop
            span Разработчики влияют на продукт 
            span и сами выбирают способы 
            span решения&nbsp;задач
        .intro__subtitle-wrap.intro__subtitle-wrap--tablet
            span Разработчики влияют 
            span на продукт и сами выбирают
            span способы решения задач
        .intro__subtitle-wrap.intro__subtitle-wrap--mobile
            span Разработчики влияют 
            span на продукт и сами
            span выбирают способы решения задач
    .intro__jobs
        a(href="#jobs" target="_self").intro__jobs-link Что там по вакансиям?
    <!--SVG rounds-->
    svg(id="intro-ball" class="intro-round-tb gradient-ball" width="461" height="461" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg")
        ellipse(cx="230.236" cy="230.765" rx="230" ry="230" transform="rotate(-38.9585 230.236 230.765)" fill="url(#intro-tb-radial)" fill-opacity="0.8")
        defs
            radialGradient(id="intro-tb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7589 460.765) rotate(-45.9213) scale(851.421 3060.01)")
                stop(stop-color="#F6B4C6")
                stop(offset="0.157029" stop-color="#CDA4CF")
                stop(offset="0.335323" stop-color="#6079EA")
                stop(offset="0.490552" stop-color="#4688DB")
                stop(offset="0.66534" stop-color="#1FB4B4")
                stop(offset="0.904167" stop-color="#A4D5D5")
                stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
    svg(class="intro-round-mb" width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg")
        ellipse(cx="100.636" cy="100.636" rx="100" ry="100" transform="rotate(-38.9585 100.636 100.636)" fill="url(#intro-mb-radial)" fill-opacity="0.8")
        defs
            radialGradient(id="intro-mb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.21108 200.636) rotate(-45.9213) scale(370.183 1330.44)")
                stop(stop-color="#F6B4C6")
                stop(offset="0.157029" stop-color="#CDA4CF")
                stop(offset="0.335323" stop-color="#6079EA")
                stop(offset="0.490552" stop-color="#4688DB")
                stop(offset="0.66534" stop-color="#1FB4B4")
                stop(offset="0.904167" stop-color="#A4D5D5")
                stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
    <!-- end of SVG rounds-->
