section.intro
    .intro__wrapper
        h1.intro__title
            span Создаем удобные продукты 
            span для финансирования бизнеса
            
        .intro__block
            picture.intro__frame.intro__frame--first
                source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-1-lg.webp" type="image/webp")
                source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-1-lg.jpg")
                source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-1-md.webp" type="image/webp")
                source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-1-nd.jpg")
                source(srcset="static/images/content/intro-photo-1-mb.webp" type="image/webp")
                img(src="static/images/content/intro-photo-1-mb.jpg" alt="Специалисты ROWI").intro__frame-image
                
            picture.intro__frame.intro__frame--second
                source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-2-lg.webp" type="image/webp")
                source(media="(min-width: 1440px)" srcset="static/images/content/intro-photo-2-lg.jpg")
                source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-2-md.webp" type="image/webp")
                source(media="(min-width: 768px)" srcset="static/images/content/intro-photo-2-nd.jpg")
                source(srcset="static/images/content/intro-photo-2-mb.webp" type="image/webp")
                img(src="static/images/content/intro-photo-2-mb.jpg" alt="Специалисты ROWI").intro__frame-image
            
            h2.intro__subtitle
                span Разработчики влияют 
                span на продукт и сами выбирают 
                span способы решения задач
        .intro__jobs
            a(href="#jobs" target="_self").intro__jobs-link Что там по вакансиям?
