section.job#jobs
    h2.job__title Ждём в команду

    .job__filter
        h3.job__filter-title Категории

        ul.job__filter-list#filterList
            li(data-type="1").job__filter-item
                button(type="button").job__filter-btn
                    span.job__filter-name Разработка
                    span.job__filter-nr (11)
            li(data-type="2").job__filter-item
                button(type="button").job__filter-btn
                    span.job__filter-name Аналитика
                    span.job__filter-nr (6)
            li(data-type="3").job__filter-item
                button(type="button").job__filter-btn
                    span.job__filter-name Дизайн
                    span.job__filter-nr (4)
            li(data-type="4").job__filter-item
                button(type="button").job__filter-btn
                    span.job__filter-name Тестирование
                    span.job__filter-nr (3)
    ul(data-type="0").job__list
        li(data-item="1").job__item
            h3.job__name FullStack разработчик
            .job__body
                ul.job__content
                    li.job__content-item
                        b.job__content-name Современный стек
                        p.job__content-description ASP.NET.MVC, ASP.NET.Core, Vue.js, npm, Webpack, MS SQL, Rabbit MQ, NServiceBus, Service Fabric, Docker, Team City, Octupus, Git.
                    li.job__content-item
                        b.job__content-name Интересные задачи
                        p.job__content-description Участие в улучшении существующих и создании новых продуктов компании;
                        p.job__content-description Разработка бизнес логики личных кабинетов по ТЗ от аналитика;
                        p.job__content-description Разработка логики автоматизации бизнес-процессов;
                        p.job__content-description Доработка микросервисов и создание новых;
                        p.job__content-description Написание Unit тестов;
                        p.job__content-description Верстка страниц из компонентов библиотеки.
                    li.job__content-item
                        b.job__content-name Ожидания
                        p.job__content-description Опыт работы в C#, ASP.Net MVC\Core;
                        p.job__content-description Знание Vue.js, Angular или React;
                        p.job__content-description Опыт работы с базами данных: MS SQL, MySQL и др.
                    li.job__content-item
                        b.job__content-name Хорошо бы иметь
                        p.job__content-description Опыт разработки или развития любой финансово-учётной или кадровой системы;
                        p.job__content-description Опыт работы в bitBucket, youTrack или альтернативах.
                    li.job__content-item
                        b.job__content-name А еще...
                        p.job__content-description Расширенный ДМС со стоматологией и доступом в лучшие клиники города, отпуска, больничный, праздники.
                .job__controls
                    a(href="#apply-form" target="_self").job__apply 
                        span Откликнуться
                        svg(class="answer-arrow" width="139" height="20" viewBox="0 0 139 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(class="answer-body" d="M1.85059 7.75C49.8073 15.3221 104.327 17.5096 135.793 8.75962" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(class="answer-top" d="M128.516 1.73438C130.535 4.38462 134.447 6.90865 137.097 7.79207C136.214 9.01202 132.133 16.1214 131.671 18.6454" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    button(type="button" data-value="link0").job__share Поделиться
                    .job__dropdown
                        .job__dropdown-wrap
                            ul.job__dropdown-list
                                li.job__dropdown-item
                                    button(type="button" data-value="tg").job__dropdown-btn Telegram
                                li.job__dropdown-item
                                    button(type="button" data-value="fb").job__dropdown-btn Facebook
                                li.job__dropdown-item
                                    button(type="button" data-value="tw").job__dropdown-btn Twitter
                                li.job__dropdown-item
                                    button(type="button" data-value="vk").job__dropdown-btn VK
                                li.job__dropdown-item
                                    button(type="button" data-value="wa").job__dropdown-btn WhatsApp
                            .job__dropdown-bottom
                                button(type="button").job__dropdown-copy Скопировать ссылку
        li(data-item="1").job__item
            h3.job__name Продуктовый аналитик
            .job__body
                ul.job__content
                    li.job__content-item
                        b.job__content-name Современный стек
                        p.job__content-description ASP.NET.MVC, ASP.NET.Core, Vue.js, npm, Webpack, MS SQL, Rabbit MQ, NServiceBus, Service Fabric, Docker, Team City, Octupus, Git.
                    li.job__content-item
                        b.job__content-name Интересные задачи
                        p.job__content-description Участие в улучшении существующих и создании новых продуктов компании;
                        p.job__content-description Разработка бизнес логики личных кабинетов по ТЗ от аналитика;
                        p.job__content-description Разработка логики автоматизации бизнес-процессов;
                        p.job__content-description Доработка микросервисов и создание новых;
                        p.job__content-description Написание Unit тестов;
                        p.job__content-description Верстка страниц из компонентов библиотеки.
                    li.job__content-item
                        b.job__content-name Ожидания
                        p.job__content-description Опыт работы в C#, ASP.Net MVC\Core;
                        p.job__content-description Знание Vue.js, Angular или React;
                        p.job__content-description Опыт работы с базами данных: MS SQL, MySQL и др.
                    li.job__content-item
                        b.job__content-name Хорошо бы иметь
                        p.job__content-description Опыт разработки или развития любой финансово-учётной или кадровой системы;
                        p.job__content-description Опыт работы в bitBucket, youTrack или альтернативах.
                    li.job__content-item
                        b.job__content-name А еще...
                        p.job__content-description Расширенный ДМС со стоматологией и доступом в лучшие клиники города, отпуска, больничный, праздники.
                .job__controls
                    a(href="#apply-form" target="_self").job__apply 
                        span Откликнуться
                        svg(width="144" height="12" viewBox="0 0 144 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M143.143 1.22754C137.06 1.71169 115.327 2.29042 88.2002 2.75879C61.0478 3.2276 28.9716 3.41504 0.814453 4.75879C13.8859 5.72754 35.1859 6.50879 67.4144 7.00879C101.143 7.41504 125.357 9.63379 132.729 10.7588" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    button(type="button" data-value="link1").job__share Поделиться
                    .job__dropdown
                        .job__dropdown-wrap
                            ul.job__dropdown-list
                                li.job__dropdown-item
                                    button(type="button" data-value="tg").job__dropdown-btn Telegram
                                li.job__dropdown-item
                                    button(type="button" data-value="fb").job__dropdown-btn Facebook
                                li.job__dropdown-item
                                    button(type="button" data-value="tw").job__dropdown-btn Twitter
                                li.job__dropdown-item
                                    button(type="button" data-value="vk").job__dropdown-btn VK
                                li.job__dropdown-item
                                    button(type="button" data-value="wa").job__dropdown-btn WhatsApp
                            .job__dropdown-bottom
                                button(type="button").job__dropdown-copy Скопировать ссылку
        li(data-item="2").job__item
            h3.job__name Продуктовый дизайнер
            .job__body
                ul.job__content
                    li.job__content-item
                        b.job__content-name Современный стек
                        p.job__content-description ASP.NET.MVC, ASP.NET.Core, Vue.js, npm, Webpack, MS SQL, Rabbit MQ, NServiceBus, Service Fabric, Docker, Team City, Octupus, Git.
                    li.job__content-item
                        b.job__content-name Интересные задачи
                        p.job__content-description Участие в улучшении существующих и создании новых продуктов компании;
                        p.job__content-description Разработка бизнес логики личных кабинетов по ТЗ от аналитика;
                        p.job__content-description Разработка логики автоматизации бизнес-процессов;
                        p.job__content-description Доработка микросервисов и создание новых;
                        p.job__content-description Написание Unit тестов;
                        p.job__content-description Верстка страниц из компонентов библиотеки.
                    li.job__content-item
                        b.job__content-name Ожидания
                        p.job__content-description Опыт работы в C#, ASP.Net MVC\Core;
                        p.job__content-description Знание Vue.js, Angular или React;
                        p.job__content-description Опыт работы с базами данных: MS SQL, MySQL и др.
                    li.job__content-item
                        b.job__content-name Хорошо бы иметь
                        p.job__content-description Опыт разработки или развития любой финансово-учётной или кадровой системы;
                        p.job__content-description Опыт работы в bitBucket, youTrack или альтернативах.
                    li.job__content-item
                        b.job__content-name А еще...
                        p.job__content-description Расширенный ДМС со стоматологией и доступом в лучшие клиники города, отпуска, больничный, праздники.
                .job__controls
                    a(href="#apply-form" target="_self").job__apply 
                        span Откликнуться
                        svg(width="144" height="12" viewBox="0 0 144 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M143.143 1.22754C137.06 1.71169 115.327 2.29042 88.2002 2.75879C61.0478 3.2276 28.9716 3.41504 0.814453 4.75879C13.8859 5.72754 35.1859 6.50879 67.4144 7.00879C101.143 7.41504 125.357 9.63379 132.729 10.7588" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    button(type="button" data-value="link2").job__share Поделиться
                    .job__dropdown
                        .job__dropdown-wrap
                            ul.job__dropdown-list
                                li.job__dropdown-item
                                    button(type="button" data-value="tg").job__dropdown-btn Telegram
                                li.job__dropdown-item
                                    button(type="button" data-value="fb").job__dropdown-btn Facebook
                                li.job__dropdown-item
                                    button(type="button" data-value="tw").job__dropdown-btn Twitter
                                li.job__dropdown-item
                                    button(type="button" data-value="vk").job__dropdown-btn VK
                                li.job__dropdown-item
                                    button(type="button" data-value="wa").job__dropdown-btn WhatsApp
                            .job__dropdown-bottom
                                button(type="button").job__dropdown-copy Скопировать ссылку
        li(data-item="2").job__item
            h3.job__name Тестировщик
            .job__body
                ul.job__content
                    li.job__content-item
                        b.job__content-name Современный стек
                        p.job__content-description ASP.NET.MVC, ASP.NET.Core, Vue.js, npm, Webpack, MS SQL, Rabbit MQ, NServiceBus, Service Fabric, Docker, Team City, Octupus, Git.
                    li.job__content-item
                        b.job__content-name Интересные задачи
                        p.job__content-description Участие в улучшении существующих и создании новых продуктов компании;
                        p.job__content-description Разработка бизнес логики личных кабинетов по ТЗ от аналитика;
                        p.job__content-description Разработка логики автоматизации бизнес-процессов;
                        p.job__content-description Доработка микросервисов и создание новых;
                        p.job__content-description Написание Unit тестов;
                        p.job__content-description Верстка страниц из компонентов библиотеки.
                    li.job__content-item
                        b.job__content-name Ожидания
                        p.job__content-description Опыт работы в C#, ASP.Net MVC\Core;
                        p.job__content-description Знание Vue.js, Angular или React;
                        p.job__content-description Опыт работы с базами данных: MS SQL, MySQL и др.
                    li.job__content-item
                        b.job__content-name Хорошо бы иметь
                        p.job__content-description Опыт разработки или развития любой финансово-учётной или кадровой системы;
                        p.job__content-description Опыт работы в bitBucket, youTrack или альтернативах.
                    li.job__content-item
                        b.job__content-name А еще...
                        p.job__content-description Расширенный ДМС со стоматологией и доступом в лучшие клиники города, отпуска, больничный, праздники.
                .job__controls
                    a(href="#apply-form" target="_self").job__apply 
                        span Откликнуться
                        svg(width="144" height="12" viewBox="0 0 144 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M143.143 1.22754C137.06 1.71169 115.327 2.29042 88.2002 2.75879C61.0478 3.2276 28.9716 3.41504 0.814453 4.75879C13.8859 5.72754 35.1859 6.50879 67.4144 7.00879C101.143 7.41504 125.357 9.63379 132.729 10.7588" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    button(type="button" data-value="link3").job__share Поделиться
                    .job__dropdown
                        .job__dropdown-wrap
                            ul.job__dropdown-list
                                li.job__dropdown-item
                                    button(type="button" data-value="tg").job__dropdown-btn Telegram
                                li.job__dropdown-item
                                    button(type="button" data-value="fb").job__dropdown-btn Facebook
                                li.job__dropdown-item
                                    button(type="button" data-value="tw").job__dropdown-btn Twitter
                                li.job__dropdown-item
                                    button(type="button" data-value="vk").job__dropdown-btn VK
                                li.job__dropdown-item
                                    button(type="button" data-value="wa").job__dropdown-btn WhatsApp
                            .job__dropdown-bottom
                                button(type="button").job__dropdown-copy Скопировать ссылку
