section.meals
    .meals__wrapper
        h2.meals__title Выберите свой рацион
        .meals__controls
            button(type="button").meals__prev
            button(type="button").meals__next
        .meals__list.meals-swiper-container
            .swiper-wrapper
                +mealsItem('fit-meal', 'fit', '~1300 Калорий', '82', '57', '117', 'Плавного и эффективного снижения веса;', 'Повышения энергии и сил;', 'Закрепления достигнутого результата;', '950 руб.', 'От 5 400 руб.', 'meals-fit.html')
                +mealsItem('balance-meal', 'balance', '~1800 Калорий', '92', '81', '161', 'Поддержания веса;', 'Поддержания мышечной массы девушкам и этапа сушки мужчинам;', 'Закрепления достигнутого результата;', '1 150 руб.', 'От 6 900 руб.', 'meals-balance.html')
                +mealsItem('power-meal', 'power', '~2500 Калорий', '127', '118', '240', 'Поддержания веса опытным спортсменам;', 'Для набора мышечной массы начинающим атлетам;', 'Поддержания баланса микро- и макроэлементов в организме;', '1 350 руб.', 'От 8 100 руб.', 'meals-power.html')
                +mealsItem('daily-meal', 'daily', '~1250 Калорий', '73', '63', '118', 'Плавного и эффективного снижения веса;', 'Снижения веса при малоподвижном образе жизни;', '', '750 руб.', 'От 3 500 руб.', 'meals-daily.html')
                +mealsItem('vegan-meal', 'vegan', '~1350 Калорий', '26', '58', '129', 'Желающих питаться без мяса, рыбы и морепродуктов', 'Ценителей сбалансированности и разнообразия блюд;', 'Тех, кто нуждается в особом рационе;', '800 руб.', 'От 3 750 руб.', 'meals-vegan.html')
                +mealsItem('sea-meal', 'sea', '~1350 Калорий', '73', '74', '101', 'Людей отдающих предпочтения морепродуктам и блюдам из рыбы;', 'Плавного и медленного снижения веса;', '', '1 500 руб.', 'От 7 500 руб.', 'meals-sea.html')
