section.numbers
    h2.numbers__title Собственная разработка является драйвером бизнеса
        
    ul.numbers__list
        li.numbers__item.numbers__item--first
            span.numbers__icon.numbers__icon--first
            b.numbers__name 84%
            p.numbers__description клиентов готовы нас рекомендовать
                
            .numbers__arrow.numbers__arrow--desktop
                svg(width="99" height="262" viewBox="0 0 99 262" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M49.7788 15.2727C58.9038 0.0225039 95.0286 -10.4149 97.4035 30.7728C99.026 58.9109 47.1535 109.085 16.7788 158.085C0.702922 188.633 -8.16147 226.491 20.2788 248.585C56.9524 277.075 90.4036 245.585 94.2786 239.585" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M24.1622 0.23584L0.992188 12.2358L7.49219 12.9658C7.57773 12.979 7.65765 13.0166 7.72237 13.0741C7.78709 13.1316 7.83386 13.2065 7.85708 13.2899C7.8803 13.3732 7.87899 13.4615 7.85329 13.5442C7.82759 13.6268 7.7786 13.7003 7.71219 13.7558C7.33263 14.0851 6.97205 14.4357 6.63219 14.8058C4.29219 17.3558 3.42219 20.3658 4.63219 21.5158C5.84219 22.6658 8.80219 21.5158 11.1322 18.9758C11.489 18.6065 11.8229 18.2158 12.1322 17.8058C12.1822 17.7367 12.2508 17.6832 12.33 17.6516C12.4093 17.62 12.4959 17.6116 12.5797 17.6273C12.6636 17.643 12.7412 17.6822 12.8036 17.7404C12.866 17.7986 12.9106 17.8733 12.9322 17.9558L14.2422 24.3658L24.1622 0.23584Z" fill="#F5AABE")
                
            .numbers__arrow.numbers__arrow--tablet
                svg(width="61" height="159" viewBox="0 0 61 159" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M29.6519 9.83233C33.0101 3.68915 43.1207 -0.285849 49.5389 2.37017C55.9571 5.0262 58.2715 13.711 58.0747 20.7274C57.8778 27.7439 54.0007 34.0859 50.2368 40.0002C38.7245 58.1707 25.2617 73.1252 13.1529 90.8862C7.85609 98.6796 2.79785 109.647 1.63469 118.826C0.328372 129.149 1.09785 138.538 7.18802 145.711C10.7252 149.891 16.9108 154.293 22.1003 155.95C29.5028 158.323 35.2768 157.907 42.381 154.745C49.8371 151.433 54.3108 148.12 59.9357 140.417" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M13.9027 0.244141L0.0820312 7.47142L3.95923 7.91108C4.01025 7.91903 4.05792 7.94166 4.09653 7.97627C4.13513 8.01089 4.16303 8.05601 4.17688 8.10623C4.19073 8.15645 4.18995 8.20963 4.17462 8.25941C4.15929 8.30918 4.13007 8.35344 4.09045 8.38687C3.86405 8.5852 3.64897 8.79634 3.44624 9.01926C2.05045 10.5551 1.53151 12.3679 2.25326 13.0605C2.97501 13.7531 4.74063 13.0605 6.13045 11.5307C6.34328 11.3083 6.54248 11.073 6.72695 10.8261C6.75677 10.7844 6.7977 10.7522 6.84497 10.7332C6.89223 10.7142 6.94388 10.7091 6.9939 10.7185C7.04392 10.728 7.09024 10.7516 7.12746 10.7867C7.16468 10.8217 7.19127 10.8667 7.20414 10.9164L7.98554 14.777L13.9027 0.244141Z" fill="#F5AABE")
                        
            .numbers__arrow.numbers__arrow--mobile
                svg(width="70" height="117" viewBox="0 0 70 117" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M47.9998 -0.462891C86.3075 46.2964 69.5298 88.3464 0.922852 115.278" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            
        li.numbers__item.numbers__item--second
            span.numbers__icon.numbers__icon--second
            b.numbers__name Топ-2
            p.numbers__description по количеству новых клиентов факторинга
                
            .numbers__arrow.numbers__arrow--desktop
                svg(width="65" height="197" viewBox="0 0 65 197" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M62.4033 1.08496C19.5283 24.835 5.89913 45.5666 3.15312 58.085C-9.75979 116.952 61.6669 125.59 63.4031 165.835C64.0907 181.772 51.1532 191.085 43.3408 195.647" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M26.2603 0.375L0.820312 6.245L6.94031 8.565C7.01863 8.60245 7.08474 8.66129 7.13103 8.73472C7.17732 8.80816 7.20188 8.89319 7.20188 8.98C7.20188 9.06681 7.17732 9.15184 7.13103 9.22528C7.08474 9.29871 7.01863 9.35755 6.94031 9.395C6.4902 9.61707 6.05285 9.86412 5.63031 10.135C2.74031 12.025 1.14031 14.715 2.08031 16.135C3.02031 17.555 6.08031 17.195 9.01031 15.305C9.43297 15.0166 9.8402 14.7061 10.2303 14.375C10.2973 14.3206 10.3783 14.2861 10.464 14.2755C10.5497 14.2649 10.6366 14.2787 10.7149 14.3152C10.7931 14.3517 10.8595 14.4095 10.9065 14.482C10.9534 14.5544 10.979 14.6387 10.9803 14.725L10.6403 21.255L26.2603 0.375Z" fill="#F5AABE")
                
            .numbers__arrow.numbers__arrow--tablet
                svg(width="47" height="144" viewBox="0 0 47 144" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M44.9892 1.68457C14.0793 18.9369 4.25357 33.9967 2.27389 43.0902C-7.03542 85.8519 44.4582 92.1267 45.7099 121.361C46.2056 132.939 36.8786 139.703 31.2464 143.018" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M18.7467 -0.000976562L0.40625 4.26308L4.81834 5.94836C4.8748 5.97556 4.92247 6.01831 4.95584 6.07165C4.98921 6.125 5.00691 6.18677 5.00691 6.24982C5.00691 6.31288 4.98921 6.37465 4.95584 6.428C4.92247 6.48134 4.8748 6.52409 4.81834 6.55129C4.49384 6.7126 4.17855 6.89206 3.87392 7.08883C1.79044 8.46176 0.636946 10.4158 1.31462 11.4473C1.9923 12.4788 4.19834 12.2173 6.31067 10.8444C6.61538 10.6349 6.90896 10.4094 7.1902 10.1688C7.23852 10.1293 7.2969 10.1042 7.35868 10.0965C7.42046 10.0889 7.48314 10.0989 7.53955 10.1254C7.59596 10.1519 7.64382 10.1939 7.67766 10.2465C7.7115 10.2992 7.72995 10.3604 7.7309 10.4231L7.48579 15.1666L18.7467 -0.000976562Z" fill="#F5AABE")
                
            .numbers__arrow.numbers__arrow--mobile
                svg(width="76" height="85" viewBox="0 0 76 85" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M47.4994 1C-51.5005 20.5 32.4995 69.5 74.9994 83.5" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            
        li.numbers__item.numbers__item--third
            span.numbers__icon.numbers__icon--third
            b.numbers__name в 3 раза
            p.numbers__description мы выросли с 2019 года
                
            .numbers__arrow.numbers__arrow--desktop
                svg(width="310" height="324" viewBox="0 0 310 324" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M129.056 59.919C131.202 51.1193 135.304 42.9162 141.056 35.919C146.744 29.1931 153.501 23.4496 161.056 18.919C181.916 5.91902 207.056 0.239016 233.056 1.91902C264.056 3.91902 284.966 14.989 297.056 31.919C312.056 52.919 310.616 80.169 300.556 96.419C292.226 109.879 271.476 122.269 256.056 124.919C215.706 131.849 174.856 129.369 134.056 132.919C88.0557 136.919 51.0557 144.919 24.0557 177.919C10.8657 194.049 4.36572 216.199 2.05572 236.919C1.05572 245.919 2.76572 263.849 7.55572 276.419C12.5345 289.381 21.9157 300.179 34.0557 306.919C47.1175 314.033 61.3379 318.773 76.0557 320.919C109.866 325.839 148.056 317.919 172.056 301.919" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.8949 0.0893555L0.214844 4.71936L6.21484 7.33936C6.29369 7.37502 6.36058 7.43268 6.4075 7.5054C6.45442 7.57812 6.47939 7.66282 6.47939 7.74936C6.47939 7.8359 6.45442 7.9206 6.4075 7.99332C6.36058 8.06604 6.29369 8.12369 6.21484 8.15936C5.753 8.36541 5.30238 8.59574 4.86485 8.84937C1.86485 10.5994 0.164857 13.2094 1.02486 14.6794C1.88486 16.1494 5.02486 15.9294 8.02486 14.1794C8.45673 13.9227 8.87404 13.6422 9.27486 13.3394C9.34295 13.2849 9.42538 13.2515 9.51213 13.243C9.59888 13.2346 9.68622 13.2515 9.76353 13.2918C9.84085 13.332 9.90481 13.3938 9.94765 13.4698C9.99049 13.5457 10.0104 13.6324 10.0049 13.7194L9.36485 20.2294L25.8949 0.0893555Z" fill="#F5AABE")
                
            .numbers__arrow.numbers__arrow--tablet
                svg(width="196" height="204" viewBox="0 0 196 204" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M81.7006 38.121C83.0491 32.6144 85.6257 27.4812 89.239 23.1026C92.8125 18.8937 97.0574 15.2996 101.803 12.4645C114.907 4.32957 130.701 0.775209 147.034 1.8265C166.508 3.07803 179.644 10.0053 187.239 20.5995C196.662 33.7406 195.757 50.7928 189.438 60.9615C184.205 69.3843 171.17 77.1375 161.483 78.7958C136.135 83.1324 110.472 81.5805 84.8416 83.802C55.9442 86.305 32.7006 91.3112 15.739 111.961C7.45301 122.055 3.36967 135.916 1.91852 148.882C1.29031 154.514 2.36454 165.734 5.37365 173.6C8.50136 181.711 14.3947 188.467 22.0211 192.685C30.2266 197.137 39.1599 200.103 48.4057 201.446C69.6453 204.525 93.6365 199.569 108.713 189.557" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17.0346 0.03125L0.902344 2.92855L4.67157 4.56806C4.7211 4.59038 4.76313 4.62646 4.7926 4.67197C4.82207 4.71747 4.83776 4.77047 4.83776 4.82463C4.83776 4.87878 4.82207 4.93178 4.7926 4.97729C4.76313 5.02279 4.7211 5.05887 4.67157 5.08119C4.38144 5.21013 4.09836 5.35426 3.8235 5.51297C1.93889 6.60806 0.870942 8.24131 1.4112 9.16118C1.95145 10.0811 3.92402 9.94339 5.80863 8.8483C6.07994 8.68768 6.34209 8.5122 6.59389 8.32266C6.63666 8.28861 6.68845 8.26768 6.74294 8.26239C6.79744 8.2571 6.85231 8.2677 6.90088 8.29289C6.94945 8.31807 6.98962 8.35676 7.01654 8.40426C7.04345 8.45176 7.05593 8.50602 7.05247 8.56045L6.65042 12.6342L17.0346 0.03125Z" fill="#F5AABE")
                
            .numbers__arrow.numbers__arrow--mobile
                svg(width="89" height="97" viewBox="0 0 89 97" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M63.963 1C119.23 23.951 68 66 1 96" stroke="#F5AABE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                svg(class="numbers__arrow-end" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.0401523 14.9049L20.2189 12.9851L15.7633 10.6055C15.7058 10.5711 15.6593 10.521 15.6295 10.4609C15.5996 10.4009 15.5877 10.3336 15.5951 10.267C15.6024 10.2004 15.6288 10.1373 15.671 10.0852C15.7132 10.0332 15.7695 9.99435 15.8332 9.97341C16.2037 9.84784 16.5665 9.7003 16.9194 9.53158C19.347 8.3681 20.843 6.46012 20.2736 5.26645C19.7042 4.07278 17.2611 4.04371 14.8479 5.20133C14.494 5.36874 14.1512 5.55858 13.8215 5.76972C13.7651 5.80579 13.6995 5.8249 13.6326 5.82477C13.5656 5.82465 13.5001 5.80529 13.4438 5.76901C13.3876 5.73272 13.3429 5.68103 13.3152 5.62009C13.2874 5.55915 13.2778 5.49153 13.2874 5.42527L14.2073 0.431584L0.0401523 14.9049Z" fill="#F5AABE")
        li.numbers__item
            span.numbers__icon.numbers__icon--fourth
            b.numbers__name Топ-4
            p.numbers__description по количеству выданных банковских гарантий
