section.similar
    .similar__wrapper
        h2.similar__title Похожие товары
        .similar__controls
            button(type="button").similar__prev
            button(type="button").similar__next
    .similar__slider.swiper-container-similar
        .swiper-wrapper
            +gridItem('swiper-slide similar__slider-item breakfast dessert', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item salads', '', 'dinner-1', 'Обед', 'Курица в соусе Терияки с овощами и розовой чечевицей', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item soup dessert', '', 'lunch-1', 'Полдник', 'Смузи боул из облепихи с клубникой', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item second', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item second', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item second', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item second', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item soups', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item dessert', '', 'lunch-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
            +gridItem('swiper-slide similar__slider-item soup', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '238', '3', '7', '39', '230', '150 г.')
