.cart-form {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    &.lessPrice {
        .cart-form__submit {
            display: none;
        }

        .cart-form__warn {
            display: inline-flex;
        }
    }

    &__block {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        margin-bottom: 6.25rem;

        &:last-of-type {
            margin-bottom: 0;

            .cart-form__list {
                margin-bottom: 3.125rem;
            }
        }

        .cart-form__item {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
        margin-bottom: 0.625rem;
        text-align: center;
    }

    &__subtitle {
        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $gray);
        text-align: center;
        margin-bottom: 1.875rem;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        margin-bottom: 1.875rem;
        position: relative;
    }

    &__label {
        @include font-setting($primary-font, 1.125rem, 1.25rem, 700, $black);
        margin-bottom: 0.625rem;
    }

    &__input {
        width: 100%;
        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $darkgray);
        text-align: center;
        border: 2px solid $lightgray;
        border-radius: 10px;
        height: 50px;
        padding: 0 1.5625rem;
        transition: 0.4s $cubic;
        cursor: text;

        &:hover {
            border-color: $lightgreen;
            transition: 0.4s $cubic;
        }

        &[type="number"] {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &.valid-mail {
            border-color: $green;
            transition: 0.4s $cubic;
        }

        &.invalid-mail {
            border-color: red;
            transition: 0.4s $cubic;
        }
    }

    &__error {
        position: absolute;
        @include font-setting($primary-font, 0.625rem, 1, 400, red);
        left: 0;
        bottom: -1.5rem;

        text-align: center;
    }

    &__bottom {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__warn {
        @include font-setting($secondary-font, 1rem, 1.25rem, 400, $gold);
        border-bottom: 1px dashed $gold;
        text-align: center;

        display: none;
    }

    &__submit {
        width: 100%;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.9375rem, 1.25rem, 800, $white);
        text-transform: uppercase;
        text-align: center;
        border: none;
        border-radius: 40px;
        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        cursor: pointer;
        padding: 1.25rem 0;

        &:active,
        &:hover {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__select {
        width: 100%;
        height: 50px;
        border: 2px solid $lightgray;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;

        .select-hidden {
            display: none;
            visibility: hidden;
            padding-right: 0;
        }

        .select {
            position: relative;
            @include flex-setting(column, center, center);
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $darkgray);
            text-align: center;
            width: 100%;
            height: 50px;
        }

        .select-styled {
            @include flex-setting(column, center, center);
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: transparent;
            padding: 0;

            &::after {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                top: 0.8125rem;
                right: 1.5625rem;
                transition: 0.4s $cubic;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6343 11.6023L19.7549 1.59399C20.0817 1.26557 20.0817 0.732939 19.7549 0.404519C19.4282 0.076098 18.8981 0.076098 18.5713 0.404519L9.99999 9.80935L1.42871 0.405352C1.10195 0.076931 0.571796 0.076931 0.245068 0.405352C-0.0816612 0.733772 -0.0816612 1.2664 0.245068 1.5948L9.36567 11.6031C9.53986 11.7782 9.77078 11.8532 9.99916 11.8415C10.2284 11.8524 10.4593 11.7774 10.6343 11.6023Z' fill='%234BAF50'/%3E%3C/svg%3E");
            }

            &:hover {
                &::after {
                    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
                    transition: 0.4s $cubic;
                }
            }

            &.active,
            &:active {
                &::after {
                    transform: rotate(180deg);
                    transition: 0.4s $cubic;
                }
            }
        }

        .select-options {
            width: calc(100% + 4px);
            display: none;
            position: absolute;
            top: 40px;
            right: -2px;
            left: -2px;
            z-index: 999;
            margin: 0;
            padding: 0.625rem 0 0;
            list-style: none;
            background-color: #fff;
            border: 2px solid $lightgray;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top: none;

            li {
                margin: 0;
                padding: 0.625rem 0 0.625rem 1rem;
                transition: all 0.15s ease-in;
                @include flex-setting(column, center, flex-start);

                cursor: pointer;

                a {
                    color: #fff;
                    text-decoration: none;
                }

                &:hover {
                    color: #fff;
                    background: $green;
                    transition: 0.2s linear;
                }

                &[rel="hide"] {
                    display: none;
                }
            }
        }
    }
}

@include min-screen(768px) {
    .cart-form {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 3rem;
        justify-content: center;
        align-items: stretch;

        &__block {
            margin-bottom: 0;

            &:last-of-type {
                .cart-form__list {
                    margin-bottom: 0;
                }
            }

            .cart-form__item {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__subtitle {
            margin-bottom: 2.5rem;
        }

        &__input {
            height: 60px;
        }

        &__bottom {
            margin-top: auto;
        }

        &__submit {
            font-size: 1.125rem;
            padding: 1.875rem 0;
        }

        &__select {
            height: 60px;

            .select {
                height: 60px;
            }

            .select-styled {
                &::after {
                    top: 1.125rem;
                    right: 1.4375rem;
                }
            }

            .select-options {
                top: 50px;
            }
        }
    }
}

@include min-screen(1366px) {
    .cart-form {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
        justify-content: space-between;
        align-items: stretch;

        &__block {
            max-width: 588px;
            margin-bottom: 0;
            align-items: flex-start;

            &:last-of-type {
                margin-left: auto;
            }

            .cart-form__item {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__list--address {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            flex-wrap: wrap;

            .cart-form__item:not(:first-of-type) {
                width: 270px;
            }
        }

        &__list--personal {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            flex-wrap: wrap;

            .cart-form__item {
                width: 270px;
            }
        }

        &__item {
            align-items: flex-start;
        }

        &__input {
            height: 60px;
            text-align: left;

            padding: 0 1.4375rem;
        }

        &__bottom {
            align-items: flex-start;
        }

        &__warn {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        &__submit {
            max-width: 380px;
        }

        &__select {
            height: 62px;

            .select {
                height: 60px;
            }

            .select-styled {
                text-align: left;
                align-items: flex-start;
                padding-left: 1.4375rem;

                &::after {
                    top: 1.1875rem;
                    right: 1.4375rem;
                }
            }

            .select-options {
                top: 50px;

                li {
                    text-align: left;
                    padding-left: 1.4375rem;
                    height: 60px;
                }
            }
        }
    }
}
