.cart-info {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    display: none;

    &.active {
        display: flex;
    }

    &__item {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        .cart-info__description {
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &--payment {
            margin-bottom: 6.25rem;
        }
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
        text-transform: uppercase;
        text-align: center;

        margin-bottom: 0.625rem;
    }

    &__subtitle {
        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $gray);
        text-align: center;
        margin-bottom: 1.875rem;
    }

    &__method {
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: 1.875rem;
        width: 100%;
        max-width: 586px;

        &-item {
            @include flex-setting(column, center, center);
            width: 100%;
            max-width: 586px;

            margin-bottom: 1.875rem;

            &--cardOnline {
                label {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2742 3.86694H1.45153C0.771733 3.86694 0.21875 4.41992 0.21875 5.09972V13.6482C0.21875 14.328 0.771733 14.881 1.45153 14.881H14.2742C14.954 14.881 15.507 14.328 15.507 13.6482V5.09972C15.507 4.41992 14.954 3.86694 14.2742 3.86694ZM14.8732 13.6482C14.8732 13.9784 14.6045 14.2472 14.2742 14.2472H1.45153C1.12126 14.2472 0.85254 13.9784 0.85254 13.6482V5.09972C0.85254 4.76944 1.12126 4.50072 1.45153 4.50072H14.2742C14.6045 4.50072 14.8732 4.76944 14.8732 5.09972V13.6482Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.19937 7.2251H2.97817C2.46671 7.2251 2.05069 7.64115 2.05069 8.15257V8.76317C2.05069 9.27465 2.46671 9.69067 2.97817 9.69067H4.19937C4.71082 9.69067 5.12685 9.2746 5.12685 8.76317V8.15257C5.12685 7.64112 4.7108 7.2251 4.19937 7.2251ZM3.27187 9.05692H2.97817C2.81625 9.05692 2.68447 8.92515 2.68447 8.76322V8.15257C2.68447 7.99065 2.81627 7.85887 2.97817 7.85887H3.27187V9.05692ZM4.4931 8.76317C4.4931 8.9251 4.3613 9.05687 4.1994 9.05687H3.9057V7.85885H4.1994C4.3613 7.85887 4.4931 7.99065 4.4931 8.15257V8.76317Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.1994 10.5835H2.36758C2.19257 10.5835 2.05069 10.7253 2.05069 10.9004C2.05069 11.0754 2.19257 11.2173 2.36758 11.2173H4.1994C4.3744 11.2173 4.5163 11.0754 4.5163 10.9004C4.5163 10.7253 4.3744 10.5835 4.1994 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M7.25222 10.5835H5.42039C5.24539 10.5835 5.10352 10.7253 5.10352 10.9004C5.10352 11.0754 5.24539 11.2173 5.42039 11.2173H7.25222C7.42724 11.2173 7.56912 11.0754 7.56912 10.9004C7.56912 10.7253 7.42724 10.5835 7.25222 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M8.4736 12.1099H2.36758C2.19257 12.1099 2.05069 12.2517 2.05069 12.4268C2.05069 12.6018 2.19257 12.7437 2.36758 12.7437H8.47363C8.64865 12.7437 8.79053 12.6018 8.79053 12.4268C8.79053 12.2517 8.64865 12.1099 8.4736 12.1099Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M10.3053 10.5835H8.47346C8.29843 10.5835 8.15656 10.7253 8.15656 10.9004C8.15656 11.0754 8.29843 11.2173 8.47346 11.2173H10.3053C10.4803 11.2173 10.6222 11.0754 10.6222 10.9004C10.6222 10.7253 10.4803 10.5835 10.3053 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M13.3583 10.5835H11.5265C11.3515 10.5835 11.2096 10.7253 11.2096 10.9004C11.2096 11.0754 11.3515 11.2173 11.5265 11.2173H13.3583C13.5333 11.2173 13.6752 11.0754 13.6752 10.9004C13.6752 10.7253 13.5333 10.5835 13.3583 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M12.137 5.69872C11.6397 5.69872 11.197 5.93621 10.9158 6.30329C10.6346 5.93619 10.192 5.69872 9.69463 5.69872C8.84648 5.69872 8.15656 6.38866 8.15656 7.23681C8.15656 8.08494 8.84653 8.77489 9.69463 8.77489C10.192 8.77489 10.6346 8.53739 10.9158 8.17031C11.1971 8.53741 11.6397 8.77489 12.137 8.77489C12.9852 8.77489 13.6751 8.08494 13.6751 7.23681C13.6751 6.38866 12.9852 5.69872 12.137 5.69872ZM9.6946 8.14109C9.19598 8.14109 8.79031 7.73539 8.79031 7.23681C8.79031 6.73821 9.19603 6.33251 9.6946 6.33251C10.1932 6.33251 10.5989 6.73821 10.5989 7.23681C10.5989 7.73539 10.1932 8.14109 9.6946 8.14109ZM12.137 8.14109C11.6384 8.14109 11.2327 7.73539 11.2327 7.23681C11.2327 6.73821 11.6384 6.33251 12.137 6.33251C12.6356 6.33251 13.0413 6.73821 13.0413 7.23681C13.0413 7.73539 12.6356 8.14109 12.137 8.14109Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M18.5485 1.11916H5.72578C5.04598 1.11916 4.49295 1.67213 4.49295 2.35193V2.96253C4.49295 3.13758 4.63483 3.27943 4.80985 3.27943H19.1475V4.47748H16.4114C16.2364 4.47748 16.0944 4.61933 16.0944 4.79438C16.0944 4.96943 16.2364 5.11128 16.4114 5.11128H19.1475V10.9004C19.1475 11.2307 18.8787 11.4994 18.5485 11.4994H16.4113C16.2363 11.4994 16.0944 11.6412 16.0944 11.8163C16.0944 11.9913 16.2363 12.1332 16.4113 12.1332H18.5485C19.2283 12.1332 19.7812 11.5802 19.7812 10.9004V2.35193C19.7812 1.67216 19.2283 1.11916 18.5485 1.11916ZM19.1475 2.64563H5.12678V2.35193C5.12678 2.02171 5.39553 1.75293 5.7258 1.75293H18.5485C18.8787 1.75293 19.1475 2.02168 19.1475 2.35193V2.64563Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3C/svg%3E");
                    }
                }
            }

            &--cardCourier {
                label {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2742 3.86694H1.45153C0.771733 3.86694 0.21875 4.41992 0.21875 5.09972V13.6482C0.21875 14.328 0.771733 14.881 1.45153 14.881H14.2742C14.954 14.881 15.507 14.328 15.507 13.6482V5.09972C15.507 4.41992 14.954 3.86694 14.2742 3.86694ZM14.8732 13.6482C14.8732 13.9784 14.6045 14.2472 14.2742 14.2472H1.45153C1.12126 14.2472 0.85254 13.9784 0.85254 13.6482V5.09972C0.85254 4.76944 1.12126 4.50072 1.45153 4.50072H14.2742C14.6045 4.50072 14.8732 4.76944 14.8732 5.09972V13.6482Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.19937 7.2251H2.97817C2.46671 7.2251 2.05069 7.64115 2.05069 8.15257V8.76317C2.05069 9.27465 2.46671 9.69067 2.97817 9.69067H4.19937C4.71082 9.69067 5.12685 9.2746 5.12685 8.76317V8.15257C5.12685 7.64112 4.7108 7.2251 4.19937 7.2251ZM3.27187 9.05692H2.97817C2.81625 9.05692 2.68447 8.92515 2.68447 8.76322V8.15257C2.68447 7.99065 2.81627 7.85887 2.97817 7.85887H3.27187V9.05692ZM4.4931 8.76317C4.4931 8.9251 4.3613 9.05687 4.1994 9.05687H3.9057V7.85885H4.1994C4.3613 7.85887 4.4931 7.99065 4.4931 8.15257V8.76317Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.1994 10.5835H2.36758C2.19257 10.5835 2.05069 10.7253 2.05069 10.9004C2.05069 11.0754 2.19257 11.2173 2.36758 11.2173H4.1994C4.3744 11.2173 4.5163 11.0754 4.5163 10.9004C4.5163 10.7253 4.3744 10.5835 4.1994 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M7.25222 10.5835H5.42039C5.24539 10.5835 5.10352 10.7253 5.10352 10.9004C5.10352 11.0754 5.24539 11.2173 5.42039 11.2173H7.25222C7.42724 11.2173 7.56912 11.0754 7.56912 10.9004C7.56912 10.7253 7.42724 10.5835 7.25222 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M8.4736 12.1099H2.36758C2.19257 12.1099 2.05069 12.2517 2.05069 12.4268C2.05069 12.6018 2.19257 12.7437 2.36758 12.7437H8.47363C8.64865 12.7437 8.79053 12.6018 8.79053 12.4268C8.79053 12.2517 8.64865 12.1099 8.4736 12.1099Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M10.3053 10.5835H8.47346C8.29843 10.5835 8.15656 10.7253 8.15656 10.9004C8.15656 11.0754 8.29843 11.2173 8.47346 11.2173H10.3053C10.4803 11.2173 10.6222 11.0754 10.6222 10.9004C10.6222 10.7253 10.4803 10.5835 10.3053 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M13.3583 10.5835H11.5265C11.3515 10.5835 11.2096 10.7253 11.2096 10.9004C11.2096 11.0754 11.3515 11.2173 11.5265 11.2173H13.3583C13.5333 11.2173 13.6752 11.0754 13.6752 10.9004C13.6752 10.7253 13.5333 10.5835 13.3583 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M12.137 5.69872C11.6397 5.69872 11.197 5.93621 10.9158 6.30329C10.6346 5.93619 10.192 5.69872 9.69463 5.69872C8.84648 5.69872 8.15656 6.38866 8.15656 7.23681C8.15656 8.08494 8.84653 8.77489 9.69463 8.77489C10.192 8.77489 10.6346 8.53739 10.9158 8.17031C11.1971 8.53741 11.6397 8.77489 12.137 8.77489C12.9852 8.77489 13.6751 8.08494 13.6751 7.23681C13.6751 6.38866 12.9852 5.69872 12.137 5.69872ZM9.6946 8.14109C9.19598 8.14109 8.79031 7.73539 8.79031 7.23681C8.79031 6.73821 9.19603 6.33251 9.6946 6.33251C10.1932 6.33251 10.5989 6.73821 10.5989 7.23681C10.5989 7.73539 10.1932 8.14109 9.6946 8.14109ZM12.137 8.14109C11.6384 8.14109 11.2327 7.73539 11.2327 7.23681C11.2327 6.73821 11.6384 6.33251 12.137 6.33251C12.6356 6.33251 13.0413 6.73821 13.0413 7.23681C13.0413 7.73539 12.6356 8.14109 12.137 8.14109Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M18.5485 1.11916H5.72578C5.04598 1.11916 4.49295 1.67213 4.49295 2.35193V2.96253C4.49295 3.13758 4.63483 3.27943 4.80985 3.27943H19.1475V4.47748H16.4114C16.2364 4.47748 16.0944 4.61933 16.0944 4.79438C16.0944 4.96943 16.2364 5.11128 16.4114 5.11128H19.1475V10.9004C19.1475 11.2307 18.8787 11.4994 18.5485 11.4994H16.4113C16.2363 11.4994 16.0944 11.6412 16.0944 11.8163C16.0944 11.9913 16.2363 12.1332 16.4113 12.1332H18.5485C19.2283 12.1332 19.7812 11.5802 19.7812 10.9004V2.35193C19.7812 1.67216 19.2283 1.11916 18.5485 1.11916ZM19.1475 2.64563H5.12678V2.35193C5.12678 2.02171 5.39553 1.75293 5.7258 1.75293H18.5485C18.8787 1.75293 19.1475 2.02168 19.1475 2.35193V2.64563Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3C/svg%3E");

                    }
                }
            }

            &--cashCourier {
                label {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9719 10.1322C19.9719 10.1321 19.9719 10.1321 19.9718 10.132L16.1958 0.650554C16.1156 0.449099 15.8873 0.350751 15.6858 0.430892C15.6857 0.430941 15.6855 0.43099 15.6854 0.431088L0.366301 6.531C0.303827 6.55799 0.249648 6.60108 0.209259 6.65584C0.0818582 6.72205 0.00137412 6.85308 0 6.99663V17.2044C0 17.4212 0.175789 17.597 0.392605 17.597H16.882C17.0988 17.597 17.2746 17.4212 17.2746 17.2044V11.6294L19.7528 10.6424C19.9542 10.562 20.0523 10.3336 19.9719 10.1322ZM16.4894 16.8118H0.785211V7.38923H16.4894V16.8118ZM6.55062 6.60598L13.1244 3.98652C13.7111 4.60321 14.524 4.9537 15.3752 4.95704L16.0309 6.60598H6.55062ZM17.2746 10.7861V6.99663C17.2746 6.77981 17.0988 6.60402 16.882 6.60402H16.8757L16.0438 4.51458C16.0346 4.49715 16.0238 4.48057 16.0116 4.46511C15.9695 4.27602 15.7944 4.147 15.6013 4.1628C14.8094 4.23499 14.0346 3.90137 13.5429 3.2763C13.4206 3.12529 13.2055 3.08775 13.0392 3.18835C13.0206 3.19056 13.0021 3.194 12.9838 3.19856L4.95821 6.39437C4.86109 6.43245 4.7834 6.50798 4.74267 6.60402H2.30538L15.6116 1.30581L19.0975 10.0589L17.2746 10.7861Z' fill='%23222222'/%3E%3Cpath d='M1.85075 14.1613C2.613 14.3866 3.20946 14.9823 3.4357 15.7443C3.48532 15.9106 3.63829 16.0245 3.81182 16.0246C3.83218 16.0233 3.8524 16.0203 3.87228 16.0156C3.8899 16.0206 3.90791 16.0243 3.92607 16.0266H13.3486C13.3648 16.0244 13.3808 16.0212 13.3965 16.0167C13.5926 16.0644 13.7903 15.9442 13.8381 15.748C13.8382 15.7473 13.8384 15.7466 13.8386 15.7458C14.0642 14.9831 14.6608 14.3865 15.4235 14.1609C15.6085 14.1044 15.7234 13.92 15.6928 13.729C15.6981 13.71 15.7019 13.6906 15.7042 13.6709V10.5301C15.7019 10.5104 15.698 10.491 15.6924 10.472C15.7232 10.2809 15.6082 10.0965 15.4231 10.0401C14.6604 9.8145 14.064 9.21769 13.839 8.45476C13.7821 8.26852 13.596 8.15329 13.4039 8.18543C13.3858 8.18038 13.3673 8.1767 13.3486 8.17444H3.92607C3.90629 8.17679 3.88671 8.18072 3.86757 8.18622C3.67661 8.15579 3.49238 8.27068 3.4357 8.45554C3.20991 9.21813 2.61339 9.8145 1.85075 10.0401C1.66579 10.0966 1.55085 10.281 1.58143 10.472C1.57632 10.4911 1.57264 10.5104 1.57043 10.5301V13.6709C1.57269 13.6894 1.57637 13.7076 1.58143 13.7255C1.54923 13.9177 1.66441 14.1041 1.85075 14.1613ZM2.35565 10.6895C3.144 10.3728 3.76883 9.748 4.08546 8.95965H13.1888C13.5056 9.748 14.1306 10.3728 14.919 10.6895V13.5115C14.1309 13.8285 13.5062 14.4532 13.1892 15.2413H4.08546C3.76848 14.4532 3.14375 13.8285 2.35565 13.5115V10.6895Z' fill='%23222222'/%3E%3Cpath d='M8.63731 14.4561C9.9383 14.4561 10.9929 13.4015 10.9929 12.1005C10.9929 10.7995 9.9383 9.74487 8.63731 9.74487C7.33631 9.74487 6.28168 10.7995 6.28168 12.1005C6.28295 13.401 7.33685 14.4549 8.63731 14.4561ZM8.63731 10.5301C9.50462 10.5301 10.2077 11.2332 10.2077 12.1005C10.2077 12.9678 9.50462 13.6709 8.63731 13.6709C7.76999 13.6709 7.06689 12.9678 7.06689 12.1005C7.06689 11.2332 7.76999 10.5301 8.63731 10.5301Z' fill='%23222222'/%3E%3Cpath d='M4.31864 12.6894C4.64387 12.6894 4.90755 12.4257 4.90755 12.1005C4.90755 11.7753 4.64387 11.5116 4.31864 11.5116C3.99342 11.5116 3.72974 11.7753 3.72974 12.1005C3.72974 12.4258 3.99342 12.6894 4.31864 12.6894ZM4.31864 11.9042C4.42705 11.9042 4.51495 11.9921 4.51495 12.1005C4.51495 12.2089 4.42705 12.2968 4.31864 12.2968C4.21024 12.2968 4.12234 12.2089 4.12234 12.1005C4.12234 11.9921 4.21024 11.9042 4.31864 11.9042Z' fill='%23222222'/%3E%3Cpath d='M12.956 12.6894C13.2812 12.6894 13.5449 12.4257 13.5449 12.1005C13.5449 11.7753 13.2812 11.5116 12.956 11.5116C12.6307 11.5116 12.3671 11.7753 12.3671 12.1005C12.3671 12.4258 12.6307 12.6894 12.956 12.6894ZM12.956 11.9042C13.0644 11.9042 13.1523 11.9921 13.1523 12.1005C13.1523 12.2089 13.0644 12.2968 12.956 12.2968C12.8476 12.2968 12.7597 12.2089 12.7597 12.1005C12.7597 11.9921 12.8476 11.9042 12.956 11.9042Z' fill='%23222222'/%3E%3C/svg%3E");
                    }
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &-radio {
            display: none;
        }

        &-radio + label {
            width: 100%;
            padding: 1.375rem 1.3125rem 1.375rem 3.8125rem;
            border: 3px solid $lightgray;
            border-radius: 15px;

            position: relative;
            transition: 0.4s $cubic;

            white-space: nowrap;

            cursor: pointer;

            &::after {
                position: absolute;
                content: '';

                width: 20px;
                height: 20px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 1.3125rem;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s $cubic;
            }
        }

        &-radio:checked + label {
            padding-left: 4.5625rem;
            border-color: $green;
            transition: 0.4s $cubic;

            &::after {
                left: 2.0625rem;
                transition: 0.4s $cubic;
            }
        }

        &-label {
            @include font-setting($primary-font, 1rem, 1.25rem, 500, $black);
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 30px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2742 3.86694H1.45153C0.771733 3.86694 0.21875 4.41992 0.21875 5.09972V13.6482C0.21875 14.328 0.771733 14.881 1.45153 14.881H14.2742C14.954 14.881 15.507 14.328 15.507 13.6482V5.09972C15.507 4.41992 14.954 3.86694 14.2742 3.86694ZM14.8732 13.6482C14.8732 13.9784 14.6045 14.2472 14.2742 14.2472H1.45153C1.12126 14.2472 0.85254 13.9784 0.85254 13.6482V5.09972C0.85254 4.76944 1.12126 4.50072 1.45153 4.50072H14.2742C14.6045 4.50072 14.8732 4.76944 14.8732 5.09972V13.6482Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.19937 7.2251H2.97817C2.46671 7.2251 2.05069 7.64115 2.05069 8.15257V8.76317C2.05069 9.27465 2.46671 9.69067 2.97817 9.69067H4.19937C4.71082 9.69067 5.12685 9.2746 5.12685 8.76317V8.15257C5.12685 7.64112 4.7108 7.2251 4.19937 7.2251ZM3.27187 9.05692H2.97817C2.81625 9.05692 2.68447 8.92515 2.68447 8.76322V8.15257C2.68447 7.99065 2.81627 7.85887 2.97817 7.85887H3.27187V9.05692ZM4.4931 8.76317C4.4931 8.9251 4.3613 9.05687 4.1994 9.05687H3.9057V7.85885H4.1994C4.3613 7.85887 4.4931 7.99065 4.4931 8.15257V8.76317Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M4.1994 10.5835H2.36758C2.19257 10.5835 2.05069 10.7253 2.05069 10.9004C2.05069 11.0754 2.19257 11.2173 2.36758 11.2173H4.1994C4.3744 11.2173 4.5163 11.0754 4.5163 10.9004C4.5163 10.7253 4.3744 10.5835 4.1994 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M7.25222 10.5835H5.42039C5.24539 10.5835 5.10352 10.7253 5.10352 10.9004C5.10352 11.0754 5.24539 11.2173 5.42039 11.2173H7.25222C7.42724 11.2173 7.56912 11.0754 7.56912 10.9004C7.56912 10.7253 7.42724 10.5835 7.25222 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M8.4736 12.1099H2.36758C2.19257 12.1099 2.05069 12.2517 2.05069 12.4268C2.05069 12.6018 2.19257 12.7437 2.36758 12.7437H8.47363C8.64865 12.7437 8.79053 12.6018 8.79053 12.4268C8.79053 12.2517 8.64865 12.1099 8.4736 12.1099Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M10.3053 10.5835H8.47346C8.29843 10.5835 8.15656 10.7253 8.15656 10.9004C8.15656 11.0754 8.29843 11.2173 8.47346 11.2173H10.3053C10.4803 11.2173 10.6222 11.0754 10.6222 10.9004C10.6222 10.7253 10.4803 10.5835 10.3053 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M13.3583 10.5835H11.5265C11.3515 10.5835 11.2096 10.7253 11.2096 10.9004C11.2096 11.0754 11.3515 11.2173 11.5265 11.2173H13.3583C13.5333 11.2173 13.6752 11.0754 13.6752 10.9004C13.6752 10.7253 13.5333 10.5835 13.3583 10.5835Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M12.137 5.69872C11.6397 5.69872 11.197 5.93621 10.9158 6.30329C10.6346 5.93619 10.192 5.69872 9.69463 5.69872C8.84648 5.69872 8.15656 6.38866 8.15656 7.23681C8.15656 8.08494 8.84653 8.77489 9.69463 8.77489C10.192 8.77489 10.6346 8.53739 10.9158 8.17031C11.1971 8.53741 11.6397 8.77489 12.137 8.77489C12.9852 8.77489 13.6751 8.08494 13.6751 7.23681C13.6751 6.38866 12.9852 5.69872 12.137 5.69872ZM9.6946 8.14109C9.19598 8.14109 8.79031 7.73539 8.79031 7.23681C8.79031 6.73821 9.19603 6.33251 9.6946 6.33251C10.1932 6.33251 10.5989 6.73821 10.5989 7.23681C10.5989 7.73539 10.1932 8.14109 9.6946 8.14109ZM12.137 8.14109C11.6384 8.14109 11.2327 7.73539 11.2327 7.23681C11.2327 6.73821 11.6384 6.33251 12.137 6.33251C12.6356 6.33251 13.0413 6.73821 13.0413 7.23681C13.0413 7.73539 12.6356 8.14109 12.137 8.14109Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3Cpath d='M18.5485 1.11916H5.72578C5.04598 1.11916 4.49295 1.67213 4.49295 2.35193V2.96253C4.49295 3.13758 4.63483 3.27943 4.80985 3.27943H19.1475V4.47748H16.4114C16.2364 4.47748 16.0944 4.61933 16.0944 4.79438C16.0944 4.96943 16.2364 5.11128 16.4114 5.11128H19.1475V10.9004C19.1475 11.2307 18.8787 11.4994 18.5485 11.4994H16.4113C16.2363 11.4994 16.0944 11.6412 16.0944 11.8163C16.0944 11.9913 16.2363 12.1332 16.4113 12.1332H18.5485C19.2283 12.1332 19.7812 11.5802 19.7812 10.9004V2.35193C19.7812 1.67216 19.2283 1.11916 18.5485 1.11916ZM19.1475 2.64563H5.12678V2.35193C5.12678 2.02171 5.39553 1.75293 5.7258 1.75293H18.5485C18.8787 1.75293 19.1475 2.02168 19.1475 2.35193V2.64563Z' fill='%23222222' stroke='%23222222' stroke-width='0.25'/%3E%3C/svg%3E");

                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__description {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.25rem;
    }

    &__delivery {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.875rem;

        &-item {
            @include flex-setting(column, center, center);
            width: 100%;
            max-width: 586px;

            margin-bottom: 1.875rem;

            &:last-of-type {
                margin-bottom: 0;

                label {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.75781C0 2.40234 0 3.04688 0 3.69141C0 5.53516 1.49609 7.03125 3.33984 7.03125C5.07812 7.03125 6.51953 5.69922 6.66797 3.98438H7.57812C7.90234 3.98438 8.16406 3.72266 8.16406 3.39844C8.16406 3.07422 7.90234 2.8125 7.57812 2.8125H6.67969V1.75781C6.67969 0.789062 5.89062 0 4.92188 0H1.75781C0.789062 0 0 0.789062 0 1.75781ZM0 11.543V19.4141C0 19.7383 0.261719 20 0.585938 20H5.97656C6.24609 19.9453 6.44531 19.6992 6.44531 19.4141V14.9883L6.96875 15.5156C7.37109 15.9219 7.90625 16.0547 8.44531 16.0547H13.3672C14.3359 16.0547 15.125 15.2656 15.125 14.2969C15.125 13.3281 14.3359 12.5391 13.3672 12.5391H8.97266L5.82031 9.3125C5.51172 8.96875 5.13281 8.6875 4.70312 8.49609C2.5 7.5 0 9.13672 0 11.543ZM15.125 10.0391V5.85938C15.125 5.53516 14.8633 5.27344 14.5391 5.27344C13.1328 5.27344 11.7266 5.27344 10.3203 5.27344C9.99609 5.27344 9.73438 5.53516 9.73438 5.85938V10.0391C9.73438 10.3633 9.99609 10.625 10.3203 10.625H14.5391C14.8633 10.625 15.125 10.3633 15.125 10.0391Z' fill='%23222222'/%3E%3C/svg%3E");
                    }
                }
            }

            &:first-of-type {
                label {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7442 7.8213L10.2706 0.182392C9.96188 -0.0660068 9.48716 -0.0599521 9.18714 0.196064L0.239758 7.83494C0.0865954 7.96572 0 8.1456 0 8.3333V19.3055C0 19.6891 0.353398 20 0.789482 20H7.36841C7.80446 20 8.1579 19.6891 8.1579 19.3055V14.2129H11.8421V19.3055C11.8421 19.6891 12.1955 20 12.6316 20H19.2105C19.6466 20 20 19.6893 20 19.3055V8.33333C20 8.13865 19.9074 7.95302 19.7442 7.8213Z' fill='%23222222'/%3E%3C/svg%3E");
                    }
                }
            }
        }

        &-radio {
            display: none;
        }

        &-radio + label {
            width: 100%;
            padding: 1.375rem 1.3125rem 1.375rem 3.8125rem;
            border: 3px solid $lightgray;
            border-radius: 15px;

            position: relative;
            transition: 0.4s $cubic;

            white-space: nowrap;

            cursor: pointer;

            &::after {
                position: absolute;
                content: '';

                width: 20px;
                height: 20px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 1.3125rem;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s $cubic;
            }
        }

        &-radio:checked + label {
            padding-left: 4.5625rem;
            border-color: $green;
            transition: 0.4s $cubic;

            &::after {
                left: 2.0625rem;
                transition: 0.4s $cubic;
            }
        }

        &-label {
            @include font-setting($primary-font, 1rem, 1.25rem, 500, $black);
        }
    }

    &__btn {
        width: 100%;

        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.9375rem, 1.25rem, 800, $white);

        text-transform: uppercase;
        text-align: center;

        border: none;
        border-radius: 40px;

        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);

        cursor: pointer;

        padding: 1.25rem 0;
        margin-top: 3.125rem;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }
}

@include min-screen(768px) {
    .cart-info {
        grid-template-columns: 1fr;
        max-width: 586px;

        &.active {
            display: grid;
        }

        &__method {
            &-item--cardOnline,
            &-item--cardCourier {
                background-image: url('../images/content/payments.png');
                background-position: right 1.5rem top 1.25rem;
                background-size: 275px 33px;
                background-repeat: no-repeat;
            }
        }

        &__description {
            font-size: 1rem;
            line-height: 1.875rem;
            margin-bottom: 1.875rem;
        }

        &__btn {
            max-width: 476px;
            font-size: 1.125rem;
            padding: 1.875rem 0;
        }
    }
}

@include min-screen(1366px) {
    .cart-info {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        justify-content: space-between;
        align-items: start;

        position: relative;

        margin-bottom: 8.75rem;

        &::after {
            position: absolute;
            content: '';

            width: 1px;
            height: 100%;

            border-left: 1px dashed $lightgray;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }

        &__item {
            max-width: 588px;
            align-items: flex-start;

            &--payment {
                margin-bottom: 0;
            }

            &--delivery {
                margin-left: auto;
            }
        }

        &__subtitle {
            margin-bottom: 2.5rem;
        }

        &__method {
            margin-bottom: 3.125rem;

            &-item--cardOnline,
            &-item--cardCourier {
                background-position: right 1.5rem center;
                background-size: 200px 24px;
            }

            &-radio + label {
                padding-left: 5.125rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 1.25rem;
                line-height: 1.25rem;

                &::after {
                    width: 30px;
                    height: 30px;
                    left: 2rem;
                }
            }

            &-radio:checked + label {
                padding-left: 5.125rem;

                &::after {
                    left: 2rem;
                }
            }
        }

        &__description {
            text-align: left;
        }

        &__delivery {
            margin-bottom: 3.125rem;
        }

        &__delivery-radio + label {
            padding-left: 5.125rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-size: 1.25rem;
            line-height: 1.25rem;

            &::after {
                width: 30px;
                height: 30px;
                left: 2rem;
            }
        }

        &__delivery-radio:checked + label {
            padding-left: 5.125rem;

            &::after {
                left: 2rem;
            }
        }
    }
}
