.cashback {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 6.25rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3.125rem;

        position: relative;

        padding-top: 5rem;

        &::after {
            position: absolute;
            content: '';

            width: 60px;
            height: 60px;

            top: 0;
            left: 50%;
            transform: translateX(-50%);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.8877 44.5292C79.8875 44.5288 79.8875 44.5286 79.8873 44.5282L64.783 6.60258C64.4625 5.79676 63.5491 5.40337 62.7432 5.72393C62.7426 5.72413 62.7421 5.72433 62.7415 5.72472L1.4652 30.1243C1.21531 30.2323 0.998592 30.4047 0.837035 30.6237C0.327433 30.8886 0.00549647 31.4127 0 31.9869V72.8178C0 73.6851 0.703156 74.3882 1.57042 74.3882H67.5281C68.3954 74.3882 69.0985 73.6851 69.0985 72.8178V50.5178L79.011 46.5698C79.8167 46.2485 80.2091 45.3349 79.8877 44.5292ZM65.9577 71.2474H3.14084V33.5573H65.9577V71.2474ZM26.2025 30.4243L52.4976 19.9465C54.8444 22.4132 58.0962 23.8152 61.5008 23.8285L64.1234 30.4243H26.2025ZM69.0985 47.1446V31.9869C69.0985 31.1196 68.3954 30.4165 67.5281 30.4165H67.503L64.1753 22.0587C64.1384 21.989 64.0954 21.9226 64.0465 21.8608C63.8781 21.1044 63.1777 20.5884 62.4054 20.6516C59.2375 20.9403 56.1384 19.6059 54.1717 17.1056C53.6823 16.5015 52.8221 16.3514 52.1568 16.7538C52.0822 16.7626 52.0082 16.7764 51.9354 16.7946L19.8328 29.5778C19.4444 29.7302 19.1336 30.0323 18.9707 30.4165H9.22151L62.4462 9.22362L76.39 44.2362L69.0985 47.1446Z' fill='%234BAF50'/%3E%3Cpath d='M7.40253 60.6447C10.4515 61.5459 12.8374 63.9288 13.7423 66.9766C13.9408 67.6419 14.5527 68.0977 15.2468 68.0979C15.3282 68.0928 15.4091 68.0806 15.4886 68.0618C15.5591 68.0818 15.6311 68.0965 15.7038 68.1057H53.3939C53.4587 68.0973 53.5227 68.0842 53.5855 68.0665C54.3701 68.2573 55.1608 67.7762 55.3518 66.9915C55.3524 66.9886 55.3532 66.9858 55.3538 66.9829C56.2564 63.932 58.6426 61.5457 61.6936 60.6431C62.4334 60.4169 62.8932 59.6796 62.7709 58.9156C62.7919 58.8395 62.807 58.7617 62.8164 58.6832V46.1198C62.8072 46.0411 62.7915 45.9634 62.7693 45.8874C62.8924 45.1232 62.4324 44.3855 61.692 44.1599C58.641 43.2575 56.2554 40.8703 55.3553 37.8185C55.128 37.0736 54.3834 36.6127 53.6153 36.7412C53.5427 36.721 53.4687 36.7063 53.3939 36.6973H15.7038C15.6247 36.7067 15.5463 36.7224 15.4698 36.7444C14.706 36.6227 13.9691 37.0822 13.7423 37.8217C12.8391 40.872 10.4531 43.2575 7.40253 44.1599C6.66267 44.3861 6.20293 45.1234 6.32522 45.8874C6.30481 45.9637 6.29008 46.0413 6.28125 46.1198V58.6832C6.29028 58.757 6.305 58.83 6.32522 58.9015C6.19645 59.6704 6.65717 60.416 7.40253 60.6447ZM9.42209 46.7574C12.5755 45.4909 15.0748 42.9915 16.3414 39.8381H52.7547C54.0219 42.9915 56.5218 45.4909 59.6756 46.7574V58.0456C56.5231 59.3135 54.0242 61.8125 52.7563 64.9649H16.3414C15.0734 61.8125 12.5745 59.3135 9.42209 58.0456V46.7574Z' fill='%234BAF50'/%3E%3Cpath d='M34.5495 61.8245C39.7535 61.8245 43.972 57.606 43.972 52.402C43.972 47.198 39.7535 42.9795 34.5495 42.9795C29.3455 42.9795 25.127 47.198 25.127 52.402C25.1321 57.6038 29.3477 61.8194 34.5495 61.8245ZM34.5495 46.1203C38.0187 46.1203 40.8312 48.9328 40.8312 52.402C40.8312 55.8713 38.0187 58.6837 34.5495 58.6837C31.0802 58.6837 28.2678 55.8713 28.2678 52.402C28.2678 48.9328 31.0802 46.1203 34.5495 46.1203Z' fill='%234BAF50'/%3E%3Cpath d='M17.2736 54.7581C18.5745 54.7581 19.6292 53.7034 19.6292 52.4025C19.6292 51.1016 18.5745 50.0469 17.2736 50.0469C15.9727 50.0469 14.918 51.1016 14.918 52.4025C14.918 53.7036 15.9727 54.7581 17.2736 54.7581ZM17.2736 51.6173C17.7072 51.6173 18.0588 51.9689 18.0588 52.4025C18.0588 52.8361 17.7072 53.1877 17.2736 53.1877C16.84 53.1877 16.4884 52.8361 16.4884 52.4025C16.4884 51.9689 16.84 51.6173 17.2736 51.6173Z' fill='%234BAF50'/%3E%3Cpath d='M51.8244 54.7581C53.1253 54.7581 54.18 53.7034 54.18 52.4025C54.18 51.1016 53.1253 50.0469 51.8244 50.0469C50.5235 50.0469 49.4688 51.1016 49.4688 52.4025C49.4688 53.7036 50.5235 54.7581 51.8244 54.7581ZM51.8244 51.6173C52.258 51.6173 52.6096 51.9689 52.6096 52.4025C52.6096 52.8361 52.258 53.1877 51.8244 53.1877C51.3907 53.1877 51.0392 52.8361 51.0392 52.4025C51.0392 51.9689 51.3907 51.6173 51.8244 51.6173Z' fill='%234BAF50'/%3E%3C/svg%3E");
        }
    }

    &__content {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;
    }

    &__filter {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        position: relative;
        margin-bottom: 1.5rem;

        &::after {
            position: absolute;
            content: '';

            width: 148%;
            height: 1px;
            left: 0;
            bottom: 0;

            background-color: $lightgray;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

        &-item {
            width: auto;
            flex: none;
            scroll-snap-align: start;
            scroll-margin-left: 1.25rem;
            scroll-margin-right: 1.25rem;
            margin-right: 2.5rem;

            &:last-of-type {
                margin-right: 0;
            }

            &.first {
                max-width: 206px;
            }

            &.second {
                max-width: 250px;
            }

            &.active {
                .cashback__filter-btn {
                    align-items: center;
                    transition: 0.4s $cubic;

                    color: $black;

                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                        transition: 0.4s $cubic;
                    }
                }
            }
        }

        &-btn {
            width: 100%;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 1rem, 1.25rem, 700, $darkgray);
            background-color: transparent;
            border: none;
            position: relative;
            padding: 0.625rem 0;

            text-align: center;

            cursor: pointer;

            &:after {
                position: absolute;
                content: '';

                width: 100%;
                height: 3px;

                background-color: $lightgreen;
                bottom: -0.0625rem;
                left: 0;

                transform: scaleX(0);
                transform-origin: left;
                transition: 0.4s $cubic;

                z-index: 1;
            }
        }
    }

    &__body {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;

        &-item {
            width: 100%;

            @include flex-setting(column, flex-start, center);

            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__steps {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &-item {
            @include flex-setting(column, flex-end, center);
            width: 100%;
            max-width: 335px;
            height: 360px;

            border: 1px solid $lightgray;

            padding: 3.125rem 0.875rem;
            margin-bottom: 6.25rem;
            position: relative;

            &::before {
                position: absolute;
                content: '';

                width: 80px;
                height: 80px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                position: absolute;
                content: '';

                width: 50px;
                height: 50px;

                background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.7129 36.2869L36.4856 34.0598L26.5747 43.9706L26.5747 0L23.4249 0L23.4249 43.9706L13.5141 34.0598L11.2868 36.2869L24.9999 50L38.7129 36.2869Z' fill='%23C4C4C4'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                bottom: -5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            &:first-of-type {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_451_25018)'%3E%3Cpath d='M10.5927 36.4001L7.03003 50.6665H5.40649C3.19702 50.6665 1.40625 52.4573 1.40625 54.6667C1.40625 56.8756 3.19702 58.6664 5.40649 58.6664H7.03308L10.6061 72.9333C11.6406 77.0898 15.376 80.0061 19.6594 80H60.4999C64.7833 80.0061 68.5187 77.0898 69.5532 72.9333L73.1128 58.6664H74.7394C76.9489 58.6664 78.7396 56.8756 78.7396 54.6667C78.7396 52.4573 76.9489 50.6665 74.7394 50.6665H73.114L69.5514 36.4001C68.5162 32.2443 64.7821 29.3292 60.4999 29.3335H47.9663C51.4368 24.3573 54.7394 18.5974 54.7394 14.6667C54.7394 6.56677 48.1732 0 40.0726 0C31.9727 0 25.4065 6.56677 25.4065 14.6667C25.4065 18.5974 28.7091 24.3573 32.182 29.3335H19.649C15.365 29.3286 11.6296 32.2437 10.5927 36.4001ZM66.9611 72.2839C66.2219 75.2539 63.5535 77.337 60.4932 77.3334H19.6527C16.5924 77.337 13.9233 75.2527 13.1848 72.2827L9.78088 58.6664H70.365L66.9611 72.2839ZM76.073 54.6667C76.073 55.4028 75.4761 55.9998 74.7394 55.9998H5.40649C4.6698 55.9998 4.07288 55.4028 4.07288 54.6667C4.07288 53.9301 4.6698 53.3331 5.40649 53.3331H74.7394C75.4761 53.3331 76.073 53.9301 76.073 54.6667ZM40.0726 2.66663C46.6974 2.67395 52.0654 8.04199 52.0728 14.6667C52.0728 18.2666 47.973 25.4962 41.1047 34.0002C40.8453 34.2987 40.4688 34.4708 40.0726 34.4708C39.6771 34.4708 39.3005 34.2987 39.0411 34.0002C32.1729 25.4962 28.0731 18.2666 28.0731 14.6667C28.0804 8.04199 33.4485 2.67395 40.0726 2.66663ZM36.1554 34.6667H33.4064C32.6697 34.6667 32.0728 35.2637 32.0728 35.9998C32.0728 36.7365 32.6697 37.3334 33.4064 37.3334H46.7395C47.4762 37.3334 48.0731 36.7365 48.0731 35.9998C48.0731 35.2637 47.4762 34.6667 46.7395 34.6667H43.9905C44.6368 33.8495 45.3235 32.9504 46.0382 32.0001H60.4999C63.5565 31.9971 66.2231 34.0771 66.9647 37.0428L70.3662 50.6665H9.77966L13.1793 37.0441C13.924 34.079 16.5894 31.9995 19.646 32.0001H34.1077C34.8169 32.9504 35.509 33.8495 36.1554 34.6667Z' fill='%234BAF50'/%3E%3Cpath d='M34.4998 68.9896C34.9014 70.0053 35.8841 70.6705 36.976 70.6669H43.1705C44.2618 70.6705 45.2444 70.0059 45.6467 68.9909L47.2464 64.9912C47.5754 64.1697 47.4753 63.2383 46.9791 62.5053C46.4828 61.7728 45.6552 61.3334 44.7708 61.334H35.3757C34.4906 61.3334 33.6636 61.7728 33.1674 62.5053C32.6712 63.2383 32.5711 64.1697 32.9001 64.9912L34.4998 68.9896ZM44.769 64.0006L43.1692 68.0002H36.9772L35.3775 64.0006H44.769Z' fill='%234BAF50'/%3E%3Cpath d='M17.406 45.333H14.7393C14.0033 45.333 13.4062 45.9299 13.4062 46.6666C13.4062 47.4027 14.0033 47.9996 14.7393 47.9996H17.406C18.1427 47.9996 18.7396 47.4027 18.7396 46.6666C18.7396 45.9299 18.1427 45.333 17.406 45.333Z' fill='%234BAF50'/%3E%3Cpath d='M22.7399 47.9996H65.4065C66.1426 47.9996 66.7395 47.4027 66.7395 46.6666C66.7395 45.9299 66.1426 45.333 65.4065 45.333H22.7399C22.0033 45.333 21.4062 45.9299 21.4062 46.6666C21.4062 47.4027 22.0033 47.9996 22.7399 47.9996Z' fill='%234BAF50'/%3E%3Cpath d='M48.0726 14.6669C48.0726 10.2485 44.4905 6.66699 40.0721 6.66699C35.6544 6.66699 32.0723 10.2485 32.0723 14.6669C32.0723 19.0852 35.6544 22.6667 40.0721 22.6667C44.4886 22.6625 48.0677 19.0834 48.0726 14.6669ZM34.7389 14.6669C34.7389 11.7213 37.1272 9.33362 40.0721 9.33362C43.0177 9.33362 45.406 11.7213 45.406 14.6669C45.406 17.6124 43.0177 20.0001 40.0721 20.0001C37.1272 20.0001 34.7389 17.6124 34.7389 14.6669Z' fill='%234BAF50'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_451_25018'%3E%3Crect width='80' height='80' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    top: 2.625rem;
                }
            }

            &:nth-of-type(2) {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.8877 44.5292C79.8875 44.5288 79.8875 44.5286 79.8873 44.5282L64.783 6.60258C64.4625 5.79676 63.5491 5.40337 62.7432 5.72393C62.7426 5.72413 62.7421 5.72433 62.7415 5.72472L1.4652 30.1243C1.21531 30.2323 0.998592 30.4047 0.837035 30.6237C0.327433 30.8886 0.00549647 31.4127 0 31.9869V72.8178C0 73.6851 0.703156 74.3882 1.57042 74.3882H67.5281C68.3954 74.3882 69.0985 73.6851 69.0985 72.8178V50.5178L79.011 46.5698C79.8167 46.2485 80.2091 45.3349 79.8877 44.5292ZM65.9577 71.2474H3.14084V33.5573H65.9577V71.2474ZM26.2025 30.4243L52.4976 19.9465C54.8444 22.4132 58.0962 23.8152 61.5008 23.8285L64.1234 30.4243H26.2025ZM69.0985 47.1446V31.9869C69.0985 31.1196 68.3954 30.4165 67.5281 30.4165H67.503L64.1753 22.0587C64.1384 21.989 64.0954 21.9226 64.0465 21.8608C63.8781 21.1044 63.1777 20.5884 62.4054 20.6516C59.2375 20.9403 56.1384 19.6059 54.1717 17.1056C53.6823 16.5015 52.8221 16.3514 52.1568 16.7538C52.0822 16.7626 52.0082 16.7764 51.9354 16.7946L19.8328 29.5778C19.4444 29.7302 19.1336 30.0323 18.9707 30.4165H9.22151L62.4462 9.22362L76.39 44.2362L69.0985 47.1446Z' fill='%234BAF50'/%3E%3Cpath d='M7.40253 60.6447C10.4515 61.5459 12.8374 63.9288 13.7423 66.9766C13.9408 67.6419 14.5527 68.0977 15.2468 68.0979C15.3282 68.0928 15.4091 68.0806 15.4886 68.0618C15.5591 68.0818 15.6311 68.0965 15.7038 68.1057H53.3939C53.4587 68.0973 53.5227 68.0842 53.5855 68.0665C54.3701 68.2573 55.1608 67.7762 55.3518 66.9915C55.3524 66.9886 55.3532 66.9858 55.3538 66.9829C56.2564 63.932 58.6426 61.5457 61.6936 60.6431C62.4334 60.4169 62.8932 59.6796 62.7709 58.9156C62.7919 58.8395 62.807 58.7617 62.8164 58.6832V46.1198C62.8072 46.0411 62.7915 45.9634 62.7693 45.8874C62.8924 45.1232 62.4324 44.3855 61.692 44.1599C58.641 43.2575 56.2554 40.8703 55.3553 37.8185C55.128 37.0736 54.3834 36.6127 53.6153 36.7412C53.5427 36.721 53.4687 36.7063 53.3939 36.6973H15.7038C15.6247 36.7067 15.5463 36.7224 15.4698 36.7444C14.706 36.6227 13.9691 37.0822 13.7423 37.8217C12.8391 40.872 10.4531 43.2575 7.40253 44.1599C6.66267 44.3861 6.20293 45.1234 6.32522 45.8874C6.30481 45.9637 6.29008 46.0413 6.28125 46.1198V58.6832C6.29028 58.757 6.305 58.83 6.32522 58.9015C6.19645 59.6704 6.65717 60.416 7.40253 60.6447ZM9.42209 46.7574C12.5755 45.4909 15.0748 42.9915 16.3414 39.8381H52.7547C54.0219 42.9915 56.5218 45.4909 59.6756 46.7574V58.0456C56.5231 59.3135 54.0242 61.8125 52.7563 64.9649H16.3414C15.0734 61.8125 12.5745 59.3135 9.42209 58.0456V46.7574Z' fill='%234BAF50'/%3E%3Cpath d='M34.5495 61.8245C39.7535 61.8245 43.972 57.606 43.972 52.402C43.972 47.198 39.7535 42.9795 34.5495 42.9795C29.3455 42.9795 25.127 47.198 25.127 52.402C25.1321 57.6038 29.3477 61.8194 34.5495 61.8245ZM34.5495 46.1203C38.0187 46.1203 40.8312 48.9328 40.8312 52.402C40.8312 55.8713 38.0187 58.6837 34.5495 58.6837C31.0802 58.6837 28.2678 55.8713 28.2678 52.402C28.2678 48.9328 31.0802 46.1203 34.5495 46.1203Z' fill='%234BAF50'/%3E%3Cpath d='M17.2736 54.7581C18.5745 54.7581 19.6292 53.7034 19.6292 52.4025C19.6292 51.1016 18.5745 50.0469 17.2736 50.0469C15.9727 50.0469 14.918 51.1016 14.918 52.4025C14.918 53.7036 15.9727 54.7581 17.2736 54.7581ZM17.2736 51.6173C17.7072 51.6173 18.0588 51.9689 18.0588 52.4025C18.0588 52.8361 17.7072 53.1877 17.2736 53.1877C16.84 53.1877 16.4884 52.8361 16.4884 52.4025C16.4884 51.9689 16.84 51.6173 17.2736 51.6173Z' fill='%234BAF50'/%3E%3Cpath d='M51.8244 54.7581C53.1253 54.7581 54.18 53.7034 54.18 52.4025C54.18 51.1016 53.1253 50.0469 51.8244 50.0469C50.5235 50.0469 49.4688 51.1016 49.4688 52.4025C49.4688 53.7036 50.5235 54.7581 51.8244 54.7581ZM51.8244 51.6173C52.258 51.6173 52.6096 51.9689 52.6096 52.4025C52.6096 52.8361 52.258 53.1877 51.8244 53.1877C51.3907 53.1877 51.0392 52.8361 51.0392 52.4025C51.0392 51.9689 51.3907 51.6173 51.8244 51.6173Z' fill='%234BAF50'/%3E%3C/svg%3E");
                    top: 2.1875rem;
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                &::after {
                    display: none;
                }

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='79' height='56' viewBox='0 0 79 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56.5969 11.4678H5.30614C2.58693 11.4678 0.375 13.6797 0.375 16.3989V50.5928C0.375 53.312 2.58693 55.5239 5.30614 55.5239H56.5968C59.316 55.5239 61.5281 53.312 61.5281 50.5928V16.3989C61.5281 13.6797 59.3161 11.4678 56.5969 11.4678ZM58.9929 50.5928C58.9929 51.9137 57.9179 52.9888 56.5968 52.9888H5.30614C3.98504 52.9888 2.91016 51.9137 2.91016 50.5928V16.3989C2.91016 15.0778 3.98504 14.0029 5.30614 14.0029H56.5968C57.9179 14.0029 58.9929 15.0778 58.9929 16.3989V50.5928Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M16.2979 24.9004H11.4131C9.36722 24.9004 7.70312 26.5646 7.70312 28.6103V31.0527C7.70312 33.0986 9.36722 34.7627 11.4131 34.7627H16.2979C18.3437 34.7627 20.0078 33.0984 20.0078 31.0527V28.6103C20.0078 26.5645 18.3436 24.9004 16.2979 24.9004ZM12.5879 32.2277H11.4131C10.7654 32.2277 10.2383 31.7006 10.2383 31.0529V28.6103C10.2383 27.9626 10.7655 27.4355 11.4131 27.4355H12.5879V32.2277ZM17.4728 31.0527C17.4728 31.7004 16.9456 32.2275 16.298 32.2275H15.1232V27.4354H16.298C16.9456 27.4355 17.4728 27.9626 17.4728 28.6103V31.0527Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M16.298 38.334H8.9707C8.27066 38.334 7.70312 38.9014 7.70312 39.6016C7.70312 40.3018 8.27066 40.8691 8.9707 40.8691H16.298C16.998 40.8691 17.5656 40.3018 17.5656 39.6016C17.5656 38.9014 16.998 38.334 16.298 38.334Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M28.5089 38.334H21.1816C20.4816 38.334 19.9141 38.9014 19.9141 39.6016C19.9141 40.3018 20.4816 40.8691 21.1816 40.8691H28.5089C29.209 40.8691 29.7765 40.3018 29.7765 39.6016C29.7765 38.9014 29.209 38.334 28.5089 38.334Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M33.3948 44.4395H8.97071C8.27067 44.4395 7.70312 45.0068 7.70312 45.707C7.70312 46.4072 8.27067 46.9746 8.97071 46.9746H33.3949C34.095 46.9746 34.6625 46.4072 34.6625 45.707C34.6625 45.0068 34.095 44.4395 33.3948 44.4395Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M40.7218 38.334H33.3946C32.6945 38.334 32.127 38.9014 32.127 39.6016C32.127 40.3018 32.6945 40.8691 33.3946 40.8691H40.7218C41.4219 40.8691 41.9894 40.3018 41.9894 39.6016C41.9894 38.9014 41.4219 38.334 40.7218 38.334Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M52.9327 38.334H45.6054C44.9054 38.334 44.3379 38.9014 44.3379 39.6016C44.3379 40.3018 44.9054 40.8691 45.6054 40.8691H52.9327C53.6328 40.8691 54.2003 40.3018 54.2003 39.6016C54.2003 38.9014 53.6328 38.334 52.9327 38.334Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M48.0488 18.7949C46.0594 18.7949 44.2889 19.7449 43.1641 21.2132C42.039 19.7448 40.2686 18.7949 38.2793 18.7949C34.8867 18.7949 32.127 21.5547 32.127 24.9473C32.127 28.3398 34.8869 31.0996 38.2793 31.0996C40.2687 31.0996 42.0392 30.1496 43.1641 28.6813C44.2891 30.1497 46.0595 31.0996 48.0488 31.0996C51.4414 31.0996 54.2012 28.3398 54.2012 24.9473C54.2012 21.5547 51.4414 18.7949 48.0488 18.7949ZM38.2792 28.5644C36.2847 28.5644 34.662 26.9416 34.662 24.9473C34.662 22.9529 36.2849 21.3301 38.2792 21.3301C40.2735 21.3301 41.8963 22.9529 41.8963 24.9473C41.8963 26.9416 40.2736 28.5644 38.2792 28.5644ZM48.0488 28.5644C46.0544 28.5644 44.4316 26.9416 44.4316 24.9473C44.4316 22.9529 46.0545 21.3301 48.0488 21.3301C50.0431 21.3301 51.666 22.9529 51.666 24.9473C51.666 26.9416 50.0433 28.5644 48.0488 28.5644Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3Cpath d='M73.6948 0.476562H22.404C19.6848 0.476562 17.4727 2.68846 17.4727 5.40766V7.85006C17.4727 8.55026 18.0402 9.11766 18.7403 9.11766H76.0908V13.9099H65.1463C64.4463 13.9099 63.8787 14.4773 63.8787 15.1775C63.8787 15.8777 64.4463 16.4451 65.1463 16.4451H76.0908V39.6016C76.0908 40.9227 75.0159 41.9975 73.6948 41.9975H65.146C64.446 41.9975 63.8784 42.5649 63.8784 43.2651C63.8784 43.9653 64.446 44.5327 65.146 44.5327H73.6948C76.414 44.5327 78.6259 42.3208 78.6259 39.6016V5.40766C78.6259 2.68856 76.414 0.476562 73.6948 0.476562ZM76.0908 6.58246H20.008V5.40766C20.008 4.08676 21.083 3.01166 22.4041 3.01166H73.6948C75.0159 3.01166 76.0908 4.08666 76.0908 5.40766V6.58246Z' fill='%234BAF50' stroke='%234BAF50' stroke-width='0.25'/%3E%3C/svg%3E%0A");
                    top: 2.1875rem;
                }
            }

            .cashback__description {
                line-height: 1.875rem;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    &__name {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
        margin-bottom: 1.25rem;
        text-align: center;
    }

    &__description {
        @include font-setting($secondary-font, 1rem, 1.25rem, 400, $darkgray);
        text-align: left;

        margin-bottom: 2.5rem;
    }

    &__block {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 1.875rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        @include font-setting($primary-font, 1rem, 1.25rem, 700, $darkgray);
        text-align: left;
        margin-bottom: 0.625rem;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: 1.875rem;

        &-item {
            width: 100%;
            position: relative;
            display: inline-flex;

            padding-left: 1.875rem;
            margin-bottom: 0.625rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            &::after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 5px;

                background-color: $gold;

                left: 0;
                top: 4px;
            }

            span {
                @include font-setting($primary-font, 0.875rem, 1.25rem, 400, $darkgray);
                text-align: left;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@include min-screen(768px) {
    .cashback {
        padding: 0 2.5rem;
        margin-bottom: 7.5rem;

        &__wrapper {
            align-items: flex-start;
        }

        &__title {
            font-size: 2.25rem;
            line-height: 3.75rem;
            text-align: left;
            margin-bottom: 5rem;
            padding-top: 0;
            padding-left: 5.625rem;

            &::after {
                top: 0;
                left: 0;
                transform: none;
            }
        }

        &__filter {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 2rem;

            &::after {
                width: 158%;
                left: 0;
            }

            &-item {
                margin-right: 5rem;

                &:last-of-type {
                    margin-right: 0;
                }

                &.first {
                    max-width: 406px;
                }

                &.second {
                    max-width: 605px;
                }
            }

            &-btn {
                font-size: 1.5rem;
                line-height: 1.875rem;
                padding: 1.25rem 0;

                text-align: left;
            }
        }

        &__content {
            padding: 0;
        }

        &__steps {
            &-item {
                max-width: 406px;
                height: 400px;

                padding: 3.125rem 3.125rem;
                margin-bottom: 6.25rem;

                &:first-of-type {
                    &::before {
                        top: 3.125rem;
                    }
                }

                &:nth-of-type(2) {
                    &::before {
                        top: 3.125rem;
                    }
                }

                &:last-of-type {
                    &::before {
                        top: 3.125rem;
                    }
                }

                .cashback__description {
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }

        &__description {
            font-weight: 1.875rem;
        }

        &__block {
            margin-bottom: 2.5rem;
        }

        &__subtitle {
            font-size: 1.125rem;
            margin-bottom: 1.25rem;
        }

        &__list {
            margin-bottom: 0;

            &-item {
                padding-left: 1.25rem;

                span {
                    font-size: 1rem;
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .cashback {
        margin-bottom: 9.875rem;

        &__wrapper {
            align-items: flex-start;
            max-width: 1440px;
        }

        &__title {
            font-size: 2.875rem;
            margin-bottom: 5rem;
        }

        &__filter {
            margin-bottom: 2.5rem;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &::after {
                width: 100%;
                left: 0;
            }

            &-item {
                &.first {
                    max-width: 100%;
                }

                &.second {
                    max-width: 100%;
                }
            }
        }

        &__body {
            padding: 0;
        }

        &__steps {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            &-item {
                margin-bottom: 0;

                &:first-of-type {
                    &::after {
                        left: auto;
                        transform: translateX(0) translateY(-50%) rotate(270deg);
                        top: 50%;

                        right: -5rem;
                    }
                }

                &:nth-of-type(2) {
                    &::after {
                        left: auto;
                        transform: translateX(0) translateY(-50%) rotate(270deg);
                        top: 50%;

                        right: -5rem;
                    }
                }
            }
        }
    }
}
