.choose {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 7.25rem;

    &__wrapper {
        width: 100%;

        padding: 0 1.25rem;

        @include flex-setting(column, flex-start, center);
    }

    &--shop {
        margin-bottom: 6.25rem;

        .choose__title {
            text-align: left;
        }

        .choose__description {
            text-align: left;

            &:last-of-type {
                margin-bottom: 0.625rem;
            }
        }

        .choose__list {
            align-items: flex-start;
        }

        .choose__item {
            align-items: flex-start;
            margin-bottom: 0.125rem;
            padding-left: 0.75rem;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: $gold;
                left: 0;
                top: 8px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .choose__about {
            text-align: left;
            line-height: 1.25rem;
            margin-bottom: 0;
        }
    }

    &--personal {
        .choose__info {
            margin-bottom: 3.125rem;
        }

        .choose__description {
            margin-bottom: 0;
        }

        .choose__contacts {
            width: 100%;
            @include flex-setting(column, flex-start, center);
        }

        .faq__contacts-link {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        .faq__contacts-link--tg,
        .faq__contacts-link--wa {
            width: 30px;
            height: 30px;
        }

        .faq__callback {
            margin-right: 0;
        }
    }

    &__frame {
        display: none;
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

    &__description {
        @include font-setting($primary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.75rem;
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 2.25rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        display: block;
        width: 50px;
        height: 50px;

        margin-bottom: 1.25rem;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        &--1 {
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.684 6.65165C49.4103 6.29107 48.9959 6.08119 48.5577 6.08119H10.1711L9.09766 1.1784C8.94658 0.488632 8.36387 0 7.69229 0H1.44229C0.645801 0 0 0.680708 0 1.52035C0 2.35999 0.645801 3.04059 1.44229 3.04059H6.54492L13.8313 36.3216C13.9822 37.0114 14.565 37.5 15.2366 37.5H44.1346C44.9312 37.5 45.5769 36.8193 45.5769 35.9798C45.5769 35.1401 44.9311 34.4595 44.1346 34.4595H16.3841L15.2747 29.3919H44.2309C44.9055 29.3919 45.4899 28.8991 45.638 28.2054L49.9648 7.93515C50.061 7.4845 49.9577 7.01234 49.684 6.65165ZM43.077 26.3513H14.609L10.8368 9.12168H46.7548L43.077 26.3513Z' fill='%23222222'/%3E%3Cpath d='M20.926 40C18.1355 40 15.8652 42.243 15.8652 45C15.8652 47.757 18.1354 50 20.926 50C23.7164 50 25.9867 47.757 25.9867 45C25.9867 42.243 23.7165 40 20.926 40ZM20.926 47.2728C19.6575 47.2728 18.6257 46.2532 18.6257 45C18.6257 43.7468 19.6575 42.7273 20.926 42.7273C22.1944 42.7273 23.2262 43.7468 23.2262 45C23.2262 46.2532 22.1944 47.2728 20.926 47.2728Z' fill='%23222222'/%3E%3Cpath d='M37.4885 40C34.698 40 32.4277 42.243 32.4277 45C32.4277 47.757 34.6979 50 37.4885 50C40.2789 50 42.5492 47.757 42.5492 45C42.5492 42.243 40.279 40 37.4885 40ZM37.4885 47.2728C36.2201 47.2728 35.1882 46.2533 35.1882 45.0001C35.1882 43.7469 36.2201 42.7274 37.4885 42.7274C38.7569 42.7274 39.7887 43.7469 39.7887 45.0001C39.7887 46.2533 38.7569 47.2728 37.4885 47.2728Z' fill='%23222222'/%3E%3C/svg%3E%0A");
        }

        &--2 {
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_1218)'%3E%3Cpath d='M45.7351 11.0788V5.49268H35.7268V11.0787H32.0047V5.49268H21.9965V11.0787H17.4023V26.318H13.9409V20.7139H3.93273V26.318H0V44.5069H50V11.0787H45.7351V11.0788ZM38.6763 8.44222H42.7855V11.0787H38.6763V8.44222ZM24.9461 8.44222H29.0552V11.0787H24.9461V8.44222ZM6.88227 23.6635H10.9914V26.3181H6.88227V23.6635ZM31.4618 41.5575H2.94954V29.2677H31.4618V41.5575ZM47.0504 41.5575H34.4114V29.2677H47.0504V41.5575ZM20.3519 26.3181V14.0284H47.0504V26.3181H20.3519Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_1218'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        &--3 {
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_1226)'%3E%3Cpath d='M48.5352 25H47.0269C47.0552 24.5073 47.0703 24.0181 47.0703 23.5352C47.0703 17.8604 46.0379 13.62 44.0019 10.9319C42.2625 8.63564 39.744 7.42188 36.7188 7.42188C33.4433 7.42188 31.7225 8.28232 30.2043 9.04131C29.0944 9.59619 28.1035 10.0911 26.4648 10.2752V8.88672C26.4648 6.46357 28.4362 4.49219 30.8594 4.49219C31.6684 4.49219 32.3242 3.83633 32.3242 3.02734C32.3242 2.21836 31.6684 1.5625 30.8594 1.5625C26.8208 1.5625 23.5352 4.84814 23.5352 8.88672V10.2752C21.8965 10.0911 20.9056 9.59629 19.7957 9.04131C18.2775 8.28232 16.5567 7.42188 13.2812 7.42188C10.256 7.42188 7.7375 8.63564 5.99814 10.9319C3.96211 13.62 2.92969 17.8604 2.92969 23.5352C2.92969 24.018 2.94443 24.5073 2.97275 25H1.46484C0.655859 25 0 25.6559 0 26.4648V35.2539C0 36.0629 0.655859 36.7188 1.46484 36.7188H6.15859C7.66934 39.7931 9.65225 42.5975 11.8064 44.6871C14.3357 47.1406 16.8719 48.4375 19.1406 48.4375C21.2122 48.4375 22.3068 47.3429 23.1061 46.5436C23.8243 45.8253 24.1766 45.5078 25 45.5078C25.8234 45.5078 26.1757 45.8253 26.8939 46.5436C27.6932 47.3429 28.7878 48.4375 30.8594 48.4375C33.2765 48.4375 36.0778 46.9058 38.7472 44.1245C40.7004 42.0894 42.4579 39.5216 43.8383 36.7188H48.5352C49.3441 36.7188 50 36.0629 50 35.2539V26.4648C50 25.6559 49.3441 25 48.5352 25ZM36.4538 42.2852C34.4295 44.337 32.3909 45.5078 30.8594 45.5078C30.0359 45.5078 29.6837 45.1903 28.9654 44.4721C28.1662 43.6728 27.0716 42.5781 25 42.5781C22.9284 42.5781 21.8338 43.6728 21.0346 44.4721C20.3163 45.1903 19.9641 45.5078 19.1406 45.5078C17.6913 45.5078 15.7616 44.4422 13.8464 42.5842C12.23 41.0162 10.7151 38.9811 9.46211 36.7177H40.5395C39.3071 38.946 37.884 40.8354 36.4538 42.2852ZM41.9752 33.7473C41.9693 33.7612 41.9633 33.7751 41.9574 33.7891H35.2539V32.3242C35.2539 31.5152 34.598 30.8594 33.7891 30.8594C32.9801 30.8594 32.3242 31.5152 32.3242 32.3242V33.7891H26.4648V32.3242C26.4648 31.5152 25.809 30.8594 25 30.8594C24.191 30.8594 23.5352 31.5152 23.5352 32.3242V33.7891H17.6758V32.3242C17.6758 31.5152 17.0199 30.8594 16.2109 30.8594C15.402 30.8594 14.7461 31.5152 14.7461 32.3242V33.7891H8.78906V32.3242C8.78906 31.5152 8.1332 30.8594 7.32422 30.8594C6.51523 30.8594 5.85938 31.5152 5.85938 32.3242V33.7891H2.92969V27.9287H41.9992C41.4989 28.7923 41.2109 29.7925 41.2109 30.8594C41.2109 31.9091 41.4897 32.8942 41.9752 33.7473ZM5.90859 25C5.87666 24.5065 5.85938 24.0168 5.85938 23.5352C5.85938 18.5135 6.6918 14.8683 8.3335 12.7009C9.53096 11.12 11.1493 10.3516 13.2812 10.3516C15.8651 10.3516 17.0795 10.9587 18.4855 11.6618C20.0037 12.4208 21.7245 13.2812 25 13.2812C28.2755 13.2812 29.9963 12.4208 31.5145 11.6618C32.9205 10.9587 34.1349 10.3516 36.7188 10.3516C38.8507 10.3516 40.469 11.12 41.6665 12.7009C43.3082 14.8683 44.1406 18.5135 44.1406 23.5352C44.1406 24.017 44.1241 24.5064 44.0922 25H5.90859ZM47.0703 33.7891C45.4549 33.7891 44.1406 32.4748 44.1406 30.8594C44.1406 29.2439 45.4549 27.9297 47.0703 27.9297V33.7891Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_1226'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
    }

    &__name {
        @include font-setting($primary-font, 1.125rem, 1.25rem, 800, $black);
        text-align: center;

        margin-bottom: 0.625rem;
    }

    &__about {
        @include font-setting($primary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 0.625rem;
    }

    &__link {
        @include font-setting($primary-font, 0.875rem, 1.25rem, 700, $green);
        text-decoration: none;
        padding: 0.125rem 0;
        position: relative;
        transition: 0.4s $cubic;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;

            border-bottom: 1px dashed $green;

            bottom: 0;
            left: 0;
            transition: 0.4s $cubic;
        }

        &:hover,
        &:active {
            color: $black;
            transition: 0.4s $cubic;

            &::after {
                border-color: $black;
                transition: 0.4s $cubic;
            }
        }
    }
}

@include min-screen(768px) {
    .choose {
        margin-bottom: 7.5rem;

        &--shop {
            margin-bottom: 6.25rem;

            .choose__title {
                text-align: left;
            }

            .choose__description {
                text-align: left;

                &:last-of-type {
                    margin-bottom: 0.625rem;
                }
            }

            .choose__list {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
            }

            .choose__item {
                align-items: flex-start;
                margin-bottom: 0.125rem;
                padding-left: 0.75rem;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    background-color: $gold;
                    left: 0;
                    top: 8px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .choose__about {
                text-align: left;
                line-height: 1.25rem;
                margin-bottom: 0;
            }
        }
        &--personal {
            .choose__info {
                margin-bottom: 2.5rem;
            }

            .choose__title {
                max-width: 100%;
            }

            .choose__description {
                margin-bottom: 0;
            }

            .choose__contacts {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .faq__callback {
                order: 1;
                margin-right: 3.75rem;
                max-width: 289px;
            }

            .faq__contacts-list {
                order: 2;
                margin-bottom: 0;
            }
        }

        &__wrapper {
            padding: 0 2.5rem;
            align-items: flex-start;
        }

        &__info {
            align-items: flex-start;
        }

        &__title {
            font-size: 1.875rem;
            line-height: 2.1875rem;
            text-align: left;
            margin-bottom: 2.5rem;
            max-width: 70%;
        }

        &__description {
            font-size: 1rem;
            line-height: 1.875rem;
            text-align: left;
            margin-bottom: 2.5rem;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 200px);
            justify-content: space-between;
            align-items: start;
        }

        &__item {
            align-items: flex-start;
            margin-bottom: 0;
        }

        &__icon {
            margin-bottom: 1.5625rem;
        }

        &__name {
            text-align: left;
            margin-bottom: 0.9375rem;
            max-width: 70%;
        }

        &__about {
            font-size: 1rem;
            text-align: left;
            margin-bottom: 1.25rem;
        }

        &__link {
            font-size: 1.125rem;
        }
    }
}

@include min-screen(1366px) {
    .choose {
        margin-bottom: 6.25rem;

        &--shop {
            .choose__info {
                max-width: 710px;
            }

            .choose__wrapper {
                justify-content: flex-end;
            }

            .choose__frame {
                min-width: 1020px;
                height: 970px;
                width: 1020px;
                position: absolute;
                margin-left: 0;
                top: 52%;
                transform: translateY(-50%);
                --width: calc(100% - 1920px - 382px);
                left: calc(var(--width) / 2);
            }

            .choose__description {
                font-family: $secondary-font;
                margin-bottom: 1.875rem;
            }

            .choose__item::after {
                top: 12px;
            }

            .choose__about {
                line-height: 1.875rem;
            }
        }
        &--personal {
            .choose__wrapper {
                display: grid;
                grid-template-areas:
                    'frame ...'
                    'frame info'
                    'frame contacts'
                    'frame ...'
                ;

                justify-content: space-between;
                align-items: center;
            }

            .choose__frame {
                grid-area: frame;
                height: 830px;
                width: 1304px;

                margin-left: -935px;
            }

            .choose__info {
                grid-area: info;
            }

            .choose__contacts {
                grid-area: contacts;
            }

            .choose__info {
                margin-bottom: 4.375rem;
            }

            .choose__title {
                max-width: 100%;
                margin-bottom: 3.125rem;
            }

            .choose__contacts {
                padding-left: 4.375rem;
            }
        }

        &__wrapper {
            padding: 0 2.5rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__frame {
            @include flex-setting(column, center, center);
            min-width: 935px;
            width: 935px;
            height: 900px;

            margin-left: -472px;

            &-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__info {
            align-items: flex-start;
            margin-left: 4.375rem;
        }

        &__title {
            font-size: 2.875rem;
            line-height: 3.75rem;
            margin-bottom: 1.875rem;
            max-width: 100%;
        }

        &__description {
            margin-bottom: 5rem;
        }

        &__list {
            grid-template-columns: repeat(3, 224px);
            align-items: stretch;
        }

        &__link {
            font-size: 1.125rem;
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}

@include min-screen(1680px) {
    .choose {
        margin-bottom: 22.375rem;
        &--shop {
            margin-bottom: 13.125rem;
        }

        &--personal {
            .choose__wrapper {
                grid-template-areas:
                    'info'
                    'contacts'
                ;

                justify-content: end;
                align-items: center;

                position: relative;
            }

            .choose__frame {
                position: absolute;
                margin-left: 0;
                top: 52%;
                transform: translateY(-50%);
                --width: calc(100% - 1910px - 1208px);
                left: calc(var(--width) / 2);
            }

            .choose__contacts {
                padding-left: 0;
            }
        }

        &__wrapper {
            padding: 0;
            position: relative;
            max-width: 1440px;

            justify-content: flex-end;
        }

        &__frame {
            position: absolute;
            margin-left: 0;
            top: 52%;
            transform: translateY(-50%);
            --width: calc(100% - 1910px - 462px);
            left: calc(var(--width) / 2);
        }

        &__info {
            margin-left: 0;
            max-width: 832px;
        }

        &__title {
            max-width: 90%;
            margin-bottom: 2rem;
        }

        &__name {
            max-width: 100%;
        }
    }
}
