.consult {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 4.375rem 1.25rem 0 1.25rem;
    margin-bottom: 6rem;

    &--personal {
        margin-bottom: 8.75rem;
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        border: 6px solid #F2F2F2;

        padding: 1.625rem 1.625rem;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    &__description {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.875rem;
    }

    &__form {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &.formSent {
            display: none;
        }
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.875rem;
    }

    &__item {
        width: 100%;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        border: 2px solid $lightgray;
        border-radius: 40px;

        padding: 0.9375rem 1.5625rem;

        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $darkgray);
        text-align: center;
        cursor: text;
        transition: 0.4s $cubic;

        &:hover,
        &:active {
            border-color: $lightgreen;
            transition: 0.4s $cubic;
        }
    }

    &__callback {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1rem, 1.25rem, 800, $white);

        text-transform: uppercase;

        width: 100%;
        padding: 0.9375rem 0;
        margin-bottom: 1.25rem;

        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border: none;
        border-radius: 40px;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__note {
        @include font-setting($secondary-font, 0.75rem, 1.25rem, 400, $darkgray);
        text-align: center;
    }

    &__reaction {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        display: none;

        &.active {
            display: flex;
        }

        &-link {
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.875rem, 1.875rem, 800, $black);
            text-transform: uppercase;
            text-decoration: none;

            height: 60px;
            width: 275px;

            border: 4px solid $lightgreen;
            border-radius: 40px;

            transition: 0.4s $cubic;

            &:hover,
            &:active {
                background-color: $lightgreen;
                color: $white;
                transition: 0.4s $cubic;
            }
        }

        &-social {
            width: auto;
            @include flex-setting(row, center, center);
            z-index: 1;
            margin-bottom: 2.5rem;
        }

        &-item {
            @include flex-setting(column, center, center);
            width: 40px;
            height: 40px;
            margin-right: 1.5625rem;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                @include flex-setting(column, center, center);
                width: 40px;
                height: 40px;
                border-radius: 1.25rem;
                background-color: $lightgray;
                position: relative;
                transition: 0.4s $cubic;

                .fa-vk::before {
                    position: absolute;
                    content: '\f189';
                    color: $white;
                    font-size: 1.5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.4s $cubic;
                    z-index: 1;
                }

                .fa-facebook-f::before {
                    position: absolute;
                    content: '\f39e';
                    color: $white;
                    font-size: 2rem;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.4s $cubic;
                    z-index: 1;
                }

                .fa-instagram::before {
                    position: absolute;
                    content: '\f16d';
                    color: $white;
                    font-size: 1.5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.4s $cubic;
                    z-index: 1;
                }

                &:active,
                &:hover {
                    background-color: $white;
                    transition: 0.4s $cubic;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

                    .fa-facebook-f::before,
                    .fa-instagram::before,
                    .fa-vk::before {
                        color: $lightgreen;
                        transition: 0.4s $cubic;
                    }
                }
            }
        }
    }
}

@include min-screen(768px) {
    .consult {
        padding: 0 2.5rem;
        margin-bottom: 5rem;

        &__wrapper {
            padding: 3.75rem 3.75rem 3.75rem 15rem;
            align-items: flex-start;
            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 380px;
                height: 595px;

                background-image: url('../images/content/girl-consult.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: -160px;
                bottom: 0;
            }
        }

        &--personal {
            margin-bottom: 12.5rem;

            .consult__wrapper {
                padding-left: 3.75rem;

                &::after {
                    display: none;
                }
            }
        }

        &__title {
            font-size: 1.875rem;
            line-height: 2.1875rem;
            text-align: left;
            max-width: 100%;
        }

        &__description {
            font-size: 1.25rem;
            line-height: 1.5rem;
            text-align: left;
            margin-bottom: 2.5rem;
        }

        &__list {
            align-items: flex-start;
            margin-bottom: 2rem;
        }

        &__reaction {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &-link {
                font-size: 1.125rem;
                width: 284px;
            }

            &-social {
                margin-bottom: 0;
                margin-right: 3.75rem;
            }

            &-item {
                width: 60px;
                height: 60px;
                margin-right: 1.875rem;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    width: 60px;
                    height: 60px;
                    border-radius: 1.875rem;

                    .fa-vk::before {
                        font-size: 2.5rem;
                    }

                    .fa-facebook-f::before {
                        font-size: 3rem;
                    }

                    .fa-instagram::before {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .consult {
        margin-bottom: 8rem;

        &--personal {
            margin-bottom: 12.5rem;

            .consult__wrapper {
                padding-left: 3.75rem;
                min-height: 434px;

                &::after {
                    display: none;
                }

                &::before {
                    position: absolute;
                    content: '';

                    width: 1066px;
                    height: 1055px;

                    background-image: url('../images/content/consult-food.png');
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;

                    top: 50%;
                    transform: translateY(-50%);
                    right: -580px;
                }
            }
        }

        &__wrapper {
            align-items: flex-start;
            padding-left: 20rem;
            padding-top: 5rem;
            padding-bottom: 5rem;

            &::after {
                left: -60px;
            }
        }

        &__title {
            font-size: 2.25rem;
            line-height: 3.875rem;
        }

        &__description {
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: left;
            margin-bottom: 2.5rem;
        }

        &__form {
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        &__list {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: auto;
            margin-bottom: 0;
        }

        &__item {
            width: auto;
            margin-bottom: 0;
            margin-right: 1.25rem;
        }

        &__input {
            width: 250px;
            text-align: left;
            padding: 1.125rem 2.125rem;
        }

        &__callback {
            width: 262px;
            height: 60px;
            margin-bottom: 0;
        }

        &__note {
            margin-top: 1.875rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }
}

@include min-screen(1680px) {
    .consult {
        margin-bottom: 9.625rem;
        --width: calc(100% - 1440px);

        padding-left: calc(var(--width) / 2);
        padding-right: calc(var(--width) / 2);

        &--personal {
            margin-bottom: 25rem;

            .consult__wrapper {
                padding-left: 5.3125rem;
                min-height: 480px;
            }
        }

        &__wrapper {
            min-height: 470px;
            border-width: 15px;

            padding: 5.3125rem 5.3125rem 5.3125rem 18.375rem;

            &::after {
                left: -5rem;
            }
        }

        &__form {
            justify-content: flex-start;
        }

        &__title {
            font-size: 2.875rem;
            line-height: 3.75rem;
        }

        &__description {
            font-size: 1.5rem;
            margin-bottom: 3.125rem;
        }

        &__item {
            margin-right: 3.125rem;
        }

        &__callback {
            width: 272px;
        }
    }
}
