.delivery {
    width: 100%;
    margin-bottom: 7.5rem;
    padding: 0 1.25rem;

    &--checkout {
        margin-bottom: 0;
        padding: 0;
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 2.5rem;

        position: relative;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 6.875rem;
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        position: absolute;
        top: 5.625rem;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2.5rem;

        max-height: 40px;
        overflow: hidden;
        border-bottom: 1px dashed $lightgray;
        transition: 0.4s $cubic;

        background-color: $white;
        z-index: 10;

        &::before {
            position: absolute;
            content: '';

            width: 30px;
            height: 30px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            background-image: url("data:image/svg+xml,%3Csvg width='30' height='16' viewBox='0 0 30 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.00671387L15.0001 15.2095L30 0.00671387H0Z' fill='%2392C64E'/%3E%3C/svg%3E");

            right: 0;
            top: 0;

            transition: 0.4s $cubic;
        }

        &.active {
            max-height: 140px;
            transition: 0.4s $cubic;
            padding-bottom: 1.25rem;

            li {
                &.selected {
                    order: 0;
                }

                &:hover {
                    .delivery__item-name {
                        color: $green;
                        transition: 0.4s $cubic;
                    }
                }
            }

            &::before {
                transform: rotate(180deg);
                transition: 0.4s $cubic;
            }
        }
    }

    &__item {
        width: 100%;

        @include flex-setting(column, center, flex-start);
        min-height: 40px;

        cursor: pointer;

        order: 1;

        z-index: 2;

        &-name {
            @include font-setting($primary-font, 1.125rem, 1.875rem, 400, $black);
            text-align: left;
        }

        &.selected {
            order: 0;
        }
    }

    &__details {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        margin-bottom: 3.125rem;

        &-item {
            width: 100%;

            @include flex-setting(column, flex-start, center);
        }
    }

    &__times {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &-item {
            width: 100%;
            max-width: 208px;
            @include flex-setting(column, flex-start, flex-start);

            padding-left: 4.375rem;
            position: relative;

            margin-bottom: 2.5rem;

            &::after {
                position: absolute;
                content: '';

                width: 50px;
                height: 50px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 0;
                top: 0;
            }

            &--morning {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0901 12.9102C25.2912 11.1113 22.7515 9.94727 20.0002 9.94727C17.2489 9.94727 14.7092 11.0584 12.9102 12.9102C11.1113 14.7092 9.94727 17.2489 9.94727 20.0002C9.94727 22.7515 11.1113 25.2912 12.9102 27.0901C14.7092 28.8891 17.2489 30.0531 20.0002 30.0531C22.7515 30.0531 25.2912 28.942 27.0901 27.0901C28.8891 25.2912 30.0531 22.7515 30.0531 20.0002C30.0531 17.2489 28.942 14.7092 27.0901 12.9102ZM25.1854 25.1854C23.8626 26.5081 22.0108 27.3018 20.0002 27.3018C17.9896 27.3018 16.1377 26.5081 14.815 25.1854C13.4922 23.8626 12.6986 22.0108 12.6986 20.0002C12.6986 17.9896 13.4922 16.1377 14.815 14.815C16.1377 13.4922 17.9896 12.6986 20.0002 12.6986C22.0108 12.6986 23.8626 13.4922 25.1854 14.815C26.5081 16.1377 27.3018 17.9896 27.3018 20.0002C27.3018 22.0108 26.5081 23.8626 25.1854 25.1854Z' fill='%23FDB600'/%3E%3Cpath d='M38.6246 18.624H34.5505C33.8097 18.624 33.1748 19.2589 33.1748 19.9997C33.1748 20.7404 33.8097 21.3753 34.5505 21.3753H38.6246C39.3653 21.3753 40.0002 20.7404 40.0002 19.9997C40.0002 19.2589 39.3653 18.624 38.6246 18.624Z' fill='%23FDB600'/%3E%3Cpath d='M19.9997 33.1748C19.2589 33.1748 18.624 33.8097 18.624 34.5505V38.6246C18.624 39.3653 19.2589 40.0002 19.9997 40.0002C20.7404 40.0002 21.3753 39.3653 21.3753 38.6246V34.5505C21.3753 33.8097 20.7404 33.1748 19.9997 33.1748Z' fill='%23FDB600'/%3E%3Cpath d='M34.1267 32.2219L31.2166 29.3119C30.7404 28.7828 29.841 28.7828 29.3119 29.3119C28.7828 29.841 28.7828 30.6875 29.3119 31.2166L32.2219 34.1267C32.751 34.6558 33.5976 34.6558 34.1267 34.1267C34.6558 33.5976 34.6558 32.751 34.1267 32.2219Z' fill='%23FDB600'/%3E%3Cpath d='M19.9997 0C19.2589 0 18.624 0.63492 18.624 1.37566V5.44973C18.624 6.19047 19.2589 6.82539 19.9997 6.82539C20.7404 6.82539 21.3753 6.19047 21.3753 5.44973V1.37566C21.3753 0.63492 20.7404 0 19.9997 0Z' fill='%23FDB600'/%3E%3Cpath d='M34.1804 5.87339C33.6513 5.34429 32.8047 5.34429 32.2756 5.87339L29.3656 8.78344C28.8365 9.31255 28.8365 10.1591 29.3656 10.6882C29.8418 11.2173 30.7412 11.2173 31.2703 10.6882L34.1804 7.77815C34.7095 7.24905 34.7095 6.40249 34.1804 5.87339Z' fill='%23FDB600'/%3E%3Cpath d='M5.44973 18.624H1.37566C0.63492 18.624 0 19.2589 0 19.9997C0 20.7404 0.58201 21.3753 1.37566 21.3753H5.44973C6.19047 21.3753 6.82539 20.7404 6.82539 19.9997C6.82539 19.2589 6.19047 18.624 5.44973 18.624Z' fill='%23FDB600'/%3E%3Cpath d='M10.6345 29.3119C10.1583 28.7828 9.25883 28.7828 8.72973 29.3119L5.81968 32.2219C5.29058 32.751 5.29058 33.5976 5.81968 34.1267C6.34878 34.6558 7.19534 34.6558 7.72444 34.1267L10.6345 31.2166C11.1636 30.6875 11.1636 29.841 10.6345 29.3119Z' fill='%23FDB600'/%3E%3Cpath d='M10.6345 8.78344L7.72444 5.87339C7.19534 5.34429 6.34878 5.34429 5.81968 5.87339C5.29058 6.40249 5.29058 7.24905 5.81968 7.77815L8.72973 10.6882C9.25883 11.2173 10.1054 11.2173 10.6345 10.6882C11.1636 10.1591 11.1636 9.31255 10.6345 8.78344Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &--evening {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.0544 22.7544C38.6455 22.6522 38.2365 22.7544 37.8787 23.01C36.5496 24.1346 35.0161 25.0548 33.3292 25.6682C31.7445 26.2816 30.0065 26.5883 28.1662 26.5883C24.0256 26.5883 20.2429 24.9014 17.5336 22.1921C14.8243 19.4829 13.1374 15.7001 13.1374 11.5595C13.1374 9.82149 13.4441 8.13459 13.9553 6.60104C14.5176 4.96525 15.3355 3.48281 16.409 2.20486C16.8691 1.64255 16.7668 0.824659 16.2045 0.364594C15.8467 0.109002 15.4378 0.00676494 15.0288 0.109002C10.6837 1.28472 6.90098 3.89176 4.19171 7.36781C1.58467 10.7927 0 15.0356 0 19.6873C0 25.2592 2.24921 30.32 5.92973 34.0005C9.61026 37.681 14.671 39.9302 20.2429 39.9302C24.9458 39.9302 29.2908 38.2944 32.7669 35.5852C36.294 32.8248 38.85 28.8886 39.9235 24.3902C40.179 23.6235 39.7701 22.9078 39.0544 22.7544ZM31.2333 33.4382C28.2685 35.7896 24.4857 37.2209 20.3451 37.2209C15.4889 37.2209 11.0927 35.2273 7.92335 32.058C4.75401 28.8886 2.76039 24.4925 2.76039 19.6362C2.76039 15.5979 4.08947 11.9173 6.3898 8.95248C7.97447 6.90775 9.96808 5.22084 12.2684 4.04512C12.0128 4.60742 11.7572 5.16972 11.5528 5.78314C10.8882 7.6234 10.5815 9.5659 10.5815 11.6106C10.5815 16.4669 12.5751 20.9142 15.7445 24.0835C18.9138 27.2529 23.3611 29.2465 28.2173 29.2465C30.3643 29.2465 32.4091 28.8886 34.3004 28.173C34.965 27.9174 35.6295 27.6618 36.2429 27.3551C35.0161 29.7065 33.3292 31.8024 31.2333 33.4382Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }
        }

        &-name {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 800, $black);
            text-transform: uppercase;
            margin-bottom: 0.625rem;
        }

        &-nr {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $darkgray);
            white-space: nowrap;
        }
    }

    &__price {
        @include font-setting($primary-font, 1.25rem, 1.5rem, 400, $darkgray);
        text-align: center;
    }

    &__contacts {
        width: 100%;

        @include flex-setting(column, flex-start, center)

        &-list {
            width: 100%;

            @include flex-setting(row, center, center);

            margin-bottom: 1.875rem;
        }

        &-item {
            display: block;
            width: auto;
            margin-right: 0.75rem;

            &:nth-of-type(2) {
                margin-right: 1.0625rem;
            }
        }

        &-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;

            @include font-setting($primary-font, 1.125rem, 1, 700, $black);

            position: relative;
            transition: 0.4s $cubic;

            &:hover,
            &:active {
                color: $lightgreen;
                transition: 0.4s $cubic;
            }

            &--wa {
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8612L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0Z' fill='%234CAF50'/%3E%3Cpath d='M15.8212 14.1212C15.5799 14.8025 14.6224 15.3675 13.8587 15.5325C13.3362 15.6437 12.6537 15.7325 10.3562 14.78C7.41744 13.5625 5.52494 10.5762 5.37744 10.3825C5.23619 10.1887 4.18994 8.80123 4.18994 7.36623C4.18994 5.93123 4.91869 5.23248 5.21244 4.93248C5.45369 4.68623 5.85244 4.57373 6.23494 4.57373C6.35869 4.57373 6.46994 4.57998 6.56994 4.58498C6.86369 4.59748 7.01119 4.61498 7.20494 5.07873C7.44619 5.65998 8.03369 7.09498 8.10369 7.24248C8.17494 7.38998 8.24619 7.58998 8.14619 7.78373C8.05244 7.98373 7.96994 8.07248 7.82244 8.24248C7.67494 8.41248 7.53494 8.54248 7.38744 8.72498C7.25244 8.88373 7.09994 9.05373 7.26994 9.34748C7.43994 9.63498 8.02744 10.5937 8.89244 11.3637C10.0087 12.3575 10.9137 12.675 11.2374 12.81C11.4787 12.91 11.7662 12.8862 11.9424 12.6987C12.1662 12.4575 12.4424 12.0575 12.7237 11.6637C12.9237 11.3812 13.1762 11.3462 13.4412 11.4462C13.7112 11.54 15.1399 12.2462 15.4337 12.3925C15.7274 12.54 15.9212 12.61 15.9924 12.7337C16.0624 12.8575 16.0624 13.4387 15.8212 14.1212Z' fill='white'/%3E%3C/svg%3E%0A");
            }

            &--tg {
                width: 20px;
                height: 20px;

                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23039BE5'/%3E%3Cpath d='M4.57581 9.78326L14.2175 6.06576C14.665 5.9041 15.0558 6.17493 14.9108 6.8516L14.9116 6.85076L13.27 14.5849C13.1483 15.1333 12.8225 15.2666 12.3666 15.0083L9.86664 13.1658L8.66081 14.3274C8.52748 14.4608 8.41498 14.5733 8.15664 14.5733L8.33414 12.0291L12.9675 7.84326C13.1691 7.66576 12.9225 7.56576 12.6566 7.74243L6.93081 11.3474L4.46247 10.5774C3.92664 10.4074 3.91497 10.0416 4.57581 9.78326Z' fill='white'/%3E%3C/svg%3E");
            }
        }
    }

    &__callback {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.875rem, 1.25rem, 800, $white);

        text-transform: uppercase;
        text-align: center;

        padding: 0.625rem 1.5625rem;
        border: none;
        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border-radius: 25px;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__description {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.25rem;

        &:last-of-type {
            margin-bottom: 2.5rem;
        }
    }

    &__map {
        width: 100%;

        @include flex-setting(column, center, center);

        &-frame {
            width: 100%;
            height: calc(89.33333333333333vw * (13 / 16));
        }
    }
}

@include min-screen(768px) {
    .delivery {
        padding: 0 2.5rem;
        
        &--checkout {
            padding: 0 2.5rem;
            margin-bottom: 0;
            padding: 0;
        }

        &__info {
            align-items: flex-start;
            margin-bottom: 4.375rem;
        }

        &__title {
            font-size: 1.875rem;
            line-height: 2.1875rem;
            max-width: 100%;
            margin-bottom: 9.6875rem;
        }

        &__details {
            margin-bottom: 4.375rem;

            &-item {
                align-items: flex-start;
            }
        }

        &__list {
            top: 4.6875rem;
        }

        &__times {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            margin-bottom: 4.375rem;

            &-item {
                margin-right: 3.75rem;
                margin-bottom: 0;
            }
        }

        &__price {
            text-align: left;

            font-size: 1.5rem;
            line-height: 1.875rem;
        }

        &__contacts {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            &-list {
                width: auto;
                justify-content: flex-start;
                margin-bottom: 0;
                margin-right: 2.1875rem;
            }
        }

        &__description {
            width: 100%;
            text-align: left;
            margin-bottom: 1.25rem;
        }

        &__map {
            &-frame {
                height: calc(89.33333333333333vw * (9 / 16));
            }
        }
    }
}

@include min-screen(1366px) {
    .delivery {
        margin-left: auto;
        margin-right: auto;
        max-width: 1520px;
        margin-bottom: 6.25rem;
        padding: 0 2.5rem;

        &--checkout {
            margin-bottom: 0;
            padding: 0;
        }

        &__wrapper {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__info {
            order: 2;
            padding-top: 3.125rem;
            align-items: flex-start;
            margin-bottom: 0;

            max-width: 468px;
        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.875rem;
            margin-bottom: 8.125rem;
            text-align: left;
        }

        &__list {
            top: 8.125rem;
        }

        &__map {
            order: 1;
            height: 670px;
            max-height: 670px;
            margin-right: 8.875rem;
            overflow: hidden;

            &-frame {
                width: 100%;
                object-fit: cover;
                max-height: 670px;
                height: 100%;
            }
        }
    }
}

@include min-screen(1680px) {
    .delivery {
        margin-bottom: 20.625rem;

        &--checkout {
            margin-bottom: 0;
        }
    }
}
