.faq {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    margin-bottom: 3.75rem;

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

    &__content {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__filter {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar { width: 0; };

        &-item {
            flex: none;
            scroll-snap-align: center;

            margin-bottom: 0;

            margin-right: 1.25rem;
            margin-bottom: 0;

            &.active {
                .faq__filter-btn {
                    background-color: $lightgreen;
                    border-color: $lightgreen;
                    color: $white;
                    transition: 0.4s $cubic;
                }

                &:hover,
                &:active {
                    .faq__filter-btn {
                        border-color: $lightgreen;
                        color: $white;
                        transition: 0.4s $cubic;
                    }
                }
            }

            &:hover,
            &:active {
                .faq__filter-btn {
                    border-color: $lightgreen;
                    color: $lightgreen;
                    transition: 0.4s $cubic;
                }
            }
        }

        &-btn {
            @include flex-setting(column, center, center);
            @include font-setting($secondary-font, 0.875rem, 1.875rem, 800, $black);

            border: 1px solid $lightgray;
            border-radius: 30px;

            padding: 0.3125rem 0.9375rem;
            background-color: $white;

            cursor: pointer;
            outline: none;

            transition: 0.4s $cubic;
        }
    }

    &__body {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;

        &-list {
            width: 100%;

            @include flex-setting(column, flex-start, center);
            padding-bottom: 3.75rem;

            border-bottom: 1px dashed $lightgray;
            display: none;

            &.active {
                display: flex;
            }
        }

        &-item {
            width: 100%;

            position: relative;
            @include flex-setting(column, flex-start, flex-start);

            padding-left: 2.1875rem;
            margin-bottom: 1.25rem;
            min-height: 40px;
            max-height: 60px;
            overflow: hidden;
            transition: 0.4s $cubic;

            cursor: pointer;

            &:hover {
                .faq__body-name {
                    color: $lightgreen;
                    transition: 0.4s $cubic;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                position: absolute;
                content: '';

                width: 20px;
                height: 20px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.821289 2.35836L8.46293 10L0.821289 17.6416L3.17957 20L13.1796 10L3.17957 0L0.821289 2.35836Z' fill='%23C4C4C4'/%3E%3C/svg%3E");

                left: 0;
                top: 0;

                transition: 0.4s $cubic;
            }

            &.active {
                max-height: 700px;
                transition: 0.4s $cubic;

                margin-bottom: 1.875rem;

                &::after {
                    transform: rotate(-90deg);
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.821289 2.35836L8.46293 10L0.821289 17.6416L3.17957 20L13.1796 10L3.17957 0L0.821289 2.35836Z' fill='%2392C64E'/%3E%3C/svg%3E");
                    transition: 0.4s $cubic;
                }

                .faq__body-name {
                    padding-bottom: 0.625rem;
                }

                .faq__body-description {
                    display: inline;
                }
            }
        }

        &-name {
            @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
            text-align: left;
            max-width: 97%;
            transition: 0.4s $cubic;
        }

        &-description {
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
            text-align: left;
            display: none;
        }
    }

    &__contacts {
        padding: 3.75rem 0.625rem;
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &-list {
            width: 100%;

            @include flex-setting(row, center, center);

            margin-bottom: 1.875rem;
        }

        &-item {
            display: block;
            width: auto;
            margin-right: 0.75rem;

            &:nth-of-type(2) {
                margin-right: 1.0625rem;
            }
        }

        &-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;

            @include font-setting($primary-font, 1.25rem, 1, 700, $black);

            position: relative;
            transition: 0.4s $cubic;

            background-repeat: no-repeat;
            background-size: contain;

            &--wa {
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8612L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0Z' fill='%234CAF50'/%3E%3Cpath d='M15.8212 14.1212C15.5799 14.8025 14.6224 15.3675 13.8587 15.5325C13.3362 15.6437 12.6537 15.7325 10.3562 14.78C7.41744 13.5625 5.52494 10.5762 5.37744 10.3825C5.23619 10.1887 4.18994 8.80123 4.18994 7.36623C4.18994 5.93123 4.91869 5.23248 5.21244 4.93248C5.45369 4.68623 5.85244 4.57373 6.23494 4.57373C6.35869 4.57373 6.46994 4.57998 6.56994 4.58498C6.86369 4.59748 7.01119 4.61498 7.20494 5.07873C7.44619 5.65998 8.03369 7.09498 8.10369 7.24248C8.17494 7.38998 8.24619 7.58998 8.14619 7.78373C8.05244 7.98373 7.96994 8.07248 7.82244 8.24248C7.67494 8.41248 7.53494 8.54248 7.38744 8.72498C7.25244 8.88373 7.09994 9.05373 7.26994 9.34748C7.43994 9.63498 8.02744 10.5937 8.89244 11.3637C10.0087 12.3575 10.9137 12.675 11.2374 12.81C11.4787 12.91 11.7662 12.8862 11.9424 12.6987C12.1662 12.4575 12.4424 12.0575 12.7237 11.6637C12.9237 11.3812 13.1762 11.3462 13.4412 11.4462C13.7112 11.54 15.1399 12.2462 15.4337 12.3925C15.7274 12.54 15.9212 12.61 15.9924 12.7337C16.0624 12.8575 16.0624 13.4387 15.8212 14.1212Z' fill='white'/%3E%3C/svg%3E%0A");
            }

            &--tg {
                width: 20px;
                height: 20px;

                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23039BE5'/%3E%3Cpath d='M4.57581 9.78326L14.2175 6.06576C14.665 5.9041 15.0558 6.17493 14.9108 6.8516L14.9116 6.85076L13.27 14.5849C13.1483 15.1333 12.8225 15.2666 12.3666 15.0083L9.86664 13.1658L8.66081 14.3274C8.52748 14.4608 8.41498 14.5733 8.15664 14.5733L8.33414 12.0291L12.9675 7.84326C13.1691 7.66576 12.9225 7.56576 12.6566 7.74243L6.93081 11.3474L4.46247 10.5774C3.92664 10.4074 3.91497 10.0416 4.57581 9.78326Z' fill='white'/%3E%3C/svg%3E");
            }

            &:hover,
            &:active {
                color: $lightgreen;
                transition: 0.4s $cubic;
            }
        }
    }

    &__callback {
        width: 100%;
        max-width: 272px;

        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1rem, 1.875rem, 800, $white);

        text-transform: uppercase;
        text-align: center;

        padding: 0.625rem 0;
        border: none;
        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border-radius: 25px;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__subtitle {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        margin-bottom: 1.25rem;
    }

    &__description {
        @include font-setting($primary-font, 1rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.875rem;
    }
}

@include min-screen(768px) {
    .faq {
        margin-bottom: 5rem;

        &__wrapper {
            align-items: flex-start;
        }

        &__title {
            font-size: 1.875rem;
            line-height: 2.1875rem;
            margin-bottom: 2.5rem;
            margin-left: 2.5rem;
        }

        &__filter {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            margin-bottom: 2.5rem;

            &-item {
                margin-right: 1.875rem;
            }

            &-btn {
                font-size: 1.125rem;
                line-height: 1.875rem;
                padding: 0.5625rem 1.5rem;
            }
        }

        &__body {
            padding: 0 2.5rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            &-list {
                padding-bottom: 0;
                border-bottom: none;
            }

            &-item {
                padding-left: 3.125rem;
                min-height: 40px;
                max-height: 60px;

                &.active {
                    max-height: 500px;
                }
            }
        }

        &__contacts {
            padding: 0;
            width: 100%;
            max-width: 320px;

            align-items: flex-start;

            &-list {
                justify-content: flex-start;
                margin-bottom: 3.75rem;
            }
        }

        &__callback {
            height: 60px;
            font-size: 1.125rem;
            line-height: 1.875rem;
            padding: 0;
            border-radius: 40px;
        }

        &__subtitle {
            text-align: left;
            font-size: 1.75rem;
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }

        &__description {
            font-size: 1.125rem;
            text-align: left;
        }
    }
}

@include min-screen(1366px) {
    .faq {
        margin-bottom: 6.25rem;

        &__title {
            font-size: 2.875rem;
            line-height: 3.75rem;
            margin-bottom: 5rem;
            margin-left: 2.5rem;
        }

        &__filter {
            margin-bottom: 3.75rem;
        }

        &__body {
            margin-right: 0;
            max-width: 1480px;

            &-list {
                max-width: 832px;
            }

            &-item {
                &::after {
                    top: 0.375rem;
                }
            }

            &-name {
                font-size: 1.5rem;
                line-height: 1.875rem;
            }

            &-description {
                font-size: 1.125rem;
                line-height: 1.875rem;
                font-weight: 300;
            }
        }
    }
}

@include min-screen(1680px) {
    .faq {
        margin-bottom: 12.75rem;

        &__wrapper {
            padding: 0;
            max-width: 1440px;
        }

        &__title {
            margin-left: 0;
        }

        &__filter {
            padding-left: 0;
            padding-right: 0;
        }

        &__body {
            padding: 0;
        }

        &__body {
            &-list {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';

                    width: 1px;
                    height: 100%;

                    border-right: 1px dashed $lightgray;

                    top: 0;
                    right: -8.125rem;
                }
            }

            &-name {
                max-width: 100%;
            }

            &-item {
                &.active {
                    margin-bottom: 3rem;

                    .faq__body-name {
                        padding-bottom: 1.625rem;
                    }
                }
            }
        }

        &__contacts {
            max-width: 345px;
        }

        &__subtitle {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
    }
}
