.form-ask {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding-top: 1.875rem;

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 3.125rem;
    }

    &__item {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 1.875rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        @include font-setting($primary-font, 1.125rem, 1.25rem, 700, $black);
        margin-bottom: 0.625rem;
    }

    &__input {
        width: 100%;

        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $gray);

        padding: 1.125rem 1.5rem;

        border: 2px solid $lightgray;
        border-radius: 0.9375rem;

        cursor: text;
        outline: none;

        transition: 0.4s $cubic;

        &:hover,
        &:active,
        &:focus {
            border-color: $green;
            transition: 0.4s $cubic;
        }
    }

    &__textarea {
        width: 100%;
        min-height: 130px;

        @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $gray);
        padding: 1.5rem 1.5rem;

        resize: none;

        border: 2px solid $lightgray;
        border-radius: 0.9375rem;

        cursor: text;
        outline: none;

        transition: 0.4s $cubic;
        &:hover,
        &:active,
        &:focus {
            border-color: $green;
            transition: 0.4s $cubic;
        }
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1.125rem, 1.875rem, 800, $white);

        text-transform: uppercase;

        width: 100%;
        padding: 0.9375rem 0;
        margin-bottom: 1.25rem;

        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border: none;
        border-radius: 40px;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__agreement {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $gray);
        text-align: center;

        a {
            color: $green;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

@include min-screen(768px) {
    .form-ask {
        padding-top: 0;

        &__list {
            margin-bottom: 3.75rem;
        }

        &__item {
            align-items: center;
        }

        &__input {
            text-align: center;
        }
    }
}
