.individual {
    width: 100%;

    @include flex-setting(column, center, center);

    overflow: hidden;

    margin-bottom: 2rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__frame {
        @include flex-setting(column, center, center);

        &--first {
            width: 440px;
            height: 432px;
            min-width: 440px;
            margin-bottom: 2.375rem;
        }

        &--second {
            width: 452px;
            height: 446px;
            min-width: 452px;
        }
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding: 0 2.625rem;
        margin-bottom: 2rem;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1.875rem;

        order: 1;
    }

    &__description {
        @include font-setting($primary-font, 1rem, 1.25rem, 400, $darkgray);
        text-align: center;
        margin-bottom: 1.875rem;

        order: 2;
    }

    &__link {
        order: 4;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1rem, 1.875rem, 800, $white);

        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        padding: 0.9375rem 3.3125rem;

        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border-radius: 40px;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
        }
    }

    &__pricing {
        order: 3;
        @include font-setting($primary-font, 1.5rem, 1.875rem, 400, $black);
        text-align: center;
        margin-bottom: 1.875rem;
    }
}

@include min-screen(768px) {
    .individual {
        margin-bottom: 5rem;

        &__wrapper {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__frame {
            display: none;
        }

        &__info {
            display: grid;
            grid-template-areas:
                'title title'
                'info info'
                'link pricing'
            ;

            padding: 0 2.5rem;
        }

        &__title {
            grid-area: title;
            font-size: 1.875rem;
            line-height: 2.1875rem;
            text-align: left;
            margin-bottom: 2.5rem;
        }

        &__description {
            grid-area: info;
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: left;
            margin-bottom: 3rem;
        }

        &__link {
            grid-area: link;
            font-size: 1.25rem;
            line-height: 1.875rem;
            padding: 1.1875rem 2.1875rem;
            margin-right: 4rem;
        }

        &__pricing {
            grid-area: pricing;
            font-size: 1.75rem;
            line-height: 2.5rem;
            text-align: left;
            margin-bottom: 0;
            white-space: nowrap;
        }
    }
}

@include min-screen(1366px) {
    .individual {
        &__wrapper {
            align-items: flex-start;
        }
        &__frame {
            display: flex;
            min-width: 914px;
            width: 914px;
            height: 900px;

            margin-bottom: 0;

            &-image {
                object-fit: contain;
            }
        }

        &__info {
            min-width: 707px;
            padding: 0;
            padding-top: 223px;
        }

        &__title {
            font-size: 3rem;
            line-height: 3.75rem;
        }

        &__description {
            font-size: 1.25rem;
            line-height: 2.5rem;
            margin-bottom: 5rem;
        }

        &__link {
            white-space: nowrap;
            padding: 1.25rem 0;
            margin-right: 2.5rem;
            width: 355px;
        }

        &__pricing {
            font-size: 2rem;
        }
    }
}

@include min-screen(1680px) {
    .individual {
        &__info {
            grid-template-columns: 355px 1fr;
            grid-column-gap: 2.5rem;
        }

        &__description {
            font-size: 1.5rem;
        }

        &__link {
            font-size: 1.5rem;
            margin-right: 0;
        }
    }
}
