.itemcard {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__main {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;
    }

    &__frame {
        width: 100%;
        height: 0;
        padding-bottom: 68.65671641791045%;
        position: relative;

        @include flex-setting(column, center, center);

        overflow: hidden;

        margin-bottom: 1.25rem;

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            object-fit: contain;
        }

        &.special {
            &::after {
                position: absolute;
                content: '';

                width: 66px;
                height: 66px;
                top: 0;
                right:0;

                clip-path: polygon(100% 0, 0 0, 100% 100%);


                background-color: $gold;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_451_20405)'%3E%3Cpath d='M14.1748 6.12704C14.0614 5.74579 13.7331 5.4669 13.3373 5.41549L9.58073 4.89852L8.09416 1.35979C7.87712 0.841817 7.27966 0.597225 6.75973 0.813442C6.51187 0.916541 6.3148 1.11284 6.21134 1.35976L4.72477 4.89849L0.968186 5.41546C0.40847 5.4931 0.017905 6.00803 0.0958405 6.56561C0.129322 6.80522 0.247245 7.02515 0.428553 7.18609L3.25887 9.70045L2.67735 13.646C2.61436 14.0467 2.79906 14.4458 3.1458 14.6583C3.48765 14.8761 3.92737 14.868 4.26085 14.6377L7.15275 12.6785L10.0446 14.6397C10.5113 14.9552 11.1463 14.8341 11.4631 14.3693C11.607 14.158 11.6659 13.9006 11.6282 13.648L11.0467 9.70098L13.877 7.18662C14.1775 6.92296 14.2942 6.50782 14.1748 6.12704Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_451_20405'%3E%3Crect width='14.135' height='14.0816' fill='white' transform='translate(0.0859375 0.734619)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 15px 15px;
                background-position: top 0.75rem right 0.75rem;
                border-top-right-radius: 14px;
            }
        }
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 6.25rem;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
        text-align: left;

        margin-bottom: 0.625rem;
    }

    &__articul {
        @include flex-setting(row, flex-start, center);
        @include font-setting($secondary-font, 1rem, 1.25rem, 400, $gray);

        margin-bottom: 1.25rem;

        &-nr {
            margin-left: 0.25rem;
        }
    }

    &__contains {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: left;
        margin-bottom: 2.5rem;
    }

    &__data {
        width: 100%;

        @include flex-setting(row, space-between, flex-start);

        gap: 1.125rem;

        margin-bottom: 0.625rem;

        &-item {
            @include flex-setting(column, flex-start, flex-start);
            @include gapFallback(1.125rem);
        }

        &-name {
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 700, $black);
        }

        &-nr {
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        }
    }

    &__checkout {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        padding-top: 1.3125rem;

        border-top: 1px dashed $lightgray;
    }

    &__price {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
        white-space: nowrap;
    }

    &__count {
        width: auto;
        position: relative;

        @include flex-setting(row, center, center);

        margin-right: 0.625rem;
        margin-left: auto;

        &-input {
            width: 46px;
            height: 40px;
            text-align: center;
            cursor: text;
            @include font-setting($secondary-font, 1rem, 1.25rem, 400, #222);

            border-top: 1px solid $lightgray;
            border-bottom: 1px solid $lightgray;
            border-left: none;
            border-right: none;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &-btn {
            display: block;
            padding: 0;
            width: 42px;
            height: 40px;
            border: 1px solid $lightgray;
            @include font-setting($secondary-font, 1rem, 1.25rem, 800, #222);
            background-color: $white;

            cursor: pointer;
            outline: none;

            transition: 0.4s $cubic;

            &-increase {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            &-decrease {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            &:hover,
            &:active {
                background-color: $lightgreen;
                border-color: $lightgreen;
                color: $white;
                transition: 0.4s $cubic;
            }
        }
    }

    &__cart {
        @include flex-setting(column, center, center);
        font-size: 0;

        width: 40px;
        height: 40px;
        border-radius: 20px;

        border: none;

        background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8989 2.12853C15.8113 2.01314 15.6787 1.94598 15.5385 1.94598H3.25475L2.91125 0.377088C2.86291 0.156362 2.67644 0 2.46153 0H0.461531C0.206656 0 0 0.217827 0 0.486511C0 0.755196 0.206656 0.97299 0.461531 0.97299H2.09437L4.426 11.6229C4.47431 11.8436 4.66081 12 4.87572 12H14.1231C14.378 12 14.5846 11.7822 14.5846 11.5135C14.5846 11.2448 14.3779 11.027 14.1231 11.027H5.24291L4.88791 9.40542H14.1539C14.3698 9.40542 14.5568 9.2477 14.6042 9.02573L15.9888 2.53925C16.0195 2.39504 15.9865 2.24395 15.8989 2.12853ZM13.7846 8.43243H4.67487L3.46778 2.91894H14.9615L13.7846 8.43243Z' fill='white'/%3E%3Cpath d='M6.69658 12.8C5.80364 12.8 5.07715 13.5178 5.07715 14.4C5.07715 15.2823 5.80361 16 6.69658 16C7.58952 16 8.31601 15.2823 8.31601 14.4C8.31601 13.5178 7.58955 12.8 6.69658 12.8ZM6.69658 15.1273C6.29069 15.1273 5.96049 14.8011 5.96049 14.4C5.96049 13.999 6.29069 13.6728 6.69658 13.6728C7.10247 13.6728 7.43267 13.999 7.43267 14.4C7.43267 14.8011 7.10247 15.1273 6.69658 15.1273Z' fill='white'/%3E%3Cpath d='M11.9964 12.8C11.1034 12.8 10.377 13.5178 10.377 14.4C10.377 15.2823 11.1034 16 11.9964 16C12.8893 16 13.6158 15.2823 13.6158 14.4C13.6158 13.5178 12.8894 12.8 11.9964 12.8ZM11.9964 15.1273C11.5905 15.1273 11.2603 14.8011 11.2603 14.4001C11.2603 13.9991 11.5905 13.6728 11.9964 13.6728C12.4023 13.6728 12.7325 13.9991 12.7325 14.4001C12.7325 14.8011 12.4023 15.1273 11.9964 15.1273Z' fill='white'/%3E%3C/svg%3E"), linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        background-position: 50% 50%, 50% 50%;
        background-repeat: no-repeat;
    }

    &__details {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        position: relative;

        margin-bottom: 7.5rem;
    }

    &__content {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__tabs {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar { width: 0; }

        &-item {
            width: 50%;
            flex: none;
            scroll-snap-align: center;

            &.active {
                .itemcard__tabs-btn {
                    align-items: center;
                    transition: 0.4s $cubic;

                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                        transition: 0.4s $cubic;
                    }
                }
            }
        }

        &-btn {
            width: 100%;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $darkgray);
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #E0E0E0;
            position: relative;
            padding: 1.25rem 0;

            text-align: left;

            cursor: pointer;

            &:after {
                position: absolute;
                content: '';

                width: 100%;
                height: 3px;

                background-color: $lightgreen;
                bottom: -0.0625rem;
                left: 0;

                transform: scaleX(0);
                transform-origin: left;
                transition: 0.4s $cubic;
            }
        }
    }

    &__body {
        width: 100%;

        &-item {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);

            padding-top: 2.5rem;

            display: none;

            &:first-of-type {
                padding: 2.5rem 1.25rem;
            }

            &:last-of-type {
                padding: 2.5rem 1.25rem;
            }

            &:nth-of-type(2) {
                .delivery {
                    margin-bottom: 0;
                }
            }

            &.active {
                display: flex;
            }
        }

        &-description {
            width: 100%;
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
            text-align: left;
        }
    }

    &__feedback {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-bottom: 2.5rem;
        border-bottom: 1px dashed $lightgray;

        &-item {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);

            margin-bottom: 2.5rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &-head {
            width: 100%;
            @include flex-setting(row, flex-start, center);

            flex-wrap: wrap;
            margin-bottom: 0.375rem;
        }

        &-name {
            width: auto;
            text-align: left;
            @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);

            margin-right: 0.75rem;
        }

        &-date {
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        }

        &-list {
            width: 100%;
            @include flex-setting(row, flex-start, center);

            margin: 0.875rem 0;
            gap: 0.875rem;

            span {

                display: inline-flex;
                width: 20px;
                height: 20px;

                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;

                background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_451_20489)'%3E%3Cpath d='M19.8988 9.10345C20.2925 8.71979 20.4314 8.15672 20.2616 7.63329C20.0914 7.10986 19.6481 6.73621 19.1034 6.65692L14.2608 5.95327C14.0546 5.92324 13.8764 5.79388 13.7843 5.60686L11.6193 1.21879C11.3762 0.725801 10.8828 0.419434 10.3329 0.419434C9.78346 0.419434 9.29007 0.725801 9.04698 1.21879L6.88158 5.60686C6.78947 5.79388 6.61086 5.92324 6.40461 5.95327L1.562 6.65732C1.01775 6.73621 0.574414 7.10986 0.40421 7.63329C0.234406 8.15672 0.373373 8.71979 0.767046 9.10345L4.27085 12.5188C4.42023 12.6645 4.48871 12.8744 4.45347 13.0794L3.62648 17.9024C3.53357 18.4443 3.75183 18.9813 4.19676 19.3049C4.64129 19.6289 5.21999 19.6709 5.70737 19.4142L10.0382 17.1371C10.2228 17.0402 10.4431 17.0402 10.6277 17.1371L14.9589 19.4142C15.1703 19.5256 15.3994 19.5804 15.6273 19.5804C15.9232 19.5804 16.218 19.4879 16.4695 19.3049C16.9144 18.9813 17.1327 18.4443 17.0398 17.9024L16.2124 13.0798C16.1771 12.8744 16.2456 12.6649 16.395 12.5192L19.8988 9.10345ZM15.4234 13.2152L16.2504 18.0378C16.2921 18.2805 16.198 18.5123 15.9985 18.6573C15.7987 18.8019 15.55 18.8195 15.3317 18.7058L11.0005 16.4282C10.7919 16.3189 10.562 16.2636 10.3329 16.2636C10.1038 16.2636 9.87437 16.3189 9.66532 16.4286L5.33493 18.7058C5.11586 18.8195 4.86717 18.8019 4.66773 18.6573C4.46829 18.5123 4.37457 18.2809 4.41582 18.0378L5.24282 13.2152C5.32251 12.7498 5.16833 12.2749 4.83032 11.9457L1.32612 8.52997C1.1495 8.35776 1.08943 8.11507 1.16592 7.88079C1.24202 7.6461 1.43304 7.48511 1.67694 7.44947L6.51915 6.74583C6.98651 6.67814 7.39059 6.38499 7.59924 5.96128L9.76464 1.57322C9.87357 1.35215 10.0862 1.22039 10.3325 1.22039C10.5792 1.22039 10.7915 1.35215 10.9008 1.57322L13.0662 5.96128C13.2749 6.38499 13.6785 6.67814 14.1459 6.74583L18.9885 7.44947C19.2324 7.48511 19.4234 7.6461 19.4995 7.88079C19.5756 8.11507 19.5159 8.35776 19.3393 8.52997L15.8355 11.9453C15.4975 12.2749 15.3433 12.7494 15.4234 13.2152Z' fill='%23FDB600'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_451_20489'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.333008)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                @include gapFallback(0.875rem);
            }

            &.poor {
                span:first-of-type {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.bad {
                span:first-of-type,
                span:nth-of-type(2) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.medium {
                span:first-of-type,
                span:nth-of-type(2),
                span:nth-of-type(3) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.good {
                span:first-of-type,
                span:nth-of-type(2),
                span:nth-of-type(3),
                span:nth-of-type(4) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.excellent {
                span {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }
        }

        &-description {
            width: 100%;
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
            text-align: left;
        }
    }

    &__ratings {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding-top: 2.5rem;

        &-title {
            @include font-setting($primary-font, 1.5rem, 1.875rem, 700, $black);
            text-align: left;

            margin-bottom: 1.25rem;
        }

        &-list {
            width: 100%;
            @include flex-setting(row, center, center);

            margin: 0 0 2.1875rem 0;
            gap: 0.9375rem;

            span {

                display: inline-flex;
                width: 25px;
                height: 25px;

                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;

                background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_451_20489)'%3E%3Cpath d='M19.8988 9.10345C20.2925 8.71979 20.4314 8.15672 20.2616 7.63329C20.0914 7.10986 19.6481 6.73621 19.1034 6.65692L14.2608 5.95327C14.0546 5.92324 13.8764 5.79388 13.7843 5.60686L11.6193 1.21879C11.3762 0.725801 10.8828 0.419434 10.3329 0.419434C9.78346 0.419434 9.29007 0.725801 9.04698 1.21879L6.88158 5.60686C6.78947 5.79388 6.61086 5.92324 6.40461 5.95327L1.562 6.65732C1.01775 6.73621 0.574414 7.10986 0.40421 7.63329C0.234406 8.15672 0.373373 8.71979 0.767046 9.10345L4.27085 12.5188C4.42023 12.6645 4.48871 12.8744 4.45347 13.0794L3.62648 17.9024C3.53357 18.4443 3.75183 18.9813 4.19676 19.3049C4.64129 19.6289 5.21999 19.6709 5.70737 19.4142L10.0382 17.1371C10.2228 17.0402 10.4431 17.0402 10.6277 17.1371L14.9589 19.4142C15.1703 19.5256 15.3994 19.5804 15.6273 19.5804C15.9232 19.5804 16.218 19.4879 16.4695 19.3049C16.9144 18.9813 17.1327 18.4443 17.0398 17.9024L16.2124 13.0798C16.1771 12.8744 16.2456 12.6649 16.395 12.5192L19.8988 9.10345ZM15.4234 13.2152L16.2504 18.0378C16.2921 18.2805 16.198 18.5123 15.9985 18.6573C15.7987 18.8019 15.55 18.8195 15.3317 18.7058L11.0005 16.4282C10.7919 16.3189 10.562 16.2636 10.3329 16.2636C10.1038 16.2636 9.87437 16.3189 9.66532 16.4286L5.33493 18.7058C5.11586 18.8195 4.86717 18.8019 4.66773 18.6573C4.46829 18.5123 4.37457 18.2809 4.41582 18.0378L5.24282 13.2152C5.32251 12.7498 5.16833 12.2749 4.83032 11.9457L1.32612 8.52997C1.1495 8.35776 1.08943 8.11507 1.16592 7.88079C1.24202 7.6461 1.43304 7.48511 1.67694 7.44947L6.51915 6.74583C6.98651 6.67814 7.39059 6.38499 7.59924 5.96128L9.76464 1.57322C9.87357 1.35215 10.0862 1.22039 10.3325 1.22039C10.5792 1.22039 10.7915 1.35215 10.9008 1.57322L13.0662 5.96128C13.2749 6.38499 13.6785 6.67814 14.1459 6.74583L18.9885 7.44947C19.2324 7.48511 19.4234 7.6461 19.4995 7.88079C19.5756 8.11507 19.5159 8.35776 19.3393 8.52997L15.8355 11.9453C15.4975 12.2749 15.3433 12.7494 15.4234 13.2152Z' fill='%23FDB600'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_451_20489'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.333008)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                @include gapFallback(0.875rem);
            }

            &.poor {
                span:first-of-type {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.bad {
                span:first-of-type,
                span:nth-of-type(2) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.medium {
                span:first-of-type,
                span:nth-of-type(2),
                span:nth-of-type(3) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.good {
                span:first-of-type,
                span:nth-of-type(2),
                span:nth-of-type(3),
                span:nth-of-type(4) {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }

            &.excellent {
                span {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9346 7.65863C19.7742 7.11714 19.3097 6.72104 18.7497 6.64801L13.4344 5.91377L11.331 0.887748C11.0239 0.152078 10.1786 -0.195313 9.44291 0.111778C9.09222 0.258208 8.81338 0.537009 8.66699 0.887706L6.5636 5.91373L1.24832 6.64797C0.456359 6.75824 -0.0962609 7.4896 0.014012 8.28152C0.0613854 8.62184 0.228239 8.9342 0.484775 9.16278L4.48946 12.7339L3.66666 18.3378C3.57752 18.9068 3.83887 19.4737 4.32947 19.7755C4.81317 20.0848 5.43534 20.0733 5.90719 19.7462L9.99901 16.9636L14.0908 19.7491C14.7511 20.1972 15.6496 20.0252 16.0978 19.365C16.3014 19.0649 16.3848 18.6993 16.3314 18.3406L15.5086 12.7347L19.5133 9.16354C19.9385 8.78907 20.1036 8.19945 19.9346 7.65863Z' fill='%23FDB600'/%3E%3C/svg%3E");
                }
            }
        }

        &-summary {
            width: 100%;

            @include flex-setting(column, flex-start, center);
        }

        &-note {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 400, $black);
            text-align: center;
            margin-bottom: 1.25rem;
        }

        &-link {
            @include flex-setting(column, center, center);

            &:first-of-type {
                width: 181px;
                height: 40px;
                margin-bottom: 0.625rem;
            }

            &:last-of-type {
                width: 195px;
                height: 60px;
                margin-bottom: 3.125rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-new {
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.875rem, 1.25rem, 800, $white);
            text-transform: uppercase;
            text-align: center;
            padding: 0.9375rem 0;

            width: 223px;

            background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
            border-radius: 25px;
            border: none;
            cursor: pointer;

            &:hover,
            &:active {
                background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
            }
        }
    }
}

@include min-screen(768px) {
    .itemcard {
        &__main {
            padding: 0 2.5rem;
        }

        &__frame {
            padding-bottom: 69.01408450704226%;
            margin-bottom: 1.25rem;

            &.special {
                &::after {
                    width: 140px;
                    height: 140px;

                    background-size: 30px 30px;
                    background-position: top 1.5625rem right 1.5625rem;
                    border-top-right-radius: 24px;
                }
            }
        }

        &__info {
            margin-bottom: 6.25rem;
        }

        &__title {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }

        &__articul {
            font-size: 1.125rem;
            margin-bottom: 1.875rem;
        }

        &__contains {
            font-size: 1.125rem;
            line-height: 1.875rem;
            margin-bottom: 1.875rem;
        }

        &__data {
            width: 100%;
            justify-content: flex-start;
            gap: 2.5rem;

            margin-bottom: 1.875rem;

            &-item {
                @include gapFallback(2.5rem);
            }

            &-name {
                font-size: 1.125rem;
                margin-bottom: 0.625rem;
            }

            &-nr {
                font-size: 1.125rem;
            }
        }

        &__checkout {
            padding-top: 1.9375rem;
        }

        &__price {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }

        &__count {
            margin-right: 1.875rem;
            margin-left: auto;
        }

        &__cart {
            @include font-setting($primary-font, 0.875rem, 1.25rem, 800, $white);
            text-transform: uppercase;
            text-align: center;

            width: 171px;
            height: 40px;
            border-radius: 30px;

            background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);

            cursor: pointer;

            &:hover,
            &:active {
                background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
            }
        }

        &__details {
            margin-bottom: 12.5rem;
        }

        &__tabs {
            justify-content: space-between;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: calc(100% - 5rem);

                height: 1px;
                border-bottom: 1px solid #E0E0E0;
                bottom: 0;
                left: 2.5rem;
            }

            &-item {
                width: 30%;
            }
        }

        &__body {
            width: 100%;

            &-item {
                padding-top: 2.5rem;

                &:first-of-type {
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                }

                &:last-of-type {
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;

                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }

            &-description {
                width: 100%;
                font-size: 1rem;
                line-height: 1.875rem;
            }
        }

        &__feedback {
            padding-bottom: 0;
            border-bottom: none;

            margin-right: 2.5rem;

            position: relative;
            max-width: 952px;

            &::after {
                position: absolute;
                content: '';

                width: 1px;
                height: 100%;

                border-left: 1px dashed $lightgray;

                top: 0;
                right: -1.25rem;
            }

            &-head {
                margin-bottom: 1.25rem;
            }

            &-list {
                width: auto;
                gap: 0.625rem;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: 0;

                span {
                    width: 15px;
                    height: 15px;
                    @include gapFallback(0.625rem);
                }
            }

            &-description {
                font-size: 1rem;
                line-height: 1.875rem;
            }
        }

        &__ratings {
            align-items: flex-start;
            padding-top: 0;
            max-width: 224px;


            &-list {
                width: 100%;
                justify-content: flex-start;
            }

            &-summary {
                align-items: flex-start;
            }

            &-note {
                text-align: left;
            }
        }
    }

}

@include min-screen(1366px) {
    .itemcard {
        &__main {
            max-width: 1440px;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            margin-bottom: 5rem;
        }

        &__frame {
            max-width: 710px;
            min-height: 0;
            height: calc(36.97916666666667vw * (11.04225352112676 / 16));
            max-height: 490px;
            margin-bottom: 0;
            margin-right: 2.5rem;
            padding: 0;
            border-radius: 25px;

            &-image {
                position: relative;
                object-fit: contain;
                object-position: top;
                height: auto;
            }
        }

        &__info {
            max-width: 590px;
            margin-bottom: 0;
        }

        &__tabs {
            max-width: 1440px;
            justify-content: flex-start;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            &::after {
                position: absolute;
                content: '';

                width: calc(100% - 5rem);

                height: 1px;
                border-bottom: 1px solid #E0E0E0;
                bottom: 0;
                left: 2.5rem;
            }

            &-item {
                max-width: 176px;

                &:first-of-type {
                    .itemcard__tabs-btn {
                        align-items: flex-start;
                    }
                }
            }
        }

        &__body {
            width: 100%;
            max-width: 1440px;

            &-item {
                justify-content: space-between;
            }
        }

        &__feedback {
            margin-right: 6.875rem;

            &::after {
                right: -3.4375rem;
            }
        }
    }
}


@include min-screen(1680px) {
    .itemcard {
        &__main {
            align-items: center;
            padding-left: 0;
            padding-right: 0;
        }

        &__frame {
            &.special {
                &::after {
                    right: -2px;
                }
            }
        }

        &__tabs {
            padding-left: 0;
            padding-right: 0;

            &::after {
                width: 100%;
                left: 0rem;
            }
        }

        &__body {
            &-item {
                &:first-of-type {
                    padding-left: 0;
                    padding-right: 0;
                }

                &:nth-of-type(2) {
                    padding-left: 0;
                    padding-right: 0;
                }

                &:last-of-type {
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: space-between;
                }
            }
        }

        &__feedback {
            &::after {
                right: -8.25rem;
            }
        }
    }
}
