.meals-about {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 7.5rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;
    }

    &__frame {
        display: none;
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1.875rem;
    }

    &__description {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        text-align: center;
    }
}

@include min-screen(768px) {
    .meals-about {
        margin-bottom: 7.5rem;

        &__wrapper {
            align-items: flex-start;
            padding: 0 2.5rem;
        }

        &__title {
            align-self: flex-start;
            font-size: 1.875rem;
            line-height: 2.1875rem;
            text-align: left;
            margin-bottom: 2.5rem;
        }

        &__description {
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: left;
        }
    }
}

@include min-screen(1366px) {
    .meals-about {
        margin-bottom: 7.5rem;

        &__wrapper {
            display: grid;
            grid-template-columns: 600px 1fr;
            grid-column-gap: 2.5rem;
            padding: 0 2.5rem;
            justify-content: center;
            align-items: center;
        }

        &__frame {
            @include flex-setting(column, center, center);

            width: 100%;
            height: 100%;

            &-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__info {
            max-width: 710px;
        }

        &__title {
            font-size: 2.875rem;
            line-height: 3.75rem;
        }
    }
}


@include min-screen(1680px) {
    .meals-about {
        margin-bottom: 12.125rem;

        &__wrapper {
            grid-template-columns: 600px 710px;
            grid-column-gap: 8.875rem;
            padding: 0;
        }

        &__title {
            margin-bottom: 3.125rem;
        }

        &__description {
            font-size: 1rem;
            line-height: 1.875rem;
        }
    }
}
