.popup-callback {
    position: fixed;

    width: 100vw;
    height: 100vh;

    @include flex-setting(column, center, center);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;

    display: none;

    &.active {
        display: flex;
    }

    &.hidden {
        .popup-callback__wrapper {
            animation: fadeOut 2s $cubic 1 forwards;
        }
    }

    &__wrapper {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        height: 100%;
        padding: 1.875rem 1.875rem;
        background-color: $white;

        animation: fadeIn 2s $cubic 1 forwards;
        z-index: 2;
    }

    &__head {
        width: 100%;

        @include flex-setting(row, space-between, center);

        padding-bottom: 1.25rem;

        border-bottom: 1px dashed $gray;
    }

    &__title {
        @include font-setting($primary-font, 1.25rem, 1.875rem, 800, $black);
        text-transform: uppercase;
    }

    &__closer {
        display: block;
        width: 30px;
        height: 30px;

        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_451_14160)'%3E%3Cpath d='M16.6574 15.0011L29.6568 2.00168C30.1144 1.544 30.1144 0.801971 29.6568 0.344355C29.1991 -0.113262 28.4571 -0.11332 27.9995 0.344355L15 13.3438L2.00058 0.344355C1.5429 -0.11332 0.800872 -0.11332 0.343256 0.344355C-0.11436 0.80203 -0.114419 1.54406 0.343256 2.00168L13.3427 15.0011L0.343256 28.0006C-0.114419 28.4582 -0.114419 29.2003 0.343256 29.6579C0.572064 29.8867 0.872005 30.0011 1.17195 30.0011C1.47189 30.0011 1.77177 29.8867 2.00064 29.6579L15 16.6585L27.9994 29.6579C28.2282 29.8867 28.5281 30.0011 28.8281 30.0011C29.128 30.0011 29.4279 29.8867 29.6568 29.6579C30.1144 29.2002 30.1144 28.4582 29.6568 28.0006L16.6574 15.0011Z' fill='%23C4C4C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_451_14160'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;

        border: none;
        background-color: transparent;

        cursor: pointer;
    }
}

@include min-screen(768px) {
    .popup-callback {
        &__wrapper {
            max-width: 490px;
            height: auto;
            padding: 4.375rem 4.375rem;
            position: relative;
        }

        &__head {
            justify-content: center;
            margin-bottom: 1.875rem;
        }

        &__title {
            text-align: center;
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        &__closer {
            width: 50px;
            height: 50px;

            position: absolute;

            top: 3.75rem;
            right: -6.875rem;
        }
    }
}
