include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'cabinet-bg', 'Личный кабинет')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.cabinet
                .cabinet__wrapper.cabinet__wrapper--results
                    include ../modules/blocks/bio
                    
                    .cabinet__content
                        h2.cabinet__title Результаты расчётов
                        
                        .cabinet__result.result
                            ul.result__table
                                li.result__item.result__item--heading
                                    .result__heading
                                        span.result__heading-date Дата
                                        span.result__heading-weight Вес
                                        span.result__heading-goal Цель
                                        span.result__heading-activity Активность
                                +cabCalcItem('01.07.2021', '2021-07-01', '84 кг.', 'Снижение веса', 'Минимальная')
                                +cabCalcItem('01.07.2021', '2021-07-01', '82 кг.', 'Снижение веса', 'Средняя')
                                +cabCalcItem('01.07.2021', '2021-07-01', '83 кг.', 'Набор массы', 'Средняя')
                                +cabCalcItem('01.07.2021', '2021-07-01', '85 кг.', 'Набор массы', 'Экстримальная')
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        //script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        //script(src="static/js/menu.js")
        script(src="static/js/select.js")
        //script(src="static/js/filter-meal.js")
        script(src="static/js/mask.js")
        script(src="static/js/cabinet-result.js")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js")
        //script(src="static/js/range.js")
        block script
