include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'cabinet-bg', 'Личный кабинет')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.cabinet
                .cabinet__wrapper.cabinet__wrapper--orders
                    include ../modules/blocks/bio
                    
                    .cabinet__content
                        h2.cabinet__title История заказов
                        
                        .cabinet__order.order
                            ul.order__table
                                li.order__item.order__item--heading
                                    .order__heading
                                        span.order__heading-nr № заказа
                                        span.order__heading-date Дата заказа
                                        span.order__heading-price Сумма заказа
                                        span.order__heading-stats Статус
                                +cabOrderItem('№ 1171', '01.07.2021', '2021-07-01', '6 960 руб.', 'Принят', 'ready')
                                +cabOrderItem('№ 1173', '02.07.2021', '2021-07-02', '6 160 руб.', 'Доставлен', '')
                                +cabOrderItem('№ 1174', '03.07.2021', '2021-07-03', '6 260 руб.', 'Отменен', '')
                                +cabOrderItem('№ 1175', '01.07.2021', '2021-07-01', '6 960 руб.', 'Доставлен', '')
                                
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        include ../modules/popup/meal-order
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/slider.js")
        script(src="static/js/main.js")
        script(src="static/js/cabinet-orders.js")
        block script
