include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'cabinet-bg', 'Личный кабинет')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.cabinet
                .cabinet__wrapper
                    include ../modules/blocks/bio
                    
                    .cabinet__content.cabinet__content--cabinet
                        <!--Блок истории заказов-->
                        .cabinet__block
                            .cabinet__block-head
                                h3.cabinet__name История заказов
                                a(href="cabinet-orders.html" target="_self").cabinet__link Перейти
                            ul.cabinet__list.--order
                                +cabHistory('№ 1171', 'от 01.07.2021', '2021-07-01', '6 960 руб.', '#')
                                +cabHistory('№ 2571', 'от 01.07.2021', '2021-07-01', '9 120 руб.', '#')
                                +cabHistory('№ 1341', 'от 01.07.2021', '2021-07-01', '3 430 руб.', '#')
                                +cabHistory('№ 3245', 'от 01.07.2021', '2021-07-01', '3 430 руб.', '#')
                        <!--Блок результатов расчетов-->
                        .cabinet__block
                            .cabinet__block-head
                                h3.cabinet__name Результаты расчётов
                                a(href="cabinet-results.html" target="_self").cabinet__link Перейти
                            ul.cabinet__list.--res
                                +cabResults('01.07.2021', '2021-07-01', '80кг', 'Снижение веса', '#')
                                +cabResults('01.07.2021', '2021-07-01', '80кг', 'Снижение веса', '#')
                                +cabResults('01.07.2021', '2021-07-01', '80кг', 'Набор массы', '#')
                                +cabResults('01.07.2021', '2021-07-01', '80кг', 'Набор массы', '#')
                        <!--Блок Баллов-->
                        .cabinet__block
                            .cabinet__block-head
                                h3.cabinet__name Баллы
                                a(href="cabinet-points.html" target="_self").cabinet__link Перейти
                            ul.cabinet__list.--point
                                +cabPoints('+10', '01.07.2021', '2021-07-01', '#')
                                +cabPoints('+32', '01.07.2021', '2021-07-01', '#')
                                +cabPoints('-350', '01.07.2021', '2021-07-01', '#')
                                +cabPoints('+15', '01.07.2021', '2021-07-01', '#')
                        <!--Блок приглашения друга-->
                        .cabinet__block
                            .cabinet__block-head
                                h3.cabinet__name Пригласить друга
                            form(method="post" action="#" name="invitation").cabinet__invite
                                input(type="email" id="friend-mail" name="friend-name" placeholder="Е-mail вашего друга").cabinet__invite-input
                                button(type="submit").cabinet__invite-submit
                            p.cabinet__note При регистрации друга Вы получаете 100 р. на свой счет, а друг получает 300 р. на свой счёт. Баллы начислятся только после первого оплаченного заказа нового пользователя.
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        script(src="static/js/main.js")
        script(src="static/js/select.js")
        script(src="static/js/mask.js")
        block script
