include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'calories-bg', 'Калькулятор калорий онлайн')

            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            article.calculate
                <!--noLogged класс для незалогиненых, loggedActive залогиненые и отправившие форму-->
                .calculate__wrapper.loggedActive
                    .calculate__body
                        h2.calculate__title Расчет рациона питания
                        form(method="post" action="" name="meal-calculation" id="meal-calculator").calculate__form
                            .calculate__form-wrap
                                <!--Выбор пола-->
                                .calculate__block.calculate__block--gender
                                    b.calculate__name Пол
                                    ul.calculate__list
                                        li.calculate__item
                                            input(type="radio" name="gender" id="male" value="male" checked).calculate__radio
                                            label(for="male").calculate__button Мужской
                                        li.calculate__item
                                            input(type="radio" name="gender" id="female" value="female").calculate__radio
                                            label(for="female").calculate__button Женский
                                <!--Выбор цели-->
                                .calculate__block.calculate__block--goal
                                    b.calculate__name Цель
                                    ul.calculate__list.calculate__list--goal
                                        li.calculate__item
                                            input(type="radio" name="goal" id="goal-1" value="reduce-weight" checked).calculate__radio
                                            label(for="goal-1").calculate__button Снизить вес
                                        li.calculate__item
                                            input(type="radio" name="goal" id="goal-2" value="keep-fit").calculate__radio
                                            label(for="goal-2").calculate__button Поддержать форму
                                        li.calculate__item
                                            input(type="radio" name="goal" id="goal-3" value="gain-weight").calculate__radio
                                            label(for="goal-3").calculate__button Набрать массу
                                <!--Уровень активности-->
                                .calculate__block.calculate__block--activity
                                    b.calculate__name Уровень активности
                                    ul.calculate__list
                                        li.calculate__item
                                            input(type="radio" name="activity" id="activity-1" value="minimum" checked).calculate__radio
                                            label(for="activity-1").calculate__button Мин
                                        li.calculate__item
                                            input(type="radio" name="activity" id="activity-2" value="medium").calculate__radio
                                            label(for="activity-2").calculate__button Средняя
                                        li.calculate__item
                                            input(type="radio" name="activity" id="activity-3" value="light").calculate__radio
                                            label(for="activity-3").calculate__button Легкая
                                        li.calculate__item
                                            input(type="radio" name="activity" id="activity-4" value="high").calculate__radio
                                            label(for="activity-4").calculate__button Высокая
                                        li.calculate__item
                                            input(type="radio" name="activity" id="activity-5" value="extreme").calculate__radio
                                            label(for="activity-5").calculate__button Экстрим
                                    .calculate__info
                                        span.calculate__info-item#activityMin
                                        span.calculate__info-item#activityMedium
                                        span.calculate__info-item#activityLight
                                        span.calculate__info-item#activityHigh
                                        span.calculate__info-item#activityExtreme
                                <!--Выбор возраста/роста/вес-->
                                ul.calculate__list.calculate__list--data
                                    li.calculate__item
                                        label(for="age").calculate__label Возраст:
                                        input(type="number" name="calc-age" id="age" placeholder="25").calculate__input 
                                    li.calculate__item
                                        label(for="height").calculate__label Рост:
                                        input(type="number" name="calc-height" id="height" placeholder="185").calculate__input
                                    li.calculate__item
                                        label(for="weight").calculate__label Вес:
                                        input(type="number" name="calc-weight" id="weight" placeholder="75").calculate__input
                            <!--Часть формы для незарегистрированных или незалогиненых пользователей-->
                            .calculate__form-idle
                                h2.calculate__subtitle Введите данные
                                p.calculate__description После расчёта калорий вся информация придёт к Вам на почту
                                    
                                ul.calculate__list
                                    li.calculate__item
                                        label(for="calc-name").calculate__label Ваше имя:
                                        input(type="text" name="calc-name" id="calc-name").calculate__input
                                    li.calculate__item
                                        label(for="calc-email").calculate__label Ваш E-mail:
                                        input(type="email" name="calc-email" id="calc-email" onkeydown="validationMail()" required).calculate__input
                                    li.calculate__item
                                        label(for="calc-tel").calculate__label Ваш телефон:
                                        input(type="tel" name="calc-tel" id="calc-tel").calculate__input.js-phone-input
                                        
                                .calculate__subscribe
                                    input(type="checkbox" name="news-subscribe" id="news-subscribe").calculate__subscribe-checkbox
                                    label(for="news-subscribe").calculate__subscribe-label Я хочу получать новости компании General Food
                                p.calculate__note Хотите сохранить результаты расчётов в личном кабинете, 
                                    a(href="#" target="_self").calculate__note-link войдите 
                                    | или 
                                    a(href="#" target="_self").calculate__note-link зарегистрируйтесь 
                                    | на сайте.
                            button(type="submit").calculate__submit Рассчитать
                    <!--Только для зарегистрированных-->
                    .calculate__result
                        h2.calculate__subtitle Ваш результат
                        ul.calculate__result-list
                            li.calculate__result-item#weightIndex
                                span.calculate__result-name Индекс массы тела
                                b.calculate__result-data 23.15 имт
                            li.calculate__result-item#optimalWeight
                                span.calculate__result-name Оптимальный вес
                                b.calculate__result-data 66 кг.
                            li.calculate__result-item#safeWeightLoss
                                span.calculate__result-name Похудение без вреда
                                b.calculate__result-data -9 кг.
                        .calculate__advice
                            p.calculate__description Чтобы Снизить вес Вам нужно потреблять:
                            .calculate__summary 
                                b.calculate__summary-nr 1621 
                                span кКал в день
                        a(href="meals.html" target="_self").calculate__link Смотреть рационы
                        button(type="button").calculate__save Сохранить результаты
                        span.calculate__final Результаты расчётов сохранены
                    span.calculate__warning * Все результаты калькулятора калорий индивидуальны и рассчитываются с параметров, которые вы вводите, мы настоятельно рекомендуем вводить точные параметры, чтобы расчет был точным.

            section.meals
                .meals__wrapper
                    h2.meals__title Рекомендуемые рационы
                    .meals__controls
                        button(type="button").meals__prev
                        button(type="button").meals__next
                    .meals__list.meals-swiper-container
                        .swiper-wrapper
                            +mealsItem('fit-meal', 'fit', '~1300 Калорий', '82', '57', '117', 'Плавного и эффективного снижения веса;', 'Повышения энергии и сил;', 'Закрепления достигнутого результата;', '950 руб.', 'От 5 400 руб.', 'meals-fit.html')
                            +mealsItem('balance-meal', 'balance', '~1800 Калорий', '92', '81', '161', 'Поддержания веса;', 'Поддержания мышечной массы девушкам и этапа сушки мужчинам;', 'Закрепления достигнутого результата;', '1 150 руб.', 'От 6 900 руб.', 'meals-balance.html')
                            +mealsItem('power-meal', 'power', '~2500 Калорий', '127', '118', '240', 'Поддержания веса опытным спортсменам;', 'Для набора мышечной массы начинающим атлетам;', 'Поддержания баланса микро- и макроэлементов в организме;', '1 350 руб.', 'От 8 100 руб.', 'meals-power.html')
                            +mealsItem('daily-meal', 'daily', '~1250 Калорий', '73', '63', '118', 'Плавного и эффективного снижения веса;', 'Снижения веса при малоподвижном образе жизни;', '', '750 руб.', 'От 3 500 руб.', 'meals-daily.html')
                            +mealsItem('vegan-meal', 'vegan', '~1350 Калорий', '26', '58', '129', 'Желающих питаться без мяса, рыбы и морепродуктов', 'Ценителей сбалансированности и разнообразия блюд;', 'Тех, кто нуждается в особом рационе;', '800 руб.', 'От 3 750 руб.', 'meals-vegan.html')
                            +mealsItem('sea-meal', 'sea', '~1350 Калорий', '73', '74', '101', 'Людей отдающих предпочтения морепродуктам и блюдам из рыбы;', 'Плавного и медленного снижения веса;', '', '1 500 руб.', 'От 7 500 руб.', 'meals-sea.html')
            section.calc-about
                .calc-about__wrapper
                    .calc-about__main
                        h2.calc-about__title Что расчитывает калькулятор калорий?
                        ul.calc-about__list
                            li.calc-about__item
                                h3.calc-about__name Оптимальный вес
                                p.calc-about__description Здоровый вес для вашего организма (с учетом возраста и роста). Именно эту цифру вы должны видеть при взвешивании.
                            li.calc-about__item
                                h3.calc-about__name Похудение без вреда
                                p.calc-about__description Количество килограммов или граммов, потеряв которые вы не навредите своему организму. Известно, что любое похудение — это стресс для организма, а если оно будет резким и несбалансированным, то можно нанести ощутимый урон здоровью. Мы настоятельно рекомендуем не худеть более чем на данную цифру. Если вы хотите похудеть еще,  проконсультируйтесь с диетологом, прежде чем отказываться от еды. Специалист подберет для вас диету, составит суточный план питания с учетом БЖУ. При наборе массы вы также должны соблюдать баланс, если просто много есть, то масса наберется неправильно и приведет к ожирению.
                            li.calc-about__item
                                h3.calc-about__name Индекс массы тела
                                p.calc-about__description ИМТ (англ. BMI — body mass index) — величина, позволяющая оценить соответствие массы тела человека его росту и понять, является ли масса недостаточной, нормальной или избыточной.
                    .calc-about__faq
                        h3.calc-about__title Что такое калькулятор калорий?
                        p.calc-about__description Хотите похудеть или набрать массу, но не знаете сколько нужно потреблять калорий? Мы поможем! Уникальный калькулятор рассчитает необходимое потребление калорий, индекс массы тела, разрешаемый (без вреда для здоровья) вес, который вы можете скинуть. Расчет проводится по общепринятым мировым формулам. К тому же на основе полученных данных мы предложим вам правильный рацион питания, который поможет достичь быстрых и стойких результатов.

                        .calc-about__contacts.faq__contacts
                            h3.faq__subtitle Остались вопросы?
                            p.faq__description Вы можете задать их нашему специалисту, воспользовавшись любым удобным для Вас способом

                            ul.faq__contacts-list
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--wa
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--tg
                                li.faq__contacts-item
                                    a(href="tel:+78007874244" target="_self").faq__contacts-link 8 800 787 42 44
                            button(type="button" data-modal="#js-popup-callback").faq__callback.js-popup-opener Перезвоните мне
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="static/js/mask.js")
        script(src="static/js/slider.js")
        block script
