include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
    body.body.body--cart
        include ../modules/header/header
        main.main
            +introShort('short', 'cart-bg', 'Корзина')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.cart
                .cart__wrapper.tabs-container
                    ul.cart__filter
                        li.cart__filter-item.cart-tab-1.tab-title.active
                            button(type="button").cart__filter-btn Корзина
                        li.cart__filter-item.cart-tab-2.tab-title.inactive
                            button(type="button").cart__filter-btn Доставка и оплата
                        li.cart__filter-item.cart-tab-3.tab-title.inactive
                            button(type="button").cart__filter-btn Данные клиента
                        li.cart__filter-item.cart-tab-4.tab-title.inactive
                            button(type="button").cart__filter-btn Подтверждение заказа
                    .cart__body
                        <!--Корзина-->
                        .cart__body-item.cart-data.tab-content.active
                            ul.cart-data__list
                                +navCart('mealItem', 'fit', '', 'Fit', '~ 1300 кКал', '2320 руб.', '', '', '', '', '')
                                +navCart('', '', 'cart-2', 'Котлетка из оленины запеченная с розмарином и картофельными дольками', 'Артикул: Б0859', '320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.')
                                +navCart('', '', 'cart-3', 'Котлетка говяжья паровая с овощами Гриль и горчично-укропным соусом', 'Артикул: М9307', '720 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.')
                                +navCart('', '', 'cart-4', 'Суп томатный с песто', 'Артикул: Б0859', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.')
                                +navCart('sertItem', '', 'sert', 'Подарочный сертификат', '3000 руб', '1320 руб.', '270 г.', '338.8 кКал', '5.1 г.', '24.8 г.', '23.7 г.')
                            .cart-data__calc
                                h2.cart-data__subtitle Рассчёт заказа

                                .cart-data__block#cartDiscount
                                    span.cart-data__heading Ваша скидка
                                    b.cart-data__nr 15%
                                .cart-data__block#cartBonus
                                    span.cart-data__heading Бонусный счёт
                                    b.cart-data__nr 345 ₽

                                    .cart-data__bonus
                                        label(for="takeBonus").cart-data__label Списать бонусы
                                        input(type="number" id="takeBonus" name="take-bonus").cart-data__quantity
                                .cart-data__block#cartCode
                                    span.cart-data__heading Промокод
                                    b.cart-data__nr -250 ₽
                                    input(type="text" name="promocode" id="promocode").cart-data__input
                                .cart-data__summary
                                    b.cart-data__summary-title Итого:
                                    span.cart-data__summary-old 1088 ₽
                                    span.cart-data__summary-new 768 ₽
                                .cart-data__discount
                                    span.cart-data__discount-title Скидка:
                                    span.cart-data__discount-nr 320 ₽
                                button(type="button").cart-data__btn.js-step-first Оплатить заказ
                        <!--Доставка и оплата-->
                        .cart__body-item.cart-info.tab-content
                            .cart-info__item.cart-info__item--payment
                                h2.cart-info__title Способы оплаты
                                span.cart-info__subtitle Выберите удобный способ оплаты

                                ul.cart-info__method
                                    li.cart-info__method-item.cart-info__method-item--cardOnline
                                        input(type="radio" name="method-type" value="methodCardOnline" id="methodCardOnline").cart-info__method-radio
                                        label(for="methodCardOnline").cart-info__method-label Картой на сайте
                                    li.cart-info__method-item.cart-info__method-item--cardCourier
                                        input(type="radio" name="method-type" value="methodCardCourier" id="methodCardCourier").cart-info__method-radio
                                        label(for="methodCardCourier").cart-info__method-label Оплата картой курьеру
                                    li.cart-info__method-item.cart-info__method-item--cashCourier
                                        input(type="radio" name="method-type" value="methodCashCourier" id="methodCashCourier").cart-info__method-radio
                                        label(for="methodCashCourier").cart-info__method-label Оплата наличными курьеру
                                p.cart-info__description Мы, рады, что Вы хотите стать нашим клиентом!
                                p.cart-info__description Для новых клиентов оформление первых заказов доступно по предоплате. Если вы уже являетесь нашим клиентом и хотите выбрать иной способы оплаты - авторизуйтесь на сайте.
                                p.cart-info__description Перенос доставки или отказ от заказа, необходимо осуществить через оператора не менее, чем за 24 часа до дня доставки.
                                p.cart-info__description В случае несвоевременного переноса или отказа, Ваши последующие заказы будут доставляться при 100% оплате на сайте.
                                p.cart-info__description Если Вы заказываете впервые, предоплата 100% на сайте является обязательной.
                                p.cart-info__description В случае отмены или переноса заказа менее чем за 24 часа, компания вправе удержать 30% от уже приготовленных блюд.

                            .cart-info__item.cart-info__item--delivery
                                h2.cart-info__title Способы доставки
                                span.cart-info__subtitle Выберите удобный способ доставки

                                ul.cart-info__delivery
                                    li.cart-info__delivery-item
                                        input(type="radio" name="del-type" value="selfDelivery" id="selfDelivery").cart-info__delivery-radio
                                        label(for="selfDelivery").cart-info__delivery-label Самовывоз (+3% к кешбек)
                                    li.cart-info__delivery-item
                                        input(type="radio" name="del-type" value="courierfDelivery" id="courierDelivery").cart-info__delivery-radio
                                        label(for="courierDelivery").cart-info__delivery-label Курьер по Москве и области
                                p.cart-info__description Доставка осуществляется только по Москве в пределах МКАД. В случае изменения адреса доставки и временного интервала после 20:00 предыдущего дня взимается дополнительно оплата в размере 350 руб.
                                p.cart-info__description Заказ оформленный до 15:00 и подтвержденный у оператора (тел. 8 495 787-42-44), доставляется на следующий день (Заказ на Премиум принимается до 17:00)
                                p.cart-info__description Оформленный заказ после 15:00, доставка через день.
                                p.cart-info__description Обращаем Ваше внимание, что без подтверждения заказа с оператором за 24 часа до даты доставки, доставка осуществляться не будет. Спасибо за понимание.

                                button(type="button").cart-info__btn.js-step-second Перейти к оформлению заказа
                        <!--Данные клиента-->
                        .cart__body-item.cart-checkout.tab-content
                            form.cart-checkout__form.cart-form
                                .cart-form__block
                                    h2.cart-form__title Адрес доставки
                                    span.cart-form__subtitle Выберите адрес доставки заказа

                                    ul.cart-form__list.cart-form__list--address
                                        li.cart-form__item
                                            label(for="cart-street").cart-form__label Улица
                                            input(type="text" name="cart-street" id="cart-street" placeholder="Название улицы" required).cart-form__input
                                        li.cart-form__item
                                            label(for="cart-house").cart-form__label Дом/Корпус
                                            input(type="number" name="cart-house" id="cart-house" placeholder="Номер" required).cart-form__input
                                        li.cart-form__item
                                            label(for="cart-office").cart-form__label Квартира/Офис
                                            input(type="number" name="cart-office" id="cart-office" placeholder="Номер" required).cart-form__input
                                        li.cart-form__item
                                            label(for="cart-date").cart-form__label Дата доставки
                                            input(type="text" id="cart-date" name="cart-date" placeholder="__.__.____"  required).cart-form__input
                                        li.cart-form__item
                                            label(for="cart-deltime").cart-form__label Время доставки
                                            .cart-form__select
                                                select(id="cart-deltime")
                                                    option(value="hide") Выберите время
                                                    option(value="morning") 08:00 – 14:00
                                                    option(value="afternoon") 14:00 – 18:00
                                                    option(value="evening") 18:00 – 22:00
                                        li.cart-form__item
                                            label(for="cart-quantity").cart-form__label Количество приборов
                                            .cart-form__select
                                                select(id="cart-quantity")
                                                    option(value="hide") Приборы не нужны
                                                    option(value="1") 1
                                                    option(value="2") 2
                                                    option(value="3") 3
                                .cart-form__block
                                    h2.cart-form__title Личные данные
                                    span.cart-form__subtitle Введите личные данные

                                    ul.cart-form__list.cart-form__list--personal
                                        li.cart-form__item
                                            label(for="cart-name").cart-form__label Имя
                                            input(type="text" name="cart-name" id="cart-name" placeholder="Ваше имя" required).cart-form__input
                                        li.cart-form__item
                                            label(for="cart-second").cart-form__label Фамилия
                                            input(type="text" name="cart-second" id="cart-second" placeholder="Ваша фамилия").cart-form__input
                                        li.cart-form__item
                                            label(for="cart-tel").cart-form__label Телефон
                                            input(type="tel" name="cart-tel" id="cart-tel" placeholder="+7 (___) ___-__-__" required).cart-form__input.js-phone-input
                                        li.cart-form__item
                                            label(for="cart-mail").cart-form__label E-mail
                                            input(type="mail" name="cart-mail" id="cart-mail" placeholder="___@___" onkeydown="validationMail()" required).cart-form__input.cart-form__input--mail
                                            span.cart-form__error.cart-form__error--mail
                                    .cart-form__bottom
                                        span.cart-form__warn Минимальная сумма для заказа: 2000 руб.
                                        button(type="submit").cart-form__submit.js-step-three Оформить заказ
                        <!--Подтверждение заказа-->
                        .cart__body-item.cart-final.tab-content
                            .cart-final__info
                                h2.cart-final__title Ваш заказ отправлен на обработку
                                span.cart-final__about Номер вашего заказа: 
                                    span.cart-final__about-nr#orderNr 1778964
                                p.cart-final__description Для подтверждения заказа пожалуйста  позвоните оператору, сообщите номер заказа и подтвердите заказ.

                                .cart-final__contacts
                                    ul.faq__contacts-list
                                        li.faq__contacts-item
                                            a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--wa
                                        li.faq__contacts-item
                                            a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--tg
                                        li.faq__contacts-item
                                            a(href="tel:+78007874244" target="_self").faq__contacts-link 8 800 787 42 44
                                    button(type="button" data-modal="#js-popup-callback").faq__callback.js-popup-opener Перезвоните мне
                            img(src="static/images/content/final-step-image.svg" alt="Ваш заказ отправлен").cart-final__image
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        script(src="static/js/main.js")
        script(src="static/js/select.js")
        script(src="static/js/tabs.js")
        script(src="static/js/tabs-cart.js")
        script(src="static/js/mask.js")
        script(src="static/js/datepicker.js")
        script(src="static/js/validation.js")
        block script
