include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'constructor-bg', 'Конструктор рациона')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.select.select--create
                .select__wrapper
                    h1.select__title Создай свой рацион
                    .select__body
                        h3.select__subtitle Выбери своё меню
                        .select__content.s-content.s-content--create
                            <!--Фильтр по датам-->
                            .s-content__filter
                                button(type="button").s-content__filter-prev
                                .s-content__filter-list.s-content__filter-list--create.s-content-filter-swiper
                                    .swiper-wrapper
                                        +dateBtn('29.11 Пн', 'monday firstDay', '2021-11-29')
                                        +dateBtn('30.11 Вт', 'tuesday emptyDay', '2021-11-30')
                                        +dateBtn('01.12 Ср', 'wednesday chosenDay', '2021-12-01')
                                        +dateBtn('02.12 Чт', 'thursday', '2021-12-02')
                                        +dateBtn('03.12 Пт', 'friday', '2021-12-03')
                                        +dateBtn('04.12 Сб', 'saturday', '2021-12-04')
                                        +dateBtn('05.12 Вс', 'sunday', '2021-12-05')
                                button(type="button").s-content__filter-next
                            <!--Блок элементов для сборки-->
                            .s-content__item
                                <!--Итоговая информация по энергии за день-->
                                .s-content__summary
                                    b.s-content__summary-title Итого за год:
                                    ul.s-content__summary-list
                                        li.s-content__summary-item#calories
                                            span.s-content__summary-name Калорийность: 
                                            span.s-content__summary-nr 1316 Ккал
                                        li.s-content__summary-item#protein
                                            span.s-content__summary-name Белки: 
                                            span.s-content__summary-nr 73.6 г.
                                        li.s-content__summary-item#fats
                                            span.s-content__summary-name Жиры: 
                                            span.s-content__summary-nr 53 г.
                                        li.s-content__summary-item#carbohydrates
                                            span.s-content__summary-name Углеводы: 
                                            span.s-content__summary-nr 135 г.
                                    a(href="#" target="_self").s-content__choose Подобрать рацион
                                <!--Наборы для приемов пищи-->
                                .s-content__grid
                                    ul.s-content__grid-list
                                        +gridItem('s-content__grid-item addBreakfast', 'Добавить завтрак', '', '', '', '', '', '', '', '', '')
                                        // Блок добавления второго завтрака
                                        +gridItem('s-content__grid-item noCatalog', '', 'breakfast-1', 'Завтрак', 'Холодная овсянка с фруктами и орехами', '', '', '', '', '', '')
                                        +gridItem('s-content__grid-item addBreakfast', 'Добавить обед', '', '', '', '', '', '', '', '', '')
                                        +gridItem('s-content__grid-item addBreakfast', 'Добавить полдник', '', '', '', '', '', '', '', '', '')
                                        +gridItem('s-content__grid-item addBreakfast', 'Добавить ужин', '', '', '', '', '', '', '', '', '')
                        .select__dates
                            .s-content__days
                                h3.s-content__days-title Количество дней:
                                ul.s-content__days-list
                                    li.s-content__days-item
                                        button(type="button" data-value="try").s-content__days-btn Попробовать
                                    li.s-content__days-item
                                        button(type="button" data-value="5").s-content__days-btn 5
                                    li.s-content__days-item
                                        button(type="button" data-value="10").s-content__days-btn 10
                                    li.s-content__days-item
                                        button(type="button" data-value="15").s-content__days-btn 15
                                    li.s-content__days-item
                                        button(type="button" data-value="30").s-content__days-btn 30
                                <!--Note 1-->        
                                span.s-content__days-start Выберите количество дней
                            <!--Календарь-->
                            .s-content__calendar
                                h3.s-content__calendar-title Выбери день старта: 
                                .s-content__calendar-body#datepicker
                                ul.s-content__calendar-list
                                    li.s-content__calendar-item
                                        span.s-content__calendar-type.--first Первый день рациона
                                    li.s-content__calendar-item
                                        span.s-content__calendar-type.--empty Дни без выбора блюд
                                    li.s-content__calendar-item
                                        span.s-content__calendar-type.--chosen Дни с выбранными блюдами
                                .s-content__calendar-controls
                                    button(type="submit").s-content__calendar-submit Подтвердить
                                    buttom(type="reset").s-content__calendar-reset Сбросить
                                    
                                <!--Note-->
                                span.s-content__calendar-start Выберите дату начала питания
                        .select__pricing.s-content__pricing
                            b.s-content__pricing-title Стоимость:
                            ul.s-content__pricing-list
                                li.s-content__pricing-item
                                    b.s-content__pricing-total 6 900 ₽
                                li.s-content__pricing-item
                                    b.s-content__pricing-cashback 
                                        span +690 ₽
                                        span кэшбэк на баланс
                            .s-content__delivery
                                b.s-content__delivery-title Бесплатная доставка
                                span.s-content__delivery-about 2-3 раза в неделю
                                a(href="#" target="_self").s-content__delivery-choose Подобрать рацион
                            button(type="button" data-modal="#js-popup-order").s-content__order.js-popup-opener Заказать
                    span.s-content__note * Фотографии блюд на сайте являются вариантом сервировки блюда. Внешний вид блюда может отличаться от фотографии на сайте.
            include ../modules/blocks/delivery
            include ../modules/blocks/consult
            section.reasons
                .reasons__wrapper
                    ul.reasons__list
                        +reasonItem('Еда на неделю – это выгодно!', 'Заказать еду на неделю или на месяц с доставкой на дом, значит сэкономить свое время, ведь Вам больше не нужно готовить и мыть посуду! Выгодное предложение для занятых людей, ценящих своё время и предпочитающих следить за своим здоровьем. Рацион на неделю обеспечивает организм всеми необходимыми минералами и микроэлементами, сохраняет фигуру, способствует достижению поставленных целей.', 'reason-1')
                        +reasonItem('Правильное питание с пользой для здоровья', 'ПП еда с строгим разделением меню дня на пять приёмов пищи способствует правильному усвоению потребляемых продуктов, с учетом распределения КБЖУ в течение дня. Мы разработали рационы, качество которых проверяется ежедневно, совместно с роспотребнадзором, институтом питания Москвы и лучшими нутрициологами и диетологами столицы. Все блюда в рационах сбалансированы по КБЖУ и полностью соответствуют целям достигаемым при выборе линеек питания.', 'reason-2')
                        +reasonItem('Качество и вкус блюд', 'Рецептура блюд в рационах – наша гордость! Мы смогли сделать доставку правильного питания с вкусовыми характеристиками, не уступающими ресторанному меню. Линейки без целевого питания Daily, Premium и Sea полностью обеспечивают клиентов разных вкусовых предпочтений едой на день.', 'reason-3')
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        include ../modules/popup/change-meal
        include ../modules/popup/fast-order
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js")
        script(src="static/js/range.js")
        script(src="static/js/tabs-delivery.js")
        script(src="static/js/slider.js")
        script(src="static/js/datepicker.js")
        block script
