include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            .error
                h1.error__title 
                    span Принято!
                    span Скоро вернемся с ответом
                p.error__description Давай попробуем ещё раз позже...
                a(href="index.html" target="_self").error__return
                    // svg
                    span Вернуться на главную
                    // svg
        include ../modules/footer/footer
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        //script(src="static/js/main.js")
        //script(src="static/js/svg.js")
        block script
