include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short short-itemcard', 'shop-bg', 'Интернет-магазин')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.itemcard
                .itemcard__wrapper
                    .itemcard__main
                        picture.itemcard__frame.special
                            source(media="(min-screen: 768px)" srcset="static/images/content/itemcard.webp" type="image/webp")
                            source(media="(min-screen: 768px)" srcset="static/images/content/itemcard.jpg")
                            source(srcset="static/images/content/itemcard-mb.webp" type="image/webp")
                            img(src="static/images/content/itemcard-mb.jpg" alt="itemcard-name").itemcard__frame-image
                        .itemcard__info
                            h1.itemcard__title Котлеты соевые с соусом барбекю
                            b.itemcard__articul Артикул: 
                                span.itemcard__articul-nr Б0859
                            p.itemcard__contains Соя, специи, соевый соус, манка, масло оливковое, сухари панировочные, томаты в с/с, лук, чеснок, морковь, перец болгарский, кабачки, масло кунжутное
                            
                            ul.itemcard__data
                                li.itemcard__data-item
                                    b.itemcard__data-name Вес
                                    span.itemcard__data-nr 270 г.
                                li.itemcard__data-item
                                    b.itemcard__data-name Калории
                                    span.itemcard__data-nr 338.8 кКал
                                li.itemcard__data-item
                                    b.itemcard__data-name Белки
                                    span.itemcard__data-nr 5.1 г.
                                li.itemcard__data-item
                                    b.itemcard__data-name Жиры
                                    span.itemcard__data-nr 24.8 г.
                                li.itemcard__data-item
                                    b.itemcard__data-name Углеводы
                                    span.itemcard__data-nr 23.7 г.
                            .itemcard__checkout
                                b.itemcard__price 320 руб.
                                .itemcard__count
                                    button(type="button").itemcard__count-btn.itemcard__count-btn-increase +
                                    input(type="number" name="item-counter" id="item-counter" placeholder="1").itemcard__count-input
                                    button(type="button").itemcard__count-btn.itemcard__count-btn-decrease -
                                button(type="button").itemcard__cart В корзину
                    .itemcard__details
                        .itemcard__content.tabs-container
                            ul.itemcard__tabs
                                li.itemcard__tabs-item.tab-title.active
                                    button(type="button").itemcard__tabs-btn Описание
                                li.itemcard__tabs-item.tab-title
                                    button(type="button").itemcard__tabs-btn Доставка
                                li.itemcard__tabs-item.tab-title
                                    button(type="button").itemcard__tabs-btn Отзывы
                            .itemcard__body
                                .itemcard__body-item.tab-content.active
                                    p.itemcard__content-description ПП еда  продуктов,  линеек питания.
                                .itemcard__body-item.tab-content
                                    include ../modules/blocks/delivery
                                .itemcard__body-item.tab-content
                                    ul.itemcard__feedback
                                        +feedbackItem('Сергей В.', 'от 27.07.2020', '2020-07-27', 'medium', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.')
                                        +feedbackItem('Марина М.', 'от 27.07.2021', '2021-07-27', 'good', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.')
                                    .itemcard__ratings
                                        h3.itemcard__ratings-title Общий рейтинг
                                        ul.itemcard__ratings-list.rate-list.excellent
                                            span.itemcard__star
                                            span.itemcard__star 
                                            span.itemcard__star
                                            span.itemcard__star
                                            span.itemcard__star
                                        .itemcard__ratings-summary
                                            p.itemcard__ratings-note Посмотреть отзывы на других площадках
                                            
                                            a(href="#" target="_blank" title="Яндекс лавка").itemcard__ratings-link
                                                img(src="static/images/content/yl.png" alt="Яндекс лавка")
                                            a(href="#" target="_blank" title="delivery Club").itemcard__ratings-link
                                                img(src="static/images/content/dc.svg" alt="delivery Club")
                                            button(type="button" data-modal="#js-popup-feedback").itemcard__ratings-new.js-popup-opener Написать отзыв
            include ../modules/blocks/similar

            section.reasons
                .reasons__wrapper
                    ul.reasons__list
                        +reasonItem('Еда на неделю – это выгодно!', 'Заказать еду на неделю или на месяц с доставкой на дом, значит сэкономить свое время, ведь Вам больше не нужно готовить и мыть посуду! Выгодное предложение для занятых людей, ценящих своё время и предпочитающих следить за своим здоровьем. Рацион на неделю обеспечивает организм всеми необходимыми минералами и микроэлементами, сохраняет фигуру, способствует достижению поставленных целей.', 'reason-1')
                        +reasonItem('Правильное питание с пользой для здоровья', 'ПП еда с строгим разделением меню дня на пять приёмов пищи способствует правильному усвоению потребляемых продуктов, с учетом распределения КБЖУ в течение дня. Мы разработали рационы, качество которых проверяется ежедневно, совместно с роспотребнадзором, институтом питания Москвы и лучшими нутрициологами и диетологами столицы. Все блюда в рационах сбалансированы по КБЖУ и полностью соответствуют целям достигаемым при выборе линеек питания.', 'reason-2')
                        +reasonItem('Качество и вкус блюд', 'Рецептура блюд в рационах – наша гордость! Мы смогли сделать доставку правильного питания с вкусовыми характеристиками, не уступающими ресторанному меню. Линейки без целевого питания Daily, Premium и Sea полностью обеспечивают клиентов разных вкусовых предпочтений едой на день.', 'reason-3')
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        include ../modules/popup/feedback
        include ../modules/popup/add-review
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="static/js/slider.js")
        script(src="static/js/tabs.js")
        script(src="static/js/tabs-delivery.js")
        block script
