include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body.newUser
        include ../modules/header/header
        main.main
            +introBlock('index-intro', 'intro-index', 'Готовим правильную еду на каждый день', '', 'От 700 руб. в день', 'Ежедневная доставка', 'Бесплатная доставка в любой день')
            
            include ../modules/blocks/how
            article.select
                .select__wrapper
                    h2.select__title Выберите своё меню
                    include ../modules/blocks/select
                    
            include ../modules/blocks/individual
            include ../modules/blocks/delivery
            include ../modules/blocks/choose
            include ../modules/blocks/faq
            include ../modules/blocks/reviews
            section.reasons
                .reasons__wrapper
                    ul.reasons__list
                        +reasonItem('Еда на неделю – это выгодно!', 'Заказать еду на неделю или на месяц с доставкой на дом, значит сэкономить свое время, ведь Вам больше не нужно готовить и мыть посуду! Выгодное предложение для занятых людей, ценящих своё время и предпочитающих следить за своим здоровьем. Рацион на неделю обеспечивает организм всеми необходимыми минералами и микроэлементами, сохраняет фигуру, способствует достижению поставленных целей.', 'reason-1')
                        +reasonItem('Правильное питание с пользой для здоровья', 'ПП еда с строгим разделением меню дня на пять приёмов пищи способствует правильному усвоению потребляемых продуктов, с учетом распределения КБЖУ в течение дня. Мы разработали рационы, качество которых проверяется ежедневно, совместно с роспотребнадзором, институтом питания Москвы и лучшими нутрициологами и диетологами столицы. Все блюда в рационах сбалансированы по КБЖУ и полностью соответствуют целям достигаемым при выборе линеек питания.', 'reason-2')
                        +reasonItem('Качество и вкус блюд', 'Рецептура блюд в рационах – наша гордость! Мы смогли сделать доставку правильного питания с вкусовыми характеристиками, не уступающими ресторанному меню. Линейки без целевого питания Daily, Premium и Sea полностью обеспечивают клиентов разных вкусовых предпочтений едой на день.', 'reason-3')
            include ../modules/blocks/consult
        include ../modules/footer/footer
        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/change-meal
        include ../modules/popup/fast-order
        include ../modules/popup/form-reaction

        include ../modules/loader/loader

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="static/js/slider.js")
        script(src="static/js/tabs.js")
        script(src="static/js/tabs-review.js")
        script(src="static/js/tabs-delivery.js")
        script(src="static/js/mask.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js")
        script(src="static/js/range.js")
        block script
