include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main.main--ready
            +introBlock('meals-intro', 'meals-intro-image', 'Готовая еда на неделю с доставкой', 'Рационы готового питания от General-food', '', '', 'От 700 руб. в день Бесплатная доставка')
            include ../modules/blocks/meals
            include ../modules/blocks/consult
            include ../modules/blocks/individual
            section.reasons
                .reasons__wrapper
                    ul.reasons__list
                        +reasonItem('Меню под определенные задачи', 'Готовое меню с просчитанной калорийностью, белками, жирами и углеводами. Полное соответствие выбранной программе питания на каждый день. Заказав готовый рацион на неделю, вы обеспечиваете себя полноценным питанием с определенной калорийностью на шесть дней. Все блюда готовы к употреблению – при необходимости нужно только разогреть. Каждый приём пищи подписан на блюде, при соблюдении меню и небольших физических упражнений вы с легкостью добьетесь результата уже через неделю.', 'reason-4')
                        +reasonItem('Удобная доставка', 'Доставка рационов правильного питания в Москве – бесплатно (при условии местонахождения в пределах МКАД). Доставка еды на неделю разбивается на 2 раза, это позволяет клиенту потреблять только свежие блюда. Удобные интервалы, возможность доставки на следующий день (если заказ оформлен до 12 дня). В связи с временными обстоятельствами (риск заражения COVID) доставка рационов сбалансированного питания доставляется бесконтактно.', 'reason-5')
                        +reasonItem('Еда в коробках – упаковка и хранение', 'Качественная вакуумная упаковка блюд рациона позволяет сохранять качество и свежесть блюд на протяжении пяти дней! После доставки еды на неделю рекомендуется хранить каждое блюдо в холодильнике. Упаковки с фольгированной коробкой запрещается разогревать в микроволновке! (на каждой коробке с едой указанны разрешенные методы разогрева). Вскрытые блюда подлежать хранению в течении 3х-х часов.', 'reason-6')
            
            section.text-block
                .text-block__wrapper
                    h2.text-block__title Рационы готового питания от General-food
                    p.text-block__description Компания General Food ежедневно работает над тем, чтобы ваша еда была еще вкуснее и разнообразнее. Новые рецепты одобрены диетологами и фитнес-тренерами при содействии Института питания. Мы используем только натуральные продукты: фермерское молоко, творог и сливки, мясо и птицу высшего сорта, свежие фрукты и овощи. Обеды и ужины сбалансированы по БЖУ, обеспечивают необходимыми полезными веществами на 100 %. Ваша диета никогда не была такой вкусной: даже рационы для похудения составлены из блюд ресторанного уровня, которые заставят чувство голода отступить вместе с лишними кг.
                    p.text-block__description С нами вам больше не нужно ломать голову, какие продукты купить и что из них приготовить. Заказывайте готовую еду на дом и в офис, первая партия будет у вас уже завтра! Возможна недорогая доставка в Подмосковье, цены уточняйте. На заказы рационов от 6 дней начисляем кешбэк: до 15 % от стоимости (кроме «Веган» и Daily).
        include ../modules/footer/footer

        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="static/js/slider.js")
        script(src="static/js/mask.js")
        block script
