include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'pricelist-bg', 'Прайс-лист')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.pricelist
                ul.pricelist__list
                    li.pricelist__item
                        .pricelist__heading
                            b.pricelist__heading-type Программы
                            b.pricelist__heading-power кКал
                            b.pricelist__heading-price.price-6 6 дней
                            b.pricelist__heading-price.price-12 12 дней
                            b.pricelist__heading-price.price-18 18 дней
                            b.pricelist__heading-price.price-30 30 дней
                    +priceLine('fit', '~1250 Ккал', '3 500 Р', '7 000 Р', '10 500 Р', '21 000 Р')
                    +priceLine('balance', '~1800 Ккал', '6 900 Р', '13 800 Р', '20 700 Р', '34 500 Р')
                    +priceLine('daily', '~1250 Ккал', '3 500 Р', '7 000 Р', '10 500 Р', '21 000 Р')
                    +priceLine('power', '~2500 Ккал', '8 100 Р', '16 200 Р', '24 300 Р', '40 500 Р')
                    +priceLine('vegan', '~1300 Ккал', '3 750 Р', '7 500 Р', '15 000 Р', '22 500 Р')
                    +priceLine('sea', '~1350 Ккал', '7 500 Р', '15 000 Р', '22 500 Р', '45 000 Р')
            article.discount
                <!--Ответ на отправку включается при добавлении класса presed к discount__wrapper-->
                .discount__wrapper 
                    h2.discount__title Хотите скидку?
                    p.discount__description Заполните форму, чтобы получить скидку!
                    form(action="" method="post").discount__form
                        ul.discount__form-list
                            li.discount__form-item
                                input(type="text" name="disc-name" id="discount-name" placeholder="Имя").discount__form-input
                            li.discount__form-item
                                input(type="tel" name="disc-tel" id="discount-tel" placeholder="Телефон").discount__form-input.js-phone-input
                        button(type="submit").discount__form-submit Получить скидку
                        span.discount__form-note Нажимая кнопку, Вы соглашаетесь с условиями оферты и даёте своё согласие на обработку персональных данных.
                    // Успещная реакция на отправку данных
                    .discount__reaction
                        ul.discount__reaction-social
                            li.discount__reaction-item
                                a(href="#" target="_blank").discount__reaction-link
                                    i.fab.fa-vk
                            li.discount__reaction-item
                                a(href="#" target="_blank").discount__reaction-link
                                    i.fab.fa-facebook-f
                            li.discount__reaction-item
                                a(href="#" target="_blank").discount__reaction-link
                                    i.fab.fa-instagram
                        a(href="blog.html" target="_blank").discount__reaction-blog Блог General Food
        include ../modules/footer/footer

        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/main.js")
        script(src="static/js/menu.js")
        script(src="static/js/mask.js")
        script(src="static/js/slider.js")
        //script(src="static/js/tabs-review.js")
        //script(src="static/js/filter-meal.js")
        block script
