include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'sales-bg', 'Акции доставки правильного питания')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.sales
                .sales__wrapper
                    h2.sales__title Действующие акции
                    .sales__block
                        b.sales__name +300 баллов
                        p.sales__description Напишите отзыв о нас на своей странице в instagram, с отметкой @gen.food и хештегом #еданадом. 
                        p.sales__description Взамен Вы получаете от нас 300 баллов в Личный кабинет
                        p.sales__description Чтобы получить баллы нужно зарегиcтрироваться на сайте
                            
                        a(href="#" target="_self").sales__link Регистрация
                    .sales__block
                        b.sales__name 10% Скидка
                        p.sales__description Акция «Первое знакомство» - 10% скидки на первый заказ правильного питания для новых клиентов. 
                        p.sales__description Можно получить если Вы:
                        
                        ul.sales__list
                            li.sales__list-item 
                                span Зарегистрировались на сайтe;
                            li.sales__list-item
                                span Заказываете в первый раз;
                            li.sales__list-item
                                span Заказываете любой рацион от 6-ти дней (в акции не участвуют рационы: Домашний и Вегетарианский).
                        p.sales__note Действие акции: не ограничено
            section.cashback
                .cashback__wrapper
                    h2.cashback__title Кешбэк
                    .cashback__content.tabs-container
                        ul.cashback__filter
                            li.cashback__filter-item.first.tab-title.active
                                button(type="button").cashback__filter-btn Как работает система кешбэка
                            li.cashback__filter-item.second.tab-title
                                button(type="button").cashback__filter-btn Условия начисления и использования баллов
                        .cashback__body
                            .cashback__body-item.tab-content.active
                                ul.cashback__steps
                                    li.cashback__steps-item
                                        h3.cashback__name Выбор рациона
                                        span.cashback__description Выберите готовый рацион или соберите свой уникальный набор блюд в рамках необходимого потребления калорий.
                                    li.cashback__steps-item
                                        h3.cashback__name Оплатите заказ
                                        span.cashback__description Оформите заказ и оплатите его на сайте (при оплате курьеру кешбэк, начисляется в течении суток после оплаты)
                                    li.cashback__steps-item
                                        h3.cashback__name Получите кешбэк
                                        span.cashback__description После оплаты заказа на счет вашего личного кабинета поступят кешбэк средства, которые вы сможете потратить на следующие заказы
                            .cashback__body-item.tab-content
                                p.cashback__description Начисление бонусов на личный кабинет клиента происходит в течение 30 минут после оплаты заказа на сайте (при оплате курьеру начисления происходят в течении суток после оплаты заказа полностью). Баллы сохраняются в течение 30-ти дней после оплаты заказа.  
                                
                                .cashback__block
                                    h3.cashback__subtitle Условия начисление кешбэка
                                    ul.cashback__list
                                        li.cashback__list-item
                                            span При заказе от 6 до 12 дней - начисляем 10% от суммы заказа
                                        li.cashback__list-item
                                            span При заказе от 18 и более дней – начисляем 15% от суммы заказа
                                                
                                .cashback__block
                                    h3.cashback__subtitle Повышенный кешбэк при заказе 2х и более рационов в один день
                                    ul.cashback__list
                                        li.cashback__list-item
                                            span При заказе от 6 до 12 дней - начисляем 15% от суммы заказа
                                        li.cashback__list-item
                                            span При заказе от 18 и более дней – начисляем 20% от суммы заказа
                                .cashback__block
                                    h3.cashback__subtitle Дополнительные условия
                                    ul.cashback__list
                                        li.cashback__list-item
                                            span Кешбэк не начисляется на рационы Веган и Daily
                                        li.cashback__list-item
                                            span Баллы начисляются только при полной оплате заказа
                                        li.cashback__list-item
                                            span Кешбэк на рационы сбалансированного питания начисляются при заказе от 6 дней 
                                        li.cashback__list-item
                                            span Кешбэк не списывается на заказы менее 6-ти дней
                                        li.cashback__list-item
                                            span Оплата баллами распространяется на все заказы кроме: Daily, Веган (готовый), Веган (конструктор), Рацион "Премиум" и "Детокс"
                                        li.cashback__list-item
                                            span General-food не отвечает за кешбэк сторонних сервисов (Лети Шоп и аналоги) 
                                        li.cashback__list-item
                                            span Начисления происходит в баллах (1 балл = 1 рублю) 
                                        li.cashback__list-item
                                            span Обналичивать, вывести, подарить накопленные баллы невозможно
        include ../modules/footer/footer

        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/tabs.js")
        block script
