extends layout/blog

block variables
	-var title = 'General Food | Блог'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Блог', link: ''}]
	-var filters = [{name: 'БЖУ', sort: 'bgu'}, {name: 'Диетическое питание', sort: 'dietFood'}, {name: 'Диеты', sort: 'diets'}, {name: 'Здоровье', sort: 'health'}, {name: 'Набор массы', sort: 'weightGain'}, {name: 'Полезная еда', sort: 'handyFood'}, {name: 'Правильное питание', sort: 'correctFood'}]
