extends layout/cabinet-results

block variables
	-var title = 'General Food | Результаты расчётов'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Личный кабинет', link: 'cabinet.html'}, {name: 'Результаты расчётов', link: ''}]
