extends layout/cabinet-orders

block variables
	-var title = 'General Food | История заказов'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Личный кабинет', link: 'cabinet.html'}, {name: 'История заказов', link: ''}]
