extends layout/cabinet-points

block variables
	-var title = 'General Food | История накопления баллов'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Личный кабинет', link: 'cabinet.html'}, {name: 'История накопления баллов', link: ''}]
