extends layout/itemcard

block variables
	-var title = 'General Food | Карточка товара'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Интернет-магазин', link: 'shop.html'}, {name: 'Котлеты соевые с соусом барбекю', link: ''}]
