.item {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    min-height: 340px;

    &__service,
    &__constructor {
        display: none;
    }

    // Стили для плиток ВНЕ каталога
    &.noCatalog {
        .item__info {
            display: none;
        }

        .js-to-cart {
            display: none;
        }
    }
    // Плитка добавления еще одного завтрака
    &.addBreakfast {
        justify-content: center;

        border: 1px dashed $lightgray;
        border-radius: 15px;

        .item__frame,
        .item__head,
        .item__constructor,
        .item__name,
        .item__info,
        .item__bottom {
            display: none;
        }

        .item__service {
            @include flex-setting(column, center, center);
            width: 100%;
            height: 100%;

            &-btn {
                display: block;
                width: 45px;
                height: 45px;
                border: none;
                border-radius: 22.5px;

                background-color: $gold;

                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77749 15H9.22251V9.22251H15V5.77816H9.22251V0H5.77749V5.77816H0V9.22251H5.77749V15Z' fill='%23575757'/%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 15px 15px;

                padding: 0;
                margin-bottom: 1.25rem;

                cursor: pointer;
                transition: 0.4s $cubic;

                &:hover,
                &:active {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
                    transition: 0.4s $cubic;
                }
            }

            &-about {
                @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                text-align: center;
            }
        }
    }

    // Плитка перехода на страницу конструтора рациона
    &.makeOwnMeal {
        justify-content: center;

        border: 1px dashed $lightgray;
        border-radius: 15px;

        .item__frame,
        .item__head,
        .item__name,
        .item__info,
        .item__bottom,
        .item__service {
            display: none;
        }

        .item__constructor {
            @include flex-setting(column, center, center);
            width: 100%;
            height: 100%;

            &-link {
                display: block;
                @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                text-decoration: none;
                padding-top: 4.5rem;

                position: relative;
                cursor: pointer;
                transition: 0.4s $cubic;

                &::after {
                    position: absolute;
                    content: '';

                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: $gold;

                    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_1218)'%3E%3Cpath d='M45.7351 11.0788V5.49268H35.7268V11.0787H32.0047V5.49268H21.9965V11.0787H17.4023V26.318H13.9409V20.7139H3.93273V26.318H0V44.5069H50V11.0787H45.7351V11.0788ZM38.6763 8.44222H42.7855V11.0787H38.6763V8.44222ZM24.9461 8.44222H29.0552V11.0787H24.9461V8.44222ZM6.88227 23.6635H10.9914V26.3181H6.88227V23.6635ZM31.4618 41.5575H2.94954V29.2677H31.4618V41.5575ZM47.0504 41.5575H34.4114V29.2677H47.0504V41.5575ZM20.3519 26.3181V14.0284H47.0504V26.3181H20.3519Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_1218'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");                  background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 50%;

                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.4s $cubic;
                }

                &:hover,
                &:active {
                    &::after {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
                        transition: 0.4s $cubic;
                    }
                }
            }
        }
    }

    &__frame {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 62.5%;

        border-radius: 15px;
        overflow: hidden;

        margin-bottom: 1.25rem;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__head {
        width: 100%;
        @include flex-setting(row, space-between, center);

        margin-bottom: 0.625rem;
    }

    &__title {
        @include font-setting($primary-font, 1.375rem, 1.875rem, 800, $lightgray);
        text-transform: uppercase;
    }

    &__faq {
        display: block;
        width: 20px;
        height: 20px;

        border-radius: 10px;
        border: 1px solid $black;

        background-color: $white;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99983 9.99992C5.36002 9.99992 5.65201 9.70793 5.65201 9.34774C5.65201 8.98755 5.36002 8.69556 4.99983 8.69556C4.63965 8.69556 4.34766 8.98755 4.34766 9.34774C4.34766 9.70793 4.63965 9.99992 4.99983 9.99992Z' fill='%23222222'/%3E%3Cpath d='M4.99971 0C3.40545 0 2.1084 1.29705 2.1084 2.89131H3.41275C3.41275 2.01627 4.12467 1.30436 4.99971 1.30436C5.87475 1.30436 6.58666 2.01627 6.58666 2.89131C6.58666 3.3152 6.42158 3.71373 6.12186 4.01344C5.73018 4.4051 4.56842 5.48062 4.55672 5.49146L4.34752 5.68508V8.0435H5.65188V6.25463C6.01184 5.92002 6.73596 5.24395 7.04416 4.93578C7.59027 4.38969 7.89102 3.66361 7.89102 2.89133C7.89102 1.29705 6.59398 0 4.99971 0Z' fill='%23222222'/%3E%3C/svg%3E");
        padding: 0;

        cursor: pointer;
        outline: none;

        transition: 0.4s $cubic;

        &:hover,
        &:active {
            border-color: $lightgreen;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99983 9.99992C5.36002 9.99992 5.65201 9.70793 5.65201 9.34774C5.65201 8.98755 5.36002 8.69556 4.99983 8.69556C4.63965 8.69556 4.34766 8.98755 4.34766 9.34774C4.34766 9.70793 4.63965 9.99992 4.99983 9.99992Z' fill='%2392C64E'/%3E%3Cpath d='M4.99971 0C3.40545 0 2.1084 1.29705 2.1084 2.89131H3.41275C3.41275 2.01627 4.12467 1.30436 4.99971 1.30436C5.87475 1.30436 6.58666 2.01627 6.58666 2.89131C6.58666 3.3152 6.42158 3.71373 6.12186 4.01344C5.73018 4.4051 4.56842 5.48062 4.55672 5.49146L4.34752 5.68508V8.0435H5.65188V6.25463C6.01184 5.92002 6.73596 5.24395 7.04416 4.93578C7.59027 4.38969 7.89102 3.66361 7.89102 2.89133C7.89102 1.29705 6.59398 0 4.99971 0Z' fill='%2392C64E'/%3E%3C/svg%3E");
            transition: 0.4s $cubic;
        }
    }

    &__name {
        align-self: flex-start;

        @include font-setting($secondary-font, 1.125rem, 1.25rem, 800, $black);
        text-align: left;
        text-decoration: none;
        margin-bottom: 1.75rem;
        transition: 0.4s linear;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;

        &:hover,
        &:focus {
            color: $lightgreen;
            transition: 0.4s linear;
        }
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__supplements {
        width: 100%;
        @include flex-setting(row, space-between, flex-start);

        padding-bottom: 0.9375rem;
        border-bottom: 1px dashed $lightgray;

        &-fact {
            @include flex-setting(column, flex-start, center);
        }

        &-name {
            @include font-setting($secondary-font, 0.875rem, 0.9375rem, 700, $black);
            margin-bottom: 0.3125rem;
            text-align: center;
        }

        &-nr {
            @include font-setting($secondary-font, 0.875rem, 0.9375rem, 400, $darkgray);
            text-align: center;
        }
    }

    &__summary {
        width: 100%;

        padding-top: 0.9375rem;

        @include flex-setting(row, space-between, center);
    }

    &__price {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
    }

    &__weight {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 400, $darkgray);
    }

    &__bottom {
        width: 100%;

        @include flex-setting(row, space-between, center);

        margin-top: auto;
        margin-bottom: 0;

        &-count {
            width: auto;
            position: relative;

            @include flex-setting(row, center, center);

            &::after {
                position: absolute;
                content: '';

                width: 1px;
                height: 100%;

                background-color: $lightgray;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                display: none;
            }
        }

        &-input {
            display: block;
            width: 46px;
            height: 40px;
            text-align: center;
            cursor: text;
            @include font-setting($primary-font, 1rem, 1.25rem, 400, #222);
            border: none;
            border-top: 1px solid $lightgray;
            border-bottom: 1px solid $lightgray;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &-btn {
            display: block;
            padding: 0;
            width: 40px;
            height: 40px;
            border: 1px solid $lightgray;
            @include font-setting($secondary-font, 1.25rem, 1.25rem, 800, #000);
            background-color: $white;

            cursor: pointer;
            outline: none;

            transition: 0.4s $cubic;

            &-increase {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            &-decrease {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            &:hover,
            &:active {
                background-color: $lightgreen;
                border-color: $lightgreen;
                color: $white;
                transition: 0.4s $cubic;
            }
        }

        &-submit {
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.875rem, 1.25rem, 700, $white);
            text-transform: uppercase;
            text-align: center;

            background-color: $gold;
            border-radius: 30px;
            border: none;

            padding: 0.625rem 1.5625rem;

            cursor: pointer;
            outline: none;

            transition: 0.4s $cubic;

            &:hover,
            &:active {
                background-color: $white;
                color: $gold;
                box-shadow: inset 0 0 10px 0 rgba(253, 182, 0, 0.3);
                transition: 0.4s $cubic;
            }
        }
    }
}

@include min-screen(768px) {
    .item {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        min-height: 355px;

        &__service,
        &__constructor {
            display: none;
        }

        // Стили для плиток ВНЕ каталога
        &.noCatalog {
            .item__info {
                display: none;
            }

            .js-to-cart {
                display: none;
            }
        }
        // Плитка добавления еще одного завтрака
        &.addBreakfast {
            justify-content: center;

            border: 1px dashed $lightgray;
            border-radius: 15px;

            .item__frame,
            .item__head,
            .item__constructor,
            .item__name,
            .item__info,
            .item__bottom {
                display: none;
            }

            .item__service {
                @include flex-setting(column, center, center);
                width: 100%;
                height: 100%;

                &-btn {
                    display: block;
                    width: 45px;
                    height: 45px;
                    border: none;
                    border-radius: 22.5px;

                    background-color: $gold;

                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77749 15H9.22251V9.22251H15V5.77816H9.22251V0H5.77749V5.77816H0V9.22251H5.77749V15Z' fill='%23575757'/%3E%3C/svg%3E%0A");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 15px 15px;

                    padding: 0;
                    margin-bottom: 1.25rem;
                }

                &-about {
                    @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                    text-align: center;
                }
            }
        }

        // Плитка перехода на страницу конструтора рациона
        &.makeOwnMeal {
            justify-content: center;

            border: 1px dashed $lightgray;
            border-radius: 15px;

            .item__frame,
            .item__head,
            .item__name,
            .item__info,
            .item__bottom,
            .item__service {
                display: none;
            }

            .item__constructor {
                @include flex-setting(column, center, center);
                width: 100%;
                height: 100%;

                &-link {
                    display: block;
                    @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                    text-decoration: none;
                    padding-top: 4.5rem;

                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';

                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: $gold;

                        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_1218)'%3E%3Cpath d='M45.7351 11.0788V5.49268H35.7268V11.0787H32.0047V5.49268H21.9965V11.0787H17.4023V26.318H13.9409V20.7139H3.93273V26.318H0V44.5069H50V11.0787H45.7351V11.0788ZM38.6763 8.44222H42.7855V11.0787H38.6763V8.44222ZM24.9461 8.44222H29.0552V11.0787H24.9461V8.44222ZM6.88227 23.6635H10.9914V26.3181H6.88227V23.6635ZM31.4618 41.5575H2.94954V29.2677H31.4618V41.5575ZM47.0504 41.5575H34.4114V29.2677H47.0504V41.5575ZM20.3519 26.3181V14.0284H47.0504V26.3181H20.3519Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_1218'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");                  background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 50%;

                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        &__frame {
            width: 100%;
            height: 0;
            position: relative;
            padding-bottom: 62.5%;

            border-radius: 15px;
            overflow: hidden;

            margin-bottom: 1.25rem;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__head {
            width: 100%;
            @include flex-setting(row, space-between, center);

            margin-bottom: 0.625rem;
        }

        &__title {
            @include font-setting($primary-font, 1.375rem, 1.875rem, 800, $lightgray);
            text-transform: uppercase;
        }

        &__faq {
            display: block;
            width: 20px;
            height: 20px;

            border-radius: 10px;
            border: 1px solid $black;

            background-color: $white;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 70%;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99983 9.99992C5.36002 9.99992 5.65201 9.70793 5.65201 9.34774C5.65201 8.98755 5.36002 8.69556 4.99983 8.69556C4.63965 8.69556 4.34766 8.98755 4.34766 9.34774C4.34766 9.70793 4.63965 9.99992 4.99983 9.99992Z' fill='%23222222'/%3E%3Cpath d='M4.99971 0C3.40545 0 2.1084 1.29705 2.1084 2.89131H3.41275C3.41275 2.01627 4.12467 1.30436 4.99971 1.30436C5.87475 1.30436 6.58666 2.01627 6.58666 2.89131C6.58666 3.3152 6.42158 3.71373 6.12186 4.01344C5.73018 4.4051 4.56842 5.48062 4.55672 5.49146L4.34752 5.68508V8.0435H5.65188V6.25463C6.01184 5.92002 6.73596 5.24395 7.04416 4.93578C7.59027 4.38969 7.89102 3.66361 7.89102 2.89133C7.89102 1.29705 6.59398 0 4.99971 0Z' fill='%23222222'/%3E%3C/svg%3E");
            padding: 0;

            cursor: pointer;
            outline: none;
        }

        &__name {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 800, $black);
            text-align: left;

            margin-bottom: 1.75rem;
        }

        &__info {
            width: 100%;

            @include flex-setting(column, flex-start, center);

            margin-top: auto;
            margin-bottom: 0;
        }

        &__supplements {
            width: 100%;
            @include flex-setting(row, space-between, flex-start);

            padding-bottom: 0.9375rem;
            border-bottom: 1px dashed $lightgray;

            &-fact {
                @include flex-setting(column, flex-start, center);
            }

            &-name {
                @include font-setting($secondary-font, 0.875rem, 0.9375rem, 700, $black);
                margin-bottom: 0.3125rem;
                text-align: center;
            }

            &-nr {
                @include font-setting($secondary-font, 0.875rem, 0.9375rem, 400, $darkgray);
                text-align: center;
            }
        }

        &__summary {
            width: 100%;

            padding-top: 0.9375rem;

            @include flex-setting(row, space-between, center);
            margin-top: auto;
            margin-bottom: 0;
        }

        &__price {
            @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        }

        &__weight {
            @include font-setting($primary-font, 1.5rem, 1.875rem, 400, $darkgray);
        }
    }
}

@include min-screen(1366px) {
    .item {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        min-height: 360px;
        
        &__service,
        &__constructor {
            display: none;
        }

        // Стили для плиток ВНЕ каталога
        &.noCatalog {
            .item__info {
                display: none;
            }

            .js-to-cart {
                display: none;
            }
        }
        // Плитка добавления еще одного завтрака
        &.addBreakfast {
            justify-content: center;

            border: 1px dashed $lightgray;
            border-radius: 15px;

            .item__frame,
            .item__head,
            .item__constructor,
            .item__name,
            .item__info,
            .item__bottom {
                display: none;
            }

            .item__service {
                @include flex-setting(column, center, center);
                width: 100%;
                height: 100%;

                &-btn {
                    display: block;
                    width: 45px;
                    height: 45px;
                    border: none;
                    border-radius: 22.5px;

                    background-color: $gold;

                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77749 15H9.22251V9.22251H15V5.77816H9.22251V0H5.77749V5.77816H0V9.22251H5.77749V15Z' fill='%23575757'/%3E%3C/svg%3E%0A");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 15px 15px;

                    padding: 0;
                    margin-bottom: 1.25rem;
                }

                &-about {
                    @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                    text-align: center;
                }
            }
        }

        // Плитка перехода на страницу конструтора рациона
        &.makeOwnMeal {
            justify-content: center;

            border: 1px dashed $lightgray;
            border-radius: 15px;

            .item__frame,
            .item__head,
            .item__name,
            .item__info,
            .item__bottom,
            .item__service {
                display: none;
            }

            .item__constructor {
                @include flex-setting(column, center, center);
                width: 100%;
                height: 100%;

                &-link {
                    display: block;
                    @include font-setting($secondary-font, 1rem, 1.25rem, 800, $black);
                    text-decoration: none;
                    padding-top: 4.5rem;

                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';

                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: $gold;

                        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_1218)'%3E%3Cpath d='M45.7351 11.0788V5.49268H35.7268V11.0787H32.0047V5.49268H21.9965V11.0787H17.4023V26.318H13.9409V20.7139H3.93273V26.318H0V44.5069H50V11.0787H45.7351V11.0788ZM38.6763 8.44222H42.7855V11.0787H38.6763V8.44222ZM24.9461 8.44222H29.0552V11.0787H24.9461V8.44222ZM6.88227 23.6635H10.9914V26.3181H6.88227V23.6635ZM31.4618 41.5575H2.94954V29.2677H31.4618V41.5575ZM47.0504 41.5575H34.4114V29.2677H47.0504V41.5575ZM20.3519 26.3181V14.0284H47.0504V26.3181H20.3519Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_1218'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");                  background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 50%;

                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        &__frame {
            width: 280px;
            height: 190px;
            padding-bottom: 0;
        }

        &__name {
            margin-bottom: 1.875rem;
        }

        &__supplements {
            width: 100%;
            @include flex-setting(row, space-between, flex-start);

            padding-bottom: 0.9375rem;
            border-bottom: 1px dashed $lightgray;

            &-fact {
                @include flex-setting(column, flex-start, center);
            }

            &-name {
                @include font-setting($secondary-font, 0.875rem, 0.9375rem, 700, $black);
                margin-bottom: 0.3125rem;
                text-align: center;
            }

            &-nr {
                @include font-setting($secondary-font, 0.875rem, 0.9375rem, 400, $darkgray);
                text-align: center;
            }
        }

        &__summary {
            width: 100%;

            padding-top: 0.9375rem;

            @include flex-setting(row, space-between, center);
            margin-top: auto;
            margin-bottom: 0;
        }

        &__price {
            @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        }

        &__weight {
            @include font-setting($primary-font, 1.5rem, 1.875rem, 400, $darkgray);
        }
    }
}
