.about {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    padding: toRem(24) toRem(16);
    margin-bottom: toRem(24);

    &__title {
        display: inline;
        margin-bottom: toRem(16);

        span {
            @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
            letter-spacing: -0.015em;
            text-align: left;
        }

        &--overline {
            position: relative;
        }
    }

    &__overline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--tb,
        &--md,
        &--lg {
            display: none;
        }
    }

    &__subtitle {
        @include font-setting($primary-font, toRem(18), toRem(28), 350, $dark);
        text-align: left;
        margin-bottom: toRem(24);

        max-width: toRem(280);
    }

    &__player {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 63.55685131195335%;
        margin-bottom: toRem(24);
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;

        width: 100%;
        height: 100%;
    }

    &__play {
        position: absolute;
        top: 50%;
        lefT: 50%;
        transform: translate(-50%, -50%);

        width: 64px;
        height: 50px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='64' height='50' viewBox='0 0 64 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.9753 26.691C36.7272 30.1322 32.7287 32.1587 25.3423 34.3822C25.2055 34.4225 25.0613 34.4302 24.921 34.4048C24.7808 34.3794 24.6484 34.3216 24.5344 34.2359C24.4203 34.1502 24.3278 34.0391 24.2642 33.9113C24.2006 33.7835 24.1677 33.6426 24.168 33.4998V18.0822C24.168 17.9451 24.1987 17.8098 24.2576 17.6861C24.3166 17.5624 24.4024 17.4534 24.5087 17.3672C24.615 17.2809 24.7393 17.2196 24.8723 17.1876C25.0054 17.1555 25.1439 17.1537 25.2777 17.1822C31.2432 18.4528 35.2593 20.6439 40.9782 25.2528C41.0848 25.3399 41.1707 25.4497 41.2295 25.5742C41.2884 25.6987 41.3188 25.8348 41.3185 25.9726C41.3182 26.1104 41.2872 26.2463 41.2279 26.3706C41.1685 26.4949 41.0822 26.6044 40.9753 26.691Z' fill='white'/%3E%3Cpath d='M9.98193 8.23263L9.34706 7.46002L9.34702 7.46005L9.98193 8.23263ZM1.86156 32.0062L0.930213 32.3703L0.93025 32.3704L1.86156 32.0062ZM23.7243 48.5826L23.8771 47.5944L23.8769 47.5943L23.7243 48.5826ZM59.2472 35.9356L60.0798 36.4896L60.0798 36.4894L59.2472 35.9356ZM62.4766 19.1709L63.4151 18.8255L63.4148 18.8247L62.4766 19.1709ZM52.2014 7.9944L52.6699 7.11097L52.6698 7.11091L52.2014 7.9944ZM31.9445 0.935577L32.0477 -0.0590837L32.0458 -0.0592809L31.9445 0.935577ZM9.34702 7.46005C2.17956 13.3502 -2.57648 23.401 0.930213 32.3703L2.79291 31.642C-0.282414 23.7761 3.83348 14.5797 10.6168 9.00522L9.34702 7.46005ZM0.93025 32.3704C4.50395 41.5083 14.0026 48.0935 23.5717 49.5709L23.8769 47.5943C14.8919 46.2071 6.06542 40.0099 2.79288 31.6419L0.93025 32.3704ZM23.5715 49.5709C37.4305 51.7141 51.5502 49.3074 60.0798 36.4896L58.4147 35.3816C50.5039 47.2696 37.3679 49.6806 23.8771 47.5944L23.5715 49.5709ZM60.0798 36.4894C63.3061 31.6396 65.5344 24.585 63.4151 18.8255L61.5381 19.5162C63.341 24.4156 61.4768 30.7786 58.4147 35.3817L60.0798 36.4894ZM63.4148 18.8247C61.4196 13.4169 57.8319 9.84881 52.6699 7.11097L51.7328 8.87783C56.5525 11.4341 59.7465 14.6601 61.5384 19.517L63.4148 18.8247ZM52.6698 7.11091C46.3606 3.76565 39.0431 0.666851 32.0477 -0.0590818L31.8413 1.93024C38.4503 2.61607 45.4946 5.57021 51.7329 8.87789L52.6698 7.11091ZM32.0458 -0.0592809C28.0571 -0.465348 24.4643 -0.320986 20.8033 0.815459C17.1484 1.95 13.4949 4.05164 9.34706 7.46002L10.6168 9.00525C14.6333 5.70481 18.061 3.76086 21.3962 2.72555C24.7253 1.69214 28.0315 1.54238 31.8432 1.93043L32.0458 -0.0592809Z' fill='white'/%3E%3C/svg%3E");
        background-color: transparent;

        border: none;
        cursor: pointer;
    }

    &__show {
        position: relative;
        align-self: flex-end;
        max-width: toRem(92);
        margin-right: toRem(24);
        margin-bottom: toRem(36);

        @include font-setting($primary-font, toRem(14), toRem(22), 500, $blue);
        text-align: left;

        a {
            color: $blue;
            text-decoration: none;
        }

        svg {
            position: absolute;
            bottom: toRem(-11);
            left: 50%;
            transform: translateX(-50%);
        }

        &-arrow--tb,
        &-arrow--md,
        &-arrow--lg {
            display: none;
        }
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__item {
        width: 100%;
        max-width: toRem(280);

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: toRem(72);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__item:nth-of-type(even) {
        align-self: flex-end;
    }

    &__item:last-of-type {
        .about__link {
            position: relative;
        }

        .about__lines {
            position: absolute;
            @include flex-setting(column, center, center);

            top: toRem(-13);
            left: toRem(-17);

            &--tablet {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        margin-bottom: toRem(8);

        span {
            @include font-setting($primary-font, toRem(18), toRem(25), 500, $dark);
            transition: 0.35s $cubic;
        }

        &:hover {
            span {
                color: $blue;
                transition: 0.35s $cubic;
            }
        }
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
        text-align: left;
    }
}

@include min-screen(768px) {
    .about {
        padding: toRem(40) toRem(40);
        margin-bottom: toRem(80);

        &__title {
            margin-bottom: toRem(24);

            span {
                font-size: toRem(40);
                line-height: toRem(72);
            }
        }

        &__overline {
            &--mb {
                display: none;
            }

            &--tb {
                display: block;

            }
        }

        &__subtitle {
            align-self: flex-end;
            font-size: toRem(24);
            line-height: toRem(38);
            margin-bottom: toRem(40);
            max-width: toRem(548);
        }

        &__player {
            padding-bottom: 63.66279069767442%;
        }

        &__play {
            width: toRem(110);
            height: toRem(86);

            background-image: url("data:image/svg+xml,%3Csvg width='110' height='86' viewBox='0 0 110 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.6833 1.52803C23.2669 3.72221 3.24571 24.2782 1.49571 41.2782C0.501796 50.9342 4.24534 61.3408 13.1831 69.7783C22.1209 78.2158 33.7456 85.4658 59.7456 84.6533C85.7456 83.8408 98.121 68.0908 102.933 60.0282C107.746 51.9655 112.928 37.9377 102.996 24.7159C93.7459 12.4034 64.0997 -0.666145 43.6833 1.52803Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M42.5465 31.1752C42.5384 30.7927 42.8852 30.5008 43.2601 30.5769C57.5116 33.4673 67.9818 42.6322 69.8508 44.3915C70.0042 44.5359 70.0446 44.7405 69.9097 44.9023C68.4914 46.6039 58.9314 54.0366 43.2348 58.2403C42.8605 58.3406 42.489 58.0631 42.4833 57.6757C42.3668 49.8056 42.6835 37.5725 42.5465 31.1752Z' fill='white'/%3E%3Cpath d='M43.2348 58.2403L42.9761 57.2744L43.2348 58.2403ZM69.8508 44.3915L70.5362 43.6634L69.8508 44.3915ZM43.0613 31.5569C57.0396 34.392 67.3433 43.4046 69.1654 45.1197L70.5362 43.6634C68.6203 41.8599 57.9837 32.5427 43.4589 29.5968L43.0613 31.5569ZM69.1416 44.262C68.8656 44.5931 68.0809 45.3194 66.7523 46.312C65.4453 47.2883 63.6608 48.4863 61.4293 49.7654C56.9665 52.3236 50.7321 55.1972 42.9761 57.2744L43.4935 59.2063C51.4341 57.0797 57.828 54.1351 62.4239 51.5006C64.7218 50.1834 66.5743 48.9414 67.9493 47.9142C69.3026 46.9032 70.2447 46.0623 70.6779 45.5426L69.1416 44.262ZM43.4832 57.6609C43.4252 53.7409 43.475 48.7289 43.5226 43.8829C43.57 39.0479 43.6152 34.3718 43.5463 31.1538L41.5468 31.1966C41.6149 34.3759 41.5702 39.0149 41.5227 43.8633C41.4752 48.7007 41.425 53.7404 41.4834 57.6905L43.4832 57.6609ZM42.9761 57.2744C43.2232 57.2082 43.4792 57.389 43.4832 57.6609L41.4834 57.6905C41.4989 58.7373 42.4979 59.4729 43.4935 59.2063L42.9761 57.2744ZM69.1654 45.1197C69.1069 45.0646 69.0222 44.9531 68.9979 44.7779C68.9709 44.5837 69.0317 44.3939 69.1416 44.262L70.6779 45.5426C70.9227 45.2489 71.0307 44.8759 70.9789 44.5028C70.9297 44.1489 70.7482 43.8629 70.5362 43.6634L69.1654 45.1197ZM43.4589 29.5968C42.4511 29.3924 41.525 30.1782 41.5468 31.1966L43.5463 31.1538C43.5517 31.4072 43.3193 31.6093 43.0613 31.5569L43.4589 29.5968Z' fill='white'/%3E%3C/svg%3E");
        }

        &__show {
            max-width: toRem(228);
            margin-bottom: toRem(52);
            font-size: toRem(18);
            line-height: toRem(28);

            svg {
                position: absolute;
                bottom: toRem(-11);
                left: auto;
                right: toRem(-4);
                transform: none;
            }

            &-arrow--mb {
                display: none;
            }

            &-arrow--tb {
                display: block;

                .show-arrow-body {
                    animation: dash 0.35s $cubic forwards;
                }

                .show-arrow-top {
                    animation: dash 0.35s $cubic forwards 0.35s;
                }
            }
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: toRem(40);
            grid-column-gap: toRem(40);
            justify-content: start;
            align-items: start;
        }

        &__item {
            max-width: toRem(324);
            margin-bottom: 0;
        }

        &__item:nth-of-type(even) {
            align-self: flex-start;
        }


        &__item:last-of-type {
            .about__lines {
                top: toRem(-30);
                left: toRem(-34);

                &--mobile {
                    display: none;
                }
                &--tablet {
                    display: flex;
                }
            }
        }

        &__link {
            margin-bottom: toRem(24);

            span {
                font-size: toRem(20);
                line-height: toRem(28);
            }
        }
    }
}

@include min-screen(1024px) {
    .about {
        padding-left: toRem(80);
        padding-right: toRem(80);

        &__title {
            margin-bottom: toRem(40);
        }

        &__subtitle {
            margin-bottom: toRem(80);
        }

        &__player {
            width: toRem(854);
            height: toRem(438);
            padding-bottom: 0;
        }

        &__show {
            margin-right: toRem(44);
        }

        &__list {
            grid-row-gap: toRem(80);
            grid-column-gap: toRem(80);
        }

        &__item {
            max-width: toRem(392);
        }
    }
}

@include min-screen(1440px) {
    .about {
        --wrapWidth: calc(100% - 1220px);
        padding-left: calc((var(--wrapWidth) / 2));
        padding-right: calc((var(--wrapWidth) / 2));

        &__title {
            margin-bottom: toRem(40);

            span {
                font-size: toRem(48);
                line-height: toRem(86);
            }

            svg {
                top: 45%;
            }
        }

        &__overline--tb {
            display: none;
        }

        &__overline--lg {
            display: block;
        }

        &__subtitle {
            margin-bottom: toRem(100);
            max-width: toRem(714);
        }

        &__player {
            align-self: center;
            width: toRem(776);
            height: toRem(438);
        }

        &__show {
            margin-right: toRem(256);
            margin-bottom: toRem(76);

            .show-arrow-top {
                animation: undash 0.35s $cubic forwards;
            }

            .show-arrow-body {
                animation: undash 0.35s $cubic backwards 0.35s;
            }

            &:hover {
                .show-arrow-body {
                    animation: dash 0.35s $cubic forwards;
                }

                .show-arrow-top {
                    animation: dash 0.35s $cubic forwards 0.35s;
                }
            }
        }

        &__list {
            grid-template-columns: repeat(4, 244px);
            justify-content: space-between;
            align-items: start;
        }

        &__item {
            max-width: toRem(392);
        }

        &__item:last-of-type {
            .about__lines {
                top: toRem(-38);
                left: toRem(-41);
            }
        }
    }
}
