.apply {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(24) toRem(16);
    margin-bottom: toRem(24);

    &.loaded {
        .apply__title {
            animation: fadeInBottom150 $transition-duration forwards;
        }

        .form {
            animation: fadeInBottom150 $transition-duration forwards 0.3333s;
        }

        .apply__frame--first {
            animation: fadeInBottom150 $transition-duration forwards 0.6666s;
        }

        .apply__arrow {
            animation: fadeInStatic 0s linear forwards 1.3333s;

            .apply-arrow-body {
                animation: dash 0.6666s $cubic forwards 1.3333s;
            }

            .apply-arrow-top {
                animation: dash 0.6666s $cubic forwards 1.9999s;
            }
        }

        .apply__frame--second {
            animation: fadeInBottom150 $transition-duration forwards 2.2222s;
        }
    }

    &__title {
        align-self: flex-start;
        @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
        letter-spacing: -0.015em;
        text-align: left;
        margin-bottom: toRem(24);

        opacity: 0;
    }

    &__form {
        margin-bottom: toRem(32);
        opacity: 0;
    }

    &__images {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        position: relative;
    }

    &__arrow {
        width: toRem(102);
        height: toRem(62);

        position: absolute;

        left: toRem(44);
        bottom: toRem(46);

        svg:last-child {
            position: absolute;
            right: 0;
            top: toRem(36);
        }

        &--desktop {
            display: none;
        }
    }

    &__frame {
        @include flex-setting(column, center, center);

        opacity: 0;

        &-image {
            will-change: transform;
            transition: 0.35s $cubic;
            transform-origin: center;
        }

        &:first-of-type {
            width: toRem(316);
            height: toRem(254);
        }

        &:last-of-type {
            width: toRem(182);
            height: toRem(254);

            align-self: flex-end;

            margin-top: toRem(-128);
        }
    }
}

@include min-screen(768px) {
    .apply {
        padding: toRem(40) toRem(40);
        margin-bottom: toRem(80);

        &__title {
            font-size: toRem(40);
            line-height: toRem(72);
            margin-bottom: toRem(40);
        }

        &__form {
            margin-bottom: toRem(40);
        }

        &__images {
            max-width: toRem(436);
        }

        &__arrow {
            left: toRem(128);
            bottom: toRem(40);
        }

        &__frame {
            &:first-of-type {
                width: toRem(404);
                height: toRem(254);
            }

            &:last-of-type {
                margin-top: toRem(-126);
            }
        }
    }
}

@include min-screen(1024px) {
    .apply {
        padding-left: toRem(80);
        padding-right: toRem(80);

        display: grid;
        grid-template-areas:
            'title title'
            'form images'
        ;

        grid-template-columns: 55.55555555555556% 35.18518518518519%;
        justify-content: space-between;
        align-items: start;
        grid-column-gap: toRem(80);
        grid-row-gap: toRem(40);

        &__title {
            grid-area: title;
            margin-bottom: 0;
        }

        &__form {
            grid-area: form;
            margin-bottom: 0;
        }

        &__images {
            grid-area: images;
        }

        &__arrow {
            left: toRem(9);
            bottom: toRem(120);
        }

        &__frame {
            &:first-of-type {
                width: toRem(271);
                height: toRem(254);
                transition: 0.35s $cubic;
            }

            &:last-of-type {
                margin-top: toRem(-46);
                transition: 0.35s $cubic;
            }
        }
    }
}

@include min-screen(1440px) {
    .apply {
        --wrapWidth: calc(100% - 1220px);
        padding-left: calc((var(--wrapWidth) / 2));
        padding-right: calc((var(--wrapWidth) / 2));

        grid-template-columns: 61.9672131147541% 30.16393442622951%;
        grid-column-gap: toRem(96);

        &__title {
            font-size: toRem(48);
            line-height: toRem(86);
        }

        &__form {
            grid-area: form;
            margin-bottom: 0;
        }

        &__images {
            margin-top: toRem(-88);
        }

        &__arrow {
            width: toRem(148);
            height: toRem(90);

            left: toRem(24);
            bottom: toRem(94);

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }

            svg:last-child {
                top: toRem(53);
            }
        }

        &__frame {
            overflow: hidden;

            &:hover,
            &:active {
                .apply__frame-image {
                    will-change: transform;
                    transform: scale(1.06);
                    transition: 0.35s $cubic;
                    transform-origin: center;
                }
            }
            
            &:first-of-type {
                width: toRem(336);
                height: toRem(218);
            }

            &:last-of-type {
                margin-top: toRem(-26);
            }
        }
    }
}
