.benefits {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(24) 0;
    margin-bottom: toRem(24);

    overflow-x: hidden;

    &.loaded {
        .benefits__title {
            animation: fadeInBottom30 $transition-duration forwards;
        }

        .benefits__list {
            animation: fadeInBottom30 $transition-duration forwards 0.3333s;
        }

        .benefits__images {
            animation: fadeInStatic $transition-duration forwards 0.6666s;
        }
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        padding: 0 toRem(16);
    }

    &__title {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: toRem(32);

        opacity: 0;

        span {
            @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
            letter-spacing: -0.015em;
            text-align: left;
        }
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: toRem(32);

        opacity: 0;

        &[data-value="1"] {
            .benefits__item:first-of-type {
                &::before {
                    animation: fadeInLeftArrow $transition-duration $cubic forwards 0.2222s;
                }

                span {
                    font-weight: 500;
                    transition: 0.3333s $cubic;
                }
            }
        }

        &[data-value="2"] {
            .benefits__item:nth-of-type(2) {
                &::before {
                    animation: fadeInLeftArrow $transition-duration $cubic forwards 0.2222s;
                }

                span {
                    font-weight: 500;
                    transition: 0.3333s $cubic;
                }
            }
        }

        &[data-value="3"] {
            .benefits__item:last-of-type {
                &::before {
                    animation: fadeInLeftArrow $transition-duration $cubic forwards 0.2222s;
                }

                span {
                    font-weight: 500;
                    transition: 0.3333s $cubic;
                }
            }
        }
    }

    &__item {
        width: 100%;
        margin-bottom: toRem(24);
        padding-left: toRem(60);

        position: relative;

        span {
            @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
            text-align: left;
        }

        &::before {
            position: absolute;
            content: '';

            width: toRem(24);
            height: toRem(24);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            left: toRem(24);
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

        &:first-of-type {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_34_6987)'%3E%3Cpath d='M12.6772 13.7143H-505.375V10.2857H12.6573C10.9701 7.34502 10.1343 3.09519 10.0543 0C13.512 5.08114 19.0258 9.51429 24.4794 12C19.0258 14.3794 13.7194 19.0766 10.0543 24C10.299 20.6415 10.9639 16.6906 12.6772 13.7143Z' fill='%23F5AABE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_34_6987'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                animation: fadeOutLeftArrow $transition-duration $cubic forwards;
            }
        }

        &:nth-of-type(2) {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.75876 22L12.7518 10.9088L7.49222 0L23.3698 10.7207L7.75876 22Z' fill='%2300AAAA'/%3E%3Cpath d='M5.57736 9.58335H-372V12.4338H5.65231L4.0134 16.0739L11.0984 10.9573L3.8931 6.09151L5.57736 9.58335Z' fill='%2300AAAA'/%3E%3C/svg%3E%0A");
                animation: fadeOutLeftArrow $transition-duration $cubic forwards;
            }
        }

        &:last-of-type {
            margin-bottom: 0;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.40442 0L24 10L8.41016 20L9.67694 15.4111C9.71439 15.2769 9.73358 15.1282 9.73291 14.9776C9.73224 14.8271 9.71176 14.679 9.67313 14.5458C9.63449 14.4127 9.57892 14.2984 9.51099 14.2125C9.44305 14.1266 9.36475 14.0716 9.28275 14.0523C7.62134 13.6559 5.27631 12.8271 4.5744 11.7422H-289V8.25791H4.58734C5.31924 7.14143 7.73294 6.27517 9.47031 5.90244C9.55521 5.88272 9.63608 5.82504 9.70575 5.73456C9.77542 5.64408 9.83173 5.5236 9.86963 5.38388C9.90753 5.24415 9.92584 5.08952 9.92294 4.93378C9.92004 4.77803 9.896 4.62602 9.853 4.49129L8.40442 0Z' fill='%23FFE100'/%3E%3C/svg%3E");
                animation: fadeOutLeftArrow $transition-duration $cubic forwards;
            }
        }
    }

    &__images {
        width: 100%;
        opacity: 0;
    }

    &__slide {
        width: 100%;

        @include flex-setting(column, center, center);

        .benefits__player {
            animation: fadeOutLeft 0.333s $cubic forwards;
        }

        .benefits__frame:first-of-type {
            animation: fadeOutLeft 0.333s $cubic forwards;
        }

        .benefits__frame:last-of-type {
            animation: fadeOutRight 0.333s $cubic forwards;
        }

        &--first {
            .benefits__player {
                animation: fadeInLeft 0.333s $cubic forwards 0.6666s;
            }
            .benefits__frame {
                display: none;
            }
        }

        &--second {
            &.swiper-slide-visible {
                .benefits__frame:first-of-type {
                    animation: fadeInLeft 0.333s $cubic forwards;
                }
            }

            .benefits__frame:last-of-type {
                display: none;
            }
        }

        &--third {
            &.swiper-slide-visible {
                .benefits__frame:first-of-type {
                    animation: fadeInLeft 0.333s $cubic forwards;
                }
            }

            .benefits__frame:last-of-type {
                display: none;
            }
        }
    }

    &__frame {
        overflow: hidden;

        &:hover,
        &:active {
            .benefits__frame-image {
                will-change: transform;
                transform: scale(1.16);
                transition: 0.35s $cubic;
                transform-origin: center;
            }
        }

        &-image {
            will-change: transform;
            transition: 0.35s $cubic;
            transform-origin: center;
        }
    }

    &__player {
        @include flex-setting(column, center, center);
        width: 100%;
        height: 100%;

        position: relative;
    }

    &__play {
        position: absolute;
        top: 50%;
        lefT: 50%;
        transform: translate(-50%, -50%);

        width: 64px;
        height: 50px;
        background-color: transparent;

        border: none;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';

            top: 50%;
            lefT: 50%;
            transform: translate(-50%, -50%);

            width: 64px;
            height: 50px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='64' height='50' viewBox='0 0 64 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.9753 26.691C36.7272 30.1322 32.7287 32.1587 25.3423 34.3822C25.2055 34.4225 25.0613 34.4302 24.921 34.4048C24.7808 34.3794 24.6484 34.3216 24.5344 34.2359C24.4203 34.1502 24.3278 34.0391 24.2642 33.9113C24.2006 33.7835 24.1677 33.6426 24.168 33.4998V18.0822C24.168 17.9451 24.1987 17.8098 24.2576 17.6861C24.3166 17.5624 24.4024 17.4534 24.5087 17.3672C24.615 17.2809 24.7393 17.2196 24.8723 17.1876C25.0054 17.1555 25.1439 17.1537 25.2777 17.1822C31.2432 18.4528 35.2593 20.6439 40.9782 25.2528C41.0848 25.3399 41.1707 25.4497 41.2295 25.5742C41.2884 25.6987 41.3188 25.8348 41.3185 25.9726C41.3182 26.1104 41.2872 26.2463 41.2279 26.3706C41.1685 26.4949 41.0822 26.6044 40.9753 26.691Z' fill='white'/%3E%3Cpath d='M9.98193 8.23263L9.34706 7.46002L9.34702 7.46005L9.98193 8.23263ZM1.86156 32.0062L0.930213 32.3703L0.93025 32.3704L1.86156 32.0062ZM23.7243 48.5826L23.8771 47.5944L23.8769 47.5943L23.7243 48.5826ZM59.2472 35.9356L60.0798 36.4896L60.0798 36.4894L59.2472 35.9356ZM62.4766 19.1709L63.4151 18.8255L63.4148 18.8247L62.4766 19.1709ZM52.2014 7.9944L52.6699 7.11097L52.6698 7.11091L52.2014 7.9944ZM31.9445 0.935577L32.0477 -0.0590837L32.0458 -0.0592809L31.9445 0.935577ZM9.34702 7.46005C2.17956 13.3502 -2.57648 23.401 0.930213 32.3703L2.79291 31.642C-0.282414 23.7761 3.83348 14.5797 10.6168 9.00522L9.34702 7.46005ZM0.93025 32.3704C4.50395 41.5083 14.0026 48.0935 23.5717 49.5709L23.8769 47.5943C14.8919 46.2071 6.06542 40.0099 2.79288 31.6419L0.93025 32.3704ZM23.5715 49.5709C37.4305 51.7141 51.5502 49.3074 60.0798 36.4896L58.4147 35.3816C50.5039 47.2696 37.3679 49.6806 23.8771 47.5944L23.5715 49.5709ZM60.0798 36.4894C63.3061 31.6396 65.5344 24.585 63.4151 18.8255L61.5381 19.5162C63.341 24.4156 61.4768 30.7786 58.4147 35.3817L60.0798 36.4894ZM63.4148 18.8247C61.4196 13.4169 57.8319 9.84881 52.6699 7.11097L51.7328 8.87783C56.5525 11.4341 59.7465 14.6601 61.5384 19.517L63.4148 18.8247ZM52.6698 7.11091C46.3606 3.76565 39.0431 0.666851 32.0477 -0.0590818L31.8413 1.93024C38.4503 2.61607 45.4946 5.57021 51.7329 8.87789L52.6698 7.11091ZM32.0458 -0.0592809C28.0571 -0.465348 24.4643 -0.320986 20.8033 0.815459C17.1484 1.95 13.4949 4.05164 9.34706 7.46002L10.6168 9.00525C14.6333 5.70481 18.061 3.76086 21.3962 2.72555C24.7253 1.69214 28.0315 1.54238 31.8432 1.93043L32.0458 -0.0592809Z' fill='white'/%3E%3C/svg%3E");

            transition: 0.35s $cubic;
        }

        &:active {
            &::before {
                transform: translate(-50%, -50%) scale(1.16);
                transition: 0.35s $cubic;
            }
        }
    }
}

@include min-screen(768px) {
    .benefits {
        padding: toRem(40) 0;
        margin-bottom: toRem(80);

        &__wrapper {
            padding: 0 toRem(40);
        }

        &__title {
            margin-bottom: toRem(40);

            span {
                font-size: toRem(40);
                line-height: toRem(72);

                &:first-child {
                    margin-bottom: toRem(8);
                }

                &:last-child {
                    align-self: flex-end;
                    margin-right: toRem(8);
                }
            }
        }

        &__list {
            align-self: center;
            max-width: toRem(360);
            margin-bottom: toRem(48);
            padding-left: toRem(30);
        }

        &__item {
            margin-bottom: toRem(32);
            padding-left: toRem(42);

            span {
                font-size: toRem(18);
                line-height: toRem(28);
            }

            &::before {
                width: toRem(60);
                height: toRem(26);
                left: toRem(-30);
            }

            &:first-of-type {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='60' height='26' viewBox='0 0 60 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-1.74846e-07 15L49 15L49 11L1.74846e-07 11L-1.74846e-07 15Z' fill='%23F5AABE'/%3E%3Cpath d='M48.5492 12.9998C45.8059 10.2565 44.4754 4.77001 44.3691 0.998047C48.1411 6.07992 53.0652 10.5137 59.0146 12.9998C53.0652 15.3795 48.3674 20.0773 44.3691 25.0015C44.6915 20.9449 45.6825 16.0242 48.5492 12.9998Z' fill='%23F5AABE'/%3E%3C/svg%3E");
                }
            }

            &:nth-of-type(2) {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='60' height='24' viewBox='0 0 60 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_118_10724' fill='white'%3E%3Cpath d='M38.4354 24L45.0184 11.9005L38.084 0L59.0179 11.6953L38.4354 24Z'/%3E%3C/mask%3E%3Cpath d='M38.4354 24L29.6513 19.2208L12.1686 51.3537L43.5666 32.5832L38.4354 24ZM45.0184 11.9005L53.8025 16.6797L56.4943 11.7322L53.6586 6.86585L45.0184 11.9005ZM38.084 0L42.9612 -8.72998L11.0273 -26.5707L29.4438 5.03465L38.084 0ZM59.0179 11.6953L64.1491 20.2784L78.9967 11.4022L63.8951 2.96527L59.0179 11.6953ZM47.2194 28.7792L53.8025 16.6797L36.2344 7.1213L29.6513 19.2208L47.2194 28.7792ZM53.6586 6.86585L46.7241 -5.03465L29.4438 5.03465L36.3783 16.9351L53.6586 6.86585ZM33.2068 8.72998L54.1407 20.4252L63.8951 2.96527L42.9612 -8.72998L33.2068 8.72998ZM53.8867 3.1121L33.3041 15.4168L43.5666 32.5832L64.1491 20.2784L53.8867 3.1121Z' fill='%2300AAAA' mask='url(%23path-1-inside-1_118_10724)'/%3E%3Cmask id='path-3-inside-2_118_10724' fill='white'%3E%3Cpath d='M32.1781 17.5344L35.1665 12.0428L32.0195 6.64453L41.5194 11.9526L32.1781 17.5344Z'/%3E%3C/mask%3E%3Cpath d='M32.1781 17.5344L23.3944 12.7546L5.91439 44.8772L37.3075 26.1186L32.1781 17.5344ZM35.1665 12.0428L43.9502 16.8226L46.6431 11.8739L43.8057 7.00659L35.1665 12.0428ZM32.0195 6.64453L36.8973 -2.08516L4.94914 -19.9364L23.3803 11.6808L32.0195 6.64453ZM41.5194 11.9526L46.6488 20.5369L61.5009 11.6622L46.3972 3.22296L41.5194 11.9526ZM40.9618 22.3142L43.9502 16.8226L26.3827 7.26302L23.3944 12.7546L40.9618 22.3142ZM43.8057 7.00659L40.6588 1.6083L23.3803 11.6808L26.5272 17.0791L43.8057 7.00659ZM27.1418 15.3742L36.6416 20.6823L46.3972 3.22296L36.8973 -2.08516L27.1418 15.3742ZM36.39 3.3684L27.0487 8.95016L37.3075 26.1186L46.6488 20.5369L36.39 3.3684Z' fill='%2300AAAA' mask='url(%23path-3-inside-2_118_10724)'/%3E%3Cpath d='M0 12L36 12' stroke='%2300AAAA' stroke-width='4' stroke-miterlimit='10'/%3E%3C/svg%3E");
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='59' height='24' viewBox='0 0 59 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 14L22 14L22 10L20 10L20 14ZM-1.74846e-07 10L-2 10L-2 14L1.74846e-07 14L-1.74846e-07 10ZM20 10L-1.74846e-07 10L1.74846e-07 14L20 14L20 10Z' fill='%23FFE100'/%3E%3Cpath d='M58.2079 12L24.1312 0L27.2964 5.38955C27.3904 5.55122 27.4429 5.73364 27.4492 5.92053C27.4555 6.10743 27.4155 6.29298 27.3327 6.46065C27.2499 6.62832 27.1269 6.77289 26.9746 6.88147C26.8224 6.99005 26.6456 7.05926 26.4602 7.08293C20.8532 7.74355 16.7891 9.69617 16.7891 12C16.7891 14.3038 20.6567 16.1561 26.0504 16.8627C26.2296 16.886 26.4006 16.9519 26.549 17.055C26.6974 17.158 26.8189 17.2952 26.9033 17.455C26.9877 17.6148 27.0325 17.7925 27.034 17.9732C27.0354 18.1539 26.9935 18.3323 26.9117 18.4934L24.1438 24L58.2079 12Z' fill='%23FFE100'/%3E%3C/svg%3E");
                }
            }
        }

        &__slide {
            height: toRem(416);

            flex-direction: row;
            justify-content: center;
            align-items: center;

            .benefits__player {
                animation: fadeOutLeft 0.333s $cubic forwards;
            }

            .benefits__frame:first-of-type {
                animation: fadeOutLeft 0.333s $cubic forwards;
            }

            .benefits__frame:last-of-type {
                animation: fadeOutRight 0.333s $cubic forwards;
            }

            &--first {
                .benefits__player {
                    position: absolute;
                    z-index: 2;

                    left: 0;
                    top: 0;

                }
                .benefits__frame {
                    position: absolute;
                    display: flex;
                    width: toRem(394);
                    height: toRem(360);

                    bottom: 0;
                    right: 0;
                }

                &.swiper-slide-visible {
                    .benefits__player {
                        animation: fadeInLeft 0.333s $cubic forwards;
                    }

                    .benefits__frame:last-of-type {
                        animation: fadeInRight 0.333s $cubic forwards;
                    }
                }
            }

            &--second {
                .benefits__frame:first-of-type {
                    position: absolute;
                    width: toRem(394);
                    height: toRem(360);
                    bottom: 0;
                    left: 0;

                    z-index: 2;

                }
                .benefits__frame:last-of-type {
                    position: absolute;
                    display: flex;
                    width: toRem(394);
                    height: toRem(360);
                    top: 0;
                    right: 0;
                }

                &.swiper-slide-visible {
                    .benefits__frame:first-of-type {
                        animation: fadeInLeft 0.333s $cubic forwards;
                    }

                    .benefits__frame:last-of-type {
                        animation: fadeInRight 0.333s $cubic forwards;
                    }
                }
            }

            &--third {
                .benefits__frame:first-of-type {
                    position: absolute;
                    width: toRem(394);
                    height: toRem(360);
                    top: 0;
                    left: 0;

                    z-index: 2;

                }
                .benefits__frame:last-of-type {
                    position: absolute;
                    display: flex;
                    width: toRem(240);
                    height: toRem(360);
                    bottom: 0;
                    right: toRem(77);
                }

                &.swiper-slide-visible {
                    .benefits__frame:first-of-type {
                        animation: fadeInLeft 0.333s $cubic forwards;
                    }

                    .benefits__frame:last-of-type {
                        animation: fadeInRight 0.333s $cubic forwards;
                    }
                }
            }
        }

        &__player {
            width: toRem(394);
            height: toRem(360);
        }

        &__play {
            width: toRem(108);
            height: toRem(84);

            &::before {
                width: toRem(108);
                height: toRem(84);

                background-image: url("data:image/svg+xml,%3Csvg width='110' height='86' viewBox='0 0 110 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.4267 45.9083C63.1253 51.8271 56.2528 55.3126 43.5574 59.1371C43.3224 59.2063 43.0745 59.2197 42.8334 59.176C42.5923 59.1323 42.3648 59.0329 42.1688 58.8855C41.9728 58.7381 41.8138 58.5469 41.7045 58.3272C41.5952 58.1074 41.5385 57.865 41.5391 57.6194V31.1011C41.5392 30.8653 41.5918 30.6325 41.6932 30.4198C41.7945 30.207 41.9419 30.0196 42.1247 29.8713C42.3075 29.7229 42.521 29.6174 42.7497 29.5623C42.9783 29.5073 43.2164 29.5041 43.4464 29.5531C53.6996 31.7385 60.6024 35.5073 70.4317 43.4345C70.6149 43.5843 70.7624 43.7731 70.8636 43.9873C70.9648 44.2015 71.017 44.4356 71.0165 44.6726C71.016 44.9095 70.9628 45.1434 70.8608 45.3572C70.7588 45.571 70.6105 45.7592 70.4267 45.9083Z' fill='white'/%3E%3Cpath d='M17.1575 14.1597L16.5224 13.3873L16.5224 13.3873L17.1575 14.1597ZM3.20066 55.0502L2.26922 55.4141L2.26926 55.4142L3.20066 55.0502ZM40.7773 83.5617L40.9302 82.5735L40.93 82.5734L40.7773 83.5617ZM101.832 61.8088L102.665 62.3625L102.665 62.3624L101.832 61.8088ZM107.383 32.9735L108.321 32.6283L108.321 32.6275L107.383 32.9735ZM89.7222 13.7499L90.1911 12.8666L90.1909 12.8666L89.7222 13.7499ZM54.9057 1.60876L55.009 0.61411L55.0071 0.613912L54.9057 1.60876ZM16.5224 13.3873C4.34125 23.405 -3.60256 40.3845 2.26922 55.4141L4.1321 54.6863C-1.30897 40.7592 5.99585 24.6337 17.7927 14.9321L16.5224 13.3873ZM2.26926 55.4142C8.30315 70.8541 24.3873 82.0412 40.6246 84.55L40.93 82.5734C25.2773 80.1549 9.86514 69.3564 4.13206 54.6862L2.26926 55.4142ZM40.6243 84.5499C64.3125 88.2158 88.2273 84.0746 102.665 62.3625L101 61.255C87.1804 82.037 64.2494 86.1822 40.9302 82.5735L40.6243 84.5499ZM102.665 62.3624C108.151 54.1094 111.85 42.2247 108.321 32.6283L106.444 33.3186C109.657 42.0554 106.322 53.249 101 61.2552L102.665 62.3624ZM108.321 32.6275C104.965 23.5246 98.9403 17.5105 90.1911 12.8666L89.2534 14.6332C97.6601 19.0953 103.291 24.7671 106.445 33.3194L108.321 32.6275ZM90.1909 12.8666C79.3725 7.12626 66.8936 1.84831 55.009 0.614112L54.8024 2.60341C66.3003 3.79745 78.5059 8.93056 89.2535 14.6333L90.1909 12.8666ZM55.0071 0.613912C48.2151 -0.0780507 42.1428 0.172192 35.9696 2.08985C29.8026 4.0056 23.6043 7.56374 16.5224 13.3873L17.7927 14.9321C24.7433 9.21649 30.7157 5.81622 36.5629 3.99982C42.404 2.18533 48.1895 1.92969 54.8044 2.60361L55.0071 0.613912Z' fill='white'/%3E%3C/svg%3E");
            }
        }
    }
}

@include min-screen(1024px) {
    .benefits {
        overflow-x: visible;

        &__wrapper {
            padding: 0 toRem(80);
            display: grid;

            grid-template-areas:
                'title title'
                'list images'
            ;

            grid-column-gap: toRem(50);
        }

        &__title {
            grid-area: title;

            span {
                &:last-child {
                    align-self: flex-end;
                    margin-right: toRem(100);
                }
            }
        }

        &__list {
            grid-area: list;
            margin-bottom: toRem(0);
            padding-left: toRem(36);
        }

        &__item {
            margin-bottom: toRem(64);
            padding-left: toRem(36);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__images {
            grid-area: images;
            max-width: toRem(454);
        }

        &__slide {
            max-width: toRem(454);
            height: toRem(660);

            flex-direction: column;

            &--first {
                .benefits__player {
                    left: 0;
                    top: 0;

                }
                .benefits__frame {
                    bottom: 0;
                    right: 0;
                }
            }

            &--second {
                .benefits__frame:first-of-type {
                    bottom: auto;
                    left: auto;
                    top: 0;
                    right: 0;
                    z-index: 0;

                }
                .benefits__frame:last-of-type {
                    top: auto;
                    right: auto;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
            }

            &--third {
                .benefits__frame:first-of-type {
                    top: 0;
                    left: 0;
                    z-index: 0;
                }
                .benefits__frame:last-of-type {
                    right: toRem(78);
                    z-index: 2;
                }
            }
        }

        &__play {
            width: toRem(110);
            height: toRem(86);
        }
    }
}

@include min-screen(1440px) {
    .benefits {
        margin-bottom: toRem(274);

        &__wrapper {
            max-width: toRem(1220);
            padding: 0;
            @include flex-setting(column, flex-start, center);

            position: relative;
        }

        &__title {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: toRem(100);

            span {
                font-size: toRem(48);
                line-height: toRem(86);

                &:first-child {
                    margin-bottom: 0;
                    margin-right: toRem(8);
                }

                &:last-child {
                    align-self: flex-end;
                    margin-right: 0;
                }
            }
        }

        &__list {
            margin-bottom: 0;
            padding-left: 0;
            max-width: toRem(288);

            &[data-value="1"] {
                .benefits__item:first-of-type {
                    &::before {
                        animation: fadeInLeftArrow $transition-duration $cubic forwards 0.3333s;
                    }
                }
            }

            &[data-value="2"] {
                .benefits__item:nth-of-type(2) {
                    &::before {
                        animation: fadeInLeftArrow $transition-duration $cubic forwards 0.3333s;
                    }
                }
            }

            &[data-value="3"] {
                .benefits__item:last-of-type {
                    &::before {
                        animation: fadeInLeftArrow $transition-duration $cubic forwards 0.3333s;
                    }
                }
            }
        }

        &__item {
            padding-left: 0;

            &::before {
                width: toRem(66);
                height: toRem(24);
                left: toRem(-74);
                opacity: 0;
            }

            &:first-of-type {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='64' height='24' viewBox='0 0 64 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.2383 13.7162H0V10.2872H52.2166C50.376 7.34607 49.4642 3.09563 49.377 0C53.1489 5.08187 58.0731 9.51565 64.0225 12.0017C58.0731 14.3815 53.3753 19.0793 49.377 24.0034C49.6438 20.6445 50.3693 16.693 52.2383 13.7162Z' fill='%23F5AABE'/%3E%3C/svg%3E");
                }
            }

            &:nth-of-type(2) {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='66' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='m44.435 24 6.583-12.1L44.084 0l20.934 11.695L44.435 24Z'/%3E%3C/mask%3E%3Cpath d='m44.435 24 6.583-12.1L44.084 0l20.934 11.695L44.435 24Z' fill='%230AA'/%3E%3Cpath d='m44.435 24-8.784-4.78L18.17 51.355l31.398-18.77L44.435 24Zm6.583-12.1 8.785 4.78 2.691-4.948-2.835-4.866-8.64 5.034ZM44.084 0l4.877-8.73-31.934-17.84L35.444 5.034 44.084 0Zm20.934 11.695 5.131 8.583 14.848-8.876-15.102-8.437-4.877 8.73ZM53.219 28.78l6.584-12.1-17.569-9.558-6.583 12.1 17.568 9.558Zm6.44-21.913-6.935-11.9-17.28 10.069 6.934 11.9 17.28-10.07ZM39.207 8.73 60.14 20.425l9.754-17.46L48.961-8.73 39.207 8.73Zm20.68-5.618L39.304 15.417l10.263 17.166 20.582-12.305L59.887 3.112Z' fill='%230AA' mask='url(%23a)'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='m38.178 17.534 2.989-5.491-3.148-5.398 9.5 5.308-9.34 5.581Z'/%3E%3C/mask%3E%3Cpath d='m38.178 17.534 2.989-5.491-3.148-5.398 9.5 5.308-9.34 5.581Z' fill='%230AA'/%3E%3Cpath d='m38.178 17.534-8.784-4.78-17.48 32.123L43.307 26.12l-5.129-8.585Zm2.989-5.491 8.783 4.78 2.693-4.95-2.837-4.866-8.64 5.036Zm-3.148-5.398 4.878-8.73L10.95-19.936 29.38 11.68l8.64-5.036Zm9.5 5.308 5.13 8.584L67.5 11.662 52.397 3.223l-4.878 8.73Zm-.557 10.361 2.988-5.491-17.567-9.56-2.989 5.492 17.568 9.56Zm2.844-15.307-3.147-5.399L29.38 11.681l3.147 5.398L49.806 7.007Zm-16.664 8.367 9.5 5.308 9.755-17.459-9.5-5.308-9.755 17.46ZM42.39 3.368 33.049 8.95 43.307 26.12l9.342-5.582L42.39 3.368Z' fill='%230AA' mask='url(%23b)'/%3E%3Cpath d='M.982 12.01h40.72' stroke='%230AA' stroke-width='4' stroke-miterlimit='10'/%3E%3C/svg%3E");
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                &.active {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='65' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.793 14h2v-4h-2v4Zm-24-4h-2v4h2v-4Zm24 0h-24v4h24v-4Z' fill='%23FFE100'/%3E%3Cpath d='M64.208 12 30.13 0l3.165 5.39a1.132 1.132 0 0 1-.836 1.693c-5.607.66-9.67 2.613-9.67 4.917s3.867 4.156 9.26 4.863a1.129 1.129 0 0 1 .862 1.63L30.144 24l34.064-12Z' fill='%23FFE100'/%3E%3C/svg%3E");
                    }
                }
            }
        }

        &__images {
            position: absolute;
            top: toRem(126);
            left: 0;
            right: 0;

            max-width: toRem(1220);

            .swiper-slide {
                overflow: visible;
                backface-visibility: visible;
            }
        }

        &__slide {
            max-width: toRem(1220);
            height: toRem(546);

            flex-direction: row;

            &--second {
                .benefits__frame:first-of-type {
                    left: 0;
                    top: toRem(80);
                    right: auto;
                }

                .benefits__frame:last-of-type {
                    top: 0;
                    right: 0;
                    bottom: auto;
                    left: auto;
                    width: toRem(392);
                    height: toRem(440);
                }
            }

            &--third {
                .benefits__frame:first-of-type {
                    top: auto;
                    bottom: 0;
                    width: toRem(394);
                    height: toRem(290);
                }

                .benefits__frame:last-of-type {
                    right: 0;
                    top: toRem(24);
                    width: toRem(320);
                    height: toRem(388);
                }
            }
        }

        &__play {
            width: toRem(110);
            height: toRem(86);

            &:hover {
                &::before {
                    transform: translate(-50%, -50%) scale(1.16);
                    transition: 0.35s $cubic;

                }
            }
        }
    }
}
