.cta {
    width: 100%;
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    @include flex-setting(column, center, center);

    position: relative;

    .cta-bg-round-mb {
        position: absolute;
        filter: blur(40px);

        z-index: 0;
    }

    .cta-bg-round-tb {
        display: none;
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 toRem(32);
        transform: translate(-50%, -50%);

        &.loaded {

        }
    }

    // book
    &__title {
        display: inline-block;
        width: 100%;
        @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
        letter-spacing: -0.015em;
        text-align: left;
        margin-bottom: toRem(8);
        z-index: 1;
        overflow: hidden;

        &.play {
            .letter{
                transform: translateY(-100%);
            }
        }

        .letter {
            display: inline-block;
            transition: transform 0.6s $cubic;
        }

        @for $i from 0 through 38 {
            .letter:nth-child(#{$i + 1}) {
                transition-delay: 0.015s * $i;
            }
        }
    }

    &__block {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        z-index: 1;
    }
    // book
    &__description {
        @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
        letter-spacing: -0.015em;
        margin-right: toRem(8);
        text-align: left;

        overflow: hidden;

        &.play {
            .letter2 {
                transform: translateY(-100%);
            }
        }

        .letter2 {
            display: inline-block;
            transition: transform 0.6s $cubic;
        }

        @for $i from 0 through 38 {
            .letter2:nth-child(#{$i + 1}) {
                transition-delay: 0.015s * $i;
            }
        }
    }

    &__button {
        text-decoration: none;
        position: relative;

        // book
        span {
            @include font-setting($primary-font, toRem(24), toRem(43), 350, $blue);
        }

        &[data-type="firstLine"] {
            .cta-first {
                display: block;
            }
        }

        &[data-type="secondLine"] {
            .cta-second {
                display: block;
            }
        }

        &[data-type="thirdLine"] {
            .cta__underline--mobile {
                .cta-third {
                    display: block;

                    path {
                        stroke-dashoffset: 0 !important;
                    }
                }
            }
        }

        &[data-type="fourthLine"] {
            .cta-fourth {
                display: block;
            }
        }
    }

    &__underline {
        position: absolute;
        bottom: toRem(-12);
        left: 50%;
        transform: translateX(-50%);

        &--desktop,
        &--tablet {
            display: none;
        }

        svg {
            display: none;
        }
    }
}

@include min-screen(768px) {
    .cta {
        .cta-bg-round-mb {
            display: none;
        }

        .cta-bg-round-tb {
            display: block;
            position: absolute;
            filter: blur(80px);

            z-index: 0;
        }

        &__title {
            text-align: center;
            font-size: toRem(40);
            line-height: toRem(72);
            margin-bottom: 0;
        }

        &__block {
            justify-content: center;
        }

        &__description {
            font-size: toRem(40);
            line-height: toRem(72);
            margin-right: toRem(16);
        }

        &__button {
            span {
                font-size: toRem(40);
                line-height: toRem(72);
            }

            &[data-type="secondLine"] {
                .cta__underline--tablet {
                    .cta-second {
                        display: block;

                        path {
                            stroke-dashoffset: 0 !important;
                        }
                    }
                }
            }

            &[data-type="thirdLine"] {
                .cta__underline--tablet {
                    .cta-third {
                        display: block;

                        path {
                            stroke-dashoffset: 0 !important;
                        }
                    }
                }
            }
        }

        &__underline {
            bottom: toRem(-24);

            &--mobile {
                display: none;
            }

            &--tablet {
                display: block;
            }
        }
    }
}

@include min-screen(1440px) {
    .cta {
        &__wrapper {
            height: 100vh;
            position: relative;
            top: auto;
            left: auto;
            transform: none;
        }

        .gradient-ball {
            top: 0;
            left: 0;
        }

        &__title {
            font-size: toRem(48);
            line-height: toRem(86);
        }

        &__description {
            font-size: toRem(48);
            line-height: toRem(86);
            margin-right: toRem(20);
        }

        &__button {
            span {
                font-size: toRem(48);
                line-height: toRem(86);
            }

            &[data-type="thirdLine"] {
                .cta-third {
                    display: block;
                }

                &:hover,
                &:active {
                    .cta__underline {
                        animation: fadeInStatic 0s $cubic forwards;

                        path {
                            animation: dash 0.35s $cubic forwards;
                        }
                    }
                }
            }

            &[data-type="secondLine"] {
                .cta-second {
                    display: block;
                }

                &:hover,
                &:active {
                    .cta__underline {
                        animation: fadeInStatic 0s $cubic forwards;

                        path {
                            animation: dash 0.35s $cubic forwards;
                        }
                    }
                }
            }

            &[data-type="firstLine"],
            &[data-type="fourthLine"] {
                &:hover,
                &:active {
                    .cta__underline {
                        animation: fadeInStatic 0s $cubic forwards;

                        .line-one {
                            animation: dash 0.35s $cubic forwards;
                        }

                        .line-two {
                            animation: dashReverse 0.35s $cubic forwards 0.35s;
                        }
                    }
                }
            }
        }

        &__underline {
            animation: fadeOutStatic 0s $cubic forwards 0.7s;

            &--tablet {
                display: none;
            }

            &--desktop {
                display: block;
            }

            .cta-first {
                .line-one {
                    animation: undash 0.35s $cubic forwards;
                }

                .line-two {
                    animation: undashReverse 0.35s $cubic backwards 0.35s;
                }
            }

            .cta-fourth {
                .line-one {
                    animation: undash 0.35s $cubic forwards;
                }

                .line-two {
                    animation: undashReverse 0.35s $cubic backwards 0.35s;
                }
            }

            .cta-second,
            .cta-third {
                path {
                    animation: undash 0.35s $cubic forwards;
                }
            }
        }
    }
}
