.form {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        margin-bottom: toRem(24);
    }

    &__item {
        width: 100%;

        @include flex-setting(column, center, flex-start);

        margin-bottom: toRem(24);
        position: relative;

        &--upload {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $dark;
        cursor: text;
        padding: toRem(11) toRem(8);
        margin-bottom: toRem(4);

        &.invalid {
            .form__error {
                display: inline-flex;
            }
        }
    }

    &__error {
        align-self: flex-start;
        padding-left: toRem(4);
        @include font-setting($primary-font, toRem(12), toRem(19), 350, $red);
        display: none;
    }

    &__drop {
        width: auto;
        @include flex-setting(row, flex-end, center);

        padding: 0 toRem(8);
        position: absolute;

        top: toRem(11);
        right: 0;
    }

    &__file {
        order: 2;
        color: transparent;
        width: toRem(24);

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &::before {
            position: absolute;
            content: '';
            width: toRem(24);
            height: toRem(24);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8791 6.37478L5.39309 11.8608C4.56709 12.6868 4.56709 14.0268 5.39309 14.8528V14.8528C6.21909 15.6788 7.55909 15.6788 8.38509 14.8528L15.6171 7.62079C17.1321 6.10579 17.1321 3.64979 15.6171 2.13479V2.13479C14.1021 0.619785 11.6461 0.619785 10.1311 2.13479L2.89909 9.36679C0.695094 11.5708 0.695094 15.1428 2.89909 17.3468V17.3468C5.10309 19.5508 8.67509 19.5508 10.8791 17.3468L15.2681 12.9578' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' opacity='0.4'/%3E%3C/svg%3E");
            background-size: toRem(18) toRem(20);
        }
    }

    &__label {
        order: 1;
        @include font-setting($primary-font, toRem(14), toRem(22), 400, $dark);
        display: none;
    }

    &__rules {
        display: none;
    }

    &__link {
        width: 100%;
        margin-bottom: toRem(16);
    }

    &__upload {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        position: relative;
        padding-left: toRem(40);

        display: none;

        &::before {
            position: absolute;
            content: '';

            width: toRem(24);
            height: toRem(24);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: toRem(18) toRem(18);
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0028 4.998V2.99717C16.0028 1.89171 15.1075 0.996338 14.002 0.996338H2.99742C1.89195 0.996338 0.996582 1.89171 0.996582 2.99717V14.0018C0.996582 15.1072 1.89195 16.0026 2.99742 16.0026H4.99825' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4472 19.0039H6.5547C5.69434 19.0039 4.99805 18.3076 4.99805 17.4472V6.5547C4.99805 5.69434 5.69434 4.99805 6.5547 4.99805H17.4482C18.3076 4.99805 19.0039 5.69434 19.0039 6.5547V17.4482C19.0039 18.3076 18.3076 19.0039 17.4472 19.0039Z' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.8916 8.88864H11.2227' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.2227 12.0009H15.8916' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.2227 15.1132H15.8916' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.10956 11.8069C8.00252 11.8069 7.91548 11.8939 7.91648 12.0009C7.91648 12.108 8.00352 12.195 8.11056 12.195C8.21761 12.195 8.30465 12.108 8.30465 12.0009C8.30465 11.8939 8.21761 11.8069 8.10956 11.8069' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.10956 14.9192C8.00252 14.9192 7.91548 15.0062 7.91648 15.1132C7.91648 15.2203 8.00352 15.3073 8.11056 15.3073C8.21761 15.3073 8.30465 15.2203 8.30465 15.1132C8.30465 15.0062 8.21761 14.9192 8.10956 14.9192' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.10956 8.69358C8.00251 8.69358 7.91548 8.78061 7.91648 8.88766C7.91648 8.9947 8.00352 9.08174 8.11056 9.08174C8.2176 9.08174 8.30464 8.9947 8.30464 8.88766C8.30564 8.78162 8.2176 8.69358 8.10956 8.69358' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

            top: 50%;
            transform: translateY(-50%);
            left: toRem(8);
        }

        &.active {
            display: flex;
            animation: fadeIn 0.3s $cubic forwards;
        }

        //BOOK
        &-name {
            @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
            position: relative;
            margin-right: toRem(8);
        }

        &-delete {
            @include flex-setting(column, center, center);
            width: toRem(24);
            height: toRem(24);

            padding: 0;
            border: none;
            background-color: transparent;

            opacity: 0.4;
            cursor: pointer;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: toRem(16) toRem(18);
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4H15' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 4V15C14 16.105 13.105 17 12 17H4C2.895 17 2 16.105 2 15V4' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 0.76001H5' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.86988 12.3699L6.12988 8.62988' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.12988 12.3699L9.86988 8.62988' stroke='%2314004B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }

    &__submit {
        @include flex-setting(column, flex-start, center);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: toRem(14);

        span {
            @include font-setting($primary-font, toRem(14), toRem(22), 500, $blue);

            padding: toRem(6) 0;
        }

        &-underline-tb {
            display: none;
        }
    }
}

@include min-screen(768px) {
    .form {
        &__list {
            margin-bottom: toRem(40);
        }

        &__item {
            margin-bottom: toRem(40);

            &--upload {
                margin-bottom: 0;
            }
        }

        &__input {
            font-size: toRem(24);
            line-height: toRem(37);

            padding-top: toRem(8);
            padding-bottom: toRem(8);
        }

        &__error {
            font-size: toRem(14);
            line-height: toRem(22);
            bottom: toRem(-26);
        }

        &__drop {
            order: 1;
            width: 100%;

            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;

            top: auto;
            right: auto;

            padding-left: 0;
            padding-right: 0;

            .form__label {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include font-setting($primary-font, toRem(24), toRem(37), 350, rgba(20, 0, 75, 1));
                opacity: 1;
                transition: 0.35s $cubic;
                padding: toRem(48) 0 toRem(78) 0;
                margin-bottom: 0;
                position: relative;

                top: auto;
                right: auto;
                background: rgba(20, 0, 75, 0.02);
                border: toRem(2) dashed rgba(20, 0, 75, 0.24);
                border-radius: toRem(8);
                transition: 0.35s $cubic;

                cursor: pointer;

                &:hover,
                &:active {
                    background: rgba(65, 100, 238, 0.02);
                    border: 2px dashed #4164EE;
                    transition: 0.35s $cubic;
                    color: $blue;

                    & + .form__rules {
                        color: rgba(65, 100, 238, 1);
                        transition: 0.35s $cubic;
                    }
                }
            }
        }

        &__file {
            display: none;
        }

        &__label {
            display: block;
            @include font-setting($primary-font, toRem(24), toRem(37), 350, $dark);
            margin-bottom: toRem(8);
        }

        &__rules {
            order: 2;
            display: block;
            @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
            opacity: 0.3;
            transition: 0.35s $cubic;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: toRem(48);

            pointer-events: none;
        }

        &__link {
            order: 3;
            margin-bottom: 0;
            margin-top: toRem(40);

            .form__label {
                margin-bottom: 0;
            }
        }

        &__upload {
            order: 2;
            margin-top: toRem(24);
            padding-left: toRem(48);

            &-name {
                font-size: toRem(18);
                line-height: toRem(28);
                margin-right: toRem(16);
            }
        }

        &__submit {
            margin-left: 0;

            span {
                font-size: toRem(24);
                line-height: toRem(29);
                padding-left: toRem(4);
                padding-right: toRem(4);
            }

            &-underline-mb {
                display: none;
            }

            &-underline-tb {
                display: block;

                path {
                    animation: dash 0.35s $cubic forwards;
                }
            }
        }
    }
}

@include min-screen(1440px) {
    .form {
        &__submit {
            path {
                animation: undash 0.35s $cubic backwards;
            }

            &:hover {
                path {
                    animation: dash 0.35s $cubic forwards;
                }
            }
        }
    }
}
