.freedom {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    padding: toRem(282) toRem(16);

    &__title {
        @include font-setting($primary-font, toRem(40), toRem(56), 400, $dark);
        margin-bottom: toRem(40);

        &:last-of-type {
            margin-bottom: 0;
        }

        &--second {
            padding-left: toRem(30);
        }

        &--third {
            align-self: flex-end;
        }
    }
}
