.intro {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(82) toRem(16) toRem(94) toRem(16);
    margin-bottom: toRem(24);

    position: relative;

    &-round-tb {
        display: none;
    }

    &-round-mb {
        position: absolute;
        filter: blur(45px);
        pointer-events: none;
        z-index: -1;

        top: 50%;
        left: 5vw;
    }

    &.loaded {
        // 1st
        .intro__title {
            span:first-of-type {
                animation: fadeInTop $transition-duration $cubic forwards;
            }
            span:nth-of-type(2) {
                animation: fadeInTop $transition-duration $cubic forwards 0.2222s;
            }
        }

        .intro__arrow {
            animation: fadeInStatic 0s linear forwards 0.8888s;

            .intro-arrow-body {
                animation: dash $transition-duration $cubic forwards 0.8888s;
            }

            .intro-arrow-top {
                animation: dash $transition-duration $cubic forwards calc(0.6666s + 0.8888s);
            }
        }

        .intro__subtitle-wrap {
            span:first-of-type {
                animation: fadeInLeft $transition-duration $cubic forwards calc(0.6666s + 1.5554s);
            }

            span:nth-of-type(2) {
                animation: fadeInLeft $transition-duration $cubic forwards calc(0.6666s + 1.7774s);
            }

            span:nth-of-type(3) {
                animation: fadeInLeft $transition-duration $cubic forwards calc(0.6666s + 1.9994s);
            }
        }

        .intro__frame {
            &:first-of-type {
                animation: fadeInTop $transition-duration $cubic forwards calc(0.6666s + 1.5554s);
            }
        }

        .intro__lines {
            animation: fadeInStatic 0s linear forwards calc(0.6666s + 0.6666s + 1.5554s);

            .intro-line-1,
            .intro-line-2,
            .intro-line-3 {
                animation: dashReverse 0.12s $cubic forwards calc(0.6666s + 0.6666s + 1.5554s);
            }
        }
    }

    &__title {
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: toRem(40);

        z-index: 1;
        position: relative;

        span {
            @include font-setting($primary-font, toRem(28), toRem(39), 350, $dark);
            letter-spacing: -0.015em;
            opacity: 0;
        }
    }

    &__arrow {
        position: absolute;

        width: toRem(52);
        height: toRem(84);
        bottom: toRem(-98);
        left: toRem(67);
        opacity: 0;

        svg:last-of-type {
            position: absolute;
            bottom: 0;
            right: toRem(0);
        }

        &--tablet,
        &--desktop {
            display: none;
        }

        .intro-arrow-top {
            animation: undash 0.35s $cubic forwards;
        }

        .intro-arrow-body {
            animation: undash 0.35s $cubic backwards 0.35s;
        }
    }


    &__frame {
        align-self: flex-end;
        @include flex-setting(column, center, center);
        @include box(toRem(200));
        margin-bottom: toRem(40);
        z-index: 1;
        opacity: 0;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--second {
            display: none;
        }
    }

    &__subtitle {
        margin-bottom: toRem(40);
        z-index: 1;
        position: relative;

        &-wrap {
            width: 100%;
            @include flex-setting(column, flex-start, flex-start);

            &--desktop,
            &--laptop,
            &--tablet {
                display: none;
            }
        }

        span {
            @include font-setting($primary-font, toRem(28), toRem(39), 350, $dark);
            letter-spacing: -0.015em;
            opacity: 0;
        }
    }

    &__lines {
        position: absolute;
        width: toRem(18);
        height: toRem(18);

        top: toRem(-16);
        left: toRem(-12);

        opacity: 0;

        &--tablet,
        &--desktop {
            display: none;
        }
    }

    &__jobs {
        display: none;
    }
}

@include min-screen(768px) {
    .intro {
        align-items: flex-start;
        display: grid;
        grid-template-areas:
            'title title'
            'photo-1 photo-1'
            'subt subt'
            '... link'
        ;

        grid-template-columns: 50% 50%;

        padding: toRem(138) toRem(40) toRem(20) toRem(40);
        margin-bottom: toRem(80);

        &.loaded {
            .intro__jobs {
                animation: fadeInTop $transition-duration $cubic forwards calc(0.6666s + 2.3334s);
            }
        }

        &-round-mb {
            display: none;
        }

        &-round-tb {
            display: block;
            position: absolute;
            filter: blur(90px);
            z-index: -1;

            top: 40%;
            left: 10vw;
        }

        &__title {
            grid-area: title;
            margin-bottom: toRem(16);

            span {
                max-width: toRem(482);
                font-size: toRem(32);
                line-height: toRem(58);
            }
        }

        &__arrow {
            position: absolute;
            bottom: toRem(-84);
            left: toRem(123);
        }

        &__frame {
            margin-bottom: toRem(40);

            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--first {
                grid-area: photo-1;
                width: toRem(290);
                height: toRem(248);

                justify-self: center;
                margin-left: 0;
                margin-bottom: toRem(40);
            }

            &--second {
                grid-area: photo-2;
                display: flex;

                width: toRem(129);
                height: toRem(182);

                margin-bottom: toRem(52);
                display: none;
            }
        }

        &__subtitle {
            justify-self: start;
            grid-area: subt;
            max-width: toRem(490);
            margin-bottom: toRem(60);
            margin-left: toRem(113);

            &-wrap--mobile {
                display: none;
            }

            &-wrap--tablet {
                display: flex;
            }

            span {
                font-size: toRem(32);
                line-height: toRem(58);
            }
        }

        &__lines {
            width: toRem(33);
            height: toRem(35);

            top: toRem(-16);
            left: toRem(-29);

            &--mobile {
                display: none;
            }
            &--tablet {
                display: block;
            }
        }

        &__jobs {
            opacity: 0;
            z-index: 1;
            grid-area: link;
            @include flex-setting(column, center, center);
            justify-self: end;

            width: toRem(216);
            height: toRem(146);

            margin-right: toRem(5.64);

            cursor: pointer;
            transition: 0.35s $cubic;

            &-link {
                @include font-setting($primary-font, toRem(14), toRem(22), 400, $dark);
                letter-spacing: -0.02em;
                text-decoration: none;
                position: relative;
                transition: 0.35s $cubic;

                &::before {
                    position: absolute;
                    content: '';

                    width: toRem(216);
                    height: toRem(146);

                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='211' height='142' viewBox='0 0 211 142' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.503 6.16605C72.7864 -1.40855 104.652 -0.446221 126.095 2.44975C152.12 5.94374 178.254 16.7535 194.962 37.1233C211.667 57.489 216.708 88.4592 202.318 110.744C193.309 124.707 178.002 133.719 162.027 137.976C146.054 142.232 129.271 142.157 112.906 141.037C87.8807 139.329 62.2072 134.973 40.4133 122.235C18.6177 109.497 1.17237 86.937 0.287586 61.6485L0.287582 61.6484C-0.261629 45.9066 4.67525 33.9026 13.1127 24.8895C21.5255 15.9027 33.355 9.95514 46.503 6.16605ZM14.5728 26.2563C6.51715 34.8615 1.75473 46.3408 2.28637 61.5787C3.14046 85.9901 20.032 108.007 41.4225 120.509C62.8146 133.011 88.1162 137.341 113.042 139.041L113.042 139.041C129.346 140.157 145.864 140.213 161.512 136.043C177.158 131.875 191.972 123.09 200.638 109.659L200.638 109.659C214.452 88.2664 209.702 58.2475 193.416 38.3917C177.133 18.54 151.542 7.88414 125.829 4.43197L125.828 4.43186C104.514 1.55325 72.9616 0.622357 47.0568 8.08784C34.1105 11.8188 22.6531 17.6247 14.5728 26.2563Z' fill='%2314004B'/%3E%3C/svg%3E");
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    transition: transform 0.35s $cubic;
                }

                &::after {
                    position: absolute;
                    content: '';

                    width: toRem(24);
                    height: toRem(24);

                    left: 50%;
                    transform: translateX(-50%);
                    bottom: toRem(-28);

                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: toRem(11.5) toRem(15.5);
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75098 0.942383C6.75098 0.528169 6.41519 0.192383 6.00098 0.192383C5.58676 0.192383 5.25098 0.528169 5.25098 0.942383V13.1317L1.53033 9.41105C1.23744 9.11816 0.762563 9.11816 0.46967 9.41105C0.176777 9.70395 0.176777 10.1788 0.46967 10.4717L5.46719 15.4692C5.47869 15.4809 5.49057 15.4922 5.5028 15.503C5.56388 15.5574 5.63171 15.6001 5.70338 15.631C5.79461 15.6705 5.89524 15.6924 6.00098 15.6924C6.09863 15.6924 6.19192 15.6737 6.27749 15.6398C6.36992 15.6032 6.45656 15.5475 6.53133 15.4727L11.5323 10.4717C11.8252 10.1788 11.8252 9.70395 11.5323 9.41105C11.2394 9.11816 10.7646 9.11816 10.4717 9.41105L6.75098 13.1317V0.942383Z' fill='%2314004B'/%3E%3C/svg%3E");
                    transition: transform 0.35s $cubic;
                }

                &:hover,
                &:active {
                    &::before {
                        transform: translate(-50%, -50%) scale(1.16);
                        transition: transform 0.35s $cubic;
                    }

                    &::after {
                        transform: translateX(-50%) translateY(toRem(12));
                        transition: transform 0.35s $cubic;
                    }
                }
            }
        }
    }
}

@include min-screen(1024px) {
    .intro {
        grid-template-areas:
            'title title photo-1'
            'photo-2 subt subt'
            '... ... link'
        ;

        grid-template-columns: toRem(220) 1fr toRem(264);
        grid-column-gap: toRem(64);
        padding: toRem(138) toRem(80) toRem(32) toRem(80);

        &.loaded {
            .intro__frame {
                &:nth-of-type(2) {
                    animation: fadeInBottom $transition-duration $cubic forwards calc(0.6666s + 1.9994s);
                }
            }
        }

        .gradient-ball {
            top: 0;
            left: 0;
        }

        &__title {
            max-width: toRem(536);

            span {
                max-width: toRem(536);
            }
        }

        &__arrow {
            &--mobile {
                display: none;
            }

            &--tablet {
                width: toRem(69);
                height: toRem(116);
                display: block;
                bottom: toRem(-120);
                left: toRem(53);

                svg:last-of-type {
                    position: absolute;
                    bottom: toRem(2);
                    right: toRem(0);
                }
            }
        }

        &__frame {
            &--first {
                @include box(toRem(264));
                margin-left: toRem(0);
            }

            &--second {
                width: toRem(220);
                height: toRem(308);
                margin-bottom: toRem(0);
                margin-top: toRem(-48);
                display: flex;
            }
        }

        &__subtitle {
            justify-self: start;
            margin-bottom: toRem(0);
            margin-left: toRem(-18);
            max-width: toRem(598);

            &-wrap--tablet {
                display: none;
            }

            &-wrap--laptop {
                display: flex;
            }
        }

        &__jobs {
            width: toRem(210.51);
            height: toRem(141.38);
            margin-top: toRem(-112);
            margin-right: toRem(4);
        }
    }
}

@include min-screen(1440px) {
    .intro {
        grid-template-columns: toRem(414) 1fr toRem(334);
        grid-column-gap: toRem(72);

        --wrapWidth: calc(100% - 1220px);
        padding: toRem(138) calc((var(--wrapWidth) / 2)) toRem(34) calc((var(--wrapWidth) / 2));

        &__title {
            max-width: toRem(814);
            pointer-events: none;

            span {
                max-width: 100%;
                font-size: toRem(48);
                line-height: toRem(86);
            }
        }

        &__arrow {
            &--tablet {
                bottom: toRem(-140);
                left: toRem(60);
            }
        }

        &__frame {
            &--first {
                margin-left: toRem(0);
                margin-bottom: toRem(16);
                width: toRem(290);
                height: toRem(248);
            }

            &--second {
                justify-self: end;
                margin-right: toRem(62);
                margin-top: toRem(8);
            }
        }

        &__subtitle {
            max-width: toRem(734);
            margin-left: 0;

            &-wrap--laptop {
                display: none;
            }

            &-wrap--desktop {
                display: flex;
            }

            span {
                font-size: toRem(48);
                line-height: toRem(86);
            }
        }


        &__lines {
            width: toRem(40);
            height: toRem(43);

            top: toRem(-20);
            left: toRem(-40);

            &--tablet {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }

        &__jobs {
            margin-top: toRem(-56);
            margin-right: 0;
        }
    }
}
