.numbers {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(24) toRem(16);
    margin-bottom: toRem(24);

    &.loaded {
        //1
        .numbers__title {
            animation: fadeInBottom150 $transition-duration forwards;
        }

        //2
        .numbers__item--first {
            .numbers__icon {
                animation: fadeInStatic $transition-duration forwards 0.3333s;
            }

            .numbers__name {
                animation: fadeInStatic $transition-duration forwards 0.3333s;
            }

            .numbers__description {
                animation: fadeInStatic $transition-duration forwards 0.3333s;
            }

            .numbers__arrow {
                animation: fadeInStatic 0s linear forwards 1s;

                .num-arrow-body {
                    animation: dash $transition-duration $cubic forwards 1s;
                }
            }
        }

        //3
        .numbers__item--second {
            .numbers__icon {
                animation: fadeInStatic $transition-duration forwards 1.5555s;
            }

            .numbers__name {
                animation: fadeInStatic $transition-duration forwards 1.5555s;
            }

            .numbers__description {
                animation: fadeInStatic $transition-duration forwards 1.5555s;
            }

            .numbers__arrow {
                animation: fadeInStatic 0s linear forwards 2s;

                .num-arrow-body {
                    animation: dash $transition-duration $cubic forwards 2s;
                }
            }
        }

        //4
        .numbers__item--third{
            .numbers__icon {
                animation: fadeInStatic $transition-duration forwards 2.5555s;
            }

            .numbers__name {
                animation: fadeInStatic $transition-duration forwards 2.5555s;
            }

            .numbers__description {
                animation: fadeInStatic $transition-duration forwards 2.5555s;
            }

            .numbers__arrow {
                animation: fadeInStatic 0s linear forwards 3s;

                .num-arrow-body {
                    animation: dash $transition-duration $cubic forwards 3s;
                }

                .num-arrow-top {
                    animation: fadeInStatic 0s linear forwards 3.6666s;
                }
            }
        }

        //5
        .numbers__item--fourth{
            .numbers__icon {
                animation: fadeInStatic $transition-duration forwards 3.5555s;
            }

            .numbers__name {
                animation: fadeInStatic $transition-duration forwards 3.5555s;
            }

            .numbers__description {
                animation: fadeInStatic $transition-duration forwards 3.5555s;
            }
        }
    }

    &__title {
        align-self: flex-start;
        @include font-setting($primary-font, toRem(24), toRem(43), 350, $dark);
        letter-spacing: -0.015em;
        text-align: left;
        margin-bottom: toRem(32);

        opacity: 0;
    }

    &__list {
        width: 100%;
        max-width: toRem(343);
        @include flex-setting(column, flex-start, center);

        padding: 0 toRem(24);
    }

    &__item {
        width: 100%;
        max-width: toRem(180);

        @include flex-setting(column, flex-start, flex-start);
        position: relative;

        &:first-of-type {
            margin-bottom: toRem(18);
        }

        &:not(:first-of-type) {
            margin-bottom: toRem(40);
        }

        &:nth-of-type(odd) {
            align-self: flex-end;
        }

        &:nth-of-type(even) {
            align-self: flex-start;
        }

        &--first {
            .numbers__arrow {
                position: absolute;

                width: toRem(96);
                height: toRem(125);

                bottom: toRem(-140);
                right: toRem(14);
            }
        }

        &--second {
            .numbers__arrow {
                position: absolute;
                width: toRem(74);
                height: toRem(83);

                bottom: toRem(-100);
                left: toRem(14);

            }
        }

        &--third {
            .numbers__arrow {
                align-items: flex-end;
                position: absolute;
                width: toRem(99);
                height: toRem(105);

                bottom: toRem(-120);
                right: toRem(11);

                &-end {
                    position: absolute;
                    bottom: toRem(3.58);
                    left: 0;
                }
            }
        }
    }

    &__icon {
        @include box(toRem(32));
        margin-bottom: toRem(16);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        opacity: 0;

        &--first {
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0316 0.0957033C16.0831 0.0957033 12.2233 1.26308 8.94035 3.4502C5.65735 5.63732 3.09862 8.74594 1.58772 12.3829C0.0768324 16.02 -0.318351 20.022 0.452152 23.8829C1.22265 27.7438 3.12423 31.2903 5.91641 34.0737C8.70858 36.8571 12.2659 38.7525 16.1386 39.5202C20.0113 40.2878 24.0253 39.8933 27.6731 38.3865C31.3208 36.8796 34.4385 34.3282 36.6317 31.0547C38.825 27.7813 39.9954 23.9329 39.9948 19.9963C39.9948 17.3827 39.4785 14.7947 38.4752 12.3801C37.4719 9.96545 36.0014 7.7715 34.1476 5.92352C32.2938 4.07554 30.093 2.60973 27.671 1.60978C25.249 0.609841 22.6531 0.0953539 20.0316 0.0957033ZM4.71961 13.3051C4.73974 12.7212 4.98655 12.168 5.40798 11.762C5.8294 11.356 6.39251 11.1291 6.97851 11.1291C7.56452 11.1291 8.12762 11.356 8.54905 11.762C8.97048 12.168 9.21729 12.7212 9.23742 13.3051C9.22772 13.5664 9.27097 13.827 9.36456 14.0712C9.45816 14.3154 9.60019 14.5383 9.78216 14.7266C9.96413 14.9149 10.1823 15.0646 10.4236 15.1669C10.665 15.2692 10.9245 15.3219 11.1868 15.3219C11.449 15.3219 11.7086 15.2692 11.9499 15.1669C12.1912 15.0646 12.4094 14.9149 12.5914 14.7266C12.7734 14.5383 12.9154 14.3154 13.009 14.0712C13.1026 13.827 13.1458 13.5664 13.1361 13.3051C13.1361 12.7075 13.3743 12.1343 13.7981 11.7117C14.222 11.2891 14.7969 11.0517 15.3964 11.0517C15.9958 11.0517 16.5707 11.2891 16.9946 11.7117C17.4185 12.1343 17.6566 12.7075 17.6566 13.3051C17.6566 15.0155 16.9751 16.6559 15.762 17.8653C14.549 19.0748 12.9037 19.7542 11.1881 19.7542C9.47256 19.7542 7.82727 19.0748 6.61419 17.8653C5.40111 16.6559 4.71961 15.0155 4.71961 13.3051ZM20.0316 36.8693C16.6419 36.8637 13.3926 35.5187 10.9957 33.1289C8.59875 30.7392 7.24968 27.4997 7.24403 24.1201C7.23361 23.8179 7.28433 23.5166 7.39315 23.2343C7.50198 22.952 7.6667 22.6944 7.87749 22.4769C8.08827 22.2594 8.34082 22.0864 8.62008 21.9683C8.89933 21.8501 9.19958 21.7893 9.50294 21.7893C9.8063 21.7893 10.1065 21.8501 10.3858 21.9683C10.6651 22.0864 10.9176 22.2594 11.1284 22.4769C11.3392 22.6944 11.5039 22.952 11.6127 23.2343C11.7216 23.5166 11.7723 23.8179 11.7618 24.1201C11.7618 26.3075 12.6334 28.4053 14.1848 29.952C15.7362 31.4988 17.8403 32.3677 20.0343 32.3677C22.2283 32.3677 24.3324 31.4988 25.8838 29.952C27.4351 28.4053 28.3067 26.3075 28.3067 24.1201C28.3067 23.5225 28.5448 22.9493 28.9687 22.5267C29.3926 22.1041 29.9675 21.8667 30.5669 21.8667C31.1664 21.8667 31.7413 22.1041 32.1652 22.5267C32.5891 22.9493 32.8272 23.5225 32.8272 24.1201C32.8215 27.5011 31.4714 30.7418 29.0727 33.1317C26.6741 35.5217 23.4227 36.8658 20.0316 36.8693ZM28.8911 19.7542C28.0407 19.7553 27.1985 19.5893 26.4125 19.2657C25.6264 18.9422 24.9121 18.4674 24.3101 17.8685C23.7082 17.2696 23.2305 16.5583 22.9044 15.7753C22.5782 14.9924 22.41 14.153 22.4093 13.3051C22.4093 12.7075 22.6474 12.1343 23.0713 11.7117C23.4951 11.2891 24.07 11.0517 24.6695 11.0517C25.269 11.0517 25.8439 11.2891 26.2677 11.7117C26.6916 12.1343 26.9297 12.7075 26.9297 13.3051C26.9297 13.5602 26.9801 13.8127 27.078 14.0484C27.1759 14.284 27.3194 14.4981 27.5003 14.6785C27.6812 14.8588 27.8959 15.0019 28.1323 15.0995C28.3686 15.1971 28.6219 15.2473 28.8778 15.2473C29.1336 15.2473 29.3869 15.1971 29.6232 15.0995C29.8596 15.0019 30.0743 14.8588 30.2552 14.6785C30.4361 14.4981 30.5796 14.284 30.6775 14.0484C30.7754 13.8127 30.8258 13.5602 30.8258 13.3051C30.8258 12.7075 31.0639 12.1343 31.4878 11.7117C31.9117 11.2891 32.4866 11.0517 33.086 11.0517C33.6855 11.0517 34.2604 11.2891 34.6843 11.7117C35.1081 12.1343 35.3463 12.7075 35.3463 13.3051C35.3449 15.0128 34.6647 16.6503 33.4549 17.8591C32.245 19.0678 30.6039 19.7493 28.8911 19.7542Z' fill='%23F5AABE'/%3E%3C/svg%3E");
        }

        &--second {
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.60206 0.101562H33.501C37.0901 0.101562 39.9996 3.01106 39.9996 6.6001V33.4991C39.9996 37.0881 37.0901 39.9976 33.501 39.9976H6.60206C3.01301 39.9976 0.103516 37.0881 0.103516 33.4991V6.6001C0.103516 3.01106 3.01301 0.101562 6.60206 0.101562ZM22.4883 17.6231H31.3997V17.6325C32.0434 17.6325 32.6607 17.8882 33.1158 18.3434C33.5709 18.7985 33.8266 19.4158 33.8266 20.0595C33.8266 20.7031 33.5709 21.3204 33.1158 21.7756C32.6607 22.2307 32.0434 22.4864 31.3997 22.4864H22.4789V31.3977C22.4789 32.0414 22.2232 32.6587 21.7681 33.1138C21.3129 33.569 20.6956 33.8247 20.052 33.8247C19.4083 33.8247 18.791 33.569 18.3359 33.1138C17.8807 32.6587 17.625 32.0414 17.625 31.3977V22.477H8.70428C8.06062 22.477 7.44332 22.2213 6.98818 21.7661C6.53304 21.311 6.27734 20.6937 6.27734 20.05C6.27734 19.4064 6.53304 18.7891 6.98818 18.3339C7.44332 17.8788 8.06062 17.6231 8.70428 17.6231H17.6345V8.70233C17.6345 8.05866 17.8902 7.44136 18.3453 6.98622C18.8004 6.53109 19.4177 6.27539 20.0614 6.27539C20.7051 6.27539 21.3224 6.53109 21.7775 6.98622C22.2327 7.44136 22.4883 8.05866 22.4883 8.70233V17.6231Z' fill='%23FFE100'/%3E%3C/svg%3E");
        }

        &--third {
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.793 19.5269L20.4441 0.212687C20.3252 0.0963905 20.1654 0.03125 19.999 0.03125C19.8326 0.03125 19.6728 0.0963905 19.5539 0.212687L0.205001 19.5269C0.11973 19.6162 0.0623561 19.7283 0.0398935 19.8496C0.0174309 19.9709 0.0308524 20.096 0.0785172 20.2098C0.126182 20.3236 0.206025 20.4211 0.308287 20.4903C0.410548 20.5595 0.530797 20.5975 0.654334 20.5996H8.45833C8.62697 20.5996 8.7887 20.6665 8.90794 20.7855C9.02719 20.9045 9.09418 21.066 9.09418 21.2343V31.3029C9.09418 31.4713 9.16117 31.6327 9.28041 31.7517C9.39966 31.8708 9.56139 31.9376 9.73003 31.9376H30.2892C30.4578 31.9376 30.6195 31.8708 30.7388 31.7517C30.858 31.6327 30.925 31.4713 30.925 31.3029V21.228C30.925 21.0596 30.992 20.8982 31.1113 20.7792C31.2305 20.6601 31.3922 20.5933 31.5609 20.5933H39.3712C39.4912 20.5851 39.6063 20.5432 39.7034 20.4724C39.8005 20.4016 39.8754 20.3047 39.9196 20.1931C39.9637 20.0815 39.9753 19.9596 39.9529 19.8417C39.9305 19.7238 39.875 19.6147 39.793 19.5269Z' fill='%2300AAAA'/%3E%3C/svg%3E");
        }

        &--fourth {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='40' viewBox='0 0 30 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5706 15.1117H16.5826C16.5055 15.1117 16.429 15.0965 16.3578 15.0669C16.2865 15.0373 16.2218 14.9939 16.1673 14.9393C16.1128 14.8846 16.0696 14.8198 16.0403 14.7484C16.0109 14.677 15.9959 14.6006 15.9961 14.5234V0.597779C15.9957 0.470475 15.9539 0.346759 15.8771 0.24521C15.8004 0.143661 15.6927 0.0697578 15.5704 0.0345985C15.448 -0.000560776 15.3175 0.00492096 15.1986 0.0502206C15.0796 0.0955203 14.9785 0.178193 14.9105 0.285825L0.0953883 23.9534C0.0397553 24.0423 0.00891925 24.1445 0.00607558 24.2494C0.00323191 24.3542 0.0284841 24.458 0.0792154 24.5498C0.129947 24.6416 0.204311 24.7182 0.294602 24.7716C0.384893 24.825 0.487826 24.8533 0.592733 24.8536H12.5825C12.738 24.8536 12.8872 24.9154 12.9972 25.0253C13.1072 25.1353 13.169 25.2845 13.169 25.44V39.3657C13.1694 39.493 13.2112 39.6167 13.288 39.7183C13.3647 39.8198 13.4724 39.8937 13.5947 39.9289C13.7171 39.964 13.8476 39.9585 13.9665 39.9132C14.0855 39.8679 14.1866 39.7853 14.2546 39.6776L29.0608 16.0101C29.1163 15.9218 29.1472 15.8203 29.1504 15.7161C29.1536 15.6119 29.129 15.5087 29.079 15.4172C29.0291 15.3257 28.9556 15.2491 28.8663 15.1954C28.7769 15.1417 28.6748 15.1128 28.5706 15.1117Z' fill='%234164EE'/%3E%3C/svg%3E");
        }
    }

    &__name {
        opacity: 0;
        @include font-setting($primary-font, toRem(24), toRem(29), 500, $dark);
        margin-bottom: toRem(16);
    }

    &__description {
        opacity: 0;
        @include font-setting($primary-font, toRem(14), toRem(22), 350, $dark);
        text-align: left;
    }

    &__arrow {
        @include flex-setting(column, flex-start, flex-start);
        opacity: 0;

        .num-arrow-top {
            opacity: 0;
        }

        &--desktop,
        &--tablet {
            display: none;
        }
    }
}

@include min-screen(768px) {
    .numbers {
        padding: toRem(40) toRem(40);
        margin-bottom: toRem(80);

        &.loaded {
            //1
            .numbers__title {
                animation: fadeInBottom150 $transition-duration forwards;
            }

            //2
            .numbers__item--first {
                .numbers__icon {
                    animation: fadeInStatic $transition-duration forwards 0.3333s;
                }

                .numbers__name {
                    animation: fadeInStatic $transition-duration forwards 0.3333s;
                }

                .numbers__description {
                    animation: fadeInStatic $transition-duration forwards 0.3333s;
                }
            }

            //3
            .numbers__item--second {
                .numbers__icon {
                    animation: fadeInStatic $transition-duration forwards 0.6666s;
                }

                .numbers__name {
                    animation: fadeInStatic $transition-duration forwards 0.6666s;
                }

                .numbers__description {
                    animation: fadeInStatic $transition-duration forwards 0.6666s;
                }
            }

            //4
            .numbers__item--third{
                .numbers__icon {
                    animation: fadeInStatic $transition-duration forwards 0.9999s;
                }

                .numbers__name {
                    animation: fadeInStatic $transition-duration forwards 0.9999s;
                }

                .numbers__description {
                    animation: fadeInStatic $transition-duration forwards 0.9999s;
                }
            }

            //5
            .numbers__item--fourth{
                .numbers__icon {
                    animation: fadeInStatic $transition-duration forwards 1.2222s;
                }

                .numbers__name {
                    animation: fadeInStatic $transition-duration forwards 1.2222s;
                }

                .numbers__description {
                    animation: fadeInStatic $transition-duration forwards 1.2222s;
                }
            }
        }

        &__title {
            font-size: toRem(40);
            line-height: toRem(72);
            margin-bottom: toRem(64);
        }

        &__list {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: toRem(40);
            grid-column-gap: toRem(88);

            padding: 0;

            justify-content: start;
            align-items: start;
        }

        &__item {
            width: 100%;
            max-width: 100%;
            align-items: center;

            &:first-of-type {
                margin-bottom: 0;
            }

            &:not(:first-of-type) {
                margin-bottom: 0;
            }

            &:nth-of-type(odd) {
                align-self: flex-start;
            }

            &:nth-of-type(even) {
                align-self: flex-start;
            }

            &--first {
                .numbers__arrow {
                    position: absolute;

                    width: toRem(96);
                    height: toRem(125);

                    bottom: toRem(-140);
                    right: toRem(14);
                }
            }

            &--second {
                .numbers__arrow {
                    position: absolute;
                    width: toRem(74);
                    height: toRem(83);

                    bottom: toRem(-100);
                    left: toRem(14);

                }
            }

            &--third {
                .numbers__arrow {
                    align-items: flex-end;
                    position: absolute;
                    width: toRem(99);
                    height: toRem(105);

                    bottom: toRem(-120);
                    right: toRem(11);

                    &-end {
                        position: absolute;
                        bottom: toRem(3.58);
                        left: 0;
                    }
                }
            }
        }

        &__icon {
            @include box(toRem(40));
            margin-bottom: toRem(24);
        }

        &__name {
            font-size: toRem(32);
            line-height: toRem(38);
        }

        &__description {
            font-size: toRem(18);
            line-height: toRem(28);
            text-align: center;
        }

        &__arrow {
            &--mobile {
                display: none;
            }
        }
    }
}

@include min-screen(1024px) {
    .numbers {
        padding-left: toRem(80);
        padding-right: toRem(80);

        &.loaded {
            &.loaded {
                //1
                .numbers__title {
                    animation: fadeInBottom150 $transition-duration forwards;
                }

                //2
                .numbers__item--first {
                    .numbers__icon {
                        animation: fadeInStatic $transition-duration forwards 0.3333s;
                    }

                    .numbers__name {
                        animation: fadeInStatic $transition-duration forwards 0.3333s;
                    }

                    .numbers__description {
                        animation: fadeInStatic $transition-duration forwards 0.3333s;
                    }

                    .numbers__arrow {
                        animation: fadeInStatic 0s linear forwards 1s;

                        .num-arrow-body {
                            animation: dash $transition-duration $cubic forwards 1s;
                        }

                        .num-arrow-top {
                            animation: fadeInStatic 0s linear forwards 1.6666s;
                        }
                    }
                }

                //3
                .numbers__item--second {
                    .numbers__icon {
                        animation: fadeInStatic $transition-duration forwards 1.5555s;
                    }

                    .numbers__name {
                        animation: fadeInStatic $transition-duration forwards 1.5555s;
                    }

                    .numbers__description {
                        animation: fadeInStatic $transition-duration forwards 1.5555s;
                    }

                    .numbers__arrow {
                        animation: fadeInStatic 0s linear forwards 2s;

                        .num-arrow-body {
                            animation: dashReverse $transition-duration $cubic forwards 2s;
                        }

                        .num-arrow-top {
                            animation: fadeInStatic 0s linear forwards 2.6666s;
                        }
                    }
                }

                //4
                .numbers__item--third{
                    .numbers__icon {
                        animation: fadeInStatic $transition-duration forwards 2.5555s;
                    }

                    .numbers__name {
                        animation: fadeInStatic $transition-duration forwards 2.5555s;
                    }

                    .numbers__description {
                        animation: fadeInStatic $transition-duration forwards 2.5555s;
                    }

                    .numbers__arrow {
                        animation: fadeInStatic 0s linear forwards 3s;

                        .num-arrow-body {
                            animation: dash $transition-duration $cubic forwards 3s;
                        }

                        .num-arrow-top {
                            animation: fadeInStatic 0s linear forwards 3.6666s;
                        }
                    }
                }

                //5
                .numbers__item--fourth{
                    .numbers__icon {
                        animation: fadeInStatic $transition-duration forwards 3.5555s;
                    }

                    .numbers__name {
                        animation: fadeInStatic $transition-duration forwards 3.5555s;
                    }

                    .numbers__description {
                        animation: fadeInStatic $transition-duration forwards 3.5555s;
                    }
                }
            }
        }

        &__title {
            margin-bottom: toRem(40);
        }

        &__list {
            max-width: toRem(874);
            height: toRem(388);

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            position: relative;
        }

        &__item {
            max-width: toRem(300);
            position: absolute;

            &:first-of-type {
                margin-bottom: 0;
                margin-right: 0;
                top: 0;
                left: 0;
            }

            &:nth-of-type(2) {
                bottom: 0;
                left: toRem(188);
            }

            &:nth-of-type(3) {
                top: 0;
                left: toRem(380);
            }

            &:last-of-type {
                right: 0;
                bottom: 0;
            }

            &--first {
                .numbers__arrow {
                    position: absolute;

                    width: toRem(68);
                    height: toRem(159);

                    bottom: toRem(-96);
                    right: toRem(9);

                    svg:last-child {
                        bottom: toRem(12);
                        right: 0;
                    }
                }
            }

            &--second {
                .numbers__arrow {
                    align-items: flex-end;
                    position: absolute;
                    width: toRem(62);
                    height: toRem(154);
                    top: toRem(-137);
                    right: toRem(72);
                    bottom: auto;
                    left: auto;

                    svg:last-child {
                        top: 0;
                        right: 0;
                    }
                }
            }

            &--third {
                .numbers__arrow {
                    align-items: flex-end;
                    position: absolute;
                    width: toRem(192);
                    height: toRem(200);

                    bottom: toRem(-129);
                    right: toRem(-78);

                    svg:last-child {
                        bottom: toRem(8);
                        left: toRem(99);
                    }
                }
            }
        }

        &__arrow {
            &--tablet {
                display: flex;
            }

            svg:last-child {
                position: absolute;
            }
        }
    }
}

@include min-screen(1440px) {
    .numbers {
        --wrapWidth: calc(100% - 1220px);
        padding-left: calc((var(--wrapWidth) / 2));
        padding-right: calc((var(--wrapWidth) / 2));
        margin-bottom: toRem(100);

        &__title {
            font-size: toRem(48);
            line-height: toRem(86);
            max-width: toRem(895);
        }

        &__list {
            max-width: 100%;
            height: toRem(380);
        }

        &__item {
            &:nth-of-type(2) {
                left: toRem(308);
                bottom: toRem(18);
            }

            &:nth-of-type(3) {
                top: 0;
                left: auto;
                right: toRem(308);
            }

            &:last-of-type {
                right: 0;
                bottom: toRem(18);
            }

            &--first {
                .numbers__arrow {
                    width: toRem(110);
                    height: toRem(258);

                    bottom: toRem(-203);
                    right: toRem(-6);

                    svg:last-child {
                        bottom: toRem(14);
                        right: 0;
                    }
                }
            }

            &--second {
                .numbers__arrow {
                    width: toRem(86);
                    height: toRem(212);
                    top: toRem(-99);
                    right: toRem(-18);

                    svg:last-child {
                        top: toRem(-1);
                    }
                }
            }

            &--third {
                .numbers__arrow {
                    width: toRem(312);
                    height: toRem(326);

                    bottom: toRem(-228);
                    right: toRem(-158);

                    svg:last-child {
                        bottom: toRem(11);
                        left: toRem(162);
                    }
                }
            }
        }

        &__arrow {
            &--tablet {
                display: none;
            }

            &--desktop {
                display: flex;
            }
        }
    }
}

@include min-screen(1920px) {
    .numbers {
        --wrapWidth: calc(100% - 1704px);

        &__title {
            max-width: 100%;
            margin-bottom: toRem(100);
        }

        &__list {
            height: toRem(420);
        }

        &__item {
            max-width: toRem(408);

            &:nth-of-type(2) {
                left: toRem(432);
                bottom: 0;
            }

            &:nth-of-type(3) {
                right: toRem(432);
            }

            &:last-of-type {
                right: 0;
                bottom: 0;
            }

            &--first {
                .numbers__arrow {
                    bottom: toRem(-240);
                    right: toRem(-67);
                }
            }

            &--second {
                .numbers__arrow {
                    right: toRem(-43);
                }
            }

            &--third {
                .numbers__arrow {
                    bottom: toRem(-240);
                    right: toRem(-140);
                }
            }
        }
    }
}
