.header {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    z-index: 2;

    &__contacts {
        width: 100%;

        @include flex-setting(row, flex-end, center);

        padding: 0.3125rem 1.25rem;
        background-color: $white;

        &-note {
            @include font-setting($primary-font, 0.75rem, 1.25rem, 400, $darkgray);
        }

        &-ask,
        &-list {
            display: none;
        }
    }

    &__callback {
        display: none;
    }
}

@include min-screen(720px) {
    .header {
        &__contacts {
            padding: 1.25rem 2.5rem;

            &-note {
                font-size: 1rem;
                line-height: 1.25rem;
                position: relative;

                padding-right: 2rem;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    width: 21.33px;
                    height: 20px;

                    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_732)'%3E%3Cpath d='M12.4705 5.31248V9.32342L15.9578 11.3289C16.228 11.4843 16.4253 11.7403 16.5059 12.0405C16.5868 12.3407 16.5445 12.6605 16.3885 12.9297C16.2324 13.1989 15.9755 13.3952 15.6741 13.4757C15.3726 13.5562 15.0515 13.5141 14.7813 13.3586L10.7058 11.0149C10.6966 11.0096 10.6884 11.0033 10.6794 10.9978C10.659 10.9856 10.6391 10.9727 10.6196 10.9593C10.6047 10.9489 10.5903 10.9378 10.576 10.9268C10.5608 10.9151 10.5456 10.9034 10.5309 10.8909C10.5149 10.8772 10.4994 10.8631 10.4842 10.8485C10.4724 10.8373 10.4606 10.8261 10.4493 10.8144C10.4336 10.7984 10.4189 10.7819 10.4042 10.7651C10.3939 10.7533 10.3839 10.7414 10.3741 10.7292C10.3607 10.7124 10.3478 10.6952 10.3353 10.6776C10.3253 10.6637 10.3157 10.6495 10.3063 10.6351C10.2958 10.6189 10.2857 10.6023 10.276 10.5855C10.2662 10.5687 10.2568 10.5517 10.2479 10.5344C10.196 10.4329 10.159 10.3245 10.1379 10.2126C10.1346 10.1939 10.1317 10.1752 10.1293 10.1563C10.1268 10.1383 10.1244 10.1202 10.1228 10.1019C10.1209 10.0786 10.1197 10.0552 10.1193 10.0318C10.119 10.0211 10.1176 10.0107 10.1176 9.99998V5.31248C10.1176 5.00168 10.2415 4.70362 10.4622 4.48384C10.6828 4.26408 10.982 4.1406 11.2941 4.1406C11.6061 4.1406 11.9053 4.26408 12.126 4.48384C12.3466 4.70362 12.4705 5.00168 12.4705 5.31248ZM18.2264 3.09472C16.3863 1.26609 13.8932 0.239136 11.2941 0.239136C8.69485 0.239136 6.20176 1.26609 4.36171 3.09472L3.0424 4.40858V3.33143C3.0424 3.02063 2.91845 2.72255 2.69781 2.50279C2.47719 2.28302 2.17795 2.15955 1.86593 2.15955C1.55391 2.15955 1.25466 2.28302 1.03403 2.50279C0.813404 2.72255 0.689453 3.02063 0.689453 3.33143V7.23768C0.689453 7.27625 0.691415 7.31493 0.695336 7.3534C0.697003 7.37069 0.700238 7.38739 0.702689 7.40438C0.70563 7.42528 0.708081 7.44608 0.712199 7.46678C0.716121 7.48632 0.721512 7.50525 0.726316 7.5244C0.730826 7.54227 0.734748 7.56033 0.74014 7.57802C0.745924 7.59685 0.752885 7.61503 0.75965 7.63338C0.765924 7.65105 0.771806 7.66883 0.779062 7.68622C0.786219 7.7035 0.79465 7.72 0.802591 7.7368C0.811022 7.75467 0.818964 7.77264 0.828376 7.79012C0.837101 7.80623 0.847002 7.82157 0.856316 7.83729C0.86661 7.85438 0.876317 7.87177 0.887493 7.88847C0.899258 7.90574 0.912003 7.92195 0.924552 7.93855C0.935043 7.95253 0.944846 7.96688 0.95612 7.98055C0.980042 8.00965 1.0053 8.03752 1.0319 8.06414C1.03269 8.06483 1.03328 8.0657 1.03396 8.06639L1.03632 8.06844C1.06298 8.09494 1.09092 8.1201 1.12014 8.14393C1.13406 8.15535 1.14877 8.16522 1.16298 8.17587C1.17945 8.18817 1.19553 8.20077 1.21249 8.21219C1.22955 8.22352 1.2473 8.23338 1.26475 8.24373C1.28024 8.25292 1.29533 8.26268 1.31122 8.27108C1.32907 8.28065 1.3474 8.28865 1.36553 8.29725C1.3822 8.30507 1.39848 8.31327 1.41553 8.32029C1.43327 8.32762 1.45151 8.33358 1.46955 8.34003C1.48769 8.34647 1.50563 8.3534 1.52415 8.35907C1.5424 8.36453 1.56102 8.36864 1.57946 8.37323C1.59818 8.37792 1.6167 8.38309 1.63573 8.3869C1.6573 8.39109 1.67906 8.39373 1.70073 8.39677C1.71701 8.399 1.73308 8.40213 1.74955 8.40379C1.78837 8.4076 1.8274 8.40965 1.86642 8.40965H5.7875C6.09951 8.40965 6.39876 8.28619 6.61938 8.06642C6.84002 7.84665 6.96397 7.54858 6.96397 7.23778C6.96397 6.92698 6.84002 6.6289 6.61938 6.40914C6.39876 6.18937 6.09951 6.0659 5.7875 6.0659H4.70612L6.02544 4.75194C7.06747 3.71397 8.39511 3.0071 9.84047 2.72072C11.2858 2.43434 12.7839 2.58132 14.1455 3.14307C15.5069 3.7048 16.6706 4.65609 17.4894 5.8766C18.3081 7.09713 18.7451 8.53208 18.7451 9.99998C18.7451 11.4679 18.3081 12.9029 17.4894 14.1234C16.6706 15.3439 15.5069 16.2951 14.1455 16.8569C12.7839 17.4186 11.2858 17.5656 9.84047 17.2792C8.39511 16.9929 7.06747 16.286 6.02544 15.248C5.8042 15.0312 5.50591 14.9102 5.19556 14.9115C4.8852 14.9127 4.58791 15.0361 4.36845 15.2547C4.14899 15.4734 4.02515 15.7695 4.02388 16.0786C4.02263 16.3877 4.14405 16.6849 4.36171 16.9052C6.20306 18.7234 8.69246 19.741 11.2852 19.7354C13.8779 19.7297 16.3628 18.7012 18.1962 16.8751C20.0295 15.0489 21.0619 12.5737 21.0676 9.99113C21.0733 7.40854 20.0517 4.92887 18.2264 3.09472Z' fill='%23FDB600'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_732'%3E%3Crect width='21.3333' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;

                }
            }
        }
    }
}

@include min-screen(1366px) {
    .header {
        &__contacts {
            padding: 1.25rem 2.5rem;

            &-note {
                margin-right: 2.75rem;
                font-weight: 700;
                color: $gray;
            }

            &-ask {
                display: inline-flex;
                @include font-setting($primary-font, 0.875rem, 1.25rem, 700, $gray);
                text-transform: uppercase;
                position: relative;
                border: none;
                background-color: transparent;
                padding: 0;
                margin-right: 2.75rem;

                transition: 0.4s $cubic;
                cursor: pointer;
                outline: none;

                &:hover,
                &:active {
                    color: $lightgreen;
                    transition: 0.4s $cubic;

                    &::after {
                        border-color: $lightgreen;
                        transition: 0.4s $cubic;
                    }
                }

                &::after {
                    position: absolute;
                    content: '';

                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed $gray;
                    left: 0;
                    bottom: 0;
                    transition: 0.4s $cubic;
                }
            }

            &-list {
                @include flex-setting(row, flex-start, center);

                width: auto;
                margin-right: 1rem;
            }

            &-item {
                display: block;
                width: auto;
                margin-right: 0.75rem;

                &:nth-of-type(2) {
                    margin-right: 1.0625rem;
                }
            }

            &-link {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;

                @include font-setting($primary-font, 1.25rem, 1, 700, $black);

                position: relative;
                transition: 0.4s $cubic;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                &:hover,
                &:active {
                    color: $lightgreen;
                    transition: 0.4s $cubic;
                }

                &--wa {
                    width: 20px;
                    height: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8612L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0Z' fill='%234CAF50'/%3E%3Cpath d='M15.8212 14.1212C15.5799 14.8025 14.6224 15.3675 13.8587 15.5325C13.3362 15.6437 12.6537 15.7325 10.3562 14.78C7.41744 13.5625 5.52494 10.5762 5.37744 10.3825C5.23619 10.1887 4.18994 8.80123 4.18994 7.36623C4.18994 5.93123 4.91869 5.23248 5.21244 4.93248C5.45369 4.68623 5.85244 4.57373 6.23494 4.57373C6.35869 4.57373 6.46994 4.57998 6.56994 4.58498C6.86369 4.59748 7.01119 4.61498 7.20494 5.07873C7.44619 5.65998 8.03369 7.09498 8.10369 7.24248C8.17494 7.38998 8.24619 7.58998 8.14619 7.78373C8.05244 7.98373 7.96994 8.07248 7.82244 8.24248C7.67494 8.41248 7.53494 8.54248 7.38744 8.72498C7.25244 8.88373 7.09994 9.05373 7.26994 9.34748C7.43994 9.63498 8.02744 10.5937 8.89244 11.3637C10.0087 12.3575 10.9137 12.675 11.2374 12.81C11.4787 12.91 11.7662 12.8862 11.9424 12.6987C12.1662 12.4575 12.4424 12.0575 12.7237 11.6637C12.9237 11.3812 13.1762 11.3462 13.4412 11.4462C13.7112 11.54 15.1399 12.2462 15.4337 12.3925C15.7274 12.54 15.9212 12.61 15.9924 12.7337C16.0624 12.8575 16.0624 13.4387 15.8212 14.1212Z' fill='white'/%3E%3C/svg%3E%0A");
                }

                &--tg {
                    width: 20px;
                    height: 20px;

                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23039BE5'/%3E%3Cpath d='M4.57581 9.78326L14.2175 6.06576C14.665 5.9041 15.0558 6.17493 14.9108 6.8516L14.9116 6.85076L13.27 14.5849C13.1483 15.1333 12.8225 15.2666 12.3666 15.0083L9.86664 13.1658L8.66081 14.3274C8.52748 14.4608 8.41498 14.5733 8.15664 14.5733L8.33414 12.0291L12.9675 7.84326C13.1691 7.66576 12.9225 7.56576 12.6566 7.74243L6.93081 11.3474L4.46247 10.5774C3.92664 10.4074 3.91497 10.0416 4.57581 9.78326Z' fill='white'/%3E%3C/svg%3E");
                }
            }
        }

        &__callback {
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.875rem, 1.25rem, 800, $white);
            text-align: center;
            text-transform: uppercase;

            padding: 0.625rem 1.5625rem;
            background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
            border: none;
            border-radius: 25px;

            cursor: pointer;
            outline: none;

            &:hover,
            &:active {
                background: linear-gradient(93.13deg, #4BAF50 0%, #92C64E 100%);
            }
        }
    }
}

@include min-screen(1680px) {
    .header {
        &__contacts {
            max-width: 1440px;
            padding-left: 0;
            padding-right: 0;

            &-note {
                margin-right: 5.75rem;
            }

            &-ask {
                margin-right: 5.75rem;
            }

            &-list {
                margin-right: 2.1875rem;
            }
        }
    }
}
