.nav {
    width: 100%;

    @include flex-setting(row, flex-start, center);

    padding: 0 1.25rem;

    background-color: $black;

    position: relative;

    &__logo {
        display: block;
        width: 152px;
        height: 80px;

        margin-top: -1.25rem;
        margin-bottom: -1.25rem;

        z-index: 10;

        &-image {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__toggle {
        margin-left: auto;
        margin-right: 1.25rem;
        display: block;
        cursor: pointer;
        position: relative;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='2' viewBox='0 0 20 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='2' fill='%23ffffff'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-size: 20px 2px;
        background-repeat: no-repeat;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $white;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s $cubic;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s $cubic;
        }

        &.opened {
            background-image: none;

            &::after,
            &::before {
                width: 20px;
                transition: 0.4s $cubic;
            }

            &::after {
                transform: translateX(-50%) rotate(45deg);
                top: 10px;
                transition: 0.4s $cubic;
            }

            &::before {
                transform: translateX(-50%) rotate(135deg);
                bottom: 8px;
                transition: 0.4s $cubic;
            }
        }
    }

    &__list {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;

        background-color: $white;
        pointer-events: none;

        transition: 0.4s $cubic;

        padding-left: 3.75rem;
        padding-right: 3.75rem;
        z-index: 9;

        &.opened {
            transition: 0.4s $cubic;
            max-height: 100vh;
            pointer-events: all;
            padding: 3.125rem 3.75rem 6rem 3.75rem;
            overflow-y: auto;

            .nav__item {
                pointer-events: auto;
                transform: scale(1) translateY(0px);
                will-change: transform;
                opacity: 1;

                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.06 * $i+0.2}s;
                    }
                }
            }
        }
    }

    &__item {
        @include flex-setting(row, flex-start, center);
        width: 100%;
        position: relative;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        margin-bottom: 0.9375rem;
        background-color: $white;

        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }

        &:hover,
        &:active {
            transition: 0.4s $cubic;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.--title {
            margin-bottom: 3.125rem;

            .nav__link {
                font-family: $primary-font;
                font-size: 2.25rem;
                line-height: 2.5rem;
                font-weight: 800;
            }
        }

        &.--main {
            margin-bottom: 2.5rem;

            .nav__link {
                color: $green;
            }
        }

        &.--last {
            margin-bottom: 3.75rem;
        }

        &.guest,
        &.user {
            padding-left: 2.5rem;
            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 30px;
                height: 30px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .nav__link {
                border-bottom: 1px dashed $black;

                &:hover,
                &:active {
                    color: $lightgreen;
                    transition: 0.4s $cubic;
                    border-color: $lightgreen;
                }
            }
        }

        &.guest {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7981 21.7847H21.1407V26.4697C21.1407 28.4072 19.5644 29.9833 17.6269 29.9833H3.51357C1.57631 29.9833 0 28.4072 0 26.4697V3.51357C0 1.57631 1.57631 0 3.51357 0H17.6269C19.5644 0 21.1407 1.57631 21.1407 3.51357V8.19855H18.7981V3.51357C18.7981 2.86789 18.2728 2.34238 17.6269 2.34238H3.51357C2.86789 2.34238 2.34238 2.86789 2.34238 3.51357V26.4697C2.34238 27.1154 2.86789 27.6409 3.51357 27.6409H17.6269C18.2728 27.6409 18.7981 27.1154 18.7981 26.4697V21.7847ZM24.4787 9.47021L22.8223 11.1266L25.516 13.8206H10.3654V16.1629H25.516L22.8223 18.8567L24.4787 20.5131L30 14.9918L24.4787 9.47021Z' fill='%234BAF50'/%3E%3C/svg%3E%0A");
            }
        }

        &.user {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C7.09223 0 4.72656 2.36566 4.72656 5.27344C4.72656 8.18121 7.09223 10.5469 10 10.5469C12.9078 10.5469 15.2734 8.18121 15.2734 5.27344C15.2734 2.36566 12.9078 0 10 0ZM10 9.375C7.7384 9.375 5.89844 7.53504 5.89844 5.27344C5.89844 3.01184 7.7384 1.17188 10 1.17188C12.2616 1.17188 14.1016 3.01184 14.1016 5.27344C14.1016 7.53504 12.2616 9.375 10 9.375Z' fill='%234BAF50'/%3E%3Cpath d='M16.5612 13.992C15.1174 12.5261 13.2035 11.7188 11.1719 11.7188H8.82812C6.79656 11.7188 4.88258 12.5261 3.43883 13.992C2.00215 15.4507 1.21094 17.3763 1.21094 19.4141C1.21094 19.7377 1.47328 20 1.79688 20H18.2031C18.5267 20 18.7891 19.7377 18.7891 19.4141C18.7891 17.3763 17.9979 15.4507 16.5612 13.992ZM2.40859 18.8281C2.70215 15.5045 5.46918 12.8906 8.82812 12.8906H11.1719C14.5308 12.8906 17.2979 15.5045 17.5914 18.8281H2.40859Z' fill='%234BAF50'/%3E%3C/svg%3E");
            }
        }
    }

    &__link {
        @include font-setting($secondary-font, 1.25rem, 1, 700, $black);
        text-align: left;
        text-decoration: none;
        transition: 0.4s $cubic;

        &:hover,
        &:active {
            color: $lightgreen;
            transition: 0.4s $cubic;
        }
    }

    &__menu {
        display: none;
    }

    &__controls {
        position: relative;
        @include flex-setting(row, flex-start, center);
        width: auto;
        height: 100%;
        background-color: $white;

        margin-right: 0;
        padding: 0.625rem 0.9375rem;

        z-index: 10;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

        &-item {
            width: 20px;
            height: 20px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            cursor: pointer;
            outline: none;

            transition: 0.4s $cubic;

            &--constructor {
                display: none;
            }

            &--login {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_321)'%3E%3Cpath d='M10 0.875C7.09223 0.875 4.72656 3.24066 4.72656 6.14844C4.72656 9.05621 7.09223 11.4219 10 11.4219C12.9078 11.4219 15.2734 9.05621 15.2734 6.14844C15.2734 3.24066 12.9078 0.875 10 0.875ZM10 10.25C7.7384 10.25 5.89844 8.41004 5.89844 6.14844C5.89844 3.88684 7.7384 2.04688 10 2.04688C12.2616 2.04688 14.1016 3.88684 14.1016 6.14844C14.1016 8.41004 12.2616 10.25 10 10.25Z' fill='%23222222'/%3E%3Cpath d='M16.5612 14.867C15.1174 13.4011 13.2035 12.5938 11.1719 12.5938H8.82812C6.79656 12.5938 4.88258 13.4011 3.43883 14.867C2.00215 16.3257 1.21094 18.2513 1.21094 20.2891C1.21094 20.6127 1.47328 20.875 1.79688 20.875H18.2031C18.5267 20.875 18.7891 20.6127 18.7891 20.2891C18.7891 18.2513 17.9979 16.3257 16.5612 14.867ZM2.40859 19.7031C2.70215 16.3795 5.46918 13.7656 8.82812 13.7656H11.1719C14.5308 13.7656 17.2979 16.3795 17.5914 19.7031H2.40859Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_321'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                margin-right: 1rem;

                position: relative;
                transition: 0.4s $cubic;

                &::after {
                    position: absolute;
                    content: '';

                    width: 1px;
                    height: 100%;

                    background-color: #E0E0E0;
                    right: -1rem;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover,
                &:active {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_321)'%3E%3Cpath d='M10 0.875C7.09223 0.875 4.72656 3.24066 4.72656 6.14844C4.72656 9.05621 7.09223 11.4219 10 11.4219C12.9078 11.4219 15.2734 9.05621 15.2734 6.14844C15.2734 3.24066 12.9078 0.875 10 0.875ZM10 10.25C7.7384 10.25 5.89844 8.41004 5.89844 6.14844C5.89844 3.88684 7.7384 2.04688 10 2.04688C12.2616 2.04688 14.1016 3.88684 14.1016 6.14844C14.1016 8.41004 12.2616 10.25 10 10.25Z' fill='%2392C64E'/%3E%3Cpath d='M16.5612 14.867C15.1174 13.4011 13.2035 12.5938 11.1719 12.5938H8.82812C6.79656 12.5938 4.88258 13.4011 3.43883 14.867C2.00215 16.3257 1.21094 18.2513 1.21094 20.2891C1.21094 20.6127 1.47328 20.875 1.79688 20.875H18.2031C18.5267 20.875 18.7891 20.6127 18.7891 20.2891C18.7891 18.2513 17.9979 16.3257 16.5612 14.867ZM2.40859 19.7031C2.70215 16.3795 5.46918 13.7656 8.82812 13.7656H11.1719C14.5308 13.7656 17.2979 16.3795 17.5914 19.7031H2.40859Z' fill='%2392C64E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_321'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    transition: 0.4s $cubic;
                }

                .nav__controls-link {
                    width: 100%;
                    height: 100%;
                    display: inline-flex;
                }
            }

            &--cart {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_323)'%3E%3Cpath d='M19.8736 3.53566C19.7641 3.39143 19.5984 3.30747 19.4231 3.30747H4.06844L3.63906 1.34636C3.57863 1.07045 3.34555 0.875 3.07691 0.875H0.576914C0.25832 0.875 0 1.14728 0 1.48314C0 1.819 0.25832 2.09124 0.576914 2.09124H2.61797L5.5325 15.4036C5.59289 15.6795 5.82602 15.875 6.09465 15.875H17.6538C17.9725 15.875 18.2307 15.6027 18.2307 15.2669C18.2307 14.931 17.9724 14.6588 17.6538 14.6588H6.55363L6.10988 12.6318H17.6923C17.9622 12.6318 18.196 12.4346 18.2552 12.1572L19.9859 4.04906C20.0244 3.8688 19.9831 3.67993 19.8736 3.53566ZM17.2308 11.4155H5.84359L4.33473 4.52367H18.7019L17.2308 11.4155Z' fill='%23222222'/%3E%3Cpath d='M8.36999 16.875C7.25382 16.875 6.3457 17.7722 6.3457 18.875C6.3457 19.9778 7.25378 20.875 8.36999 20.875C9.48616 20.875 10.3943 19.9778 10.3943 18.875C10.3943 17.7722 9.4862 16.875 8.36999 16.875ZM8.36999 19.7841C7.86263 19.7841 7.44988 19.3763 7.44988 18.875C7.44988 18.3737 7.86263 17.9659 8.36999 17.9659C8.87735 17.9659 9.2901 18.3737 9.2901 18.875C9.2901 19.3763 8.87735 19.7841 8.36999 19.7841Z' fill='%23222222'/%3E%3Cpath d='M14.995 16.875C13.8788 16.875 12.9707 17.7722 12.9707 18.875C12.9707 19.9778 13.8788 20.875 14.995 20.875C16.1112 20.875 17.0193 19.9778 17.0193 18.875C17.0193 17.7722 16.1112 16.875 14.995 16.875ZM14.995 19.7841C14.4876 19.7841 14.0749 19.3763 14.0749 18.875C14.0749 18.3738 14.4876 17.966 14.995 17.966C15.5024 17.966 15.9151 18.3738 15.9151 18.875C15.9151 19.3763 15.5024 19.7841 14.995 19.7841Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_323'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                margin-left: 0.9375rem;
                position: relative;

                &:hover,
                &:active {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_323)'%3E%3Cpath d='M19.8736 3.53566C19.7641 3.39143 19.5984 3.30747 19.4231 3.30747H4.06844L3.63906 1.34636C3.57863 1.07045 3.34555 0.875 3.07691 0.875H0.576914C0.25832 0.875 0 1.14728 0 1.48314C0 1.819 0.25832 2.09124 0.576914 2.09124H2.61797L5.5325 15.4036C5.59289 15.6795 5.82602 15.875 6.09465 15.875H17.6538C17.9725 15.875 18.2307 15.6027 18.2307 15.2669C18.2307 14.931 17.9724 14.6588 17.6538 14.6588H6.55363L6.10988 12.6318H17.6923C17.9622 12.6318 18.196 12.4346 18.2552 12.1572L19.9859 4.04906C20.0244 3.8688 19.9831 3.67993 19.8736 3.53566ZM17.2308 11.4155H5.84359L4.33473 4.52367H18.7019L17.2308 11.4155Z' fill='%2392C64E'/%3E%3Cpath d='M8.36999 16.875C7.25382 16.875 6.3457 17.7722 6.3457 18.875C6.3457 19.9778 7.25378 20.875 8.36999 20.875C9.48616 20.875 10.3943 19.9778 10.3943 18.875C10.3943 17.7722 9.4862 16.875 8.36999 16.875ZM8.36999 19.7841C7.86263 19.7841 7.44988 19.3763 7.44988 18.875C7.44988 18.3737 7.86263 17.9659 8.36999 17.9659C8.87735 17.9659 9.2901 18.3737 9.2901 18.875C9.2901 19.3763 8.87735 19.7841 8.36999 19.7841Z' fill='%2392C64E'/%3E%3Cpath d='M14.995 16.875C13.8788 16.875 12.9707 17.7722 12.9707 18.875C12.9707 19.9778 13.8788 20.875 14.995 20.875C16.1112 20.875 17.0193 19.9778 17.0193 18.875C17.0193 17.7722 16.1112 16.875 14.995 16.875ZM14.995 19.7841C14.4876 19.7841 14.0749 19.3763 14.0749 18.875C14.0749 18.3738 14.4876 17.966 14.995 17.966C15.5024 17.966 15.9151 18.3738 15.9151 18.875C15.9151 19.3763 15.5024 19.7841 14.995 19.7841Z' fill='%2392C64E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_323'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    transition: 0.4s $cubic;
                }
            }
        }

        &-nr {
            position: absolute;
            width: 14px;
            height: 14px;

            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.5rem, 1rem, 500, $white);

            border-radius: 7px;
            background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);

            top: -0.3125rem;
            right: -0.3125rem;
        }
    }
}

@include min-screen(768px) {
    .nav {
        padding: 0 2.5rem;

        &__logo {
            width: 220px;
            height: 116px;

            margin-top: -1.75rem;
            margin-bottom: -1.75rem;
        }

        &__toggle {
            margin-right: 1.875rem;

            width: 23px;
            height: 23px;
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='2' viewBox='0 0 23 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='23' height='2' fill='%23ffffff'/%3E%3C/svg%3E");
            background-size: 23px 2px;;

            &.opened {
                &::after,
                &::before {
                    width: 23px;
                }

                &::after {
                    top: 11px;
                }

                &::before {
                    bottom: 10px;
                }
            }
        }

        &__list {
            top: 60px;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            &.opened {
                padding: 3.125rem 2.5rem;
            }
        }

        &__controls {
            padding: 1.15625rem 1.5625rem;

            &-item {
                width: 23px;
                height: 23px;

                &--login {
                    margin-right: 1.25rem;

                    &::after {
                        height: 30px;
                        right: -1.25rem;
                    }
                }

                &--cart {
                    margin-left: 1.25rem;
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .nav {
        &__logo {
            margin-right: 1.375rem;
        }

        &__toggle {
            margin-left: 0;
        }

        &__list {
            max-width: 335px;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            &.opened {
                padding: 3.125rem 2.5rem;
                box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.1);
            }
        }

        &__menu {
            @include flex-setting(row, flex-start, center);
            width: auto;

            margin-left: 1.875rem;

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 1px;
                height: 30px;
                background-color: #E0E0E0;
                left: -1.875rem;
                top: 50%;
                transform: translateY(-50%);
            }

            &-item {
                width: auto;
                margin-right: 2.5rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            &-link {
                @include font-setting($primary-font, 1rem, 1.25rem, 700, $white);
                text-decoration: none;
                padding: 0.25rem 0;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';

                    width: 100%;
                    height: 1px;

                    background-color: $white;
                    transform-origin: center;
                    transform: scaleX(0);
                    transition: 0.4s $cubic;

                    bottom: 0;
                    left: 0;
                }

                &:hover,
                &:active {
                    &::after {
                        transform: scaleX(1);
                        transform-origin: center;
                        transition: 0.4s $cubic;
                    }
                }
            }
        }

        &__controls {
            margin-left: auto;
            margin-right: 0;
            padding: 1.15625rem 1.5rem;

            &-item {
                width: 23px;
                height: 23px;

                &--constructor {
                    width: 30px;

                    display: block;
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.441 3.64734V0.295654H21.4361V3.64728H19.2028V0.295654H13.1979V3.64728H10.4414V12.7909H8.36456V9.42839H2.35964V12.7909H0V23.7042H30V3.64728H27.441V3.64734ZM23.2058 2.06538H25.6713V3.64728H23.2058V2.06538ZM14.9676 2.06538H17.4331V3.64728H14.9676V2.06538ZM4.12936 11.1982H6.59483V12.7909H4.12936V11.1982ZM18.8771 21.9345H1.76973V14.5607H18.8771V21.9345ZM28.2303 21.9345H20.6468V14.5607H28.2303V21.9345ZM12.2111 12.7909V5.41707H28.2303V12.7909H12.2111Z' fill='%234BAF50'/%3E%3C/svg%3E");
                    margin-right: 1.25rem;

                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';

                        width: 1px;
                        height: 30px;
                        right: -1.25rem;
                        background-color: #E0E0E0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &--login {
                    margin-right: 1.25rem;
                    margin-left: 1.3125rem;

                    &::after {
                        height: 30px;
                        right: -1.25rem;
                    }
                }

                &--cart {
                    margin-left: 1.25rem;
                }
            }

            &-link {
                width: 100%;
                height: 100%;
                display: inline-flex;
                font-size: 0;
            }
        }
    }
}

@include min-screen(1680px) {
    .nav {
        --width: calc(100% - 1440px);

        padding-left: calc(var(--width) / 2);
        padding-right: calc(var(--width) / 2);

        &__logo {
            width: 300px;
            height: 158px;
            margin-right: 1.5rem;

            margin-top: -3.0625rem;
            margin-bottom: -3.0625rem;
            z-index: 12;
        }

        &__toggle {
            z-index: 12;
        }

        &__list {
            padding-left: calc(var(--width) / 2);
            max-width: fit-content;
            width: auto;
            padding-right: 0rem;

            &.opened {
                height: calc(var(--vh, 1vh) * 100);
                padding: 5.625rem 0rem 2.5rem 2.5rem;
                padding-left: calc(var(--width) / 2);
                box-shadow: 10px 10px 100px 1000px rgba(0,0,0,0.6);
                z-index: 11;
            }
        }

        &__item {
            width: 380px;
            margin-bottom: 0.625rem;

            &.--title {
                margin-bottom: 1.875rem;
            }

            &.--main {
                margin-bottom: 1.875rem;
            }

            &.--last {
                margin-bottom: 1.875rem;
            }

            &.guest,
            &.user {
                margin-top: 10rem;
                padding-left: 2.8125rem;
            }
        }

        &__link {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }

        &__menu {
            &-item {
                margin-right: 2.8125rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        &__controls {
            &-item {
                &--constructor {
                    width: auto;
                    padding-left: 3.125rem;
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    .nav__controls-link {
                        &::after {
                            position: absolute;
                            content: '';

                            width: 100%;
                            height: 1px;

                            border-bottom: 1px dashed $black;

                            left: 0;
                            bottom: 0;
                            transition: 0.4s $cubic;
                        }
                    }
                }
            }

            &-link {
                @include font-setting($primary-font, 1rem, 1.25rem, 700, $black);
                padding: 0.125rem 0;
                text-decoration: none;

                position: relative;
                transition: 0.4s $cubic;

                &:hover,
                &:active {
                    color: $lightgreen;
                    transition: 0.4s $cubic;

                    &::after {
                        border-color: $lightgreen;
                        transition: 0.4s $cubic;
                    }
                }
            }
        }
    }
}
