footer.footer
    
    .footer__heading
        .footer__block
            a(href="tel:+78007874244" target="_blank").footer__link.footer__link--tel 8 800 787 42 44
            a(href="mailto:web@general-food.ru" target="_blank").footer__link.footer__link--mail web@general-food.ru
            span.footer__address Россия, 105318, г.Москва, ул. Мироновская, д.33, стр.1
        .footer__block
            h3.footer__name Мы в соцсетях
            ul.footer__social
                li.footer__social-item
                    a(href="#" target="_blank").footer__social-link
                        i.fab.fa-vk
                li.footer__social-item
                    a(href="#" target="_blank").footer__social-link
                        i.fab.fa-facebook-f
                li.footer__social-item
                    a(href="#" target="_blank").footer__social-link
                        i.fab.fa-instagram
        .footer__block
            button(type="button" data-modal="#js-popup-ask").footer__btn.js-popup-opener Задать вопрос
            a(href="blog.html" target="_self").footer__blog Блог General Food
            
    .footer__bottom
        span.footer__copyright © 2020-2021 ООО «Правильный рацион»
        
        .footer__policy
            a(href="#" target="_blank").footer__policy-link Публичная оферта
            a(href="#" target="_blank").footer__policy-link Политика конфиденциальности
