footer.footer
    .footer__wrapper
        .footer__logo
            a(href="index.html" target="_self" title="ROWI").footer__logo-link
                picture.footer__frame
                    source(media="(min-width: 768px)" srcset="static/images/content/foo-logo-desktop.svg" width="172" height="42")
                    img(src="static/images/content/foo-logo-mobile.svg" alt="ROWI logo" width="98" height="24").footer__frame-image
        .footer__contacts
            h3.footer__title Наши офисы
            
            ul.footer__list
                li.footer__item
                    b.footer__name Москва
                    p.footer__description Серебряническая наб., д. 29 БЦ&nbsp;«Silver City»
                li.footer__item
                    b.footer__name Саратов
                    p.footer__description ул. Вавилова, д. 28 / 34 БЦ&nbsp;«Атлант»
                    p.footer__description ул. Вавилова, д. 38 / 114 БЦ&nbsp;«Ковчег»
        .footer__join
            h3.footer__title Присоединяйся к нам в&nbsp;
                a(href="https://www.instagram.com/rowi.com_saratov/?hl=ru" target="_blank" title="ROWI в Instagram").footer__join-link Инстаграм
        .footer__rules
            a(href="https://rowi.com/documents/rowi-politika-obrabotki-pd.pdf" target="_blank" title="Политика обработки персональных данных").footer__link Политика обработки персональных данных
        
        <!--new data-->
        .footer__data
            span.footer__copyright © 2023, ООО «РОВИ Тех»,
            ul.footer__data-list
                li.footer__data-item
                    span.footer__data-inn ИНН 9709064843,
                li.footer__data-item
                    a(href="mailto:contact@rowi.com" target="_blank").footer__data-link contact@rowi.com
                    span ,
                li.footer__data-item
                    a(href="tel:+74955131326" target="_blank").footer__data-link +7 (495) 513 13 26
        <!--end of new data-->
        
        a(href="#intro" target="_self" title="Вверх").footer__top Наверх
